Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=24

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

Rate-limit on a per-Client basis
  core/internal/api/api.go
  core/internal/api/transport.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

have anon registry attempt to check image installed w docker
  wandb/sdk/launch/registry/anon.py
Due: none

mypy
  wandb/sdk/launch/registry/anon.py
Due: none

Use wheel's get_platform
  core/setup.py
Due: none

add helm chart link to warning for no build-context-store
  wandb/sdk/launch/builder/kaniko_builder.py
Due: none

Try using old way of setting platform tag
  core/setup.py
Due: none

Try sysconfig.get_platform() again but in get_tag()
  core/setup.py
Due: none

feat(sdk): Rate-limit GraphQL and filestream separately (#7089)
  core/internal/api/api.go
  core/internal/api/transport.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Remove functions from clients.go
  core/internal/api/api.go
  core/internal/clients/clients.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Go back to get_tag() and get_platform()
  core/setup.py
Due: none

feat(launch): support kaniko build with user-provided pvc and docker config (#7059)
  tests/pytest_tests/unit_tests/test_launch/test_agent/test_config.py
  tests/pytest_tests/unit_tests/test_launch/test_builder/test_build.py
  tests/pytest_tests/unit_tests/test_launch/test_builder/test_kaniko.py
  wandb/sdk/launch/agent/config.py
  wandb/sdk/launch/builder/build.py
  wandb/sdk/launch/builder/docker_builder.py
  wandb/sdk/launch/builder/kaniko_builder.py
  wandb/sdk/launch/registry/anon.py
  wandb/sdk/launch/registry/local_registry.py
Due: none

test
  .circleci/config.yml
Due: none

ci(sdk): Fix up release-core-sdk action (#7083)
  .github/workflows/release-core.yml
  core/.gitignore
  core/pkg/monitor/apple/winibuild.py
  core/scripts/build/install_go.py
  core/setup.py
  core/winibuild.py
  tools/wini/arch.py
  tools/wini/print.py
  tools/wini/subprocess.py
  tools/wini/wini.py
Due: none

add internal mechanism for limiting run config keys used as job inputs
  core/pkg/launch/helpers.go
  core/pkg/launch/helpers_test.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): Remove functions from clients.go (#7090)
  core/internal/api/api.go
  core/internal/clients/clients.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

enable some tests and re-classify others
  tests/pytest_tests/system_tests/test_core/test_footer.py
  tests/pytest_tests/system_tests/test_core/test_sender.py
  tests/pytest_tests/system_tests/test_core/test_wandb_integration.py
  tests/pytest_tests/system_tests/test_core/test_wandb_run.py
  tests/pytest_tests/unit_tests_old/test_core/test_wandb.py
Due: none

test
  .circleci/config.yml
  tox.ini
Due: none

test
  tox.ini
Due: none

test
  wandb/apis/importers/mlflow.py
Due: none

remove old cli cmd
  wandb/cli/cli.py
Due: none

init
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/data_types/base_types/wb_value.py
Due: none

init
  wandb/sdk/artifacts/artifact.py
Due: none

test
  wandb/apis/importers/validation.py
  wandb/apis/importers/wandb.py
Due: none

test
  .circleci/config.yml
  tests/pytest_tests/unit_tests/test_importers/test_wandb_utils.py
Due: none

init
  wandb/sdk/internal/handler.py
Due: none

better fix
  wandb/sdk/internal/handler.py
Due: none

test
  .circleci/config.yml
  tox.ini
  wandb/apis/importers/wandb.py
Due: none

move wandb config shape to metadata
  core/pkg/launch/helpers.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/parameters.go
  core/pkg/launch/parameters_test.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix job builder tests
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$
