Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-mod-tidy:
  name: go-mod-tidy
  entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
  pass_filenames: false
  language: script
  description: Runs `go mod tidy -v`, requires golang

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

refactor(core): Explicit channel ownership in filestream code
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

[𝘀𝗽𝗿] initial version
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-mod-tidy, go-build

test
  wandb/apis/public/api.py
Due: go-mod-tidy

[𝘀𝗽𝗿] changes to main this commit is based on
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-mod-tidy, go-build

small updates
  core/internal/paths/paths.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

doc updates
  core/internal/paths/paths.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/paths/paths.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/upload_batcher.go
  core/internal/runfiles/uploader.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

update comment
  core/internal/paths/paths.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

[𝘀𝗽𝗿] changes introduced through rebase
  core/internal/paths/paths.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

update tensorboard package as well
  core/internal/tensorboard/tensorboard.go
  core/internal/tensorboard/tfeventfiles.go
  core/internal/tensorboard/tfeventreader.go
  core/internal/tensorboard/tfeventreader_test.go
  core/internal/tensorboard/tfeventstream.go
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

address comments
  core/internal/api/api.go
  core/internal/filestream/filestreamimpl.go
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/system_tests/test_core/test_file_stream.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(sdk): Break out Reports and Workspace code into new wandb-workspaces pkg (#7728)
  pyproject.toml
  tests/pytest_tests/system_tests/test_importers/test_report_api.py
  tests/pytest_tests/system_tests/test_reports/test_report_api.py
  tests/pytest_tests/system_tests/test_reports/test_reports.py
  tests/pytest_tests/unit_tests/test_reports/test_reports.py
  tox.ini
  wandb/apis/importers/wandb.py
  wandb/apis/public/api.py
  wandb/apis/reports/__init__.py
  wandb/apis/reports/v1/__init__.py
  wandb/apis/reports/v1/_blocks.py
  wandb/apis/reports/v1/_helpers.py
  wandb/apis/reports/v1/_panels.py
  wandb/apis/reports/v1/_templates.py
  wandb/apis/reports/v1/blocks.py
  wandb/apis/reports/v1/helpers.py
  wandb/apis/reports/v1/mutations.py
  wandb/apis/reports/v1/panels.py
  wandb/apis/reports/v1/report.py
  wandb/apis/reports/v1/runset.py
  wandb/apis/reports/v1/templates.py
  wandb/apis/reports/v1/util.py
  wandb/apis/reports/v1/validators.py
  wandb/apis/reports/v2/__init__.py
  wandb/apis/reports/v2/blocks.py
  wandb/apis/reports/v2/expr_parsing.py
  wandb/apis/reports/v2/gql.py
  wandb/apis/reports/v2/interface.py
  wandb/apis/reports/v2/internal.py
  wandb/apis/reports/v2/metrics.py
  wandb/apis/reports/v2/panels.py
  wandb/apis/workspaces/__init__.py
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  .codecov.yml
Due: go-mod-tidy

chore(sdk): Ignore all .pb.go files in codecov (#7750)
  .codecov.yml
Due: go-mod-tidy

format tensor.proto
  core/internal/tensorboard/tbproto/tensor.proto
Due: go-generate-proto, go-mod-tidy

fix test
  core/internal/tensorboard/tfeventconverter_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

validate settings on deserialization from proto
  wandb/sdk/internal/settings_static.py
Due: go-mod-tidy

lint
  wandb/sdk/internal/settings_static.py
Due: go-mod-tidy

improve tests, fix lints
  core/internal/tensorboard/serializetensor.go
  core/internal/tensorboard/tbproto/tfevent.proto
  core/internal/tensorboard/tfeventconverter.go
  core/internal/tensorboard/tfeventconverter_test.go
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

don't rely on proto String() in tests
  core/internal/tensorboard/tfeventconverter_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix lint
  core/internal/tensorboard/tfeventconverter_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

katya comment
  wandb/sdk/wandb_settings.py
Due: go-mod-tidy

document rewind_run
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

add comment
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

wip
  wandb/sdk/lib/credentials.py
Due: go-mod-tidy

format
  wandb/sdk/lib/credentials.py
Due: go-mod-tidy

make resume_from.value inclusive
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

lint
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

refactored and added polars option
  wandb/apis/public/runs.py
Due: go-mod-tidy

added polars option
  wandb/apis/public/runs.py
Due: go-mod-tidy

commit ruff changes
  wandb/apis/public/runs.py
Due: go-mod-tidy

Update wandb/sdk/wandb_init.py
  wandb/sdk/wandb_init.py
Due: go-mod-tidy

remove comment
  wandb/sdk/wandb_settings.py
Due: go-mod-tidy

comment
  wandb/sdk/wandb_settings.py
Due: go-mod-tidy

comment
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

lint
  wandb/sdk/wandb_settings.py
Due: go-mod-tidy

lint2
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)
