Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

Removed typo
  wandb/sdk/wandb_init.py
Due: none

ruff
  wandb/__init__.pyi
Due: none

refactor(artifacts): consolidate fragment definitions for RunArtifacts
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/_pydantic/__init__.py
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/run_input_artifacts.py
  wandb/sdk/artifacts/_generated/run_output_artifacts.py
Due: go-generate-graphql

docs(sdk): removed duplicate line (#10546)
  wandb/__init__.pyi
  wandb/sdk/wandb_init.py
Due: none

docs: hide several internal attributes of Settings
  wandb/sdk/wandb_settings.py
Due: none

refactor(artifacts): handle orgEntity queries and matching without InternalApi
  tools/graphql_codegen/artifacts/misc.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_gqlutils.py
Due: go-generate-graphql

docs: hide several internal methods of Settings (#10549)
  wandb/sdk/wandb_settings.py
Due: none

fixed JSONDecodeError by preserving Content-Encoding
  hack/cmd/wapiproxy/main.go
  hack/cmd/ws3proxy/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(sdk): fix __all__ exports from __init__.py modules
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/create_generic_webhook_integration.py
  wandb/automations/_generated/fragments.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/internal/_generated/__init__.py
  wandb/sdk/projects/_generated/__init__.py
Due: none

clean up the main Update method
  core/cmd/wandb-core/main.go
  core/internal/leet/handlers.go
  core/internal/leet/messages.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

added tests for reference artifacts, parquet download
  hack/test_headers.py
Due: none

clean up the main Update method
  core/internal/leet/metrics.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up the main Update method
  core/internal/leet/systemmetrics_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(sdk): fix __all__ exports from __init__.py modules (#10543)
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/_pydantic/__init__.py
  wandb/apis/public/artifacts.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/create_generic_webhook_integration.py
  wandb/automations/_generated/fragments.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/run_input_artifacts.py
  wandb/sdk/artifacts/_generated/run_output_artifacts.py
  wandb/sdk/internal/_generated/__init__.py
  wandb/sdk/projects/_generated/__init__.py
Due: go-generate-graphql

use better bindings
  core/internal/leet/handlers.go
  core/internal/leet/help.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/system.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use better key bindings
  core/internal/leet/model_update_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Adds code example to box3d function
  wandb/sdk/data_types/object_3d.py
Due: none

ruff
  wandb/sdk/data_types/object_3d.py
Due: none

refactor(artifacts): annotate gql __typename fields correctly for GQL interfaces (#10544)
  tools/graphql_codegen/plugin.py
Due: none

rename _graphql_fragments.py -> _gqlutils.py
  tools/graphql_codegen/artifacts/misc.graphql
  wandb/sdk/artifacts/_gqlutils.py
Due: go-generate-graphql

rename _graphql_fragments.py -> _gqlutils.py
  tools/graphql_codegen/artifacts/misc.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_org_entity_from_entity.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

Update CHANGELOG.unreleased.md
  CHANGELOG.unreleased.md
Due: none

fix: resolve pre-commit failures and enhance server capability handling
  wandb/apis/public/files.py
  wandb/apis/public/runs.py
Due: none

fix: correct field selection and server capability checks in _create_runs_query
  wandb/apis/public/runs.py
Due: none

fix: make test_syncs_run more robust by checking exit code instead of exact message format
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: none

refactor: remove caching approach since introspection issue was fixed in PR #10087
  wandb/apis/public/runs.py
Due: none

runhandle
  core/internal/runhandle/runhandle.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/runupserter/runupdatework.go
  core/internal/stream/recordparser.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  core/internal/stream/stream.go
  core/internal/stream/streaminject.go
  core/internal/stream/streamrun.go
  core/internal/stream/wire_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

perf: eliminate redundant introspection calls in _create_runs_query
  wandb/apis/public/runs.py
Due: none

refactor: rename StreamRun to RunHandle (#10538)
  core/internal/runhandle/runhandle.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/runupserter/runupdatework.go
  core/internal/stream/recordparser.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  core/internal/stream/stream.go
  core/internal/stream/streaminject.go
  core/internal/stream/streamrun.go
  core/internal/stream/wire_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

style: apply ruff formatting
  wandb/apis/public/runs.py
Due: none

runupsertertest
  core/internal/runupsertertest/runupsertertest.go
  core/internal/stream/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

revert: remove unrelated test changes for sync completion message
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: none

refactor: create runupsertertest (#10539)
  core/internal/runupsertertest/runupsertertest.go
  core/internal/stream/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

runfiles runhandle
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
  core/internal/runfilestest/runfilestest.go
  core/internal/runsync/wire_gen.go
  core/internal/stream/wire_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor: use runhandle in runfiles (#10540)
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
  core/internal/runfilestest/runfilestest.go
  core/internal/runsync/wire_gen.go
  core/internal/stream/wire_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

handler test race
  core/internal/stream/handler_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add cleanup to handler_test.go (#10556)
  core/internal/stream/handler_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
