Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

remove perf-test.py - should not be part of the PR
  perf-test.py
Due: none

Add missing properties to BetaReport class
  wandb/apis/public/reports.py
Due: none

chore: remove test file to fix pre-commit issues
  test_report_properties.py
Due: none

refactor: remove redundant username and user_email properties
  test_report_properties.py
  wandb/apis/public/reports.py
Due: none

format for pre-commit
  tests/unit_tests/test_reports.py
  wandb/apis/public/reports.py
Due: none

remove unnecessary changes devin added
  wandb/apis/public/reports.py
Due: none

feat: add missing properties to BetaReport class
  wandb/apis/public/reports.py
Due: none

test: add unit tests for BetaReport properties
  tests/unit_tests/test_reports.py
Due: none

fix: restore missing PanelMetricsHelper and PythonMongoishQueryGenerator classes
  wandb/apis/public/reports.py
Due: none

fix: handle missing attributes gracefully in BetaReport properties
  wandb/apis/public/reports.py
Due: none

style: fix pre-commit issues
  test_report_properties.py
  wandb/apis/public/reports.py
Due: none

chore: fix ambigous errors when querying attributes for non-exsistent projects (#9977)
  tests/system_tests/test_core/test_public_api.py
  wandb/apis/public/projects.py
Due: none

clean up and wire user-provided settings up
  core/internal/runwork/runwork.go
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/writer.go
  core/pkg/monitor/monitor.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

split controls for metadata and metrics collection
  core/internal/stream/handler.go
  core/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix offline sync
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/sender_config.py
Due: none

add warning for migration-related redirects
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/artifact.py
Due: go-generate-proto

update changelog
  CHANGELOG.unreleased.md
Due: none

fix url for registry artifacts
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
Due: none

fix tests
  core/pkg/monitor/monitor.go
  tests/system_tests/test_core/test_wandb_run.py
  tests/system_tests/test_functional/multiprocessing/share_child_base.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: json error when calling run.load multiple times
  wandb/apis/public/runs.py
Due: none

add tests
  tests/system_tests/test_core/test_public_api.py
Due: none

update test to add membership
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/sdk/artifacts/artifact.py
Due: none

adds pydantic Fields Class to Settings
  wandb/sdk/wandb_settings.py
Due: none

fix tests from missig display name property
  tests/unit_tests/test_reports.py
  wandb/apis/public/api.py
  wandb/apis/public/reports.py
Due: none

formatting changes
  tests/unit_tests/test_reports.py
  wandb/apis/public/reports.py
Due: none

chore(dev): add backend fixtures for teams
  tests/system_tests/backend_fixtures.py
Due: none

chore: add backend fixtures for teams (#10056)
  tests/system_tests/backend_fixtures.py
Due: none

minor clean up
  core/internal/runmetadata/runmetadata.go
  gpu_stats/src/main.rs
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: simplify runtime computation
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/stream/handler.go
  core/internal/timer/timer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: simplify runtime computation (#10022)
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/stream/handler.go
  core/internal/timer/timer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add more tests
  tests/unit_tests/test_public_api.py
  wandb/apis/public/runs.py
Due: none

fix: make sure url link is always valid and guard agains restricted chars
  wandb/sdk/wandb_settings.py
Due: none

move tests into separate file
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_public_api/test_runs.py
Due: none

split probing into two parts
  core/pkg/monitor/monitor.go
  tests/system_tests/test_core/test_wandb_run.py
  wandb/sdk/internal/sender.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

handle special characters in report url
  tests/unit_tests/test_reports.py
  wandb/apis/public/reports.py
Due: none

fix a unit test
  tests/unit_tests/test_sender_config.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
