Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=24

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

Use agent id instead of run id
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

wip
  core/go.mod
  core/go.sum
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

try creating stream instead of run
  wandb/sdk/artifacts/artifact.py
Due: none

fix(sdk): nested Custom Charts and Nested tables logging
  wandb/sdk/wandb_run.py
Due: none

fix(sdk): nested Custom Charts and Nested tables logging 2
  wandb/sdk/wandb_run.py
Due: none

fix(sdk): nested Custom Charts and Nested tables logging 3
  wandb/sdk/wandb_run.py
Due: none

linting
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_run.py
Due: none

fix plotly requirements for logging matplotlib scatter plot
  pyproject.toml
Due: none

wip
  core/pkg/server/git.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

image sourced test
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): remove .test_duration file
  .test_durations
Due: none

chore(sdk): remove .test_duration file (#6725)
  .test_durations
Due: none

it works
  core/pkg/server/git.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  core/pkg/server/git.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add todos
  core/pkg/server/git.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save progress
  core/pkg/server/git.go
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

works up to file name fix
  core/pkg/server/git.go
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix up
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add unit tests
  core/pkg/server/git_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add unit tests
  core/pkg/server/git.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): remove copilot from PR template
  .github/pull_request_template.md
Due: none

modify code to create files in the handler
  core/pkg/server/git.go
  core/pkg/server/git_test.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

working notebook artifact test
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add logging to job builder
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

more tests
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

respect ignore_glob
  core/pkg/server/files.go
  core/pkg/server/stream.go
  tests/pytest_tests/system_tests/test_core/test_file_upload.py
  tests/pytest_tests/system_tests/test_core/test_system_info.py
  tests/pytest_tests/system_tests/test_core/test_wandb_integration.py
  tests/pytest_tests/system_tests/test_core/test_wandb_run.py
  wandb/sdk/internal/system/system_info.py
  wandb/sdk/wandb_init.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

create k8s job from dict instead of yaml
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

fix mocks
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

ruff
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

wip
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

fix syst etsts
  tests/pytest_tests/system_tests/test_launch/test_launch_kubernetes.py
Due: none

fix sys test
  tests/pytest_tests/system_tests/test_launch/test_launch_kubernetes.py
Due: none

changing err msg when job can't be loaded
  wandb/sdk/launch/_project_spec.py
Due: none

ruff
  tests/pytest_tests/system_tests/test_launch/test_launch_kubernetes.py
Due: none

fix test
  tests/pytest_tests/unit_tests_old/test_launch/test_launch_jobs.py
Due: none

add base url to message
  wandb/sdk/launch/_project_spec.py
Due: none

fix(launch): capture errors from the creation of k8s job from yaml (#6730)
  tests/pytest_tests/system_tests/test_launch/test_launch_kubernetes.py
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

clean up naming and move code around
  core/pkg/server/handler.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/system/system_info.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove print and simplify filter
  core/pkg/server/files.go
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/wandb_run.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add minor debug and clean up
  core/pkg/server/files.go
  wandb/sdk/wandb_run.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$
