Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

fix type hints
  wandb/apis/public/history.py
Due: none

fix(sdk): for Runs queries, drop past-EOL server check for Project.internalId/Run.projectId
  tools/graphql_codegen/api/runs.graphql
  wandb/apis/_generated/get_run.py
  wandb/apis/_generated/get_runs.py
  wandb/apis/_generated/operations.py
  wandb/apis/public/runs.py
Due: go-generate-graphql

fix(sdk): fix/add type hints in `wandb.apis.public.runs` (#11133)
  wandb/apis/public/runs.py
Due: none

import fix
  wandb/apis/public/files.py
Due: none

api send redundant code
  core/internal/api/send.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove from Files too
  tools/graphql_codegen/api/runs.graphql
  wandb/apis/_generated/get_light_run.py
  wandb/apis/_generated/get_light_runs.py
  wandb/apis/_generated/get_run.py
  wandb/apis/_generated/operations.py
  wandb/apis/public/files.py
  wandb/apis/public/runs.py
Due: go-generate-graphql

don't drop null attrs
  wandb/apis/public/runs.py
Due: none

refactor: remove redundant code in api/send.go (#11153)
  core/internal/api/send.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix test failures from mocks/monkeypatching
  tests/system_tests/test_core/test_public_api.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_public_api/test_runs.py
  tools/graphql_codegen/api/runs.graphql
  wandb/apis/_generated/fragments.py
  wandb/apis/_generated/operations.py
Due: go-generate-graphql

fix padding
  core/internal/leet/styles.go
  core/internal/leet/workspace.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove api client send
  core/internal/api/api.go
  core/internal/api/api_test.go
  core/internal/api/send.go
  core/internal/apitest/apitest.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/stream/sender_test.go
  core/internal/stream/stream_init.go
  core/internal/stream/streaminject.go
  core/internal/stream/wire_gen.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

drop obsolete code
  wandb/apis/_generated/operations.py
  wandb/apis/public/runs.py
Due: none

fix(artifacts): Gracefully handle listing empty artifacts
  wandb/cli/cli.py
Due: none

update changelog
  CHANGELOG.unreleased.md
Due: none

wording
  CHANGELOG.unreleased.md
Due: none

refactor: delete api.Client.Send in favor of api.Client.Do (#11154)
  core/internal/api/api.go
  core/internal/api/api_test.go
  core/internal/api/send.go
  core/internal/apitest/apitest.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/stream/sender_test.go
  core/internal/stream/stream_init.go
  core/internal/stream/streaminject.go
  core/internal/stream/wire_gen.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add pprof option
  core/cmd/wandb-core/main.go
  wandb/cli/beta.py
  wandb/cli/beta_leet.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

reduce memory consumption
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_overlay_test.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/metricsgrid.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

rename runmodel to run
  core/internal/leet/config_test.go
  core/internal/leet/handlers.go
  core/internal/leet/keybindings.go
  core/internal/leet/model.go
  core/internal/leet/run.go
  core/internal/leet/run_update_test.go
  core/internal/leet/testhelpers.go
  core/internal/leet/tui_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

cleanup
  core/internal/leet/run.go
  core/internal/leet/runhandlers.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacedirwatcher.go
  core/internal/leet/workspacehandlers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove ensureapikey
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
  core/internal/auth/netrc.go
  core/internal/auth/netrc_test.go
  core/internal/settings/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor: don't read .netrc in wandb-core (#11158)
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
  core/internal/auth/netrc.go
  core/internal/auth/netrc_test.go
  core/internal/settings/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

cleanup
  core/internal/leet/filter.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/model.go
  core/internal/leet/runhandlers.go
  core/internal/leet/styles.go
  core/internal/leet/workspace.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(registries): move Registry API to top-level `wandb.registries` namespace/subpackage
  tests/system_tests/test_registries/conftest.py
  tests/system_tests/test_registries/test_link_registry.py
  tests/system_tests/test_registries/test_registry.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tests/system_tests/test_registries/test_registry_members.py
  tests/unit_tests/test_registries/test_addonly_list.py
  tests/unit_tests/test_registries/test_deprecated_imports.py
  tests/unit_tests/test_registries/test_freezable_list.py
  tests/unit_tests/test_registries/test_utils.py
  wandb/__init__.py
  wandb/apis/public/__init__.py
  wandb/apis/public/api.py
  wandb/apis/public/registries/__init__.py
  wandb/registries/__init__.py
  wandb/registries/_freezable_list.py
  wandb/registries/_members.py
  wandb/registries/_utils.py
  wandb/registries/registries_search.py
  wandb/registries/registry.py
  wandb/sdk/artifacts/_models/registry.py
Due: none

fix failing checks, llms write terrible python
  tests/system_tests/test_registries/test_registry.py
  tests/unit_tests/test_registries/test_deprecated_imports.py
  wandb/apis/public/registries/__init__.py
  wandb/registries/_freezable_list.py
  wandb/registries/_members.py
  wandb/registries/_utils.py
  wandb/registries/registries_search.py
  wandb/registries/registry.py
Due: none

changelog
  CHANGELOG.unreleased.md
Due: none

fix unit test
  tests/unit_tests/test_library_public.py
Due: none

cleanup and clarify comment
  wandb/cli/cli.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
