Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

pass the updated settings in the start message
  core/internal/stream/sender.go
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/wandb_init.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(media) metric name path could write to paths outside of the run directory when starting a metric with a slash or by directory traversal
  CHANGELOG.md
  tests/system_tests/test_artifacts/conftest.py
  tests/system_tests/test_artifacts/test_data_types.py
  wandb/sdk/data_types/base_types/media.py
Due: none

fix typo
  wandb/sdk/wandb_init.py
Due: none

fix bug
  CHANGELOG.md
  gpu_stats/hatch.py
  gpu_stats/src/main.rs
Due: none

nvml-wrapper implements Drop, no need for manual shutdown
  gpu_stats/src/gpu_nvidia.rs
  gpu_stats/src/main.rs
Due: none

ununsed must use that must be used lol
  gpu_stats/src/gpu_nvidia.rs
Due: none

install rust in mac jobs in circle
  .circleci/config.yml
Due: none

fix experimental + avoid accessing stream's logger from connection
  core/internal/settings/settings.go
  core/internal/stream/sender.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(artifacts): ensure internal helpers validate_tags and validate_aliases accept single strings
  wandb/sdk/artifacts/_validators.py
Due: none

revert removing informStart for now
  core/internal/settings/settings.go
  core/internal/stream/sender.go
  core/internal/stream/stream.go
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/wandb_init.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

make public functions to avoid accessing stream logger/settings
  core/internal/settings/settings.go
  core/internal/stream/stream.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(artifacts): ensure internal helpers validate_tags and validate_aliases accept single strings (#8605)
  wandb/sdk/artifacts/_validators.py
Due: none

revert sender changes
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add docs
  core/pkg/monitor/gpu.go
  core/pkg/monitor/portfile.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update changelog
  CHANGELOG.md
Due: none

chore: make logger and settings private for the stream (#8603)
  core/internal/stream/stream.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move protos around
  gpu_stats/src/wandb_internal.rs
  wandb/proto/wandb_internal.proto
  wandb/proto/wandb_system_monitor.proto
Due: go-generate-proto

move protos around
  wandb/proto/wandb_system_monitor.proto
Due: go-generate-proto

move protos around
  core/pkg/service_go_proto/wandb_internal.pb.go
  core/pkg/service_go_proto/wandb_system_monitor.pb.go
  core/pkg/service_go_proto/wandb_system_monitor_grpc.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
Due: none

percents are measured in %
  gpu_stats/src/gpu_apple.rs
Due: none

chore(artifacts): make 404 errors show their backend error for clarity
  wandb/apis/normalize.py
  wandb/util.py
Due: none

fix(sweeps): fixed sweep agent fails to start when using with a predefined WANDB_DIR env variable
  wandb/wandb_agent.py
Due: none

allow force retry
  wandb/apis/importers/wandb.py
Due: none

refactor core downloader to use new file fetch query
  core/api/graphql/query_artifact_files_by_manifest_entries.graphql
  core/internal/gql/gql_gen.go
  core/pkg/artifacts/downloader.go
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix test
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: none

update docstring
  wandb/errors/term.py
Due: none

update printer.py
  wandb/sdk/lib/printer.py
Due: none

update dep for typing_extensions
  pyproject.toml
Due: none

[𝘀𝗽𝗿] initial version
  wandb/env.py
  wandb/util.py
Due: none

[𝘀𝗽𝗿] changes introduced through rebase
  wandb/env.py
  wandb/util.py
Due: none

install wandb in mypy_report nox session
  noxfile.py
Due: none

[𝘀𝗽𝗿] changes introduced through rebase
  noxfile.py
Due: none

don't install wandb in mypy_report; fix more type issues
  noxfile.py
  wandb/analytics/sentry.py
  wandb/env.py
  wandb/sdk/data_types/_dtypes.py
Due: none

[𝘀𝗽𝗿] changes introduced through rebase
  noxfile.py
  wandb/analytics/sentry.py
  wandb/env.py
  wandb/sdk/data_types/_dtypes.py
Due: none

chore(sdk): fix a few mypy lints (#8610)
  noxfile.py
  wandb/analytics/sentry.py
  wandb/env.py
  wandb/sdk/data_types/_dtypes.py
  wandb/util.py
Due: none

some mypy errors
  wandb/util.py
Due: none

fix: gpu_stats dependencies on windows
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/src/gpu_nvidia.rs
Due: none

fix: gpu_stats dependencies on windows (#8611)
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/src/gpu_nvidia.rs
Due: none

fix manifest version string conversion
  core/pkg/artifacts/downloader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
