Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

refactor: report Writer.Flush error in FlowControl (#10622)
  core/internal/stream/flowcontrol.go
  core/internal/stream/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wandb header error msg
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/record.go
  core/pkg/leveldb/record_internal_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

incorporate feedback
  wandb/cli/cli.py
Due: none

ruff
  wandb/cli/cli.py
Due: none

refactor: improve leveldb invalid W&B header message (#10623)
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/record.go
  core/pkg/leveldb/record_internal_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

last feedback
  wandb/cli/cli.py
Due: none

docs(sdk): update docstrings for commonly disliked descriptions (#10624)
  wandb/cli/cli.py
Due: none

tensorboard checksum retry
  CHANGELOG.unreleased.md
  core/internal/tensorboard/tfeventreader.go
  core/internal/tensorboard/tfeventreader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add more tests
  core/internal/runhistory/reader/historyparquet/file_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move to new package
  core/internal/runhistoryreader/parquet/file.go
  core/internal/runhistoryreader/parquet/file_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

rebase
  core/go.mod
  core/go.sum
  core/internal/runhistoryreader/parquet/file_test.go
  core/vendor/modules.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use pqarrow.FileReader directly
  core/internal/runhistoryreader/parquet/file.go
  core/internal/runhistoryreader/parquet/file_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update comment formatting
  core/internal/runhistoryreader/parquet/file.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update tests
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix deprecated usages
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add get run history file urls from backend
  core/api/graphql/query_parquethistory.graphql
  core/internal/gql/gql_gen.go
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add remote http parquet file reader
  core/internal/runhistoryreader/parquet/remote/httpfile.go
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add row iterator
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/files/empty.parquet
  core/tests/files/history.parquet
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: wire up get history steps
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move and split iterators into their own files
  core/internal/runhistoryreader/parquet/iterator/column_iterator.go
  core/internal/runhistoryreader/parquet/iterator/column_iterator_test.go
  core/internal/runhistoryreader/parquet/iterator/noop_iterator.go
  core/internal/runhistoryreader/parquet/iterator/noop_iterator_test.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator_test.go
  core/internal/runhistoryreader/parquet/iterator/row_iterator.go
  core/internal/runhistoryreader/parquet/iterator/row_iterator_test.go
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update iter naming convention
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix partition_reader typo
  core/internal/runhistoryreader/parquet/partition_reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add parition reader
  core/internal/runhistoryreader/parquet/parition_reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix more comments
  core/go.mod
  core/go.sum
  core/internal/runhistoryreader/parquet/iterator/column_iterator.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator.go
  core/internal/runhistoryreader/parquet/iterator/row_iterator.go
  core/internal/runhistoryreader/parquet/iterator/row_iterator_test.go
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/vendor/github.com/wandb/parallel/.gitignore
  core/vendor/github.com/wandb/parallel/.golangci.yaml
  core/vendor/github.com/wandb/parallel/CODE_OF_CONDUCT.md
  core/vendor/github.com/wandb/parallel/CONTRIBUTING.md
  core/vendor/github.com/wandb/parallel/LICENSE
  core/vendor/github.com/wandb/parallel/NOTICE
  core/vendor/github.com/wandb/parallel/README.md
  core/vendor/github.com/wandb/parallel/SECURITY.md
  core/vendor/github.com/wandb/parallel/collect.go
  core/vendor/github.com/wandb/parallel/errors.go
  core/vendor/github.com/wandb/parallel/group.go
  core/vendor/modules.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

rebase code
  core/internal/runhistoryreader/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move multi iterator to its own file
  core/internal/runhistoryreader/parquet/iterator/multi_iterator.go
  core/internal/runhistoryreader/parquet/iterator/multi_iterator_test.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

rebase
  core/internal/runhistoryreader/parquet/file_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

address comments
  core/internal/runhistoryreader/parquet/iterator/multi_iterator.go
  core/internal/runhistoryreader/parquet/iterator/multi_iterator_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move packages
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add parition reader tests
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix possible seg faults
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/row_iterator.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add RemoteParquetFile in file.go for reading remote parquet files
  core/internal/runhistoryreader/parquet/file.go
  core/internal/runhistoryreader/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add multi parition iterator
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix filename typo
  core/internal/runhistoryreader/parquet/partition_reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up tests
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add wandb parallel
  core/go.mod
  core/go.sum
  core/vendor/github.com/wandb/parallel/.gitignore
  core/vendor/github.com/wandb/parallel/.golangci.yaml
  core/vendor/github.com/wandb/parallel/CODE_OF_CONDUCT.md
  core/vendor/github.com/wandb/parallel/CONTRIBUTING.md
  core/vendor/github.com/wandb/parallel/LICENSE
  core/vendor/github.com/wandb/parallel/NOTICE
  core/vendor/github.com/wandb/parallel/README.md
  core/vendor/github.com/wandb/parallel/SECURITY.md
  core/vendor/github.com/wandb/parallel/collect.go
  core/vendor/github.com/wandb/parallel/errors.go
  core/vendor/github.com/wandb/parallel/group.go
  core/vendor/modules.txt
Due: none

Update pydantic and tensorflow version constraints
  requirements_dev.txt
Due: none

Update numpy version for Python 3.11 compatibility
  requirements_test.txt
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
