Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

add: minimal autologger for diffusers
  wandb/integration/diffusers/__init__.py
  wandb/integration/diffusers/autologger.py
  wandb/integration/diffusers/resolver.py
Due: none

update: autolog id
  wandb/integration/diffusers/resolver.py
Due: none

forgot to remove artifact by id
  nexus/internal/gql/gql_gen.go
  nexus/pkg/artifacts/downloader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

WIP: launch prioritization
  wandb/apis/public.py
  wandb/cli/cli.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/launch/_launch_add.py
Due: none

fix(sdk): adjust ipython hooks for v8.17
  wandb/sdk/wandb_init.py
Due: none

fix(sdk): adjust ipython hooks for v8.17 (#6563)
  wandb/sdk/wandb_init.py
Due: none

update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

remove upstream artifacts logic as it uses artifactbyID
  nexus/pkg/artifacts/downloader.go
  nexus/pkg/artifacts/reference_artifacts_utils.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): bump version to 0.16.1.dev1 and update changelog
  .bumpversion.wandb.cfg
  CHANGELOG.md
  wandb/__init__.py
Due: none

chore(sdk): bump wait time when posting to slack after a release
  .github/workflows/release-core.yml
  .github/workflows/release-sdk.yml
Due: none

chore(sdk): bump version to 0.16.1.dev1 and update changelog (#6564)
  .bumpversion.wandb.cfg
  .github/workflows/release-core.yml
  .github/workflows/release-sdk.yml
  CHANGELOG.md
  wandb/__init__.py
Due: none

chore(launch): add `author` macro for use in resource configs (#6560)
  tests/pytest_tests/unit_tests/test_launch/test_project/test_project.py
  wandb/sdk/launch/_project_spec.py
Due: none

refactor(launch): fetch git repos with protocol in remote url (#6545)
  tests/pytest_tests/system_tests/test_launch/test_github_reference.py
  tests/pytest_tests/system_tests/test_launch/test_job.py
  wandb/cli/cli.py
  wandb/sdk/launch/create_job.py
  wandb/sdk/launch/git_reference.py
  wandb/sdk/launch/github_reference.py
  wandb/sdk/launch/utils.py
Due: none

moving log logic to helper add a system test
  tests/pytest_tests/system_tests/test_launch/test_launch_cli.py
  wandb/cli/cli.py
  wandb/sdk/launch/_launch.py
Due: none

add server info
  nexus/api/graphql/genqlient.yaml
  nexus/api/graphql/query_server_info.graphql
  nexus/internal/gql/gql_gen.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Adding some printing to the agent logfile test
  tests/pytest_tests/system_tests/test_launch/test_launch_cli.py
Due: none

trying to fix failing system test
  tests/pytest_tests/system_tests/test_launch/test_launch_cli.py
Due: none

move artifacts test to it's own job
  .circleci/config.yml
Due: none

trying to fix syspy38 api key issue
  tests/pytest_tests/system_tests/test_launch/test_launch_cli.py
Due: none

chore(launch): --log-file flag for wandb launch-agent to set internal log destination (#6550)
  tests/pytest_tests/system_tests/test_launch/test_launch_cli.py
  wandb/cli/cli.py
  wandb/sdk/launch/_launch.py
Due: none

move tests to artifact shards
  tests/functional_tests/t0_main/keras/keras_eval_tables_tf_2_6.yea
  tests/functional_tests/t0_main/keras/keras_subclassed_test_tf_2_6.yea
Due: none

fix missing changes
  .circleci/config.yml
Due: none

add launch shard
  .circleci/config.yml
  tests/functional_tests/t0_main/jobs/job_artifact_creation.yea
  tests/functional_tests/t0_main/jobs/job_artifact_creation_disabled.yea
  tests/functional_tests/t0_main/jobs/job_container_creation.yea
  tests/functional_tests/t0_main/jobs/job_repo_creation.yea
  tests/functional_tests/t0_main/jobs/job_repo_end_to_end.yea
Due: none

fix linting
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

remove disable service
  tests/pytest_tests/unit_tests/test_wandb_run.py
  wandb/cli/cli.py
  wandb/env.py
  wandb/sdk/backend/backend.py
  wandb/sdk/internal/internal.py
  wandb/sdk/service/streams.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_setup.py
Due: none

remove redundent test
  tests/pytest_tests/system_tests/test_core/test_start_method.py
Due: none

fix condition
  wandb/sdk/wandb_settings.py
Due: none

remove un-used test
  tests/functional_tests/t0_main/mp/06-5-share-child-non-service.py
  tests/functional_tests/t0_main/mp/06-5-share-child-non-service.yea
Due: none

skip old ray test
  tests/functional_tests/t0_main/raytune/t5_colab.yea
  wandb/sdk/wandb_manager.py
  wandb/sdk/wandb_setup.py
Due: none

remove ray1 from testing
  .circleci/config.yml
Due: none

perf(artifacts): remove recursive download
  nexus/api/graphql/query_artifact_by_id.graphql
  nexus/internal/gql/gql_gen.go
  nexus/pkg/artifacts/downloader.go
  nexus/pkg/artifacts/reference_artifacts_utils.go
  nexus/pkg/server/sender.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/interface/interface.py
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

perf(artifacts): remove recursive download (#6544)
  nexus/api/graphql/query_artifact_by_id.graphql
  nexus/internal/gql/gql_gen.go
  nexus/pkg/artifacts/downloader.go
  nexus/pkg/artifacts/reference_artifacts_utils.go
  nexus/pkg/server/sender.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/interface/interface.py
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(artifacts): rename get_path() to get_entry()
  tests/pytest_tests/system_tests/test_artifacts/test_misc2.py
  tests/pytest_tests/system_tests/test_artifacts/test_object_references.py
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  tests/pytest_tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  tests/pytest_tests/unit_tests_old/test_artifacts/test_artifact_public_api.py
  tests/standalone_tests/dsviz_demo.py
  wandb/data_types.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/storage_handlers/wb_artifact_handler.py
  wandb/sdk/data_types/base_types/media.py
  wandb/sdk/data_types/base_types/wb_value.py
  wandb/sdk/data_types/helper_types/image_mask.py
  wandb/sdk/data_types/html.py
  wandb/sdk/data_types/image.py
  wandb/sdk/data_types/saved_model.py
  wandb/sdk/interface/interface.py
Due: none

refactor(artifacts): rename get_path() to get_entry() (#6448)
  tests/pytest_tests/system_tests/test_artifacts/test_misc2.py
  tests/pytest_tests/system_tests/test_artifacts/test_object_references.py
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  tests/pytest_tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  tests/pytest_tests/unit_tests_old/test_artifacts/test_artifact_public_api.py
  tests/standalone_tests/dsviz_demo.py
  wandb/data_types.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/storage_handlers/wb_artifact_handler.py
  wandb/sdk/data_types/base_types/media.py
  wandb/sdk/data_types/base_types/wb_value.py
  wandb/sdk/data_types/helper_types/image_mask.py
  wandb/sdk/data_types/html.py
  wandb/sdk/data_types/image.py
  wandb/sdk/data_types/saved_model.py
  wandb/sdk/interface/interface.py
Due: none

gen proto go
  nexus/internal/gql/gql_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): make offline sync work properly
  nexus/pkg/server/writer.go
  tools/inspect-tool.py
  wandb/sdk/internal/writer.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix
  wandb/sdk/launch/agent/agent.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$
