Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

chore: make wheels for ppc64le and armv7l
  .github/workflows/release-sdk.yml
Due: none

update ubuntu to 22.04 in release sdk action
  .github/workflows/release-sdk.yml
Due: none

chore: update ubuntu to 22.04 in release sdk action (#9668)
  .github/workflows/release-sdk.yml
Due: none

fail use_model when offline
  wandb/sdk/wandb_run.py
Due: none

refactor: fail Run.use_model early when offline (#9655)
  wandb/sdk/wandb_run.py
Due: none

attempt to fix asyncio_compat.run flake
  tests/system_tests/test_functional/asyncio_compat_run/pass_if_cancelled.py
  tests/system_tests/test_functional/asyncio_compat_run/test_asyncio_compat_run.py
  wandb/sdk/lib/asyncio_compat.py
Due: none

chore: attempt to fix test_asyncio_compat_run flake (#9660)
  tests/system_tests/test_functional/asyncio_compat_run/pass_if_cancelled.py
  tests/system_tests/test_functional/asyncio_compat_run/test_asyncio_compat_run.py
  wandb/sdk/lib/asyncio_compat.py
Due: none

add unit tests for printer_asyncio
  tests/unit_tests/test_lib/test_printer_asyncio.py
Due: none

remove kwargs, and use asyncio get running loop function
  wandb/sdk/data_types/video.py
Due: none

add generic type and move code to new file
  wandb/sdk/data_types/video.py
  wandb/sdk/lib/printer_asyncio.py
  wandb/util.py
Due: none

move code for running and printing to util function
  wandb/sdk/data_types/video.py
  wandb/util.py
Due: none

chore: add loading animation while encoding video
  wandb/sdk/data_types/video.py
Due: none

update unit tests
  tests/unit_tests/test_lib/test_printer_asyncio.py
  wandb/sdk/lib/printer_asyncio.py
Due: none

adjust implementation
  wandb/sdk/lib/apikey.py
  wandb/sdk/wandb_login.py
Due: none

adjust implementation
  tests/unit_tests/test_lib/test_apikey.py
Due: none

types
  wandb/sdk/lib/apikey.py
Due: none

fix once more
  wandb/__init__.template.pyi
Due: none

fix once more
  wandb/__init__.pyi
Due: none

fix once more
  wandb/__init__.pyi
  wandb/sdk/wandb_login.py
Due: none

chore: add loading animation while encoding video (#9640)
  tests/unit_tests/test_lib/test_printer_asyncio.py
  wandb/sdk/data_types/video.py
  wandb/sdk/lib/printer_asyncio.py
Due: none

lint
  wandb/sdk/lib/apikey.py
Due: none

Fix WandbServiceNotOwnedError when using Python multiprocessing
  wandb/sdk/wandb_setup.py
Due: none

chore(sdk): wrapper classes for mongodb query expressions (for automation event filters)
  pyproject.toml
  tests/unit_tests/test_automations/__init__.py
  tests/unit_tests/test_automations/_strategies.py
  tests/unit_tests/test_automations/test_filters.py
  tests/unit_tests/test_library_public.py
  tools/graphql_codegen/generate-graphql.sh
  wandb/_pydantic/__init__.py
  wandb/_pydantic/base.py
  wandb/_pydantic/v1_compat.py
  wandb/automations/_filters/__init__.py
  wandb/automations/_filters/expressions.py
  wandb/automations/_filters/operators.py
Due: none

chore(sdk): filter type definitions for automation event filters (#9311)
  pyproject.toml
  tests/unit_tests/test_automations/__init__.py
  tests/unit_tests/test_automations/_strategies.py
  tests/unit_tests/test_automations/test_filters.py
  tests/unit_tests/test_library_public.py
  tools/graphql_codegen/generate-graphql.sh
  wandb/_pydantic/__init__.py
  wandb/_pydantic/base.py
  wandb/_pydantic/v1_compat.py
  wandb/automations/_filters/__init__.py
  wandb/automations/_filters/expressions.py
  wandb/automations/_filters/operators.py
Due: none

fix wording, and test styling
  tests/system_tests/test_core/test_wandb_settings.py
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto

feat: add option to clean up files generated by wandb as they are uploaded
  CHANGELOG.unreleased.md
  core/internal/runfiles/file_cleaner.go
  core/internal/runfiles/file_cleaner_test.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/uploader.go
  core/internal/settings/settings.go
  core/internal/stream/sender_test.go
  core/internal/stream/stream.go
  core/internal/stream/stream_init.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_core/test_wandb_settings.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove file cleaner and delete directly
  core/internal/fileutil/files.go
  core/internal/runfiles/file_cleaner.go
  core/internal/runfiles/file_cleaner_test.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/uploader.go
  core/internal/stream/sender_test.go
  core/internal/stream/stream.go
  core/internal/stream/stream_init.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_core/test_wandb_settings.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: Gen cli for release refactor
  cmd/ctrlc/root/api/create/create.go
  cmd/ctrlc/root/api/create/deploymentversion/deployment-version.go
  cmd/ctrlc/root/api/create/deploymentversionchannel/deployment-version-channel.go
  cmd/ctrlc/root/api/create/environment/environment.go
  cmd/ctrlc/root/api/delete/delete.go
  cmd/ctrlc/root/api/delete/deploymentversionchannel/deployment-version-channel.go
  cmd/ctrlc/root/api/update/deploymentversion/deployment-version.go
  cmd/ctrlc/root/api/update/update.go
  cmd/ctrlc/root/api/upsert/deploymentversion/deployment-version.go
  cmd/ctrlc/root/api/upsert/upsert.go
  internal/api/client.gen.go
  test/backwards_compatibility_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove test
  test/backwards_compatibility_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add referrer to login url (#9650)
  tests/unit_tests/test_lib/test_apikey.py
  wandb/__init__.pyi
  wandb/__init__.template.pyi
  wandb/sdk/lib/apikey.py
  wandb/sdk/wandb_login.py
Due: none

fix: windows throws ValueError when running from a different drive.
  tests/unit_tests/test_util.py
  tests/unit_tests/test_wandb_settings.py
  wandb/sdk/wandb_settings.py
  wandb/util.py
Due: none

update changelog
  CHANGELOG.unreleased.md
Due: none

fix: allow define_metric expension on the server side
  core/internal/runmetric/definedmetric.go
  core/internal/runmetric/runconfigmetrics.go
  core/internal/runmetric/runconfigmetrics_test.go
  core/internal/runmetric/runmetric.go
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: allow to pass expanded metrics in offline mode
  core/internal/runmetric/runconfigmetrics.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
