Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-build

.pre-commit-config.yaml:

# Install pre-commit hooks via `pip install pre-commit && pre-commit install`

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.0"
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.7
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-toml
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

beta sync auth
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta_sync.py
Due: none

improve error messages
  wandb/apis/public/runs.py
Due: none

fix: authenticate in wandb beta sync (#11231)
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta_sync.py
Due: none

improve error message
  wandb/apis/public/runs.py
Due: none

config editor
  core/cmd/wandb-core/main.go
  core/internal/leet/config.go
  core/internal/leet/configeditor.go
  core/internal/leet/epochlinechart.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/run.go
  core/internal/leet/styles.go
  core/internal/leet/workspace.go
  wandb/cli/beta.py
  wandb/cli/beta_leet.py
Due: go-wire, go-build

fix: ignore ipython magic registration errors
  tests/system_tests/test_notebooks/test_notebooks.py
  tests/unit_tests/test_library_public.py
  wandb/__init__.py
  wandb/jupyter.py
Due: none

fix: ignore ipython magic registration errors
  wandb/jupyter.py
Due: none

fix: ignore ipython magic registration errors (#11237)
  tests/system_tests/test_notebooks/test_notebooks.py
  tests/unit_tests/test_library_public.py
  wandb/__init__.py
  wandb/jupyter.py
Due: none

better cli logging
  wandb/cli/cli.py
Due: none

refactor: only create debug-cli when actually running a cli command (#11233)
  wandb/cli/cli.py
Due: none

fix(sdk): respect the base_url in run.settings (#11228)
  wandb/sdk/wandb_run.py
Due: none

use tags for a single source of truth
  core/internal/leet/config.go
  core/internal/leet/configeditor.go
  core/internal/leet/configeditorfields.go
Due: go-wire, go-build

lint
  core/internal/leet/configeditor.go
  core/internal/leet/configeditorfields.go
Due: go-wire, go-build

lint
  core/internal/leet/config.go
  core/internal/leet/configeditor.go
Due: go-wire, go-build

fix build tag
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_arrow.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_dict_compute.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_dict_nocompute.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/file_writer.go
Due: none

chore: fix test_public_api_uses_api_key
  tests/unit_tests/test_wandb_run.py
Due: none

chore: fix test_public_api_uses_api_key (#11240)
  tests/unit_tests/test_wandb_run.py
Due: none

feat(sdk): add `update_state()` method to Run class (#11223)
  tests/system_tests/test_core/test_public_api.py
  wandb/apis/public/runs.py
Due: none

feat: add download_history_export on api.run
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/reader.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/system_tests/test_api/test_public_api_history.py
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-build

update changelog
  CHANGELOG.unreleased.md
Due: none

document protobufs
  core/internal/runhistoryreader/reader.go
  wandb/apis/public/runs.py
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-build

add error types to api error responses
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-build

use retryable http client
  core/internal/runhistoryreader/parquet/downloads/downloader.go
  core/internal/runhistoryreader/parquet/remote/httpfile.go
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/runs.py
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-build

reduce timeout for unit test
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
Due: go-wire, go-build

fix tests
  core/internal/runhistoryreader/reader.go
Due: go-wire, go-build

remove duplicate code
  core/internal/runhistoryreader/parquet/downloads/downloader.go
  wandb/sdk/lib/service/service_connection.py
Due: go-wire, go-build

fix tests
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/parquet/downloads/downloader.go
  core/internal/runhistoryreader/parquet/remote/httpfile.go
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
  core/internal/runhistoryreader/reader_test.go
Due: go-wire, go-build

add requre_complete_history parameter to fail before trying to download incomplete data
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-build

fix int with max float
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/parquet/downloader.go
Due: go-wire, go-build

fix tests
  tests/system_tests/test_api/test_public_api_history.py
Due: none

use http.request.do
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/reader.go
  core/internal/wbapi/readrunhistoryhandler.go
Due: go-wire, go-build

add dataclass documentation
  wandb/apis/public/runs.py
Due: none

restack
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/reader.go
  core/internal/wbapi/readrunhistoryhandler.go
Due: go-wire, go-build

update proto to use enum
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/__init__.py
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-build

use go slices.min
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/reader.go
Due: go-wire, go-build

general correctness cleanup
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/parquet/remote/httpfile.go
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/system_tests/test_api/test_public_api_history.py
  wandb/apis/public/__init__.py
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-build

feat: add download_history_export on api.run (#11094)
  CHANGELOG.unreleased.md
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/parquet/remote/httpfile.go
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/system_tests/test_api/test_public_api_history.py
  wandb/apis/public/__init__.py
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-build

hackweek
  wandb/cli/cli.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/credentials.py
  wandb/sdk/wandb_login.py
Due: none
