Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

remove update from changelog
  CHANGELOG.md
Due: none

remove parsing table key last part and instead replace key at the current level
  tests/system_tests/test_plot.py
  wandb/sdk/wandb_run.py
Due: none

update changelog
  CHANGELOG.unreleased.md
Due: none

update logic to replace after collection of tables
  tests/system_tests/test_plot.py
  wandb/sdk/wandb_run.py
Due: none

fix: add support for logging nested custom charts. (#8789)
  CHANGELOG.unreleased.md
  tests/system_tests/test_plot.py
  wandb/sdk/wandb_run.py
Due: none

add test
  tests/system_tests/test_functional/interrupt/pass_if_interrupted.py
  tests/system_tests/test_functional/interrupt/test_interrupt.py
Due: none

fix(sdk): prevent issues due to bugs in earlier botocore versions
  CHANGELOG.unreleased.md
  pyproject.toml
  requirements_dev.txt
Due: none

test adding wandb core test for tensorboard torch tests that would previously hang
  tests/system_tests/test_functional/test_tensorboard/test_torch_tb.py
Due: none

wip
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/wandb_metadata.py
  wandb/sdk/wandb_run.py
Due: none

attempt to collect code coverage in test
  tests/system_tests/test_functional/interrupt/pass_if_interrupted.py
Due: none

try again to make coverage work
  tests/system_tests/test_functional/interrupt/test_interrupt.py
Due: none

improve test; change coverage related bits
  tests/system_tests/test_functional/interrupt/pass_if_interrupted.py
  tests/system_tests/test_functional/interrupt/test_interrupt.py
Due: none

fix: correctly interrupt main thread (#9094)
  CHANGELOG.unreleased.md
  tests/system_tests/test_functional/interrupt/pass_if_interrupted.py
  tests/system_tests/test_functional/interrupt/test_interrupt.py
  wandb/sdk/lib/interrupt.py
  wandb/sdk/wandb_run.py
Due: none

enable cpu profiling
  core/cmd/wandb-core/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add protobuf and graphql updated query and schema
  core/api/graphql/query_feature_flags.graphql
  core/internal/gql/gql_gen.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

it works, beaches
  core/internal/stream/handler.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/wandb_metadata.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add support for other backend fixture factories
  tests/system_tests/backend_fixtures.py
Due: none

chore(dev): test module cleanup
  tests/system_tests/backend_fixtures.py
  tests/system_tests/conftest.py
  tests/system_tests/test_importers/test_wandb/conftest.py
Due: none

update protobufs
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

Update wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact.py
Due: none

import urljoin
  wandb/sdk/artifacts/artifact.py
Due: none

[𝘀𝗽𝗿] initial version
  tests/system_tests/test_functional/conftest.py
  tests/system_tests/test_functional/interrupt/test_interrupt.py
Due: none

update graphql schema from backend
  core/api/graphql/query_feature_flags.graphql
  core/api/graphql/query_server_features.graphql
  core/internal/gql/gql_gen.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove getting multiple features at once and update based on comments
  core/internal/featurechecker/features.go
  core/internal/featurechecker/features_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add server features file for providing server capabilities and features
  core/internal/featurechecker/features.go
  core/internal/featurechecker/features_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update test coverage, address comments
  core/internal/featurechecker/features.go
  core/internal/featurechecker/features_test.go
  core/internal/gqlmock/gqlmock.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Fixes for PR comments
  experimental/perf/Dockerfile
  experimental/perf/scripts/bench_run_log.py
  experimental/perf/scripts/process_sar_helper.py
  experimental/perf/scripts/run_load_tests.py
  experimental/perf/scripts/setup_helper.py
Due: none

fix styles
  experimental/perf/scripts/bench_run_log.py
  experimental/perf/scripts/process_sar_helper.py
  experimental/perf/scripts/run_load_tests.py
Due: none

precommit fixes
  experimental/perf/scripts/process_sar_helper.py
  experimental/perf/scripts/run_load_tests.py
Due: none

update query from backend to get server feature type rather than ramp flags
  core/internal/featurechecker/features.go
  core/internal/featurechecker/features_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

try changing pyproject instead
  pyproject.toml
  tests/system_tests/test_functional/conftest.py
  tests/system_tests/test_functional/interrupt/test_interrupt.py
Due: none

remove unnecessary env param in test_interrupt.py
  tests/system_tests/test_functional/interrupt/test_interrupt.py
Due: none

remove unused import
  tests/system_tests/test_functional/interrupt/test_interrupt.py
Due: none

chore: fix codecov for test_interrupt.py (#9098)
  pyproject.toml
  tests/system_tests/test_functional/interrupt/test_interrupt.py
Due: none

update typing
  experimental/perf/scripts/setup_helper.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
