Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

Allow paralellism
  wandb/apis/importers/wandb.py
Due: none

changelog, test fixes, job artifact fix
  CHANGELOG.md
  core/pkg/launch/job_builder.go
  core/pkg/server/sender.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Fix np.nan
  wandb/apis/importers/internals/internal.py
Due: none

fix(artifacts): avoid OSError from mmap on mounted filesystems
  tests/unit_tests/test_lib/test_hashutil.py
  wandb/sdk/lib/hashutil.py
Due: none

chore: move util to its own pkg
  core/internal/nullify/zeronil.go
  core/internal/runbranch/resume.go
  core/internal/runbranch/rewind.go
  core/internal/runbranch/rewind_test.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/saver.go
  core/pkg/launch/job_builder.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: redo wandb beta sync
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_server.pb.go
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/wandb_server.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: Unknown tensorboard image format when logging gifs.
  core/internal/tensorboard/tfeventconverter_test.go
  core/internal/wbvalue/image.go
  tests/system_tests/test_functional/test_tensorboard/test_tensorboardX.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update changelog
  CHANGELOG.md
Due: none

add pytorch tensorboard test
  tests/system_tests/test_functional/test_tensorboard/test_torch_tb.py
Due: none

chore: replace global local path with argument
  core/cmd/wandb-core/main.go
  core/pkg/server/connection.go
  core/pkg/server/server.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: tpu monitoring
  core/pkg/monitor/monitor.go
  core/pkg/monitor/tpu.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

slices.Clone
  core/pkg/monitor/buffer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: refactor monitor::buffer and fix data race in it (#8461)
  core/internal/filestream/filestream.go
  core/internal/settings/settings.go
  core/pkg/monitor/buffer.go
  core/pkg/monitor/monitor.go
  core/pkg/server/handler.go
  core/pkg/server/stream_init.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_system_metrics/test_system_monitor.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: clean up system monitor (#8463)
  core/pkg/monitor/monitor.go
  core/pkg/monitor/monitor_test.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: move util to its own pkg (#8474)
  core/internal/nullify/zeronil.go
  core/internal/runbranch/resume.go
  core/internal/runbranch/rewind.go
  core/internal/runbranch/rewind_test.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/saver.go
  core/pkg/launch/job_builder.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: move headfoot out of util
  core/pkg/server/headfoot.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: move headfoot out of util (#8470)
  core/pkg/server/headfoot.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: move files utils out of pkg/util
  core/internal/fileutil/files.go
  core/pkg/artifacts/builder.go
  core/pkg/artifacts/file_cache.go
  core/pkg/artifacts/file_cache_test.go
  core/pkg/artifacts/file_helper.go
  core/pkg/artifacts/file_helper_test.go
  core/pkg/artifacts/manifest.go
  core/pkg/server/handler.go
  core/pkg/utils/files.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: move files utils out of pkg/util into a fileutil (#8480)
  core/internal/fileutil/files.go
  core/pkg/artifacts/builder.go
  core/pkg/artifacts/file_cache.go
  core/pkg/artifacts/file_cache_test.go
  core/pkg/artifacts/file_helper.go
  core/pkg/artifacts/file_helper_test.go
  core/pkg/artifacts/manifest.go
  core/pkg/server/handler.go
  core/pkg/utils/files.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: unknown tensorboard image format when logging gifs. (#8476)
  CHANGELOG.md
  core/internal/tensorboard/tfeventconverter_test.go
  core/internal/wbvalue/image.go
  tests/system_tests/test_functional/test_tensorboard/test_tensorboardX.py
  tests/system_tests/test_functional/test_tensorboard/test_torch_tb.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

everything but tests
  core/api/graphql/query_type_fields.graphql
  core/internal/gql/gql_gen.go
  core/pkg/artifacts/linker.go
  core/pkg/artifacts/saver.go
  core/pkg/utils/utils.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

liniting
  core/pkg/artifacts/linker.go
  wandb/proto_check/wandb_server_pb2_grpc.py
  wandb/proto_check/wandb_server_pb2_grpc.pyi
  wandb/sdk/interface/interface.py
  wandb/sdk/internal/internal_api.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(artifacts): restore mmap implementation, falling back on chunked read when OSError
  wandb/sdk/lib/hashutil.py
Due: none

test(artifacts): simplify tests
  tests/unit_tests/test_lib/test_hashutil.py
Due: none

chore: replace global local path with argument (#8477)
  core/cmd/wandb-core/main.go
  core/pkg/server/connection.go
  core/pkg/server/server.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: improve behavior of Run::DefineMetric in experimental c# client
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
Due: none

more generalization, changes after testing
  core/internal/filetransfer/file_transfer_gcs.go
  core/internal/filetransfer/file_transfer_s3.go
  core/internal/filetransfer/task_ref_art.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove unused var
  core/internal/filetransfer/file_transfer_s3.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): changelog
  CHANGELOG.md
Due: none

test(artifacts): label parameters for clarity
  tests/unit_tests/test_lib/test_hashutil.py
Due: none

test(artifacts): use string paths instead of pathlib, restore separate filesize threshold vs chunksize
  wandb/sdk/lib/hashutil.py
Due: none

remove grpc.py files
  wandb/proto_check/wandb_server_pb2_grpc.py
  wandb/proto_check/wandb_server_pb2_grpc.pyi
Due: none

chore: improve behavior of Run::DefineMetric in experimental c# client (#8481)
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
Due: none

chore(artifacts): cleanup, fix type hints, use mmap by default
  wandb/sdk/lib/hashutil.py
Due: none

chore(artifacts): fix type hints
  wandb/sdk/lib/hashutil.py
Due: none

chore(artifacts): fix imports
  wandb/sdk/lib/hashutil.py
Due: none

test(artifacts): clean up test module
  tests/unit_tests/test_lib/test_hashutil.py
Due: none

test(artifacts): linting
  tests/unit_tests/test_lib/test_hashutil.py
Due: none

test(artifacts): adjust chunksize
  wandb/sdk/lib/hashutil.py
Due: none
