Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

fix(launch): bump golang to 1.27.1 and chainguard image (#12771)
  tools/launch_release/build/Dockerfile
Due: none

chore(sdk): share native builds and restore parallel unit tests
  .github/actions/build-sdk-wheel/action.yml
  .github/actions/run-nox-tests/action.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/sdk-unit-tests.yml
  noxfile.py
Due: none

chore(sdk): give unit tests enough CPU and avoid setup delays
  .github/actions/run-nox-tests/action.yml
  .github/workflows/sdk-ci.yml
  tests/unit_tests/conftest.py
  tests/unit_tests/test_ssl.py
Due: none

chore(sdk): cache macOS dependencies and fix Windows image tests
  .github/actions/run-nox-tests/action.yml
  tests/unit_tests/test_data_types.py
Due: none

test(sdk): give the cache cleanup test an explicit file age
  tests/unit_tests/test_cli.py
Due: none

xor switch
  core/internal/xor/switch.go
  core/internal/xor/switch_test.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): skip optional Linux test dependencies
  .github/actions/run-nox-tests/action.yml
Due: none

fix test and changelog
  CHANGELOG.unreleased.md
  core/internal/stream/writer_test.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): install dependencies for the test data factory
  noxfile.py
Due: none

update to use api.RetryableClient
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/model.go
  core/internal/leet/parquethistorysource.go
Due: go-wire, go-unit-tests, go-build

feat(leet): add remote-run flag to pull and display run history from the W&B server
  core/api/graphql/query_run_config_summary.graphql
  core/cmd/wandb-core/main.go
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/model.go
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

refactor: delete legacy Backend class (#11755)
  wandb/sdk/lib/service/service_connection.py
Due: none

clean up
  core/internal/leet/model.go
Due: go-wire, go-unit-tests, go-build

restack
  wandb/cli/leet.py
Due: none

code cleanup
  core/api/graphql/query_run_config_summary.graphql
Due: go-generate-graphql

remove duplicate init of graphql client
  core/internal/leet/workspacebackendremote.go
Due: go-wire, go-unit-tests, go-build

use wandb urls for displaying runs from W&B
  core/internal/leet/run.go
  wandb/cli/leet.py
Due: go-wire, go-unit-tests, go-build

add remote launch config, and pass as parameters to leet
  core/internal/leet/run.go
  tests/unit_tests/test_util.py
  wandb/apis/public/api.py
  wandb/util.py
Due: go-wire, go-unit-tests, go-build

restack
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/run_update_test.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspacebackend.go
  core/internal/leet/workspacebackendlocal.go
  core/internal/leet/workspacebackendremote.go
Due: go-wire, go-unit-tests, go-build

continue querying for remote runs using pagination
  core/api/graphql/query_project_runs.graphql
  core/internal/gql/gql_gen.go
  core/internal/leet/workspacebackendremote.go
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

update start command parser to raise an error
  core/cmd/wandb-core/main.go
  core/internal/leet/workspacebackendremote.go
Due: go-wire, go-unit-tests, go-build

feat(leet): add workspace view for remote runs
  core/api/graphql/query_project_runs.graphql
  core/internal/gql/gql_gen.go
  core/internal/leet/messages.go
  core/internal/leet/model.go
  core/internal/leet/testhelpers.go
  core/internal/leet/workspace.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspace_test.go
  core/internal/leet/workspacebackend.go
  core/internal/leet/workspacebackendlocal.go
  core/internal/leet/workspacebackendremote.go
  core/internal/leet/workspacedirwatcher.go
  core/internal/leet/workspacedirwatcher_test.go
  core/internal/leet/workspacehandlers.go
  wandb/cli/leet.py
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

remove wandb_dir in favor of backend struct
  core/internal/leet/model.go
  core/internal/leet/tui_test.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspace_test.go
Due: go-wire, go-unit-tests, go-build

add tests
  core/internal/leet/testhelpers.go
  core/internal/leet/tui_test.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacebackendremote.go
  core/internal/leet/workspacebackendremote_test.go
  core/internal/leet/workspacedirwatcher_test.go
Due: go-wire, go-unit-tests, go-build

fix unit tests
  core/cmd/wandb-core/main.go
  core/internal/leet/parquethistorysource.go
  core/internal/leet/parquethistorysource_test.go
Due: go-wire, go-unit-tests, go-build

fix python unit tests
  tests/unit_tests/test_public_api/test_public_api.py
Due: none

fix precommit
  core/internal/leet/workspacebackendremote.go
Due: go-wire, go-unit-tests, go-build

repair remote workspace rebase
  core/internal/leet/model.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspace_test.go
  core/internal/leet/workspacebackendremote.go
Due: go-wire, go-unit-tests, go-build

restack
  core/cmd/wandb-core/main.go
  core/internal/leet/parquethistorysource_test.go
  core/internal/leet/workspacebackendremote.go
  wandb/cli/leet.py
Due: go-wire, go-unit-tests, go-build

first pass at rebasing pr
  core/cmd/wandb-core/main.go
  core/internal/leet/model.go
  core/internal/leet/remote.go
  core/internal/leet/remote_test.go
  core/internal/leet/workspacebackendlocal.go
  core/internal/leet/workspacebackendremote.go
  wandb/cli/leet.py
Due: go-wire, go-unit-tests, go-build

fix go unit tests
  core/internal/leet/heartbeat_lifecycle_test.go
  core/internal/leet/liveread_test.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspace_runcolors_test.go
  core/internal/leet/workspacebackendlocal.go
  core/internal/leet/workspacebackendremote.go
Due: go-wire, go-unit-tests, go-build

restack
  core/internal/leet/parquethistorysource_test.go
  core/internal/leet/tui_test.go
  core/internal/leet/workspacebackendremote_test.go
  core/internal/leet/workspacedirwatcher_test.go
  tests/unit_tests/test_cli_leet.py
Due: go-wire, go-unit-tests, go-build

fix esc to run view for remote runs, and doc string
  core/internal/leet/model.go
Due: go-wire, go-unit-tests, go-build

fix precommit
  core/internal/leet/testhelpers.go
  tests/unit_tests/test_public_api/test_public_api.py
Due: go-wire, go-unit-tests, go-build

restack
  core/cmd/wandb-core/main.go
Due: go-wire, go-unit-tests, go-build

fix unit tests
  core/internal/leet/tui_test.go
Due: go-wire, go-unit-tests, go-build

feat: flush the transaction log every 15 seconds (#12742)
  CHANGELOG.unreleased.md
  core/internal/settings/settings.go
  core/internal/stream/writer.go
  core/internal/stream/writer_test.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

fix(core): preserve local run data and avoid repeated console copies
  core/internal/runreader/console.go
  core/internal/runreader/console_test.go
  core/internal/runreader/cursor.go
  core/internal/runreader/history.go
  core/internal/runreader/history_test.go
  core/internal/runreader/probe.go
  core/internal/runreader/run.go
  core/internal/runreader/runreader_test.go
  core/internal/runreader/summary_test.go
Due: go-wire, go-unit-tests, go-build

feat(core): scan local run history through an index built while reading the run
  core/internal/runreader/cursor.go
  core/internal/runreader/history.go
  core/internal/runreader/history_test.go
  core/internal/runreader/run.go
Due: go-wire, go-unit-tests, go-build

refactor(core): drop key escaping and ScanHistory from runreader
  core/internal/runreader/history.go
  core/internal/runreader/history_test.go
  core/internal/runreader/run.go
  core/internal/runreader/runreader_test.go
Due: go-wire, go-unit-tests, go-build
