Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

black
  wandb/sdk/launch/agent/agent.py
Due: none

store header, final, and footer
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): add debounce logic to the handle summary
  nexus/pkg/server/handler.go
  nexus/pkg/server/history.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix tests
  nexus/pkg/server/sender.go
  tox.ini
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move timer to a separate file from handler
  nexus/pkg/server/timer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

basic debounce set up
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): fixed a bug for updating summary with nested dicts
  tests/pytest_tests/unit_tests/test_public_api.py
  tests/pytest_tests/unit_tests/test_wandb_summary.py
Due: none

cleaned up before pr
  latest-run
  tests/pytest_tests/unit_tests/test_public_api.py
Due: none

fix(nexus): make offline sync work properly (#6569)
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/timer.go
  nexus/pkg/server/writer.go
  tools/inspect-tool.py
  tox.ini
  wandb/sdk/internal/writer.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

formatting
  tests/pytest_tests/unit_tests/test_public_api.py
  tests/pytest_tests/unit_tests/test_wandb_summary.py
Due: none

add debounce?
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(launch): Fix run existence check to not depend on files being uploaded in the run (#6548)
  tests/pytest_tests/unit_tests/test_launch/test_agent/test_agent.py
  wandb/sdk/launch/agent/agent.py
Due: none

add flush
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  nexus/pkg/server/handler.go
  nexus/pkg/server/history.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add debounce summary in handler (#6570)
  nexus/pkg/server/handler.go
  nexus/pkg/server/history.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update link-model param name to match docstring
  wandb/sdk/wandb_run.py
Due: none

bump version 0.17.0b1 -> 0.17.0b2
  .bumpversion.nexus.cfg
  nexus/README.md
  nexus/internal/version/version.go
  nexus/setup.py
  nexus/wandb_core/__init__.py
  noxfile.py
  pyproject.toml
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(nexus): remove unnecessary code from artifact downloads (#6559)
  nexus/api/graphql/query_artifact_by_name.graphql
  nexus/api/graphql/query_artifact_manifest.graphql
  nexus/internal/gql/gql_gen.go
  nexus/pkg/artifacts/downloader.go
  nexus/pkg/artifacts/file_path_utils.go
  nexus/pkg/artifacts/manifest.go
  nexus/pkg/artifacts/name_utils.go
  nexus/pkg/env/artifacts.go
  nexus/pkg/server/sender.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/interface/interface.py
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

undo some changes
  .circleci/config.yml
  pyproject.toml
  tox.ini
  wandb/sdk/service/service.py
  wandb/sdk/wandb_require.py
Due: none

update depend of tests
  tests/functional_tests/t0_main/keras/keras_subclassed_test_tf_2_6.yea
  tests/functional_tests/t0_main/mp/14-artifact-log.yea
Due: none

fix code cov linting
  .codecov.yml
  .coveragerc
Due: none

force update
  tests/functional_tests/t0_main/keras/keras_subclassed_test_tf_2_6.yea
  tests/functional_tests/t0_main/mp/14-artifact-log.yea
Due: none

chore(artifacts): update Nexus readme
  nexus/README.md
Due: none

try to update this
  tests/functional_tests/t0_main/keras/keras_subclassed_test_tf_2_6.yea
Due: none

skip ... tests
  tests/functional_tests/t0_main/keras/keras_subclassed_test_tf_2_6.yea
  tests/functional_tests/t0_main/mp/20-1-process-pool-executor.yea
Due: none

version check
  wandb/integration/openai/fine_tune.py
Due: none

ruff fix
  wandb/integration/openai/fine_tune.py
Due: none

Add prioritization mode to API
  tests/pytest_tests/system_tests/test_core/test_public_api.py
  wandb/apis/public.py
  wandb/sdk/internal/internal_api.py
Due: none

black
  tests/pytest_tests/system_tests/test_core/test_public_api.py
  wandb/sdk/internal/internal_api.py
Due: none

chore(artifacts): update Nexus readme (#6577)
  nexus/README.md
Due: none

chore(nexus): release 0.17.0b2 (#6575)
  .bumpversion.nexus.cfg
  nexus/README.md
  nexus/internal/version/version.go
  nexus/setup.py
  nexus/wandb_core/__init__.py
  noxfile.py
  pyproject.toml
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix gcp env handling bug
  wandb/sdk/launch/environment/gcp_environment.py
Due: none

test(nexus): text stream and its components
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/connection.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save generated mocks
  nexus/.mockery.yaml
  nexus/pkg/server/mock_HandlerInterface.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save generated mocks
  nexus/pkg/server/stream_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

adding a test to catch this
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_gcp.py
Due: none

fix(launch): gcp storage uri verifaction failed due to improper async wrapping (#6581)
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_gcp.py
  wandb/sdk/launch/environment/gcp_environment.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$
