Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

feat(sweeps): apply the optimizer's task results (#12882)
  core/internal/sweeps/scheduler/polling_test.go
  core/internal/sweeps/scheduler/scheduler.go
  core/internal/sweeps/scheduler/scheduler_test.go
  core/internal/sweeps/scheduler/statemachine_test.go
  core/internal/sweeps/scheduler/telemetry_test.go
Due: go-wire, go-unit-tests, go-build

feat(sweeps): warm-start step to sync the optimizer with current sweep state (#12879)
  core/internal/sweeps/scheduler/consts.go
  core/internal/sweeps/scheduler/failurepolicy_test.go
  core/internal/sweeps/scheduler/polling.go
  core/internal/sweeps/scheduler/scheduler.go
  core/internal/sweeps/scheduler/scheduler_test.go
  core/internal/sweeps/scheduler/telemetry.go
  core/internal/sweeps/scheduler/telemetry_test.go
Due: go-wire, go-unit-tests, go-build

feat(sweeps): generation step that polls the sweep and asks for runs (#12880)
  core/internal/sweeps/scheduler/consts.go
  core/internal/sweeps/scheduler/polling.go
  core/internal/sweeps/scheduler/scheduler.go
  core/internal/sweeps/scheduler/scheduler_test.go
  core/internal/sweeps/scheduler/telemetry_test.go
Due: go-wire, go-unit-tests, go-build

feat(sweeps): enqueue the runs the optimizer suggests
  core/internal/sweeps/scheduler/polling.go
  core/internal/sweeps/scheduler/polling_test.go
  core/internal/sweeps/scheduler/scheduler.go
Due: go-wire, go-unit-tests, go-build

feat(sweeps): discard what cannot be scheduled and reject ids in use
  core/internal/sweeps/scheduler/polling.go
  core/internal/sweeps/scheduler/polling_test.go
  core/internal/sweeps/scheduler/scheduler.go
  core/internal/sweeps/scheduler/scheduler_test.go
  core/internal/sweeps/scheduler/telemetry_test.go
Due: go-wire, go-unit-tests, go-build

test(sweeps): tighten the prune tests
  core/internal/sweeps/scheduler/polling_test.go
Due: go-wire, go-unit-tests, go-build

feat(sweeps): stop the runs the optimizer prunes
  core/internal/sweeps/scheduler/polling.go
  core/internal/sweeps/scheduler/polling_test.go
  core/internal/sweeps/scheduler/scheduler.go
Due: go-wire, go-unit-tests, go-build

test(sweeps): cover a stop the backend refuses
  core/internal/sweeps/scheduler/polling_test.go
Due: go-wire, go-unit-tests, go-build

feat(sweeps): retire the exhausted reason and the Done discards
  core/internal/sweeps/scheduler/polling_test.go
  core/internal/sweeps/scheduler/scheduler.go
  core/internal/sweeps/scheduler/telemetry_test.go
  core/pkg/service_go_proto/wandb_sweep_scheduler.pb.go
  wandb/proto/v5/wandb_sweep_scheduler_pb2.py
  wandb/proto/v5/wandb_sweep_scheduler_pb2.pyi
  wandb/proto/v6/wandb_sweep_scheduler_pb2.py
  wandb/proto/v6/wandb_sweep_scheduler_pb2.pyi
  wandb/proto/v7/wandb_sweep_scheduler_pb2.py
  wandb/proto/v7/wandb_sweep_scheduler_pb2.pyi
  wandb/proto/wandb_sweep_scheduler.proto
Due: go-generate-proto, go-wire, go-unit-tests, go-build

feat(sweeps): serve scheduler sessions over the client socket
  core/pkg/server/connection.go
  core/pkg/server/connection_scheduler_test.go
  core/pkg/server/server.go
  tests/unit_tests/test_sweep_scheduler_ipc.py
  wandb/sdk/lib/service/service_connection.py
Due: go-wire, go-unit-tests, go-build

test(sweeps): table the next-task IPC request over its result
  tests/unit_tests/test_sweep_scheduler_ipc.py
Due: none

feat(sweeps): read a sweep's objectives from metric or metrics
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/optimizer.py
Due: none

test(sweeps): say why the exhaustion tests build their own sampler
  tests/unit_tests/test_optuna_scheduler.py
Due: none

test(sweeps): table-drive the optuna study and objective tests
  tests/unit_tests/test_optuna_scheduler.py
Due: none

test(sweeps): answer the multi-objective contract for optuna
  tests/unit_tests/test_optuna_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/optuna.py
Due: none

feat(sweeps): Optuna optimizer for the sweep scheduler
  tests/unit_tests/test_optuna_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/optuna.py
Due: none

test(sweeps): drop an exhaustion case the acceptance suite already covers
  tests/unit_tests/test_optuna_scheduler.py
Due: none

feat(sweeps): Ax optimizer for the sweep scheduler
  tests/unit_tests/test_ax_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/ax.py
Due: none

test(sweeps): table-drive the Ax generation-failure and objective cases
  tests/unit_tests/test_ax_scheduler.py
Due: none

feat(sweeps): optimize a multi-objective sweep with Ax
  tests/unit_tests/test_ax_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/ax.py
Due: none

test(sweeps): cover the task exchange's untested failure arms
  tests/unit_tests/test_sweep_scheduler_ipc.py
Due: none

feat(sweeps): host an optimizer for a sweep scheduler session
  tests/unit_tests/test_sweep_scheduler.py
  tests/unit_tests/test_sweep_scheduler_ipc.py
  wandb/sdk/sweeps/scheduler/client.py
  wandb/sdk/sweeps/scheduler/ipc.py
Due: none

test(sweeps): table the scheduler ask outcomes and done reasons
  tests/unit_tests/test_sweep_scheduler_ipc.py
Due: none

test(sweeps): end-to-end tests of the sweep scheduler
  tests/system_tests/test_sweep/test_sweep_scheduler_e2e.py
Due: none

test(sweeps): table-drive the sweep-scheduler CLI tests
  tests/unit_tests/test_optuna_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
Due: none

feat(sweeps): add the wandb sweep-scheduler command
  CHANGELOG.unreleased.md
  tests/unit_tests/test_ax_scheduler.py
  tests/unit_tests/test_optuna_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/cli/cli.py
Due: none

style(sweeps): wrap an over-long line in the optuna builder table
  CHANGELOG.unreleased.md
  tests/unit_tests/test_optuna_scheduler.py
Due: none

chore(sdk): add optional dependencies for ax and optuna
  pyproject.toml
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
  requirements/requirements_test.txt
Due: none

chore(sdk): add optional dependencies for ax and optuna (#12840)
  pyproject.toml
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
  requirements/requirements_test.txt
Due: none

[create-pull-request] automated change
  core/go.mod
  core/go.sum
  core/vendor/github.com/aws/aws-sdk-go-v2/feature/s3/transfermanager/CHANGELOG.md
  core/vendor/github.com/aws/aws-sdk-go-v2/feature/s3/transfermanager/go_module_metadata.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/CHANGELOG.md
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_CreateBucket.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_DeleteObject.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_HeadObject.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_ListObjects.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_ListObjectsV2.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_PutBucketAnalyticsConfiguration.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_PutObject.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_PutObjectAcl.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/api_op_UploadPart.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/go_module_metadata.go
  core/vendor/google.golang.org/api/internal/gensupport/resumable.go
  core/vendor/google.golang.org/api/internal/version.go
  core/vendor/google.golang.org/api/storage/v1/storage-api.json
  core/vendor/google.golang.org/api/storage/v1/storage-gen.go
  core/vendor/modules.txt
Due: none

refactor(sdk): add opt-in shared cloud HTTP clients
  CHANGELOG.unreleased.md
  core/cloud-http.md
  core/go.mod
  core/internal/filetransfer/azure_http.go
  core/internal/filetransfer/azure_http_test.go
  core/internal/filetransfer/azure_read_bucket.go
  core/internal/filetransfer/azure_read_bucket_auth.go
  core/internal/filetransfer/azure_read_bucket_test.go
  core/internal/filetransfer/cloud_http.go
  core/internal/filetransfer/cloud_http_test.go
  core/internal/filetransfer/cloud_read_bucket.go
  core/internal/filetransfer/file_transfer_azure_http.go
  core/internal/filetransfer/file_transfer_azure_http_test.go
  core/internal/filetransfer/file_transfer_gcs.go
  core/internal/filetransfer/file_transfer_gcs_http.go
  core/internal/filetransfer/file_transfer_gcs_http_test.go
  core/internal/filetransfer/file_transfer_gcs_test.go
  core/internal/filetransfer/file_transfer_s3_http.go
  core/internal/filetransfer/file_transfer_s3_http_test.go
  core/internal/filetransfer/gcs_auth_test.go
  core/internal/filetransfer/gcs_read_bucket.go
  core/internal/filetransfer/gcs_read_bucket_test.go
  core/internal/filetransfer/gcs_reader.go
  core/internal/filetransfer/s3_checksum.go
  core/internal/filetransfer/s3_checksum_test.go
  core/internal/filetransfer/s3_http.go
  core/internal/filetransfer/s3_http_test.go
  core/internal/filetransfer/s3_read_bucket.go
  core/internal/filetransfer/s3_read_bucket_test.go
  core/internal/tensorboard/cloudbucket_http.go
  core/internal/tensorboard/cloudbucket_http_test.go
  core/internal/tensorboard/cloudbucket_sdk.go
  core/internal/tensorboard/cloudbucket_wire_test.go
  core/internal/tensorboard/localorcloudpath.go
  core/internal/tensorboard/readbucket.go
  core/internal/tensorboard/tfeventfiles.go
  core/internal/tensorboard/tfeventreader.go
  core/scripts/measure-cloud-http-size.py
Due: go-wire, go-unit-tests, go-build

chore(ci): measure and test the opt-in cloud HTTP build
  .circleci/config.yml
  core/cloud-http.md
  core/scripts/measure-cloud-http-size.py
Due: none

fix(sdk): stop wandb-core from leaking memory for every wandb.Api() instance
  CHANGELOG.unreleased.md
  core/internal/wbapi/wbapi.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

Update changelog to clarify memory leak fix
  CHANGELOG.unreleased.md
Due: none

fix(sdk): stop wandb-core from leaking memory for every wandb.Api() instance (#12920)
  CHANGELOG.unreleased.md
  core/internal/wbapi/wbapi.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

feat(leet): select all runs with ctrl+a, deselect all but the pinned one with x
  CHANGELOG.unreleased.md
  core/internal/leet/keybindings.go
  core/internal/leet/model.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacedirwatcher_test.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): download run files when the server URL has a path prefix
  CHANGELOG.unreleased.md
  core/internal/httplayers/pathprefix.go
  core/internal/httplayers/pathprefix_test.go
  core/internal/wbapi/wbapi.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): keep the server URL path in telemetry uploads
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): keep the app URL path in the wandb login authorize link
  CHANGELOG.unreleased.md
  tests/unit_tests/test_lib/test_auth_prompt.py
  wandb/sdk/lib/wbauth/prompt.py
Due: none

clean up CHANGELOG
  CHANGELOG.unreleased.md
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
