Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

Revert console_capture_loggers feature to rework as run.write_logs() API
  core/internal/settings/settings.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_core/test_console.py
  tests/unit_tests/test_wandb_settings.py
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

Add OutputLoggerRecord and regen proto stubs
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

update python interface files to public new output logger record.
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
Due: none

Update Go elements: - update sender go - model on the Sender struct, to be able to call model.AppendLine() - Add AppendLine which creates a line without terminal emulation
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/runconsolelogs/runlogschangemodel.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
Due: go-wire, go-unit-tests, go-build

Adds the run.write_logs() method
  wandb/sdk/lib/logger_capture.py
  wandb/sdk/wandb_run.py
Due: none

Add tests for console capture and logger integration
  tests/system_tests/test_core/test_console.py
  tests/unit_tests/test_logger_capture.py
  tests/unit_tests/test_wandb_logger_handler.py
Due: none

Add changelog + linting
  CHANGELOG.unreleased.md
  core/internal/runconsolelogs/runlogschangemodel.go
Due: go-wire, go-unit-tests, go-build

Upstream renamed exitRecord to receivedExit
  core/internal/stream/sender.go
Due: go-wire, go-unit-tests, go-build

fix ruff format
  wandb/apis/public/runs.py
Due: none

Add cascading deletion and log statement
  wandb/apis/public/runs.py
Due: none

feat(public-api): add delete_all_children option to Run.delete()
  wandb/apis/public/runs.py
Due: none

update comment
  wandb/apis/public/runs.py
Due: none

add unit test
  tests/unit_tests/test_public_api/test_public_api.py
Due: none

backend class
  tests/conftest.py
  tests/unit_tests/test_launch/test_inputs/test_internal.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/backend/backend.py
  wandb/sdk/launch/inputs/internal.py
  wandb/sdk/lib/service/service_connection.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: none

refactor: delete legacy Backend class (#11755)
  tests/conftest.py
  tests/unit_tests/test_launch/test_inputs/test_internal.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/backend/backend.py
  wandb/sdk/launch/inputs/internal.py
  wandb/sdk/lib/service/service_connection.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: none

feat(leet): unify wasd/arrow navigation across panes
  core/internal/leet/consolelogspane.go
  core/internal/leet/keybindings.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/pagedlist.go
  core/internal/leet/panelgrid.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runoverviewsidebarnav.go
  core/internal/leet/symon.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

update changelog
  CHANGELOG.unreleased.md
Due: none

reinit id conflict
  CHANGELOG.unreleased.md
  core/internal/stream/stream_mux.go
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_server.pb.go
  tests/system_tests/test_core/test_wandb_init_reinit.py
  wandb/proto/wandb_server.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

add a bunch of tests
  core/internal/leet/consolelogspane_test.go
  core/internal/leet/keybindings.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/nav.go
  core/internal/leet/pagedlist_test.go
  core/internal/leet/panelgrid_test.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runhandlers_test.go
  core/internal/leet/symon.go
  core/internal/leet/symon_keyhandling_test.go
  core/internal/leet/systemmetricsgrid_test.go
  core/internal/leet/testhelpers.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

fix: raise error on ID conflict during reinit="create_new" (#11759)
  CHANGELOG.unreleased.md
  core/internal/stream/stream_mux.go
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_server.pb.go
  tests/system_tests/test_core/test_wandb_init_reinit.py
  wandb/proto/wandb_server.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

feat(sdk): accept optional start cursor arg for paginators and paginated methods (#11651)
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_automations/test_automations_api.py
  tests/system_tests/test_registries/test_registry.py
  wandb/apis/paginator.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/automations.py
  wandb/apis/public/integrations.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/registries/registry.py
  wandb/sdk/artifacts/artifact.py
Due: none

empty backend package
  wandb/sdk/backend/__init__.py
Due: none

refactor: delete empty wandb.sdk.backend module (#11760)
  wandb/sdk/backend/__init__.py
Due: none

fix run view tab order
  core/internal/leet/keybindings.go
  core/internal/leet/runfocus.go
Due: go-wire, go-unit-tests, go-build

fix run view tab order
  core/internal/leet/focusmanager.go
  core/internal/leet/run.go
  core/internal/leet/run_update_test.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runhandlers_test.go
  core/internal/leet/runoverviewsidebar.go
Due: go-wire, go-unit-tests, go-build

split up tests
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/apis/public/runs.py
Due: none

fix(sweeps): ensure that sweep context is removed when agent exits
  tests/system_tests/test_sweep/test_wandb_agent_full.py
  tests/unit_tests/test_wandb_agent_teardown.py
  wandb/sdk/wandb_init.py
  wandb/wandb_agent.py
Due: none

chore(sweeps): remove unclear comment on environment change warning
  wandb/sdk/wandb_init.py
Due: none

chore(sweeps): clarify comment explaining why sweep_id is cleared after agent exits
  wandb/wandb_agent.py
Due: none

clean up
  core/internal/leet/run.go
  core/internal/leet/runhandlers.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

clean up tests
  core/internal/leet/consolelogspane_test.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/navtesthelpers_external_test.go
  core/internal/leet/pagedlist_test.go
  core/internal/leet/panelgrid_test.go
  core/internal/leet/runhandlers_test.go
  core/internal/leet/symon_keyhandling_test.go
  core/internal/leet/systemmetricsgrid_test.go
  core/internal/leet/workspace_keyhandling_test.go
Due: go-wire, go-unit-tests, go-build

clean up tests
  core/internal/leet/filter_test.go
  core/internal/leet/heartbeat_lifecycle_test.go
  core/internal/leet/navhelpers_test.go
  core/internal/leet/navtesthelpers_test.go
  core/internal/leet/symon_keyhandling_test.go
  core/internal/leet/testhelpers.go
  core/internal/leet/workspace_runcolors_test.go
Due: go-wire, go-unit-tests, go-build

fix(sweeps): ensure that sweep context is removed when agent exits (#11496)
  tests/system_tests/test_sweep/test_wandb_agent_full.py
  tests/unit_tests/test_wandb_agent_teardown.py
  wandb/wandb_agent.py
Due: none

adadd changelog entry
  CHANGELOG.unreleased.md
Due: none

fix: wbapi not ignoring offline mode setting
  core/internal/clients/proxy.go
  core/internal/clients/proxy_test.go
  core/internal/gql/gql_client.go
  core/internal/stream/stream_init.go
  core/internal/wbapi/wbapi.go
Due: go-wire, go-unit-tests, go-build

update changelog wording
  CHANGELOG.unreleased.md
Due: none

address comments
  core/internal/api/gql_client.go
  core/internal/clients/proxy.go
  core/internal/stream/stream_init.go
  core/internal/wbapi/wbapi.go
Due: go-wire, go-unit-tests, go-build

add system test
  tests/system_tests/test_api/test_service_api.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
