Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$

add unit test for golang
  .circleci/config.yml
Due: none

fix go tests
  .circleci/config.yml
Due: none

fix config
  .circleci/config.yml
Due: none

add client unit test stub
  .circleci/config.yml
Due: none

feat(nexus): add Apple M* GPU stats monitoring
  nexus/pkg/monitor/apple/Package.swift
  nexus/pkg/monitor/apple/Sources/Store.swift
  nexus/pkg/monitor/apple/Sources/SystemKit.swift
  nexus/pkg/monitor/apple/Sources/constants.swift
  nexus/pkg/monitor/apple/Sources/extensions.swift
  nexus/pkg/monitor/apple/Sources/helpers.swift
  nexus/pkg/monitor/apple/Sources/main.swift
  nexus/pkg/monitor/apple/Sources/protocol.swift
  nexus/pkg/monitor/apple/Sources/smc.swift
  nexus/pkg/monitor/apple/Sources/types.swift
  nexus/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add Apple M* GPU stats monitoring
  nexus/pkg/monitor/apple/Package.swift
  nexus/pkg/monitor/apple/Sources/main.swift
  nexus/pkg/monitor/gpu_apple.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add Apple M* GPU stats monitoring
  nexus/pkg/monitor/gpu_apple.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix param names -> model_name to name
  wandb/sdk/wandb_run.py
Due: none

outline steps in link model
  wandb/sdk/wandb_run.py
Due: none

test
  wandb/apis/reports2/__init__.py
  wandb/apis/reports2/blocks.py
  wandb/apis/reports2/gql.py
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
  wandb/apis/reports2/panels.py
Due: none

test
  wandb/apis/reports2/__init__.py
  wandb/apis/reports2/blocks.py
  wandb/apis/reports2/panels.py
Due: none

test
  wandb/apis/reports2/blocks.py
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/panels.py
Due: none

feat(nexus): add Apple M* GPU stats monitoring
  nexus/pkg/monitor/apple/Sources/apple.swift
Due: none

feat(nexus): add Apple M* GPU stats monitoring
  nexus/pkg/monitor/apple.h
Due: none

put GOCOVERDIR back in :heart:
  tox.ini
Due: none

ci(nexus): turn nexus on in CI by default, phase 1 (#6618)
  .circleci/config.yml
  tests/functional_tests/t0_main/artifacts/log-model.yea
  tests/functional_tests/t0_main/artifacts/use-model.yea
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/system_tests/test_notebooks/test_notebooks.py
  tests/pytest_tests/unit_tests/test_internal_api.py
  tests/pytest_tests/unit_tests/test_launch/test_job.py
  tests/pytest_tests/unit_tests_old/test_artifacts/test_artifact_cli.py
  tests/pytest_tests/unit_tests_old/test_artifacts/test_artifact_public_api.py
  tests/pytest_tests/unit_tests_old/test_artifacts/test_data_types.py
  tests/pytest_tests/unit_tests_old/test_artifacts/test_wandb_run.py
  tests/pytest_tests/unit_tests_old/test_core/test_wandb.py
  tox.ini
Due: none

test
  wandb/apis/reports2/__init__.py
  wandb/apis/reports2/blocks.py
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
Due: none

update builder
  nexus/pkg/artifacts/builder.go
  nexus/pkg/artifacts/builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move to builder
  nexus/pkg/artifacts/builder.go
  nexus/pkg/artifacts/manifest.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

beginning to write tests
  tests/pytest_tests/unit_tests/test_system_metrics/test_network_traffic.py
  wandb/sdk/internal/system/assets/network.py
Due: none

added test
  tests/pytest_tests/unit_tests/test_system_metrics/test_network_traffic.py
Due: none

compile a binary instead
  .vscode/settings.json
  nexus/pkg/monitor/apple/Package.swift
  nexus/pkg/monitor/apple/Sources/main.swift
  nexus/pkg/monitor/gpu_apple.go
  noxfile.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
Due: none

test
  wandb/apis/reports2/internal.py
Due: none

feat(nexus): offline sync
  nexus/pkg/server/sender.go
  nexus/pkg/server/store.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix link_model()
  wandb/sdk/wandb_run.py
Due: none

nit indent
  wandb/sdk/wandb_run.py
Due: none

precommit
  wandb/sdk/wandb_run.py
Due: none

ruff;
  wandb/sdk/wandb_run.py
Due: none

empty spaces
  wandb/sdk/wandb_run.py
Due: none

todo
  nexus/pkg/artifacts/builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix merge
  nexus/pkg/filestream/loop_process.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

noa comments
  wandb/sdk/wandb_run.py
Due: none

merge from streamtable-3
  nexus/cmd/benchmark/main.go
  nexus/pkg/filestream/filestream.go
  nexus/pkg/filestream/loop_process.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

proto
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

add from streamtable-3
  nexus/pkg/gowandb/manager.go
  nexus/pkg/gowandb/opts/runopts/runopts.go
  nexus/pkg/gowandb/session.go
  nexus/pkg/gowandb/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

except CommError
  wandb/sdk/wandb_run.py
Due: none

feat(nexus): add basic graphql versioning mechanism
  nexus/api/graphql/generate.go
  nexus/api/graphql/genqlient.yaml
  nexus/api/graphql/query_viewer.graphql
  nexus/scripts/generate-graphql.sh
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

improving test cov
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_gcp.py
Due: none

chore(launch): misc error message improvements in launch sdk (#6617)
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_aws.py
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_azure.py
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_gcp.py
  wandb/sdk/launch/environment/aws_environment.py
  wandb/sdk/launch/environment/azure_environment.py
  wandb/sdk/launch/environment/gcp_environment.py
Due: none
