Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

feat(sweeps): serve scheduler sessions over the client socket (#12886)
  .github/CODEOWNERS
  core/pkg/server/connection.go
  core/pkg/server/server.go
  docs/sdk/wandb-core.md
  wandb/sdk/lib/service/service_connection.py
Due: go-wire, go-unit-tests, go-build

feat(sweeps): read a sweep's objectives from metric or metrics (#12914)
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/optimizer.py
Due: none

feat(sweeps): optuna optimizer for the sweep scheduler (#12896)
  tests/unit_tests/test_optuna_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/optuna.py
Due: none

feat(sweeps): ax optimizer for the sweep scheduler (#12897)
  tests/unit_tests/test_ax_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/ax.py
Due: none

feat(sweeps): host an optimizer for a sweep scheduler session (#12898)
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/client.py
  wandb/sdk/sweeps/scheduler/ipc.py
Due: none

[create-pull-request] automated change
  core/go.mod
  core/go.sum
  core/vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  core/vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/ci.yml
  core/vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  core/vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/datetime/RFC7231.go
  core/vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/version/version.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/internal/kittyshm/object.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/internal/kittyshm/object_js.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/internal/kittyshm/object_native.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/internal/kittyshm/object_other.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/internal/kittyshm/shm_darwin.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/internal/kittyshm/shm_linux.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/picture/SHARED_MEMORY.md
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/picture/kitty.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/picture/kitty_payload.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/picture/kitty_shared_memory.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/picture/messages.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/picture/picture.go
  core/vendor/github.com/aws/aws-sdk-go-v2/feature/s3/transfermanager/CHANGELOG.md
  core/vendor/github.com/aws/aws-sdk-go-v2/feature/s3/transfermanager/api_op_DownloadObject.go
  core/vendor/github.com/aws/aws-sdk-go-v2/feature/s3/transfermanager/concurrent_reader.go
  core/vendor/github.com/aws/aws-sdk-go-v2/feature/s3/transfermanager/go_module_metadata.go
  core/vendor/github.com/charmbracelet/ultraviolet/terminal.go
  core/vendor/modules.txt
Due: none

test(sdk): patch ServiceApi where it is defined
  tests/unit_tests/test_eval_table_ces.py
  tests/unit_tests/test_eval_table_weave.py
Due: none

feat(sdk): make CES EvalTable default, and block on server feature flag (#12979)
  CHANGELOG.unreleased.md
  core/pkg/service_go_proto/wandb_internal.pb.go
  tests/unit_tests/test_eval_table_ces.py
  tests/unit_tests/test_eval_table_weave.py
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/data_types/eval_table/_writer_ces.py
  wandb/sdk/data_types/eval_table/_writer_factory.py
  wandb/sdk/data_types/eval_table/eval_table.py
  xpu/src/wandb_internal.rs
Due: go-generate-proto

feat(sdk): put wandb's own CPU and memory metrics behind x_stats_self_usage (#13038)
  CHANGELOG.unreleased.md
  core/internal/monitor/monitor.go
  core/internal/monitor/system.go
  core/internal/settings/settings.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

chore: codeowners: change sweeps-launch-team to sweeps-reviewers
  .github/CODEOWNERS
Due: none

chore: codeowners: change sweeps-launch-team to sweeps-reviewers (#13045)
  .github/CODEOWNERS
Due: none

test(sweeps): end-to-end tests of the sweep scheduler
  tests/system_tests/test_sweep/test_sweep_scheduler_e2e.py
Due: none

style(sweeps): wrap doc lines over 80 columns
  tests/system_tests/test_sweep/test_sweep_scheduler_e2e.py
Due: none

test(sweeps): fail fast when the scheduler thread raises
  tests/system_tests/test_sweep/test_sweep_scheduler_e2e.py
Due: none

feat(sweeps): load a scheduler-configured optimizer factory
  wandb/sdk/sweeps/scheduler/client.py
Due: none

style(sweeps): rename done_box to task_list
  tests/system_tests/test_sweep/test_sweep_scheduler_e2e.py
Due: none

style(sweeps): rename task_list to future_list
  tests/system_tests/test_sweep/test_sweep_scheduler_e2e.py
Due: none

test(sweeps): cover the client optimizer config loader
  tests/unit_tests/test_sweep_scheduler.py
Due: none

chore(sweeps): end-to-end tests of the sweep scheduler (#12899)
  tests/system_tests/test_sweep/test_sweep_scheduler_e2e.py
Due: none

feat(sweeps): load a scheduler-configured optimizer factory (#12982)
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/client.py
Due: none

fix(sweeps): simplify statemachine shutdown behavior
  core/internal/sweeps/scheduler/ipcsessionbroker.go
  core/internal/sweeps/scheduler/ipcsessionbroker_test.go
  core/internal/sweeps/scheduler/polling_test.go
  core/internal/sweeps/scheduler/scheduler.go
  core/internal/sweeps/scheduler/scheduler_test.go
  core/internal/sweeps/scheduler/statemachine.go
  core/internal/sweeps/scheduler/statemachine_test.go
Due: go-wire, go-unit-tests, go-build

fix(sweeps): simplify statemachine shutdown behavior (#13032)
  core/internal/sweeps/scheduler/ipcsessionbroker.go
  core/internal/sweeps/scheduler/ipcsessionbroker_test.go
  core/internal/sweeps/scheduler/polling_test.go
  core/internal/sweeps/scheduler/scheduler.go
  core/internal/sweeps/scheduler/scheduler_test.go
  core/internal/sweeps/scheduler/statemachine.go
  core/internal/sweeps/scheduler/statemachine_test.go
Due: go-wire, go-unit-tests, go-build

fix service name
  wandb/sdk/lib/service/service_connection.py
Due: none

fix(sweeps): prune Ax runs only with an explicit early-stopping strategy
  tests/unit_tests/test_ax_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/ax.py
Due: none

fix merge commit changes
  core/go.mod
  core/go.sum
  core/internal/sweeps/scheduler/scheduler.go
Due: go-wire, go-unit-tests, go-build

fix(sweeps): prune Ax runs only with an explicit early-stopping strategy (#13050)
  tests/unit_tests/test_ax_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/ax.py
Due: none

more merge conflict fixes
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analyticstest/opentelemetryproxy.go
  core/internal/wbapi/opentelemetryhandler.go
  core/internal/wbapi/wbapi.go
Due: go-wire, go-unit-tests, go-build

fix wiregen failures
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/stream/sender.go
  core/internal/stream/wire_gen.go
Due: go-wire, go-unit-tests, go-build

chore: inline HistoryValue.value into HistoryItem
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

chore(sdk): inline HistoryValue.value into HistoryItem (#13034)
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

Update CHANGELOG.unreleased.md
  CHANGELOG.unreleased.md
Due: none

fix(sdk): show core warnings for offline runs (#13037)
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_run_messages_full.py
  wandb/sdk/wandb_run.py
Due: none

refactor(sweeps): describe the warm start as loading run state from the backend
  wandb/sdk/sweeps/scheduler/ipc.py
Due: none

refactor(sweeps): drop the loading prefix from the per-page run state log
  wandb/sdk/sweeps/scheduler/ipc.py
Due: none

refactor(sweeps): log each warm start run as loaded with its state
  wandb/sdk/sweeps/scheduler/ipc.py
Due: none

refactor(sweeps): log the backend state of each loaded run and warn on rejection
  wandb/sdk/sweeps/scheduler/ipc.py
Due: none

feat(sweeps): log scheduler status from the task exchange
  wandb/sdk/sweeps/scheduler/ipc.py
  wandb/sdk/sweeps/scheduler/optimizer.py
Due: none

refactor(sweeps): report a discarded suggestion as a deleted run
  wandb/sdk/sweeps/scheduler/ipc.py
Due: none
