Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

use wandb urls for displaying runs from W&B
  core/internal/leet/historysource.go
  core/internal/leet/model.go
  core/internal/leet/parquethistorysource.go
  core/internal/leet/run.go
  core/internal/leet/workspace.go
  wandb/cli/beta_leet.py
Due: go-wire, go-unit-tests, go-build

restack
  wandb/cli/beta_leet.py
Due: none

code cleanup
  core/api/graphql/query_run_info.graphql
  core/internal/gql/gql_gen.go
  core/internal/leet/historysource.go
  core/internal/leet/parquethistorysource.go
  core/internal/runhistoryreader/reader_test.go
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

move concatenateHistory and concatenateSumamry
  core/internal/leet/historysource.go
  core/internal/leet/leveldbhistorysource.go
Due: go-wire, go-unit-tests, go-build

clean up
  core/internal/leet/model.go
Due: go-wire, go-unit-tests, go-build

update to use api.RetryableClient
  core/internal/leet/historysource.go
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/model.go
  core/internal/leet/parquethistorysource.go
  core/internal/leet/parquethistorysource_test.go
  core/internal/runhistoryreader/reader_test.go
Due: go-wire, go-unit-tests, go-build

simplify lazydoc strings
  wandb/apis/paginator.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/automations.py
  wandb/apis/public/files.py
  wandb/apis/public/history.py
  wandb/apis/public/integrations.py
  wandb/apis/public/query_generator.py
  wandb/apis/public/reports.py
  wandb/apis/public/runs.py
  wandb/apis/public/users.py
  wandb/errors/errors.py
  wandb/sdk/data_types/audio.py
  wandb/sdk/data_types/graph.py
  wandb/sdk/data_types/html.py
  wandb/sdk/data_types/image.py
  wandb/sdk/data_types/molecule.py
  wandb/sdk/data_types/object_3d.py
  wandb/sdk/data_types/plotly.py
  wandb/sdk/data_types/table.py
  wandb/sdk/data_types/video.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: none

add remote launch config, and pass as parameters to leet
  core/cmd/wandb-core/main.go
  core/internal/leet/config_test.go
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/model.go
  core/internal/leet/parquethistorysource.go
  core/internal/leet/run.go
  core/internal/leet/run_update_test.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runhandlers_test.go
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_util.py
  wandb/apis/public/api.py
  wandb/cli/beta_leet.py
  wandb/util.py
Due: go-wire, go-unit-tests, go-build

fix backout to workspace view for remote run
  core/cmd/wandb-core/main.go
  core/internal/leet/model.go
  core/internal/leet/run.go
Due: go-wire, go-unit-tests, go-build

restack
  core/internal/leet/parquethistorysource.go
Due: go-wire, go-unit-tests, go-build

restack
  core/cmd/wandb-core/main.go
  core/internal/leet/parquethistorysource.go
  core/internal/leet/parquethistorysource_test.go
Due: go-wire, go-unit-tests, go-build

add tests for arg parsing and parameter creation
  core/internal/leet/startup.go
Due: go-wire, go-unit-tests, go-build

feat(public-api): add delete_all_children option to Run.delete()
  wandb/apis/public/runs.py
Due: none

fix ruff format
  wandb/apis/public/runs.py
Due: none

Add cascading deletion and log statement
  wandb/apis/public/runs.py
Due: none

add unit test
  tests/unit_tests/test_public_api/test_public_api.py
Due: none

update comment
  wandb/apis/public/runs.py
Due: none

split up tests
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/apis/public/runs.py
Due: none

update
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/apis/public/runs.py
Due: none

fix unit tests
  core/internal/leet/config_test.go
  core/internal/leet/heartbeat_lifecycle_test.go
  core/internal/leet/liveread_test.go
  core/internal/leet/runhandlers_test.go
Due: go-wire, go-unit-tests, go-build

fix precommit
  core/cmd/wandb-core/main.go
  core/internal/leet/leveldbhistorysource.go
Due: go-wire, go-unit-tests, go-build

Remove lazydocs internal
  wandb/apis/public/artifacts.py
  wandb/apis/public/automations.py
Due: none

formatting consistency
  wandb/apis/attrs.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/automations.py
  wandb/apis/public/files.py
  wandb/apis/public/jobs.py
  wandb/apis/public/projects.py
  wandb/apis/public/registries/registry.py
  wandb/apis/public/reports.py
  wandb/apis/public/runhistory/downloads.py
  wandb/apis/public/runs.py
  wandb/apis/public/sweeps.py
  wandb/apis/public/users.py
Due: none

hide abstract methods
  wandb/apis/paginator.py
  wandb/apis/public/files.py
  wandb/apis/public/reports.py
Due: none

feat(leet): high-resolution image rendering
  CHANGELOG.unreleased.md
  core/go.mod
  core/go.sum
  core/internal/leet/help.go
  core/internal/leet/keybindings.go
  core/internal/leet/mediakeys.go
  core/internal/leet/mediapane.go
  core/internal/leet/mediapane_internal_test.go
  core/internal/leet/mediapane_test.go
  core/internal/leet/run.go
  core/internal/leet/runhandlers.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/picture/messages.go
  core/vendor/github.com/NimbleMarkets/ntcharts/v2/picture/picture.go
  core/vendor/github.com/charmbracelet/ultraviolet/buffer.go
  core/vendor/github.com/charmbracelet/ultraviolet/mouse.go
  core/vendor/github.com/charmbracelet/ultraviolet/terminal_renderer.go
  core/vendor/github.com/charmbracelet/ultraviolet/uv.go
  core/vendor/golang.org/x/image/draw/draw.go
  core/vendor/golang.org/x/image/draw/impl.go
  core/vendor/golang.org/x/image/draw/scale.go
  core/vendor/golang.org/x/image/math/f64/f64.go
  core/vendor/modules.txt
Due: go-wire, go-unit-tests, go-build

rm some slop
  core/internal/leet/mediapane_internal_test.go
  core/internal/leet/mediapane_test.go
Due: go-wire, go-unit-tests, go-build

fix: address cgroup review comments
  CHANGELOG.unreleased.md
  core/internal/monitor/cgroup.go
  core/internal/monitor/cgroup_test.go
  core/internal/monitor/monitor.go
  core/internal/settings/settings.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

update a comment
  core/internal/monitor/cgroup.go
Due: go-wire, go-unit-tests, go-build

clean up
  core/internal/leet/mediapane.go
  core/internal/leet/mediapane_test.go
Due: go-wire, go-unit-tests, go-build

Removed internal from Run
  wandb/sdk/data_types/object_3d.py
  wandb/sdk/wandb_run.py
Due: none

add missed file
  core/internal/leet/mediakeys_test.go
Due: go-wire, go-unit-tests, go-build

check terminal support
  CHANGELOG.unreleased.md
  core/internal/leet/mediapane.go
  core/internal/leet/mediapane_test.go
Due: go-wire, go-unit-tests, go-build

check terminal support
  core/internal/leet/mediapane.go
Due: go-wire, go-unit-tests, go-build

Revert move parse project and run paths
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_util.py
  wandb/apis/public/api.py
  wandb/cli/beta_leet.py
  wandb/util.py
Due: none

address comments
  core/internal/leet/parquethistorysource.go
Due: go-wire, go-unit-tests, go-build

add cancel context to cancel inflight read requests
  core/internal/leet/parquethistorysource.go
  core/internal/leet/parquethistorysource_test.go
Due: go-wire, go-unit-tests, go-build

fix tests
  wandb/apis/public/service_api.py
Due: none

add updated end of run history check
  core/internal/leet/parquethistorysource.go
  core/internal/runhistoryreader/parquet/data.go
Due: go-wire, go-unit-tests, go-build

remove empty spaces
  wandb/apis/attrs.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/reports.py
  wandb/apis/public/runhistory/downloads.py
  wandb/apis/public/runs.py
  wandb/apis/public/sweeps.py
Due: none
