Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

replace settings with single property; consolidate helpers; minor fixes
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

simplify flushPartialHistory
  core/internal/stream/handler.go
  wandb/sdk/wandb_settings.py
Due: go-wire, go-unit-tests, go-build

move filtering of summary step from handler to sender
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
  core/internal/stream/historystep.go
  core/internal/stream/historystep_test.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build

remove legacy sync unit test and add system test instead
  tests/system_tests/test_core/test_offline_sync.py
  tests/unit_tests/test_legacy_sync.py
Due: none

clarify comment
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): do not write syncstate until last step verified (during sync)
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: go-wire, go-unit-tests, go-build

fix notebook test
  tests/assets/notebooks/init_finishes_previous.ipynb
Due: none

remove interface tests and add additional system tests to cover the cases
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/unit_tests/test_interface_run_record.py
Due: none

simplify logic for determining resume reconciliation
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

refactor history auto-step logic into HistoryStepTracker
  core/internal/stream/historystep.go
  core/internal/stream/historystep_test.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build

fix resume=never test case
  core/internal/runupserter/runupserter_test.go
Due: go-wire, go-unit-tests, go-build

fix multi-launch test
  tests/system_tests/test_launch/test_launch.py
Due: none

improve test coverage and refactor tests for readability
  core/internal/runupserter/runupserter_test.go
  core/internal/runupsertertest/runupsertertest.go
Due: go-wire, go-unit-tests, go-build

refactor(sdk): add level-aware log assertions for compat tests
  core/internal/observability/logging_test.go
  core/internal/observabilitytest/logging.go
  core/internal/observabilitytest/logging_test.go
  core/internal/stream/historystep_test.go
Due: go-wire, go-unit-tests, go-build

address comments, remove dead code, pass service name during api init in wandb-core
  core/internal/wbapi/opentelemetryhandler.go
  core/internal/wbapi/wbapi.go
  core/internal/wbapi/wbapimanager.go
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/apis/public/service_api.py
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  wandb/sdk/lib/service/service_connection.py
  wandb/sdk/wandb_setup.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

fix: carefully remove streams from mux at teardown (#12388)
  core/internal/stream/stream_mux.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): allow deleting summary entries for metrics logged as nested values
  CHANGELOG.unreleased.md
  core/internal/runsummary/runsummary.go
  core/internal/runsummary/runsummary_test.go
Due: go-wire, go-unit-tests, go-build

fix: allow deleting summary entries for metrics logged as nested values (#12389)
  CHANGELOG.unreleased.md
  core/internal/runsummary/runsummary.go
  core/internal/runsummary/runsummary_test.go
Due: go-wire, go-unit-tests, go-build

security(sdk): keep your API key out of the process list when running docker commands
  CHANGELOG.unreleased.md
  tests/unit_tests/test_cli.py
  wandb/cli/cli.py
Due: none

security: keep API key out of the process list when running docker commands (#12443)
  CHANGELOG.unreleased.md
  tests/unit_tests/test_cli.py
  wandb/cli/cli.py
Due: none

fix(artifacts): download the file again when a different file of the same size is in the way
  CHANGELOG.unreleased.md
  tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/artifact_file_cache.py
Due: none

fix(sdk): sync the remaining runs when one run cannot be read
  core/internal/runsync/runsyncoperation.go
Due: go-wire, go-unit-tests, go-build

fix(artifacts): stop a download that skips the cache from affecting later downloads
  CHANGELOG.unreleased.md
  tests/unit_tests/test_artifacts/test_storage.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/storage_handler.py
  wandb/sdk/artifacts/storage_handlers/azure_handler.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
  wandb/sdk/artifacts/storage_handlers/http_handler.py
  wandb/sdk/artifacts/storage_handlers/local_file_handler.py
  wandb/sdk/artifacts/storage_handlers/multi_handler.py
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
  wandb/sdk/artifacts/storage_handlers/tracking_handler.py
  wandb/sdk/artifacts/storage_handlers/wb_artifact_handler.py
  wandb/sdk/artifacts/storage_handlers/wb_local_artifact_handler.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

fix codegen
  wandb/sdk/artifacts/_generated/fragments.py
Due: none

chore: add a timeout when sampling xpu metrics
  core/internal/monitor/xpu.go
Due: go-wire, go-unit-tests, go-build

fix mocks to make internalid non-nullable
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tests/unit_tests/test_artifacts/test_saved_model.py
  tests/unit_tests/test_automations/conftest.py
Due: none

chore(registries): replace registry name filter with registry id (aka project id) (#12188)
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tests/unit_tests/test_artifacts/test_saved_model.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/misc.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/_utils.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/registries/registry.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_advanced_registry_features.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_models/artifact_collection.py
  wandb/sdk/artifacts/_models/registry.py
Due: go-generate-graphql

chore: update telemetry-tool.py
  tools/telemetry-tool.py
Due: none

chore: update telemetry-tool.py
  tools/cloud_tool.py
Due: none

test(core): add Go unit tier for transaction-log format compatibility
  core/internal/leet/leveldbhistorysource_compat_test.go
  core/internal/runbranch/resume_test.go
  core/internal/runsync/runreader_compat_test.go
  core/internal/runupserter/runupserter_compat_test.go
  core/internal/stream/historystep_compat_test.go
Due: go-wire, go-unit-tests, go-build

ci(sdk): smoke-test x86_64 wheel on macos-15-intel
  .github/workflows/release-sdk.yml
Due: none

fix(registries): defer registry ID alias mapping
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
  wandb/apis/public/registries/_utils.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/registries/registry.py
Due: none

test(registries): fix advanced search test setup
  tests/system_tests/test_registries/test_registry.py
  tests/unit_tests/test_filters/test_validation.py
Due: none

refactor(sdk): nest feature API requests
  core/internal/wbapi/featureshandler.go
  core/internal/wbapi/featureshandler_test.go
  core/internal/wbapi/wbapi.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/service_api.py
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-unit-tests, go-build

test(sdk): simplify registry filter validation coverage
  tests/system_tests/test_registries/test_registry.py
  tests/unit_tests/test_filters/test_validation.py
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
  tests/unit_tests/test_registries/test_utils.py
  wandb/_filters/filterutils.py
  wandb/apis/public/registries/_utils.py
Due: none

Test that wandb_agent.Agent and pyagent.Agent fail fast on 400 error
  tests/unit_tests/test_wandb_agent/conftest.py
  tests/unit_tests/test_wandb_agent/test_cli_agent.py
  tests/unit_tests/test_wandb_agent/test_pyagent.py
Due: none

chore: update telemetry-tool.py and rm legacy cloud_tool.py (#12450)
  tools/cloud_tool.py
  tools/telemetry-tool.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
