Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=24

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

move unit test artifacts to other
  .circleci/config.yml
Due: none

chore(sdk): minor clean up of flaky and failing tests (#7199)
  .circleci/config.yml
  tests/pytest_tests/unit_tests/test_artifacts/__init__.py
  tests/pytest_tests/unit_tests/test_artifacts/saved_model_constructors.py
  tests/pytest_tests/unit_tests/test_artifacts/test_saved_model.py
  tests/pytest_tests/unit_tests/test_keras.py
  tests/pytest_tests/unit_tests/test_system_metrics/test_disk.py
Due: none

update condition
  .pre-commit-config.yaml
  wandb/sdk/artifacts/artifact.py
Due: none

start contribution re-write
  CONTRIBUTING.md
Due: none

chore(dev): add filestream debug when size is too big
  wandb/sdk/internal/file_stream.py
Due: none

chore(launch): Silence job builder unless use explicitly calls create job (#7193)
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/server/sender.go
  tests/pytest_tests/unit_tests/test_job_builder.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/launch/create_job.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(core): Inject backend into sender (#7200)
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update wandb/sdk/internal/sender.py
  wandb/sdk/internal/sender.py
Due: none

use _handle_error
  wandb/sdk/internal/sender.py
Due: none

updated comment
  core/internal/api/transport_inform.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix line length
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

review comments, rename stuff
  core/internal/api/api.go
  core/internal/api/transportpeeker.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add temporary debugging logic for filestream size issues (#7141)
  wandb/sdk/internal/file_stream.py
Due: none

refactor
  wandb/sdk/lib/run_moment.py
Due: none

fix(core): add network status message
  core/pkg/observability/printer.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix up
  core/internal/api/transport_inform.go
  core/pkg/observability/printer.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove dup file
  core/internal/api/transport_inform.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): fix typing issue in python3.7 (#7202)
  .pre-commit-config.yaml
  wandb/sdk/artifacts/artifact.py
Due: none

modify comments
  core/internal/api/transportpeeker.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Inject filestream into sender
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Inject FileTransferManager into Sender
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add simple logs
  wandb/sdk/artifacts/artifact.py
Due: none

No more FileTransferInfoRequest
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/filetransfer/file_transfer_stats.go
  core/internal/filetransfer/run_file_kind.go
  core/internal/filetransfer/tasks.go
  core/internal/runfiles/uploader.go
  core/pkg/artifacts/downloader.go
  core/pkg/artifacts/saver.go
  core/pkg/server/files.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(sdk): initial run forking sdk (#7078)
  core/pkg/service/wandb_internal.pb.go
  core/pkg/service/wandb_settings.pb.go
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/unit_tests/test_library_public.py
  tests/pytest_tests/unit_tests/test_run_moment.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/proto/wandb_settings.proto
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/settings_static.py
  wandb/sdk/lib/__init__.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/lib/run_moment.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

refactor(core): Inject filestream into sender (#7205)
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add peeker interface
  core/internal/api/api.go
  core/internal/api/transportpeeker.go
  core/pkg/observability/printer.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update documentation
  core/internal/api/api.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Clean up GraphQL response assumption in sender
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wire up peeker to fs
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(skip): broken tests
  tests/pytest_tests/unit_tests/test_artifacts/test_saved_model.py
Due: none

Constrain tensorflow version
  requirements_dev.txt
Due: none

refactor(core): Inject FileTransferManager into Sender (#7206)
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix condition
  core/pkg/observability/printer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Make FileTransferStats thread-safe
  core/internal/filetransfer/file_transfer_stats.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

track all unsuccessful responses
  core/pkg/observability/printer.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(core): add network status message (#7174)
  core/internal/api/api.go
  core/internal/api/transportpeeker.go
  core/pkg/observability/printer.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$
