Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

clean up Model.Update method
  core/internal/leet/handlers.go
  core/internal/leet/model.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: add doc on media logged through run file
  HTTP_CLIENT_HEADERS.md
Due: none

update comments
  CHANGELOG.unreleased.md
  wandb/apis/public/runs.py
Due: none

code review fixes
  CHANGELOG.unreleased.md
  tests/system_tests/test_sweep/train_with_import_readline.py
  wandb/wandb_agent.py
Due: none

move main metrics into separate struct
  core/internal/leet/metrics.go
  core/internal/leet/metrics_test.go
  core/internal/leet/metricsfilter.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/model.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): make `project.internalId` optional in gql query for `runs()` to support old servers (#10507)
  CHANGELOG.unreleased.md
  wandb/apis/public/runs.py
Due: none

move main metrics into separate struct
  core/internal/leet/metrics.go
  core/internal/leet/model.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sweeps): when launching subprocess, use `stdin=subprocess.PIPE` to avoid deadlock (#10489)
  CHANGELOG.unreleased.md
  tests/system_tests/test_sweep/test_wandb_agent_full.py
  tests/system_tests/test_sweep/train_with_import_readline.py
  wandb/wandb_agent.py
Due: none

refactor(artifacts): cleanup storage policy session-init logic (#10443)
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
  wandb/sdk/artifacts/storage_handlers/http_handler.py
  wandb/sdk/artifacts/storage_handlers/local_file_handler.py
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
  wandb/sdk/artifacts/storage_policies/_factories.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

wip
  core/internal/leet/model.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix test race
  core/internal/runwork/runwork_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: init doc on using context to pass header
  http-header-context.md
  wandb/proto/wandb_base.proto
Due: go-generate-proto

hack: generate proto to pass headers
  core/pkg/service_go_proto/wandb_base.pb.go
  http-header-context.md
  wandb/proto/v3/wandb_base_pb2.py
  wandb/proto/v3/wandb_base_pb2.pyi
  wandb/proto/v4/wandb_base_pb2.py
  wandb/proto/v4/wandb_base_pb2.pyi
  wandb/proto/v5/wandb_base_pb2.py
  wandb/proto/v5/wandb_base_pb2.pyi
  wandb/proto/v6/wandb_base_pb2.py
  wandb/proto/v6/wandb_base_pb2.pyi
Due: none

chore: wip - replace ast with libcst
  tools/graphql_codegen/generate-graphql.sh
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/create_automation.py
  wandb/automations/_generated/create_generic_webhook_integration.py
  wandb/automations/_generated/delete_automation.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/generic_webhook_integrations_by_entity.py
  wandb/automations/_generated/get_automations.py
  wandb/automations/_generated/get_automations_by_entity.py
  wandb/automations/_generated/integrations_by_entity.py
  wandb/automations/_generated/slack_integrations_by_entity.py
  wandb/automations/_generated/update_automation.py
Due: none

chore: wip - replace ast with libcst
  tools/graphql_codegen/generate-graphql.sh
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/automations/_generated/create_automation.py
  wandb/automations/_generated/create_generic_webhook_integration.py
  wandb/automations/_generated/delete_automation.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/generic_webhook_integrations_by_entity.py
  wandb/automations/_generated/get_automations.py
  wandb/automations/_generated/get_automations_by_entity.py
  wandb/automations/_generated/integrations_by_entity.py
  wandb/automations/_generated/slack_integrations_by_entity.py
  wandb/automations/_generated/update_automation.py
Due: none

chore: capture metadata on coreweave compute env after entity update from server
  core/internal/monitor/monitor.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

lint
  noxfile.py
Due: none

hack: pass header to inform init
  core/pkg/server/connection.go
  hack/.gitignore
  hack/http-header-context.md
  hack/test_headers.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/interface/interface_sock.py
  wandb/sdk/lib/service/service_client.py
  wandb/sdk/lib/service/service_connection.py
  wandb/util.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: use existing x_extra_http_headers in settings
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfers.go
  core/internal/stream/stream_init.go
  core/pkg/server/connection.go
  hack/Makefile
  hack/http-header-context.md
  wandb/proto/wandb_base.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: remove headers from _RecordInfo use x_extra_http_headers from settings
  core/pkg/service_go_proto/wandb_base.pb.go
  hack/http-header-context.md
  wandb/proto/v3/wandb_base_pb2.py
  wandb/proto/v3/wandb_base_pb2.pyi
  wandb/proto/v4/wandb_base_pb2.py
  wandb/proto/v4/wandb_base_pb2.pyi
  wandb/proto/v5/wandb_base_pb2.py
  wandb/proto/v5/wandb_base_pb2.pyi
  wandb/proto/v6/wandb_base_pb2.py
  wandb/proto/v6/wandb_base_pb2.pyi
  wandb/proto/wandb_base.proto
Due: go-generate-proto

chore: fix data race in runwork_test.go (#10512)
  core/internal/runwork/runwork_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(artifacts): multipart upload/download - better separation of concerns, fix minor perf issues
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/storage_policies/_multipart.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/artifacts/storage_policy.py
Due: none

Update wandb/apis/public/__init__.py
  wandb/apis/public/__init__.py
Due: none

docs(sdk): add all dunder to public APIs init.py (#10505)
  wandb/apis/public/__init__.py
Due: none

hack: add header to internal api and util
  hack/http-header-context.md
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/internal/internal_api.py
  wandb/util.py
Due: none

chore: probe system information after run start
  core/internal/monitor/cwmetadata.go
  core/internal/monitor/monitor.go
  core/internal/stream/handler.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  noxfile.py
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/wandb_init.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test
  core/internal/monitor/cwmetadata.go
  core/internal/monitor/cwmetadata_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: add proxy server
  hack/.gitignore
  hack/cmd/wapiproxy/main.go
  hack/cmd/ws3proxy/main.go
  hack/http-header-context.md
  hack/kill_proxy.sh
  hack/start_proxy.sh
  hack/test_headers.py
  wandb/util.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: add doc for proxy server
  hack/http-header-context.md
  hack/test_headers.py
Due: none

hack: allow configure proxy for s3 and gcs
  hack/cmd/wapiproxy/main.go
  hack/cmd/ws3proxy/main.go
  hack/http-header-context.md
  hack/start_proxy.sh
  hack/test_headers.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: log and download media (as run file) works
  hack/.gitignore
  hack/http-header-context.md
  hack/log_images.png
  hack/test_headers.py
Due: none

protect settings update with a mutex
  core/internal/settings/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

split up the CoreWeaveMetadata.Get method
  core/internal/monitor/cwmetadata.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

split up the CoreWeaveMetadata.Get method
  core/internal/settings/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
