Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-build

.pre-commit-config.yaml:

# Install pre-commit hooks via `pip install pre-commit && pre-commit install`

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.0"
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.7
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-toml
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

fix build tag
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_arrow.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_dict_compute.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_dict_nocompute.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/file_writer.go
Due: none

server request cancellation
  core/pkg/server/connection.go
  core/pkg/server/requestcanceller.go
  core/pkg/service_go_proto/wandb_server.pb.go
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/unit_tests/test_mailbox.py
  tests/unit_tests/test_wait_with_progress.py
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/v6/wandb_server_pb2.py
  wandb/proto/v6/wandb_server_pb2.pyi
  wandb/proto/wandb_server.proto
  wandb/sdk/lib/service/service_client.py
  wandb/sdk/mailbox/mailbox.py
  wandb/sdk/mailbox/mailbox_handle.py
  wandb/sdk/mailbox/response_handle.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-wire, go-build

refactor: cancellation for ServerRequests (#11229)
  core/pkg/server/connection.go
  core/pkg/server/requestcanceller.go
  core/pkg/service_go_proto/wandb_server.pb.go
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/unit_tests/test_mailbox.py
  tests/unit_tests/test_wait_with_progress.py
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/v6/wandb_server_pb2.py
  wandb/proto/v6/wandb_server_pb2.pyi
  wandb/proto/wandb_server.proto
  wandb/sdk/lib/service/service_client.py
  wandb/sdk/mailbox/mailbox.py
  wandb/sdk/mailbox/mailbox_handle.py
  wandb/sdk/mailbox/response_handle.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-wire, go-build

beta sync cancel
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncmanager_test.go
  core/internal/runsync/runsyncoperation.go
  core/pkg/server/connection.go
Due: go-wire, go-build

runwork abort
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/uploader.go
  core/internal/runsync/runreader.go
  core/internal/runwork/runwork.go
  core/internal/runworktest/runworktest.go
  core/internal/stream/sender.go
  core/internal/stream/stream_init.go
Due: go-wire, go-build

beta sync job type
  core/internal/runsync/runsyncupdates.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  tests/fixtures/wandb_backend_spy/spy.py
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-build

beta sync replace tags
  core/internal/runsync/runsyncupdates.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-build

support bearer auth in sdk
  wandb/apis/public/api.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/gql_request.py
Due: none

remove comment
  wandb/sdk/internal/internal_api.py
Due: none

setting to control behavior when calling leet without args
  core/internal/leet/config.go
  core/internal/leet/configeditorfields.go
  core/internal/leet/messages.go
  core/internal/leet/model.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacedirwatcher.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-build

fix tests
  core/internal/leet/workspacedirwatcher_test.go
Due: go-wire, go-build

file upload debounce
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/upload_batcher.go
  core/internal/runfiles/uploader.go
  core/internal/stream/sender.go
Due: go-wire, go-build

lint
  core/internal/leet/config.go
  core/internal/leet/configeditor.go
  core/internal/leet/model.go
  core/internal/leet/workspacedirwatcher_test.go
Due: go-wire, go-build

fix(artifacts): fetch new presigned download url when expires
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/_multipart.py
  wandb/sdk/artifacts/storage_policies/_url_provider.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

chore(artifacts): merge fetch artifact files graphql into artifact.py
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

chore(artifacts): add new system test using responses
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  wandb/sdk/artifacts/artifact.py
Due: none

chore(artifacts): clean up mock in unit test
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/storage_policies/_multipart.py
Due: none

feat: add download_history_export on api.run
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_stats.go
  core/internal/filetransfer/progress_reader.go
  core/internal/filetransfer/progress_writer.go
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/internal/wboperation/wboperation.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/system_tests/test_api/test_public_api_history.py
  wandb/apis/public/__init__.py
  wandb/apis/public/api.py
  wandb/apis/public/runhistory/__init__.py
  wandb/apis/public/runhistory/downloads.py
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-build

fix proto naming
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/runhistory/downloads.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-build

chore(leet): combine ReadAllRecordsChunked and ReadAvailableRecords to a single function
  core/internal/leet/handlers.go
  core/internal/leet/historysource.go
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/leveldbhistorysource_test.go
  core/internal/leet/messages.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/reader.go
  wandb/cli/beta_leet.py
Due: go-wire, go-build

feat: ctrl+c during wandb beta sync cancels it somewhat (#11205)
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncmanager_test.go
  core/internal/runsync/runsyncoperation.go
  core/pkg/server/connection.go
Due: go-wire, go-build

security(artifacts): fix path traversal vulnerability in cloud storage artifact downloads (VULNMGMT-491)
  core/internal/filetransfer/file_transfer_azure.go
  core/internal/filetransfer/file_transfer_azure_test.go
  core/internal/filetransfer/file_transfer_gcs.go
  core/internal/filetransfer/file_transfer_gcs_test.go
  core/internal/filetransfer/file_transfer_s3.go
  core/internal/filetransfer/file_transfer_s3_test.go
  core/internal/filetransfer/path_validation.go
  core/internal/filetransfer/path_validation_test.go
Due: go-wire, go-build

transactionlog seekrecord header
  CHANGELOG.unreleased.md
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog_test.go
Due: go-wire, go-build

fix: unuploaded data due to broken flow control (#11249)
  CHANGELOG.unreleased.md
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog_test.go
Due: go-wire, go-build

file upload debounce
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/upload_batcher.go
  core/internal/runfiles/uploader.go
  core/internal/stream/sender.go
  tests/system_tests/test_core/test_wandb_init.py
Due: go-wire, go-build

x axis formatter
  core/internal/leet/epochlinechart.go
Due: go-wire, go-build

refactor: debounce file uploads more (#11246)
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/upload_batcher.go
  core/internal/runfiles/uploader.go
  core/internal/stream/sender.go
  tests/system_tests/test_core/test_wandb_init.py
Due: go-wire, go-build

add test
  tests/unit_tests/test_lib/test_auth.py
  wandb/apis/public/api.py
Due: none

refactor based on comments
  wandb/apis/public/api.py
Due: none

reorder lines
  wandb/apis/public/api.py
Due: none

refactor: allow cancelling a run (#11232)
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/uploader.go
  core/internal/runsync/runreader.go
  core/internal/runwork/runwork.go
  core/internal/runworktest/runworktest.go
  core/internal/stream/sender.go
  core/internal/stream/stream_init.go
Due: go-wire, go-build

feat: wandb beta sync --job-type (#11235)
  core/internal/runsync/runsyncupdates.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  tests/fixtures/wandb_backend_spy/spy.py
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-build
