Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

update changelog
  CHANGELOG.unreleased.md
Due: none

add `data_is_not_path` flag to wandb.html
  BREAKING.md
  CHANGELOG.unreleased.md
  tests/unit_tests/test_data_types.py
  wandb/sdk/data_types/html.py
Due: none

update docs
  wandb/sdk/data_types/html.py
Due: none

update documentation for clarity
  BREAKING.md
  CHANGELOG.unreleased.md
  tests/unit_tests/test_data_types.py
  wandb/sdk/data_types/html.py
Due: none

fix: html media object raises IsADirectoryError (#9728)
  BREAKING.md
  CHANGELOG.unreleased.md
  tests/unit_tests/test_data_types.py
  wandb/sdk/data_types/html.py
Due: none

fix: wandb.util.py::get_module causes AttributeError (#9598)
  tests/system_tests/test_functional/test_util/test_util.py
  tests/system_tests/test_functional/test_util/util_import_lazy.py
  wandb/util.py
Due: none

fix: WANDB_CONFIG_DIR environment was not used in settings
  CHANGELOG.unreleased.md
  tests/unit_tests/test_wandb_settings.py
  tests/unit_tests/test_wandb_settings_old.py
  wandb/old/settings.py
  wandb/sdk/wandb_settings.py
Due: none

update breaking changes document
  BREAKING.md
Due: none

update pr comments
  BREAKING.md
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_wandb_setup.py
  tests/unit_tests/test_wandb_settings.py
  tests/unit_tests/test_wandb_settings_old.py
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_setup.py
Due: none

update readability
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_setup.py
Due: none

bump kubernetes
  cmd/ctrlc/root/sync/kubernetes/client.go
  cmd/ctrlc/root/sync/kubernetes/kubernetes.go
  cmd/ctrlc/root/sync/sync.go
  go.mod
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(artifacts): codegen and cleanup for artifact collections
  tests/unit_tests/test_api_utils.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_files.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/artifacts.toml
  tools/graphql_codegen/generate-graphql.sh
  wandb/apis/public/__init__.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/utils.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_files.py
  wandb/sdk/artifacts/_generated/artifact_version_files.py
  wandb/sdk/artifacts/_generated/create_artifact_collection_tag_assignments.py
  wandb/sdk/artifacts/_generated/delete_artifact_collection_tag_assignments.py
  wandb/sdk/artifacts/_generated/delete_artifact_portfolio.py
  wandb/sdk/artifacts/_generated/delete_artifact_sequence.py
  wandb/sdk/artifacts/_generated/enums.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/move_artifact_collection.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collection.py
  wandb/sdk/artifacts/_generated/project_artifact_collections.py
  wandb/sdk/artifacts/_generated/project_artifact_type.py
  wandb/sdk/artifacts/_generated/project_artifact_types.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/run_input_artifacts.py
  wandb/sdk/artifacts/_generated/run_output_artifacts.py
  wandb/sdk/artifacts/_generated/update_artifact_collection.py
  wandb/sdk/artifacts/_generated/update_artifact_portfolio.py
  wandb/sdk/artifacts/_graphql_fragments.py
Due: go-generate-graphql

refactor(artifacts): move query/mutation strings from `wandb.apis.public.artifacts` to GraphQL codegen (#9735)
  tests/unit_tests/test_api_utils.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_files.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/artifacts.toml
  tools/graphql_codegen/generate-graphql.sh
  wandb/apis/public/__init__.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/utils.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_files.py
  wandb/sdk/artifacts/_generated/artifact_version_files.py
  wandb/sdk/artifacts/_generated/create_artifact_collection_tag_assignments.py
  wandb/sdk/artifacts/_generated/delete_artifact_collection_tag_assignments.py
  wandb/sdk/artifacts/_generated/delete_artifact_portfolio.py
  wandb/sdk/artifacts/_generated/delete_artifact_sequence.py
  wandb/sdk/artifacts/_generated/enums.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/move_artifact_collection.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collection.py
  wandb/sdk/artifacts/_generated/project_artifact_collections.py
  wandb/sdk/artifacts/_generated/project_artifact_type.py
  wandb/sdk/artifacts/_generated/project_artifact_types.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/run_input_artifacts.py
  wandb/sdk/artifacts/_generated/run_output_artifacts.py
  wandb/sdk/artifacts/_generated/update_artifact_collection.py
  wandb/sdk/artifacts/_generated/update_artifact_portfolio.py
  wandb/sdk/artifacts/_graphql_fragments.py
Due: go-generate-graphql

refactor: parse artifact responses with generated pydantic types
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collections.py
  wandb/sdk/artifacts/_generated/project_artifact_type.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/update_artifact_collection.py
  wandb/sdk/artifacts/_generated/update_artifact_sequence.py
Due: go-generate-graphql

refactor: parse/validate artifact GQL responses with pydantic codegen types (#9750)
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collections.py
  wandb/sdk/artifacts/_generated/project_artifact_type.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/update_artifact_collection.py
  wandb/sdk/artifacts/_generated/update_artifact_sequence.py
Due: go-generate-graphql

chore: update cli with new upsert resource
  cmd/ctrlc/root/api/upsert/policy/policy.go
  cmd/ctrlc/root/api/upsert/resource/resource.go
  internal/api/client.gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add in changes edit and create
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/unit_tests/test_registries.py
  tests/unit_tests/test_registries/test_utils.py
  wandb/apis/public/api.py
  wandb/apis/public/registries/_freezable_list.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/registries/registry.py
  wandb/apis/public/registries/utils.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/_graphql_fragments.py
  wandb/sdk/artifacts/_validators.py
Due: go-generate-proto

undo ruff
  wandb/apis/public/api.py
Due: none

add other change
  core/pkg/service_go_proto/wandb_internal.pb.go
Due: none

fix linting errors
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/apis/public/api.py
Due: none

fix: run branching in offline mode
  core/pkg/service_go_proto/wandb_internal.pb.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/proto/wandb_settings.proto
  wandb/sdk/interface/interface.py
Due: go-generate-proto

fix: run branching in offline mode
  core/pkg/service_go_proto/wandb_internal.pb.go
Due: none

add test
  tests/unit_tests/test_registries/test_freezable_list.py
  wandb/apis/public/registries/_freezable_list.py
Due: none

change log
  CHANGELOG.unreleased.md
Due: none

remove reg vis
  wandb/__init__.py
Due: none

remove file too
  wandb/sdk/artifacts/registry_visibility.py
Due: none

fix: log_code function would not properly set the config code path
  tests/system_tests/test_core/test_wandb_run.py
  wandb/sdk/wandb_run.py
Due: none

fix: log_code function would not properly set the config code path (#9753)
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_wandb_run.py
  wandb/sdk/wandb_run.py
Due: none

add init
  wandb/apis/public/registries/__init__.py
Due: none

also move files around
  wandb/apis/public/api.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/registries/registry.py
Due: none

move utils
  tests/unit_tests/test_registries/test_utils.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/registries/utils.py
Due: none

lint
  wandb/apis/public/api.py
Due: none

feat(tables): Add support for mutable table logging Enables the table object to be re-logged after mutations by using an opt-in `log_mode` param when initializing the Table.
  tests/system_tests/test_artifacts/test_data_types.py
  tests/unit_tests/test_tables.py
  wandb/sdk/data_types/table.py
Due: none

edit frozen error
  tests/unit_tests/test_registries/test_freezable_list.py
  tests/unit_tests/test_registries/test_utils.py
Due: none

tests into string
  tests/unit_tests/test_registries/test_freezable_list.py
Due: none

remove search test
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

test
  tests/system_tests/conftest.py
  tests/system_tests/test_registries/test_registry.py
  wandb/apis/public/api.py
  wandb/apis/public/registries/registry.py
  wandb/apis/public/registries/utils.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
