Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

beta sync replace tags
  core/internal/runsync/runsyncupdates.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-build

feat: wandb beta sync --replace-tags (#11236)
  core/internal/runsync/runsyncupdates.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-build

x axis formatter
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/units.go
Due: go-wire, go-build

typing
  wandb/apis/public/api.py
  wandb/sdk/internal/internal_api.py
Due: none

x axis formatter
  core/internal/leet/epochlinechart_test.go
Due: go-wire, go-build

chore: specify go version in sdist verification step in release action
  .github/workflows/release-sdk.yml
Due: none

chore: specify go version in sdist verification step in release action (#11252)
  .github/workflows/release-sdk.yml
Due: none

chore: install rust toolchain and update python version in sdist check step in release action
  .github/workflows/release-sdk.yml
Due: none

chore: install rust toolchain and update python version in sdist check step in release action (#11253)
  .github/workflows/release-sdk.yml
Due: none

Update test_public_api.py
  tests/unit_tests/test_public_api/test_public_api.py
Due: none

rename marked preempting to preempting, fix some comments
  core/internal/filestream/collectloop.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/updateexit.go
  core/internal/stream/sender.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-wire, go-build

lint
  wandb/tests/unit_tests/test_run_preempting.py
Due: none

chore(leet): protect sidebar animation state with a mutex
  core/internal/leet/animation.go
Due: go-wire, go-build

initial test fixes
  tests/unit_tests/test_wandb_run.py
  wandb/tests/unit_tests/test_run_preempting.py
Due: none

chore(leet): protect sidebar animation state with a mutex (#11254)
  core/internal/leet/animation.go
Due: go-wire, go-build

fix tests by moving them to system_tests
  tests/fixtures/wandb_backend_spy/spy.py
  tests/system_tests/test_core/test_wandb_run.py
  tests/unit_tests/test_wandb_run.py
Due: none

chore(leet): improve X axis tick formatting in main charts
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/units.go
Due: go-wire, go-build

format
  core/internal/filestreamtest/filestreamtest.go
  core/internal/runsync/wire.go
  core/internal/stream/streaminject.go
Due: go-wire, go-build

minor note on formatting go code
  CONTRIBUTING.md
Due: none

correct scaling
  core/internal/leet/epochlinechart.go
Due: go-wire, go-build

add changelog entry
  CHANGELOG.unreleased.md
Due: none

ignore test helpers for codecov
  .codecov.yml
Due: none

revert a couple of unintended go lint fixes
  core/internal/runsync/wire.go
  core/internal/stream/streaminject.go
Due: go-wire, go-build

go format and add note about how to go format
  CONTRIBUTING.md
  core/internal/runsync/wire.go
  core/internal/stream/streaminject.go
Due: go-wire, go-build

remove CONTRIBUTING not about go lint since putting that in another PR
  CONTRIBUTING.md
Due: none

clean up
  core/internal/leet/epochlinechart.go
  core/internal/leet/units.go
Due: go-wire, go-build

clean up
  core/internal/leet/epochlinechart_test.go
Due: go-wire, go-build

improve doc
  core/internal/leet/units.go
Due: go-wire, go-build

improve X axis tick formatting in main charts
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/units.go
Due: go-wire, go-build

chore(leet): improve X axis tick formatting in main charts (#11255)
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/units.go
Due: go-wire, go-build

add test
  tests/unit_tests/test_public_api/test_public_api.py
Due: none

Update gql_request.py
  wandb/sdk/lib/gql_request.py
Due: none

chore(leet): support multiple series in metric charts
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_overlay_test.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/handlers.go
  core/internal/leet/messages.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/reader.go
  core/internal/leet/reader_test.go
  core/internal/leet/styles.go
Due: go-wire, go-build

Update api.py
  wandb/apis/public/api.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
