Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

clean up
  pyproject.toml
Due: none

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/saved_file.go
  core/pkg/filestream/exitupdate.go
  core/pkg/filestream/filestream.go
  core/pkg/filestream/filestream_test.go
  core/pkg/filestream/filesuploadedupdate.go
  core/pkg/filestream/historyupdate.go
  core/pkg/filestream/logsupdate.go
  core/pkg/filestream/loop_process.go
  core/pkg/filestream/preemptingupdate.go
  core/pkg/filestream/statsupdate.go
  core/pkg/filestream/summaryupdate.go
  core/pkg/filestream/update.go
  core/pkg/filestreamtest/filestreamtest.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(core): `filestream.Update` is now an interface
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/saved_file.go
  core/pkg/filestream/exitupdate.go
  core/pkg/filestream/filestream.go
  core/pkg/filestream/filestream_test.go
  core/pkg/filestream/filesuploadedupdate.go
  core/pkg/filestream/historyupdate.go
  core/pkg/filestream/logsupdate.go
  core/pkg/filestream/loop_process.go
  core/pkg/filestream/preemptingupdate.go
  core/pkg/filestream/statsupdate.go
  core/pkg/filestream/summaryupdate.go
  core/pkg/filestream/update.go
  core/pkg/filestreamtest/filestreamtest.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(launch): pass build context, dockerfile, job api version through partial job
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/service/wandb_internal.pb.go
  tests/pytest_tests/system_tests/test_launch/test_job.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(launch): pass build context and dockerfile through partial job (#7529)
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/service/wandb_internal.pb.go
  tests/pytest_tests/system_tests/test_launch/test_job.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): remove deprecated wandb.plots and top-level 3rd-party integration modules (#7552)
  .github/ISSUE_TEMPLATE/old/app-bug.md
  .github/ISSUE_TEMPLATE/old/client-bug.md
  .github/ISSUE_TEMPLATE/old/feature_request.md
  .github/release.yml
  CHANGELOG.md
  core/.idea/.gitignore
  pyproject.toml
  tests/pytest_tests/system_tests/test_core/test_keras_full.py
  tests/pytest_tests/unit_tests/test_keras.py
  tests/pytest_tests/unit_tests/test_plots.py
  tools/bumpversion-tool.py
  tools/cli.py
  tools/loop.sh
  tools/pr-title-bot.py
  wandb/__init__.py
  wandb/catboost/__init__.py
  wandb/fastai/__init__.py
  wandb/integration/prodigy/prodigy.py
  wandb/keras/__init__.py
  wandb/lightgbm/__init__.py
  wandb/plot/pr_curve.py
  wandb/plot/roc_curve.py
  wandb/plot/utils.py
  wandb/plots/__init__.py
  wandb/plots/explain_text.py
  wandb/plots/heatmap.py
  wandb/plots/named_entity.py
  wandb/plots/part_of_speech.py
  wandb/plots/plot_definitions.py
  wandb/plots/precision_recall.py
  wandb/plots/roc.py
  wandb/sacred/__init__.py
  wandb/sdk/wandb_run.py
  wandb/sklearn/plot/classifier.py
  wandb/xgboost/__init__.py
Due: none

fix(core): print the relevant information for implicit offline
  core/internal/settings/settings.go
  core/pkg/server/stream.go
  core/pkg/utils/headfoot.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

one summary line only; delete unused struct
  core/pkg/filestream/loop_process.go
  core/pkg/filestream/transmitchunk.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update summaryupdate.go as well
  core/pkg/filestream/summaryupdate.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(core): print the relevant information for implicit offline (#7554)
  core/internal/settings/settings.go
  core/pkg/server/stream.go
  core/pkg/utils/headfoot.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

set up name and type for editing + add saved versions
  wandb/apis/public/artifacts.py
Due: none

don't send empty summary line
  core/pkg/filestream/transmitchunk.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(launch): slice memory bug in core process job input filtering
  core/pkg/launch/config.go
  core/pkg/launch/config_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/pkg/filestream/collector.go
  core/pkg/filestream/collector_test.go
  core/pkg/filestream/collectorstate.go
  core/pkg/filestream/exitupdate.go
  core/pkg/filestream/filestream.go
  core/pkg/filestream/filesuploadedupdate.go
  core/pkg/filestream/historyupdate.go
  core/pkg/filestream/logsupdate.go
  core/pkg/filestream/loop_process.go
  core/pkg/filestream/loop_transmit.go
  core/pkg/filestream/loop_transmit_test.go
  core/pkg/filestream/preemptingupdate.go
  core/pkg/filestream/statsupdate.go
  core/pkg/filestream/summaryupdate.go
  core/pkg/filestream/transmitchunk.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(launch): slice memory bug in core process job input filtering (#7556)
  core/pkg/launch/config.go
  core/pkg/launch/config_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

make printer non-generic
  core/pkg/observability/printer.go
  core/pkg/server/handler.go
  core/pkg/server/handler_test.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(core): for now undo changes to summary to make it easier to support flow control
  core/internal/runsummary/runsummary.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add back NewPrinter() constructor
  core/pkg/observability/printer.go
  core/pkg/server/handler_test.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/pkg/filestream/collector.go
  core/pkg/filestream/collector_test.go
  core/pkg/filestream/collectorstate.go
  core/pkg/filestream/exitupdate.go
  core/pkg/filestream/filestream.go
  core/pkg/filestream/filesuploadedupdate.go
  core/pkg/filestream/historyupdate.go
  core/pkg/filestream/logsupdate.go
  core/pkg/filestream/loop_process.go
  core/pkg/filestream/loop_transmit.go
  core/pkg/filestream/loop_transmit_test.go
  core/pkg/filestream/preemptingupdate.go
  core/pkg/filestream/statsupdate.go
  core/pkg/filestream/summaryupdate.go
  core/pkg/filestream/transmitchunk.go
  core/pkg/observability/peeker.go
  core/pkg/observability/printer.go
  core/pkg/server/handler.go
  core/pkg/server/handler_test.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(core): Refactor filestream chunk collection
  core/pkg/filestream/collector.go
  core/pkg/filestream/collector_test.go
  core/pkg/filestream/collectorstate.go
  core/pkg/filestream/exitupdate.go
  core/pkg/filestream/filestream.go
  core/pkg/filestream/filesuploadedupdate.go
  core/pkg/filestream/historyupdate.go
  core/pkg/filestream/logsupdate.go
  core/pkg/filestream/loop_process.go
  core/pkg/filestream/loop_transmit.go
  core/pkg/filestream/loop_transmit_test.go
  core/pkg/filestream/preemptingupdate.go
  core/pkg/filestream/statsupdate.go
  core/pkg/filestream/summaryupdate.go
  core/pkg/filestream/transmitchunk.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(core): Make Peeker not a Printer
  core/pkg/observability/peeker.go
  core/pkg/observability/printer.go
  core/pkg/server/handler.go
  core/pkg/server/handler_test.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/pkg/observability/printer.go
  core/pkg/observability/printer_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(core): undo shared summary support (#7559)
  core/internal/runsummary/runsummary.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Add warning message when k8s pod fails to schedule
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/runner/abstract.py
  wandb/sdk/launch/runner/kubernetes_monitor.py
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/runner/local_container.py
  wandb/sdk/launch/runner/sagemaker_runner.py
  wandb/sdk/launch/runner/vertex_runner.py
Due: none

fixup PR, accidentally duplicated it
  core/pkg/filestream/statsupdate.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Mypy fix
  wandb/sdk/launch/runner/abstract.py
  wandb/sdk/launch/runner/kubernetes_monitor.py
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/runner/local_container.py
  wandb/sdk/launch/runner/sagemaker_runner.py
  wandb/sdk/launch/runner/vertex_runner.py
Due: none

minor clean up
  core/pkg/server/connection.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Fix test
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

[𝘀𝗽𝗿] initial version
  core/pkg/service/wandb_settings.pb.go
  tests/pytest_tests/unit_tests/test_wandb_init.py
  tests/pytest_tests/unit_tests_old/conftest.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

remove "problem" setting, fix mypy in agent.py
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

update changelog
  CHANGELOG.md
Due: none

remove "problem" mention from tests
  tests/pytest_tests/unit_tests/test_wandb_init.py
  tests/pytest_tests/unit_tests/test_wandb_settings.py
Due: none

mention deleted settings in CHANGELOG.md
  CHANGELOG.md
Due: none

refactor(sdk): Clean up `wandb.init()`
  CHANGELOG.md
  core/pkg/service/wandb_settings.pb.go
  tests/pytest_tests/unit_tests/test_wandb_init.py
  tests/pytest_tests/unit_tests/test_wandb_settings.py
  tests/pytest_tests/unit_tests_old/conftest.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

feat(core): Allow rate-limiting Printer messages
  core/pkg/observability/printer.go
  core/pkg/observability/printer_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

ci(sdk): Toggle "wandb-core" in pytest; remove from tox/nox/CircleCI (#7466)
  .circleci/config.yml
  .gitignore
  noxfile.py
  tests/pytest_tests/conftest.py
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  tests/pytest_tests/unit_tests/test_data_types.py
  tests/pytest_tests/unit_tests_old/test_core/test_cli.py
  tox.ini
Due: none

feat(core): Check if filestream lines are too long
  core/pkg/filestream/filestream.go
  core/pkg/filestream/filestream_test.go
  core/pkg/filestream/historyupdate.go
  core/pkg/filestream/statsupdate.go
  core/pkg/filestream/summaryupdate.go
  core/pkg/filestreamtest/filestreamtest.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  core/pkg/filestream/logsupdate.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/pkg/filestream/logsupdate.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$
