Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$

build(nexus): add nexus proto gen to tox and make (#6268)
  .circleci/config.yml
  Makefile
  tox.ini
Due: none

feat(nexus): add system info to metadata (#6244)
  nexus/pkg/monitor/cpu.go
  nexus/pkg/monitor/disk.go
  nexus/pkg/monitor/gpu_nvidia.go
  nexus/pkg/monitor/memory.go
  nexus/pkg/monitor/monitor.go
  nexus/pkg/monitor/network.go
  nexus/pkg/monitor/noop.go
  nexus/pkg/server/handler.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(sdk): implement first-class system monitor settings
  nexus/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

feat(sdk): implement first-class system monitor settings
  wandb/sdk/wandb_settings.py
Due: none

feat(nexus): add gpu system info to metadata
  nexus/pkg/monitor/gpu_nvidia.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

adjust
  nexus/pkg/monitor/cpu.go
  nexus/pkg/monitor/gpu_nvidia.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

adjust
  nexus/pkg/monitor/gpu_nvidia.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

adjust
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

adjust
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.py
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

report bytes
  nexus/pkg/monitor/disk.go
  nexus/pkg/monitor/memory.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  nexus/pkg/monitor/gpu_nvidia.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor run monitor stuff into separate file for sanity wrap watch stream with recovery from conncetion reset by peer
  wandb/sdk/launch/runner/kubernetes_monitor.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

ruff fixes
  wandb/sdk/launch/runner/kubernetes_monitor.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

mypy
  wandb/sdk/launch/runner/kubernetes_monitor.py
Due: none

update import path in tests
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

fix test imports
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

fix stream patch in test_kubernetes
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

got tests working still need to add tests for the wrapper
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_monitor.py
Due: none

end loop if stream ends naturally
  wandb/sdk/launch/runner/kubernetes_monitor.py
Due: none

remove commented out code
  wandb/sdk/launch/runner/kubernetes_monitor.py
Due: none

make proto
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

make proto
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.py
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

rm fmt.Println
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add: backend-agnostic implementation of WandBMetricsLogger
  wandb/integration/keras_core/__init__.py
  wandb/integration/keras_core/metrics_logger.py
Due: none

update: docstrings
  wandb/integration/keras_core/metrics_logger.py
Due: none

feat(nexus): add nvidia gpu system info to metadata (#6270)
  nexus/pkg/monitor/cpu.go
  nexus/pkg/monitor/disk.go
  nexus/pkg/monitor/gpu_nvidia.go
  nexus/pkg/monitor/memory.go
  nexus/pkg/server/handler.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: make ci happy
  wandb/integration/keras_core/metrics_logger.py
Due: none

Add regression test for adding an object with no version
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
Due: none

fix(sdk): add missing Twitter import for API users (#6261)
  .vscode/settings.json
  wandb/apis/reports/blocks.py
Due: none

docs(nexus): add user-facing Nexus docs for Beta release
  nexus/README.md
  pyproject.toml
Due: none

wip
  nexus/README.md
Due: none

try footnotes
  nexus/README.md
Due: none

installation + supported platforms
  nexus/README.md
Due: none

small comment fix
  tests/release_tests/test_launch/launch-config-patch.yaml
Due: none

test(sweeps): Add basic sweeps on launch regression test (#6262)
  tests/release_tests/test_launch/conftest.py
  tests/release_tests/test_launch/launch-config-patch.yaml
  tests/release_tests/test_launch/test_kubernetes.py
  tests/release_tests/test_launch/utils.py
Due: none

wip
  nexus/README.md
  wandb/sdk/wandb_init.py
Due: none

moar features
  nexus/README.md
Due: none

turn off code saving in nb with nexus on
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/wandb_init.py
Due: go-generate-proto
