Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

chore: run SDK tests in GitHub Actions (#12770)
  .circleci/config.yml
  .github/actions/build-wheel/action.yml
  .github/actions/run-tests/action.yml
  .github/scripts/summarize_test_results.py
  .github/workflows/sdk-ci.yml
  .github/workflows/sdk-unit-tests.yml
  noxfile.py
  requirements/generate.sh
  requirements/requirements_dev.3.10.darwin.txt
  requirements/requirements_dev.3.10.linux.txt
  requirements/requirements_dev.3.10.windows.txt
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
  tests/unit_tests/conftest.py
  tests/unit_tests/test_cli.py
  tests/unit_tests/test_data_types.py
  tests/unit_tests/test_ssl.py
  tests/unit_tests/test_wandb_agent/conftest.py
Due: none

chore(sdk): upload coverage to Datadog from GitHub Actions
  .github/scripts/download_circleci_coverage.py
  .github/workflows/datadog-coverage.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/sdk-unit-tests.yml
  noxfile.py
Due: none

chore(sdk): upload coverage to Datadog from GitHub Actions (#12931)
  .github/scripts/download_circleci_coverage.py
  .github/workflows/datadog-coverage.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/sdk-unit-tests.yml
  noxfile.py
Due: none

fix(sdk): speed up console log uploads for runs that print many lines
  CHANGELOG.unreleased.md
  core/internal/sparselist/sparselist.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): preserve EvalTable project lookup behavior
  core/internal/wbapi/projecthandler.go
  core/internal/wbapi/projecthandler_test.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/unit_tests/test_eval_table_ces.py
  tests/unit_tests/test_public_api/test_service_api.py
  wandb/apis/public/service_api.py
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/wandb_api.proto
  wandb/sdk/data_types/eval_table/_writer_ces.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

test(sdk): bound live sync logger wait
  tests/system_tests/test_functional/sync/test_sync.py
Due: none

lint fixes
  core/internal/analytics/opentelemetryproxy_test.go
  tests/unit_tests/test_lib/test_telemetry.py
Due: go-wire, go-unit-tests, go-build

remove RecordDuration
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/wbapi/readrunhistoryhandler.go
Due: go-wire, go-unit-tests, go-build

remove record_duration
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
Due: none

reduce verbose comments; fix inconsistencies between python and go telemetry lib
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
Due: go-wire, go-unit-tests, go-build

apply similar refactoring to python telemetry code
  core/internal/analytics/opentelemetryproxy.go
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
Due: go-wire, go-unit-tests, go-build

chore(sdk): explicit histogram boundaries; cache histograms and counters
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/analyticstest/opentelemetryproxy.go
  wandb/analytics/__init__.py
  wandb/analytics/opentelemetry/__init__.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
Due: go-wire, go-unit-tests, go-build

fix tests; use correct units for RecordDuration
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/analyticstest/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): explicit histogram boundaries; cache histograms and counters (#12908)
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/analyticstest/opentelemetryproxy.go
  core/internal/wbapi/readrunhistoryhandler.go
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/__init__.py
  wandb/analytics/opentelemetry/__init__.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
Due: go-wire, go-unit-tests, go-build

replace RecordDuration with RecordHistogram
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/filestreamstats/filestreamstats.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): add telemetry for encoding latency and size
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/update.go
  core/internal/filestream/updatehistory.go
  core/internal/filestreamstats/filestreamstats.go
  core/internal/leet/analytics.go
  core/internal/observability/logging.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/stream/filestreamstats.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/internal/stream/streaminject.go
  core/internal/stream/wire_gen.go
  core/internal/stream/writer.go
  core/internal/wbapi/opentelemetryhandler.go
  core/internal/wbapi/readrunhistoryhandler.go
Due: go-wire, go-unit-tests, go-build

chore: fix formatting and add python client telemetry
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/sdk/interface/interface.py
Due: none

fix(sdk): use DELTA temporality for histograms; seconds -> microseconds for python
  core/internal/stream/filestreamstats.go
  core/internal/stream/sender.go
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/sdk/interface/interface.py
Due: go-wire, go-unit-tests, go-build

fix: add unit tests; fix double-count of segment durations
  core/internal/filestreamstats/filestreamstats.go
  core/internal/filestreamstats/filestreamstats_test.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): add telemetry for encoding latency and size (#12916)
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/update.go
  core/internal/filestream/updatehistory.go
  core/internal/filestreamstats/filestreamstats.go
  core/internal/filestreamstats/filestreamstats_test.go
  core/internal/leet/analytics.go
  core/internal/observability/logging.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/stream/filestreamstats.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/internal/stream/streaminject.go
  core/internal/stream/wire_gen.go
  core/internal/stream/writer.go
  core/internal/wbapi/opentelemetryhandler.go
  core/internal/wbapi/readrunhistoryhandler.go
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/sdk/interface/interface.py
Due: go-wire, go-unit-tests, go-build

chore: add git-backed Devin blueprint
  .devin/blueprint.yaml
Due: none

chore: track core/go.mod Go version and prek PATH in Devin blueprint
  .devin/blueprint.yaml
Due: none

[create-pull-request] automated change
  core/go.mod
  core/go.sum
  core/vendor/charm.land/bubbletea/v2/clipboard.go
  core/vendor/charm.land/bubbletea/v2/color.go
  core/vendor/charm.land/bubbletea/v2/cursor.go
  core/vendor/charm.land/bubbletea/v2/options.go
  core/vendor/charm.land/bubbletea/v2/tea.go
  core/vendor/charm.land/bubbletea/v2/termcap.go
  core/vendor/charm.land/bubbletea/v2/xterm.go
  core/vendor/github.com/aws/aws-sdk-go-v2/feature/s3/transfermanager/CHANGELOG.md
  core/vendor/github.com/aws/aws-sdk-go-v2/feature/s3/transfermanager/go_module_metadata.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/internal/checksum/CHANGELOG.md
  core/vendor/github.com/aws/aws-sdk-go-v2/service/internal/checksum/go_module_metadata.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/internal/checksum/middleware_validate_output.go
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/CHANGELOG.md
  core/vendor/github.com/aws/aws-sdk-go-v2/service/s3/go_module_metadata.go
  core/vendor/github.com/googleapis/gax-go/v2/.release-please-manifest.json
  core/vendor/github.com/googleapis/gax-go/v2/CHANGES.md
  core/vendor/github.com/googleapis/gax-go/v2/call_option.go
  core/vendor/github.com/googleapis/gax-go/v2/internal/version.go
  core/vendor/github.com/googleapis/gax-go/v2/invoke.go
  core/vendor/github.com/googleapis/gax-go/v2/telemetry.go
  core/vendor/github.com/vektah/gqlparser/v2/validator/rules/overlapping_fields_can_be_merged.go
  core/vendor/modules.txt
Due: none

Update CHANGELOG.unreleased.md
  CHANGELOG.unreleased.md
Due: none

fix(sdk): speed up console log uploads for runs that print many lines (#12405)
  core/internal/sparselist/sparselist.go
Due: go-wire, go-unit-tests, go-build

test(sdk): move the federated identity tests to the system tests
  tests/system_tests/test_core/test_federated_identity.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
Due: none

test(sdk): serve the fake federated identity backend with FastAPI
  tests/system_tests/test_core/test_federated_identity.py
Due: none

chore: move the federated identity tests to the system tests (#12954)
  tests/system_tests/test_core/test_federated_identity.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
Due: none

fix(sweeps): call wandb.teardown() on pyagent finish
  CHANGELOG.unreleased.md
  tests/system_tests/test_sweep/test_wandb_agent_full.py
  tests/unit_tests/test_wandb_agent/scripts/pyagent_sigint.py
  tests/unit_tests/test_wandb_agent/test_pyagent.py
  wandb/agents/pyagent.py
Due: none

chore: rename null_value -> none
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

trim verbose comments
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

feat(sdk): add typed HistoryValue alongside HistoryItem.value_json
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

Clean up code comments/docs. Make Kind order the same as wire and internal server formats.
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

chore: rename oneof fields to remove _value suffix
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

protoo format
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

value proto kind -> oneof
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

json_value should be string
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

feat(sdk): add typed HistoryValue alongside HistoryItem.value_json (#12806)
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
