Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

fix: SearchStrategy docstring
  tests/unit_tests/test_automations/_strategies.py
Due: none

chore: remove comment
  wandb/sdk/data_types/table.py
Due: none

refactor: separated minor Automations API changes (refactoring, test cleanup, renaming, typing, other minor fixes) (#9782)
  tests/unit_tests/test_automations/_strategies.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_actions.py
  tests/unit_tests/test_automations/test_automations.py
  tests/unit_tests/test_automations/test_events.py
  tests/unit_tests/test_automations/test_filters.py
  tests/unit_tests/test_automations/test_scopes.py
  tools/graphql_codegen/automations/automations_queries.graphql
  wandb/automations/__init__.py
  wandb/automations/_filters/expressions.py
  wandb/automations/_filters/operators.py
  wandb/automations/_filters/run_metrics.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/create_filter_trigger.py
  wandb/automations/_generated/delete_trigger.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/operations.py
  wandb/automations/_generated/update_filter_trigger.py
  wandb/automations/_utils.py
  wandb/automations/_validators.py
  wandb/automations/actions.py
  wandb/automations/automations.py
  wandb/automations/events.py
  wandb/automations/integrations.py
  wandb/automations/scopes.py
Due: go-generate-graphql

re-add tests
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: none

feat(sweeps): add support for hydra sweeps (#9657)
  tests/system_tests/test_sweep/test_sweep_scheduler.py
  tests/system_tests/test_sweep/test_wandb_agent.py
  wandb/sdk/launch/sweeps/utils.py
Due: none

add all metrics of interest
  core/pkg/monitor/dcgm_exporter.go
  gpu_stats/src/gpu_nvidia.rs
  gpu_stats/src/gpu_nvidia_dcgm.rs
  gpu_stats/src/main.rs
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

cleanup cli tooling
  cmd/ctrlc/root/run/exec/exec.go
  cmd/ctrlc/root/run/exec/runner.go
  cmd/ctrlc/root/sync/aws/ec2/ec2.go
  cmd/ctrlc/root/sync/aws/eks/eks.go
  cmd/ctrlc/root/sync/google/bigtable/bigtable.go
  cmd/ctrlc/root/sync/google/cloudsql/cloudsql.go
  cmd/ctrlc/root/sync/google/gke/gke.go
  cmd/ctrlc/root/sync/google/secrets/secrets.go
  go.mod
  go.sum
  internal/api/client.gen.go
  internal/api/client.go
  internal/api/resource_provider.go
  pkg/jobagent/runner.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: update video documentation
  BREAKING.md
  wandb/sdk/data_types/video.py
Due: none

chore: Pin uv to fix CI
  .circleci/config.yml
Due: none

working source and link artifact
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

chore: pin uv to fix CI (#9788)
  .circleci/config.yml
Due: none

chore: assign log_mode when creating from json
  wandb/sdk/data_types/table.py
Due: none

update wording
  wandb/sdk/data_types/video.py
Due: none

get supported fields
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

fix typo
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

fix: PR comments
  wandb/apis/public/api.py
  wandb/sdk/internal/internal_api.py
Due: none

fix: PR comments
  wandb/apis/public/api.py
Due: none

change watch interval to 1 sec
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

fix internal use_artifact calls
  tests/system_tests/test_artifacts/test_wandb_run_artifacts.py
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/wandb_run.py
Due: go-generate-proto

remove merge conflict markers from changelog
  CHANGELOG.unreleased.md
Due: none

remove released changes from changelog
  CHANGELOG.unreleased.md
Due: none

chore: clean up docstrings for consistency with PR comments
  wandb/apis/public/api.py
Due: none

make it on-demand
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

do not make it on-demand
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

lint
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

fix exec runner
  cmd/ctrlc/root/run/exec/exec.go
  cmd/ctrlc/root/run/exec/runner.go
  cmd/ctrlc/root/run/run.go
  pkg/jobagent/runner.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: docstring edit per PR comments
  wandb/apis/public/api.py
Due: none

improve docs
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

chore: update video documentation (#9790)
  BREAKING.md
  wandb/sdk/data_types/video.py
Due: none

make DcgmLib::drop safer
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

wrap body of field_value_callback in std::panic::catch_unwind
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

chore: timeboxed artifact.py cleanup
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/add_aliases.py
  wandb/sdk/artifacts/_generated/delete_aliases.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/update_artifact.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql
