Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

fix changelog format
  CHANGELOG.unreleased.md
Due: none

[create-pull-request] automated change
  requirements/requirements_dev.3.10.darwin.txt
  requirements/requirements_dev.3.10.linux.txt
  requirements/requirements_dev.3.10.windows.txt
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
Due: none

chore(sdk): rename sweep_scheduler test to launch_scheduler
  tests/system_tests/test_sweep/test_launch_scheduler.py
Due: none

chore(sdk): rename sweep_scheduler test to launch_scheduler (#12354)
  tests/system_tests/test_sweep/test_launch_scheduler.py
Due: none

feat(sweeps): create sweep_scheduler package with ask-tell Optimizer and wandb reference optimizer
  requirements/requirements_dev.3.10.darwin.txt
  requirements/requirements_dev.3.10.linux.txt
  requirements/requirements_dev.3.10.windows.txt
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
  requirements/requirements_dev.txt
  requirements/requirements_test.txt
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweep_scheduler/__init__.py
  wandb/sdk/sweep_scheduler/optimizer.py
  wandb/sdk/sweep_scheduler/wandb.py
Due: none

refactor(sweeps): move scheduler package under wandb.sdk.sweeps
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/launch/sweeps/scheduler.py
  wandb/sdk/sweeps/__init__.py
  wandb/sdk/sweeps/run_state.py
  wandb/sdk/sweeps/scheduler/__init__.py
  wandb/sdk/sweeps/scheduler/optimizer.py
  wandb/sdk/sweeps/scheduler/wandb.py
Due: none

fix(sdk): do not retry on 409 for upsertBucket
  core/internal/clients/retry_policy.go
  core/internal/clients/retry_policy_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): report failed check instead of crashing in wandb verify
  CHANGELOG.unreleased.md
  tests/unit_tests/test_wandb_verify.py
  wandb/sdk/verify/verify.py
Due: none

fix(sdk): report failed check instead of crashing in wandb verify (#12360)
  CHANGELOG.unreleased.md
  tests/unit_tests/test_wandb_verify.py
  wandb/sdk/verify/verify.py
Due: none

fix(sweeps): make sweeps agent support saving json output to custom `WANDB_DIR` (#12344)
  CHANGELOG.unreleased.md
  tests/unit_tests/test_wandb_agent/test_cli_agent.py
  wandb/wandb_agent.py
Due: none

chore: add generated request id for filestream requests
  core/internal/apitest/apitest.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/filestreamimpl_test.go
Due: go-wire, go-unit-tests, go-build

sdk team comments
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/_utils.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/registries/registry.py
  wandb/sdk/artifacts/_models/artifact_collection.py
  wandb/sdk/artifacts/_models/registry.py
Due: none

lint
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
Due: none

remove cache clear
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
Due: none

move decode to a try
  wandb/apis/public/registries/_utils.py
Due: none

fix log capture in tests
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
Due: none

fix: preserve selected parquet history fields
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
  parquet-rust-wrapper/src/lib.rs
  parquet-rust-wrapper/tests/lib_tests.rs
Due: go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

test: cover parquet selection edge cases
  core/internal/runhistoryreader/reader_test.go
Due: go-wire, go-unit-tests, go-build

update otel
  core/internal/analytics/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

chore: update xpu rust deps
  xpu/Cargo.lock
  xpu/Cargo.toml
  xpu/src/analytics.rs
Due: none

fix: normalize parquet history steps
  core/internal/runhistoryreader/parquet/ffi/rustarrowreader.go
  core/internal/runhistoryreader/parquet/ffi/rustarrowreader_integration_test.go
  parquet-rust-wrapper/src/lib.rs
  parquet-rust-wrapper/tests/lib_tests.rs
Due: go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

chore: update pq rust deps
  parquet-rust-wrapper/Cargo.lock
  parquet-rust-wrapper/Cargo.toml
Due: none

chore: update xpu and pq wrapper rust deps (#12365)
  parquet-rust-wrapper/Cargo.lock
  parquet-rust-wrapper/Cargo.toml
  xpu/Cargo.lock
  xpu/Cargo.toml
  xpu/src/analytics.rs
Due: none

chore(sdk): add support for xxhash64 in hashutil library
  pyproject.toml
  tests/unit_tests/test_lib/test_hashutil.py
  wandb/sdk/lib/hashutil.py
Due: none

use only HexDigest and B64Digest, update callers
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/artifacts/storage_handlers/local_file_handler.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/hashutil.py
Due: none

change xxh64 -> xxh128
  tests/unit_tests/test_lib/test_hashutil.py
  wandb/sdk/lib/hashutil.py
Due: none

minor style fix
  wandb/sdk/lib/hashutil.py
Due: none

restore comments in _file_hasher helper
  wandb/sdk/lib/hashutil.py
Due: none

add server flag stub for test
  tests/unit_tests/test_public_api/test_public_api.py
Due: none

fix mypy type failure
  wandb/sdk/artifacts/artifact.py
Due: none

move digestAlgorithm to ArtifactFragment
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_by_id.py
  wandb/sdk/artifacts/_generated/artifact_membership_by_name.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

update python gql schema + add digest algorithm to artifact queries and populate
  core/api/graphql/schemas/commit.hash.txt
  core/internal/gql/gql_gen.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_by_id.py
  wandb/sdk/artifacts/_generated/artifact_membership_by_name.py
  wandb/sdk/artifacts/_generated/enums.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

fix server_supports unit test to use feature_enabled
  tests/unit_tests/test_public_api/test_public_api.py
Due: none

add server feature flag for artifact digest algorithm
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

update commit hash to production commit
  core/api/graphql/schemas/commit.hash.txt
Due: none

update xxh64 -> xxh128
  tests/unit_tests/test_artifacts/test_storage.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_digest_algorithm.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
Due: none

add more xxhash digest tests
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
Due: none

check type in entry.digest_algorithm
  wandb/sdk/artifacts/artifact_manifest_entry.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
