Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

string consolidation
  wandb/sdk/launch/utils.py
Due: none

comment out CodePathLocal
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): add parallel benchmark (#6209)
  nexus/cmd/benchmark/main.go
  nexus/cmd/examples/embed/main.go
  nexus/lang/core/wandbcore.go
  nexus/pkg/gowandb/gowandb.go
  nexus/pkg/gowandb/initrun.go
  nexus/pkg/gowandb/manager.go
  nexus/pkg/gowandb/opts/runopts/runopts.go
  nexus/pkg/gowandb/opts/session/opts.go
  nexus/pkg/gowandb/opts/sessionopts/sessionopts.go
  nexus/pkg/gowandb/session.go
  nexus/pkg/gowandb/settings/settings.go
  nexus/pkg/server/stream_mux.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(launch): forbid enqueing docker images without target project (#6248)
  wandb/cli/cli.py
  wandb/sdk/launch/utils.py
Due: none

add remaining metadata
  nexus/pkg/server/handler.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  wandb/sdk/wandb_settings.py
Due: none

uncomment
  wandb/sdk/wandb_init.py
Due: none

auto gen
  wandb/sdk/lib/_settings_toposort_generated.py
Due: none

dont forbid waiting on container jobs
  wandb/apis/public.py
Due: none

initial test version
  tests/release_tests/test_launch/test_vertex.py
Due: none

simplified test
  tests/release_tests/test_launch/test_vertex.py
Due: none

docs(sdk): fixes a broken link in Image docs.
  wandb/sdk/data_types/image.py
Due: none

fix lint + don't pass emty git
  nexus/pkg/server/handler.go
  wandb/sdk/internal/system/system_info.py
  wandb/sdk/wandb_settings.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(launch): dont forbid waiting on container jobs (#6250)
  wandb/apis/public.py
Due: none

adding note to readme
  tests/release_tests/test_launch/README.md
Due: none

feat(nexus): add support for code saving in script mode (#6243)
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/handler.go
  nexus/pkg/server/util.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/proto/wandb_settings.proto
  wandb/sdk/internal/system/system_info.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

minor clean up
  nexus/pkg/server/connection.go
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test
  wandb/apis/importers/wandb.py
  wandb/sdk/internal/sender.py
Due: none

test
  wandb/apis/internal.py
  wandb/sdk/internal/internal_api.py
Due: none

chore(nexus): minor clean up (#6254)
  nexus/pkg/server/connection.go
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix proto
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.py
Due: none

update
  nexus/pkg/service/wandb_server.pb.go
  wandb/sdk/lib/redirect.py
  wandb/sdk/wandb_manager.py
  wandb/sdk/wandb_run.py
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

Convert ObjectSummary objects to Object to get the version_id
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
Due: none

Update S3 mock to return s3.ObjectSummary from path requests
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts.py
Due: none

update
  wandb/sdk/wandb_manager.py
  wandb/sdk/wandb_run.py
Due: none

update
  wandb/sdk/wandb_run.py
Due: none

init commit adding a dir watcher
  nexus/go.mod
  nexus/go.sum
  nexus/internal/watcher/watcher.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix errors
  wandb/sdk/wandb_manager.py
Due: none

wip
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

wip
  tests/pytest_tests/system_tests/test_launch/test_launch_kubernetes.py
Due: none

docs(sdk): fixes a broken link in Image docs. (#6252)
  wandb/sdk/data_types/image.py
Due: none

fix(nexus): ensure api_key is properly passed through settings
  nexus/pkg/server/sender.go
  wandb/sdk/internal/internal_api.py
  wandb/sdk/wandb_init.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  nexus/pkg/server/sender.go
  wandb/sdk/internal/internal_api.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  wandb/sdk/service/server_sock.py
  wandb/sdk/service/streams.py
  wandb/sdk/wandb_manager.py
Due: none

adding fixes to imports and docstrings cauth by circleci
  tests/pytest_tests/unit_tests/test_sagemaker_config_parse.py
  wandb/integration/sagemaker/config.py
Due: none

adding fixes unit test circle ci fails
  tests/pytest_tests/unit_tests/test_sagemaker_config_parse.py
  wandb/integration/sagemaker/config.py
Due: none

fix mypy
  wandb/sdk/service/streams.py
  wandb/sdk/wandb_manager.py
Due: none

adding fixes to wandb/integration/sagemaker/config.py circle ci fails
  wandb/integration/sagemaker/config.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$
