Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

update file grabbing logic to be more broad
  noxfile.py
Due: none

update find command
  .circleci/config.yml
  noxfile.py
  tests/unit_tests/test_wandb_config.py
Due: none

fix: let that sync in
  core/pkg/service_go_proto/wandb_server.pb.go
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/wandb_server.proto
Due: go-generate-proto

change file grabber to ignore pyc files
  noxfile.py
Due: none

fix: let that sync in
  core/pkg/server/connection.go
  gpu_stats/src/wandb_internal.rs
  wandb/cli/beta.py
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/lib/service_connection.py
  wandb/sdk/lib/sock_client.py
  wandb/sdk/wandb_sync.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: let that sync in
  core/pkg/service_go_proto/wandb_telemetry.pb.go
  wandb/sdk/wandb_sync.py
Due: none

tmp: remove other tests to debug functional tests
  .circleci/config.yml
Due: none

add disable_transaction_log setting
  core/internal/stream/stream.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use the setting at stream init
  core/internal/stream/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

tmp: add separate command for functional test
  .circleci/config.yml
Due: none

chore: change ci configuration to use test splitting provided by CircleCI. Allowing us to retry only failed test files, and split by test timings.
  .circleci/config.yml
  noxfile.py
Due: none

fs processing
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/pkg/server/connection.go
  wandb/cli/beta.py
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_sync.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/stream/sender.go
  core/pkg/server/connection.go
  wandb/sdk/wandb_sync.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  wandb/errors/term.py
Due: none

refactor(sdk): use try-finally in dynamic_text (#8695)
  wandb/errors/term.py
Due: none

upload files
  core/internal/runfiles/uploader.go
  core/internal/settings/settings.go
  core/internal/stream/sender.go
  core/internal/stream/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add common function for getting test files.
  noxfile.py
Due: none

[𝘀𝗽𝗿] initial version
  tests/release_tests/test_launch/conftest.py
Due: none

overwrites
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_server.pb.go
  wandb/cli/beta.py
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/wandb_server.proto
  wandb/sdk/lib/service_connection.py
  wandb/sdk/wandb_sync.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  core/internal/runfiles/uploader.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/pkg/monitor/tpu_test.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  wandb/cli/beta.py
Due: none

clean up
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

also replace pytest_generate_tests by fixtures
  tests/release_tests/test_launch/conftest.py
Due: none

[𝘀𝗽𝗿] initial version
  requirements_test.txt
  tests/system_tests/conftest.py
  tests/system_tests/wandb_backend_spy/__init__.py
  tests/system_tests/wandb_backend_spy/proxy.py
  tests/system_tests/wandb_backend_spy/spy.py
Due: none

[𝘀𝗽𝗿] changes to main this commit is based on
  requirements_test.txt
  tests/system_tests/conftest.py
  tests/system_tests/wandb_backend_spy/__init__.py
  tests/system_tests/wandb_backend_spy/proxy.py
  tests/system_tests/wandb_backend_spy/spy.py
Due: none

[𝘀𝗽𝗿] initial version
  tests/release_tests/test_launch/README.md
  tests/release_tests/test_launch/conftest.py
  tests/release_tests/test_launch/launch-agent-patch.yaml
  tests/release_tests/test_launch/launch-config-patch.yaml
  tests/release_tests/test_launch/local-agent-config.yml
  tests/release_tests/test_launch/test_docker.py
  tests/release_tests/test_launch/test_kubernetes.py
  tests/release_tests/test_launch/utils.py
Due: none

also remove from noxfile
  noxfile.py
Due: none

clean up
  core/internal/stream/handler.go
  core/internal/stream/headfoot.go
  core/internal/stream/stream.go
  core/pkg/server/connection.go
  wandb/cli/beta.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/lib/service_connection.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_sync.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix numpy requirement in requirements_test.txt
  requirements_test.txt
Due: none

[𝘀𝗽𝗿] changes introduced through rebase
  requirements_test.txt
Due: none

get run info from sender
  core/internal/stream/sender.go
  core/internal/stream/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix numpy version; tensorflow doesn't like numpy 2
  requirements_test.txt
Due: none

delete test that wasn't useful
  tests/system_tests/test_core/test_metric_full.py
Due: none

address comments
  .circleci/config.yml
Due: none

fix(artifacts): cap azure reference artifact files at `max_objects`
  wandb/sdk/artifacts/storage_handlers/azure_handler.py
Due: none

add changelog
  CHANGELOG.md
Due: none

undo other changelog changes
  CHANGELOG.md
Due: none

chore: change ci configuration to use test splitting provided by CircleCI. (#8693)
  .circleci/config.yml
  noxfile.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
