Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

fix resume=never test case
  core/internal/runupserter/runupserter_test.go
Due: go-wire, go-unit-tests, go-build

refactor history auto-step logic into HistoryStepTracker
  core/internal/stream/historystep.go
  core/internal/stream/historystep_test.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build

fix format
  core/internal/runbranch/state_test.go
  core/internal/stream/historystep.go
Due: go-wire, go-unit-tests, go-build

fix multi-launch test
  tests/system_tests/test_launch/test_launch.py
Due: none

clarify comment
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

clarify comments; remove parameter that always has the same value
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/stream/historystep.go
  core/internal/stream/sender.go
  wandb/sync/sync.py
Due: go-wire, go-unit-tests, go-build

improve test coverage and refactor tests for readability
  core/internal/runupserter/runupserter_test.go
  core/internal/runupsertertest/runupsertertest.go
Due: go-wire, go-unit-tests, go-build

clarify test names
  core/internal/runupserter/runupserter_test.go
Due: go-wire, go-unit-tests, go-build

simplify flushPartialHistory
  core/internal/stream/handler.go
  wandb/sdk/wandb_settings.py
Due: go-wire, go-unit-tests, go-build

fix(sdk): fix resume tests when "never" specified and run exists
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

minor fixes for golden compat logs
  core/internal/transactionlogtest/golden_test.go
  tests/assets/compat_logs/README.md
  tests/assets/compat_logs/offline-run-new_auto_steps/run-new_auto_steps.wandb
  tests/assets/compat_logs/offline-run-new_explicit_steps/run-new_explicit_steps.wandb
  tests/assets/compat_logs/offline-run-new_resume_mode/run-new_resume_mode.wandb
  tests/assets/compat_logs/offline-run-new_shared_mode/run-new_shared_mode.wandb
  tests/assets/compat_logs/offline-run-old_auto_steps/run-old_auto_steps.wandb
  tests/assets/compat_logs/offline-run-old_auto_steps_flat_keys/run-old_auto_steps_flat_keys.wandb
  tests/assets/compat_logs/offline-run-old_explicit_steps/run-old_explicit_steps.wandb
  tests/assets/compat_logs/offline-run-old_resumed_run/run-old_resumed_run.wandb
  tests/assets/compat_logs/offline-run-old_shared_mode/run-old_shared_mode.wandb
Due: go-wire, go-unit-tests, go-build

chore: simplify LLM comments; remove unused code; regenerate golden files
  core/internal/transactionlogtest/golden.go
  core/internal/transactionlogtest/golden_test.go
  tests/assets/compat_logs/offline-run-new_auto_steps/run-new_auto_steps.wandb
  tests/assets/compat_logs/offline-run-new_explicit_steps/run-new_explicit_steps.wandb
  tests/assets/compat_logs/offline-run-new_resume_mode/run-new_resume_mode.wandb
  tests/assets/compat_logs/offline-run-new_shared_mode/run-new_shared_mode.wandb
  tests/assets/compat_logs/offline-run-old_shared_mode/run-old_shared_mode.wandb
Due: go-wire, go-unit-tests, go-build

test(core): add committed golden-log corpus for transaction-log compat tests
  core/internal/transactionlogtest/golden.go
  core/internal/transactionlogtest/golden_test.go
  tests/assets/compat_logs/README.md
  tests/assets/compat_logs/offline-run-new_auto_steps/run-new_auto_steps.wandb
  tests/assets/compat_logs/offline-run-new_explicit_steps/run-new_explicit_steps.wandb
  tests/assets/compat_logs/offline-run-new_resume_mode/run-new_resume_mode.wandb
  tests/assets/compat_logs/offline-run-new_shared_mode/run-new_shared_mode.wandb
  tests/assets/compat_logs/offline-run-old_auto_steps/run-old_auto_steps.wandb
  tests/assets/compat_logs/offline-run-old_auto_steps_flat_keys/run-old_auto_steps_flat_keys.wandb
  tests/assets/compat_logs/offline-run-old_bad_step_types/run-old_bad_step_types.wandb
  tests/assets/compat_logs/offline-run-old_explicit_steps/run-old_explicit_steps.wandb
  tests/assets/compat_logs/offline-run-old_no_history/run-old_no_history.wandb
  tests/assets/compat_logs/offline-run-old_resumed_run/run-old_resumed_run.wandb
  tests/assets/compat_logs/offline-run-old_shared_mode/run-old_shared_mode.wandb
  tests/assets/compat_logs/provenance/README.md
  tests/conftest.py
  tests/system_tests/test_core/test_cli_full.py
Due: go-wire, go-unit-tests, go-build

fix: add mailbox slot to golden logs
  core/internal/transactionlogtest/golden_test.go
  tests/assets/compat_logs/offline-run-new_auto_steps/run-new_auto_steps.wandb
  tests/assets/compat_logs/offline-run-new_explicit_steps/run-new_explicit_steps.wandb
  tests/assets/compat_logs/offline-run-new_resume_mode/run-new_resume_mode.wandb
  tests/assets/compat_logs/offline-run-new_shared_mode/run-new_shared_mode.wandb
  tests/assets/compat_logs/offline-run-old_auto_steps/run-old_auto_steps.wandb
  tests/assets/compat_logs/offline-run-old_auto_steps_flat_keys/run-old_auto_steps_flat_keys.wandb
  tests/assets/compat_logs/offline-run-old_bad_step_types/run-old_bad_step_types.wandb
  tests/assets/compat_logs/offline-run-old_explicit_steps/run-old_explicit_steps.wandb
  tests/assets/compat_logs/offline-run-old_no_history/run-old_no_history.wandb
  tests/assets/compat_logs/offline-run-old_resumed_run/run-old_resumed_run.wandb
  tests/assets/compat_logs/offline-run-old_shared_mode/run-old_shared_mode.wandb
Due: go-wire, go-unit-tests, go-build

add contact support message to basic search error
  wandb/apis/public/registries/registries_search.py
Due: none

fix(core): gate SDK telemetry on server support
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_internal_test.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/analyticstest/opentelemetryproxy.go
  core/internal/featurechecker/features_test.go
  core/internal/observability/logging_test.go
  core/internal/runsync/runsyncoperation.go
  core/internal/stream/stream.go
  core/internal/stream/streamlogger.go
  core/internal/wbapi/opentelemetryhandler.go
  core/internal/wbapi/wbapi.go
  core/internal/wbapi/wbapi_test.go
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto, go-wire, go-unit-tests, go-build

fix: resume_mode -> resume
  core/internal/transactionlogtest/golden_test.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): refactor golden logs; add script for generating golden log fixtures
  core/internal/transactionlogtest/golden.go
  core/internal/transactionlogtest/golden_test.go
  tests/assets/compat_logs/README.md
  tests/assets/compat_logs/provenance/README.md
  tests/assets/compat_logs/synthesized/offline-run-new_auto_steps/run-new_auto_steps.wandb
  tests/assets/compat_logs/synthesized/offline-run-new_explicit_steps/run-new_explicit_steps.wandb
  tests/assets/compat_logs/synthesized/offline-run-new_resume_mode/run-new_resume_mode.wandb
  tests/assets/compat_logs/synthesized/offline-run-new_shared_mode/run-new_shared_mode.wandb
  tests/assets/compat_logs/synthesized/offline-run-old_auto_steps/run-old_auto_steps.wandb
  tests/assets/compat_logs/synthesized/offline-run-old_auto_steps_flat_keys/run-old_auto_steps_flat_keys.wandb
  tests/assets/compat_logs/synthesized/offline-run-old_bad_step_types/run-old_bad_step_types.wandb
  tests/assets/compat_logs/synthesized/offline-run-old_explicit_steps/run-old_explicit_steps.wandb
  tests/assets/compat_logs/synthesized/offline-run-old_no_history/run-old_no_history.wandb
  tests/assets/compat_logs/synthesized/offline-run-old_resumed_run/run-old_resumed_run.wandb
  tests/assets/compat_logs/synthesized/offline-run-old_shared_mode/run-old_shared_mode.wandb
  tests/conftest.py
  tools/capture_compat_log.py
  tools/compat_log_capture_scripts/offline_basic.py
Due: go-wire, go-unit-tests, go-build

add warning on --force
  tests/assets/compat_logs/README.md
  tools/capture_compat_log.py
Due: none

remove verbose comment
  core/internal/transactionlogtest/golden_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): store shared mode in RunRecord so that it shared mode is handled correctly in sync
  CHANGELOG.unreleased.md
  core/internal/runbranch/state.go
  core/internal/runbranch/state_test.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/internal/stream/historystep_test.go
  core/internal/transactionlogtest/golden_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  tests/assets/compat_logs/synthesized/offline-run-new_shared_mode/run-new_shared_mode.wandb
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  xpu/src/wandb_internal.rs
Due: go-generate-proto, go-wire, go-unit-tests, go-build

fix(sdk): renumber unparsable step values instead of adding a duplicate step entry
  core/internal/stream/historystep_test.go
Due: go-wire, go-unit-tests, go-build

chore: clean up comments; remove unneeded tests; move some unit tests to system tests
  core/internal/filestream/updatehistory_compat_test.go
  core/internal/stream/export_test.go
  core/internal/stream/golden_sync_compat_test.go
  tests/fixtures/wandb_backend_spy/resume_stubs.py
  tests/system_tests/test_core/test_compat_log_sync.py
  tests/system_tests/test_core/test_offline_sync.py
Due: go-wire, go-unit-tests, go-build

add txn log compat tests + remove unnecessary test
  core/internal/leet/golden_compat_test.go
  core/internal/stream/export_test.go
  core/internal/stream/golden_sync_compat_test.go
  core/internal/transactionlogtest/fixtures_open_test.go
  tests/system_tests/test_core/test_compat_log_sync.py
Due: go-wire, go-unit-tests, go-build

add history txn log compatibility tests
  core/internal/filestream/updatehistory_compat_test.go
  core/internal/stream/handler_format_test.go
  core/internal/transactionlog/version_test.go
  core/internal/transactionlogtest/fixtures_open_test.go
Due: go-wire, go-unit-tests, go-build

chore: update change log for bumped wandb file version
  CHANGELOG.unreleased.md
Due: none

fix(sdk): bump wandbStoreVersion to 1; update tests
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog.go
  core/internal/transactionlog/writer.go
  core/internal/transactionlogtest/golden_test.go
  core/pkg/leveldb/record.go
Due: go-wire, go-unit-tests, go-build

wandb tensorboard log
  CHANGELOG.unreleased.md
  core/pkg/service_go_proto/wandb_telemetry.pb.go
  tests/system_tests/test_functional/test_tensorboard/test_wandb_tb_log.py
  wandb/integration/tensorboard/__init__.py
  wandb/integration/tensorboard/log.py
  wandb/integration/tensorflow/__init__.py
  wandb/proto/wandb_telemetry.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

chore: remove wandb.tensorboard.log() (#12423)
  CHANGELOG.unreleased.md
  core/pkg/service_go_proto/wandb_telemetry.pb.go
  tests/system_tests/test_functional/test_tensorboard/test_wandb_tb_log.py
  wandb/integration/tensorboard/__init__.py
  wandb/integration/tensorboard/log.py
  wandb/integration/tensorflow/__init__.py
  wandb/proto/wandb_telemetry.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

chore: simplify handler log writer tests
  core/internal/stream/handler_format_test.go
Due: go-wire, go-unit-tests, go-build

fix(leet): show the status bar on the help screen
  core/internal/leet/help.go
Due: go-wire, go-unit-tests, go-build

fix(leet): show the status bar on the help screen (#12496)
  core/internal/leet/help.go
Due: go-wire, go-unit-tests, go-build

fix(leet): run-dir scan fixes
  core/internal/leet/workspacedirwatcher.go
Due: go-wire, go-unit-tests, go-build

fix(leet): run-dir scan fixes (#12497)
  core/internal/leet/workspacedirwatcher.go
Due: go-wire, go-unit-tests, go-build

fix(leet): mark workspace runs failed when reads error
  core/internal/leet/messages.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

chore: update go to 1.27.0
  .circleci/config.yml
  CONTRIBUTING.md
  core/go.mod
Due: none

fix(leet): mark workspace runs failed when reads error (#12498)
  core/internal/leet/messages.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

feat(leet): align exit-code run states with the server
  core/internal/leet/runhandlers.go
  core/internal/leet/runoverview.go
  core/internal/leet/runstatecrash_test.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

rm useless test
  core/internal/leet/runstatecrash_test.go
Due: go-wire, go-unit-tests, go-build

feat(leet): align exit-code run states with the server (#12499)
  core/internal/leet/runhandlers.go
  core/internal/leet/runoverview.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
