Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

share telemetry recorders based on url + credentials
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/__init__.py
  wandb/analytics/opentelemetry/__init__.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/cli/beta.py
  wandb/cli/beta_core.py
  wandb/cli/cli.py
  wandb/cli/leet.py
  wandb/sdk/wandb_init.py
Due: none

fix deadlock on service startup failures, and cleanup issues
  core/internal/wbapi/wbapimanager.go
  core/pkg/server/connection.go
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/sdk/wandb_setup.py
Due: go-wire, go-unit-tests, go-build

close all api instances on shutdown of connection
  core/internal/wbapi/wbapimanager.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

remove unused env var for telemetry endpoint
  wandb/env.py
Due: none

do not block on shutdown
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

refactor telemetry recorder to swallow any exception with a guard decorator
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
Due: none

test(sdk): system test for resumed runs keeping console output
  tests/system_tests/test_core/test_resume.py
Due: none

fix: 08-07-resume-keep-console-and-metrics-offsets
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

add a test
  core/internal/runupserter/runupserter_test.go
Due: go-wire, go-unit-tests, go-build

unwrap url error
  core/go.mod
  core/internal/httplayers/roundtripper.go
  core/internal/httplayers/roundtripper_test.go
Due: go-wire, go-unit-tests, go-build

default internal api to use created service api if one is not present
  wandb/sdk/internal/internal_api.py
Due: none

address telemetry calls were blocking
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/lib/service/service_connection.py
Due: none

remove unreachable/deadlocking otel records
  wandb/cli/beta.py
  wandb/cli/beta_core.py
  wandb/cli/leet.py
  wandb/filesync/upload_job.py
  wandb/sdk/lib/service/service_process.py
Due: none

remove dead code
  wandb/sdk/lib/wbauth/authenticate.py
Due: none

chore: avoid double url.Error when using httplayers.WrapRoundTripper (#12422)
  core/go.mod
  core/internal/httplayers/roundtripper.go
  core/internal/httplayers/roundtripper_test.go
Due: go-wire, go-unit-tests, go-build

fix: resume keeps console and system metrics filestream offsets (#12421)
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
Due: go-wire, go-unit-tests, go-build

fix: clear the identity token file from wandb-core settings when an API key wins
  CHANGELOG.unreleased.md
  tests/unit_tests/test_internal_api.py
  wandb/sdk/internal/internal_api.py
Due: none

fix(sdk): authenticate with your API key when an identity token file is also set
  tests/unit_tests/test_internal_api.py
  wandb/sdk/internal/internal_api.py
Due: none

refactor: order credential resolution by precedence
  tests/unit_tests/test_internal_api.py
  wandb/sdk/internal/internal_api.py
Due: none

chore: drop the changelog entry, the regression is unreleased
  CHANGELOG.unreleased.md
Due: none

fix correctness in wandb_init for telemetry recording
  wandb/sdk/wandb_init.py
Due: none

fix: authenticate with API key when an identity token file is also set (#12376)
  tests/unit_tests/test_internal_api.py
  wandb/sdk/internal/internal_api.py
Due: none

wandb tensorboard log
  CHANGELOG.unreleased.md
  wandb/integration/tensorboard/__init__.py
  wandb/integration/tensorboard/log.py
  wandb/integration/tensorflow/__init__.py
Due: none

fix(sdk): sync runs that changed their name, tags, or notes
  CHANGELOG.unreleased.md
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): stop wandb clean from deleting runs newer than the age limit
  CHANGELOG.unreleased.md
  tests/unit_tests/test_wandb_clean.py
  wandb/cli/clean.py
Due: none

it's unreleased yet
  CHANGELOG.unreleased.md
Due: none

update test_syncs_run
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: none

do notadd an unrelated test
  tests/unit_tests/test_wandb_clean.py
Due: none

Simplify the later-Run-records test
  core/internal/runsync/runreader_test.go
Due: go-wire, go-unit-tests, go-build

pre-commit fixes
  core/internal/wbapi/wbapi.go
  tests/unit_tests/test_cli_leet.py
  wandb/cli/beta_core.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/lib/service/service_process.py
  wandb/sdk/lib/wbauth/__init__.py
Due: go-wire, go-unit-tests, go-build

fix: sync runs that changed their name, tags, or notes (#12424)
  CHANGELOG.unreleased.md
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: go-wire, go-unit-tests, go-build

server authenticate request
  core/pkg/server/connection.go
  core/pkg/server/connection_authenticate_test.go
  core/pkg/service_go_proto/wandb_server.pb.go
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/v6/wandb_server_pb2.py
  wandb/proto/v6/wandb_server_pb2.pyi
  wandb/proto/v7/wandb_server_pb2.py
  wandb/proto/v7/wandb_server_pb2.pyi
  wandb/proto/wandb_server.proto
Due: go-generate-proto, go-wire, go-unit-tests, go-build

fix(registries): restrict values of order pagination arg (#12101)
  CHANGELOG.unreleased.md
  tests/unit_tests/test_automations/test_actions.py
  tests/unit_tests/test_filters/_strategies.py
  tests/unit_tests/test_filters/test_filters.py
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
  tests/unit_tests/test_registries/test_utils.py
  wandb/_filters/__init__.py
  wandb/_filters/expressions.py
  wandb/_pydantic/__init__.py
  wandb/_pydantic/pagination.py
  wandb/_pydantic/utils.py
  wandb/_strutils.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/_utils.py
  wandb/apis/public/registries/registries_search.py
  wandb/automations/_validators.py
  wandb/automations/actions.py
  wandb/sdk/artifacts/_validators.py
Due: none

fix(sdk): do not write syncstate until last step verified (during sync)
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: go-wire, go-unit-tests, go-build

api newclient
  core/internal/analytics/opentelemetryproxy.go
  core/internal/api/api.go
  core/internal/api/api_test.go
  core/internal/api/gql_client.go
  core/internal/httplayers/httplayers.go
  core/internal/leet/parquethistorysource.go
  core/internal/runhistoryreader/reader_test.go
  core/internal/settings/settings.go
  core/internal/stream/stream_init.go
  core/internal/wbapi/wbapi.go
  core/pkg/artifacts/downloader.go
  core/pkg/artifacts/downloader_test.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

remove interface tests and add additional system tests to cover the cases
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/unit_tests/test_interface_run_record.py
Due: none

remove legacy sync unit test and add system test instead
  tests/system_tests/test_core/test_offline_sync.py
  tests/unit_tests/test_legacy_sync.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
