Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

fix(sdk): read projected history with nested columns
  CHANGELOG.unreleased.md
  parquet-rust-wrapper/src/lib.rs
  parquet-rust-wrapper/tests/lib_tests.rs
Due: rust-unit-tests, rust-build

update changelog
  CHANGELOG.unreleased.md
Due: none

fix(leet): show chart name in status bar when tabbing into a pane
  core/internal/leet/run_update_test.go
  core/internal/leet/runfocus.go
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

chore: probe for opentelemetry proxy api prior to telemetry startup (#12460)
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/analyticstest/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

refactor: don't read mailbox_slot in runupdatework (#12514)
  core/internal/runupserter/runupdatework.go
Due: go-wire, go-unit-tests, go-build

feat(leet): show run state in the status bar (#12501)
  core/internal/leet/liveindicator.go
  core/internal/leet/messages.go
  core/internal/leet/run.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/styles.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

refactor: simplify wrap_ansi (#12515)
  wandb/errors/ansi.py
Due: none

chore: refactor system tests to unit tests
  tests/system_tests/test_core/test_offline_sync.py
  tests/unit_tests/test_sync_shared.py
Due: none

format
  tests/fixtures/shared_run_log.py
  wandb/sync/sync.py
Due: none

feat: reject syncing a shared mode run; add cli option to override this behavior
  CHANGELOG.unreleased.md
  core/internal/runbranch/state.go
  core/internal/runbranch/state_test.go
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/sharedsync.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  tests/fixtures/shared_run_log.py
  tests/system_tests/test_core/test_offline_sync.py
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/cli/cli.py
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_sync_pb2.py
  wandb/proto/v7/wandb_sync_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/proto/wandb_sync.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/lib/service/service_connection.py
  wandb/sync/sync.py
  xpu/src/wandb_internal.rs
Due: go-generate-proto, go-wire, go-unit-tests, go-build

chore: update docs -- sync rejects shared mode logs
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/cli/cli.py
  wandb/sdk/wandb_init.py
Due: none

fix(leet): keep watching runs with no flushed data yet (#12517)
  core/internal/leet/runhandlers.go
  core/internal/leet/runoverview.go
  core/internal/leet/testhelpers.go
  core/internal/leet/workspace_test.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

feat(leet): breathe live run marks in the runs list (#12502)
  core/internal/leet/liveindicator.go
  core/internal/leet/styles.go
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

fix(artifacts): validate path when using run file api to download (#12516)
  CHANGELOG.unreleased.md
  tests/unit_tests/test_artifacts/test_validators.py
  wandb/apis/public/files.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/lib/paths.py
Due: none

reduce unneeded test fixture
  parquet-rust-wrapper/tests/lib_tests.rs
Due: rust-unit-tests, rust-build

feat(leet): delete runs from workspace with typed confirmation
  CHANGELOG.unreleased.md
  core/internal/leet/deleterunmodal.go
  core/internal/leet/deleterunmodal_test.go
  core/internal/leet/keybindings.go
  core/internal/leet/messages.go
  core/internal/leet/model.go
  core/internal/leet/styles.go
  core/internal/leet/testhelpers.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

chore: regenerate stubs
  wandb/__init__.pyi
Due: none

fix(leet): show chart name in status bar when tabbing into a pane (#12566)
  core/internal/leet/run_update_test.go
  core/internal/leet/runfocus.go
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

fix(leet): keep run overview sections within their allocated rows
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebar_test.go
  core/internal/leet/runoverviewsidebarnav.go
Due: go-wire, go-unit-tests, go-build

refactor(leet): express default section weights as shares of the area
  core/internal/leet/runoverviewsidebarnav.go
Due: go-wire, go-unit-tests, go-build

docs: changelog for run overview flex sections
  CHANGELOG.unreleased.md
Due: none

feat(leet): size run overview sections to fill the sidebar
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebar_test.go
  core/internal/leet/runoverviewsidebarnav.go
  core/internal/leet/runoverviewsidebarnav_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): parse listed project scopes without isRegistry
  tests/unit_tests/test_automations/test_actions.py
  tests/unit_tests/test_automations/test_scopes.py
  tools/graphql_codegen/automations/automations.graphql
  wandb/apis/public/automations.py
  wandb/automations/_generated/operations.py
  wandb/automations/_inputs.py
  wandb/automations/_validators.py
  wandb/automations/actions.py
  wandb/automations/events.py
  wandb/automations/scopes.py
Due: go-generate-graphql

fix: tests; chore: revert proto gen changes
  core/internal/runbranch/state.go
  core/internal/runupserter/runupserter.go
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_base_pb2.py
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_otel_pb2.py
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_base_pb2.py
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_otel_pb2.py
  wandb/proto/v6/wandb_otel_pb2.pyi
  wandb/proto/v6/wandb_server_pb2.py
  wandb/proto/v6/wandb_server_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_telemetry_pb2.py
  wandb/proto/v6/wandb_telemetry_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.pyi
  wandb/proto/v7/wandb_base_pb2.py
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_otel_pb2.py
  wandb/proto/v7/wandb_otel_pb2.pyi
  wandb/proto/v7/wandb_server_pb2.py
  wandb/proto/v7/wandb_server_pb2.pyi
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_settings_pb2.pyi
  wandb/proto/v7/wandb_sync_pb2.py
  wandb/proto/v7/wandb_sync_pb2.pyi
  wandb/proto/v7/wandb_telemetry_pb2.py
  wandb/proto/v7/wandb_telemetry_pb2.pyi
Due: go-wire, go-unit-tests, go-build

feat(leet): size run overview sections to fill the sidebar (#12523)
  CHANGELOG.unreleased.md
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebar_test.go
  core/internal/leet/runoverviewsidebarnav.go
  core/internal/leet/runoverviewsidebarnav_test.go
Due: go-wire, go-unit-tests, go-build

feat(leet): draw separator rules between run overview sections
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebar_test.go
Due: go-wire, go-unit-tests, go-build

refactor(leet): collapse config setter boilerplate
  core/internal/leet/config.go
Due: go-wire, go-unit-tests, go-build

feat(leet): draw separator rules between run overview sections (#12524)
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebar_test.go
Due: go-wire, go-unit-tests, go-build

fix(leet): make the config editor usable on short terminals
  CHANGELOG.unreleased.md
  core/internal/leet/configeditor.go
  core/internal/leet/configeditor_test.go
Due: go-wire, go-unit-tests, go-build

feat(leet): drag run overview separators to resize sections
  core/internal/leet/config.go
  core/internal/leet/config_test.go
  core/internal/leet/dragresize.go
  core/internal/leet/dragresize_test.go
  core/internal/leet/run.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebarnav.go
  core/internal/leet/runoverviewsidebarnav_test.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

fix(leet): re-derive run overview drag geometry from the live sidebar
  core/internal/leet/config.go
  core/internal/leet/config_test.go
  core/internal/leet/dragresize.go
  core/internal/leet/dragresize_test.go
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebarnav.go
  core/internal/leet/runoverviewsidebarnav_test.go
Due: go-wire, go-unit-tests, go-build

docs: changelog for run overview section drag
  CHANGELOG.unreleased.md
Due: none

chore(leet): add a synthetic-run perf measurement harness
  core/internal/leet/perf_measure_test.go
Due: go-wire, go-unit-tests, go-build

chore: add more tests for RunRecord.shared
  core/internal/runupserter/runupserter_test.go
  tests/fixtures/shared_run_log.py
  tests/system_tests/test_core/test_wandb_init.py
Due: go-wire, go-unit-tests, go-build

feat(leet): drag run overview separators to resize sections (#12525)
  CHANGELOG.unreleased.md
  core/internal/leet/config.go
  core/internal/leet/config_test.go
  core/internal/leet/dragresize.go
  core/internal/leet/dragresize_test.go
  core/internal/leet/run.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebarnav.go
  core/internal/leet/runoverviewsidebarnav_test.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

feat(leet): show labeled wandb dir only when run list is focused
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

feat(leet): show labeled wandb dir only when run list is focused (#12573)
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): read projected history with nested columns (#12542)
  CHANGELOG.unreleased.md
  parquet-rust-wrapper/src/lib.rs
  parquet-rust-wrapper/tests/lib_tests.rs
Due: rust-unit-tests, rust-build

fix(leet): make the config editor usable on short terminals (#12529)
  CHANGELOG.unreleased.md
  core/internal/leet/configeditor.go
  core/internal/leet/configeditor_test.go
Due: go-wire, go-unit-tests, go-build
