Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

refactor(artifacts): timeboxed cleanup - `system_tests/test_artifacts/test_misc.py` (#10920)
  tests/system_tests/test_artifacts/test_misc.py
Due: none

fix: test_are_windows_paths_on_same_drive blooper on windows
  tests/unit_tests/test_lib/test_filesystem.py
Due: none

fix: test_are_windows_paths_on_same_drive blooper on windows (#10921)
  tests/unit_tests/test_lib/test_filesystem.py
Due: none

attempt to fix tests
  tests/system_tests/test_automations/conftest.py
Due: none

fix: test_save_relative_path_glob_files blooper on windows
  tests/unit_tests/test_wandb_save.py
Due: none

attempt to fix tests again
  tests/system_tests/conftest.py
  tests/system_tests/test_automations/conftest.py
Due: none

attempt to fix tests again
  tests/system_tests/conftest.py
  tests/system_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/conftest.py
Due: none

fix(artifacts): make `Artifact` instantiation ~100-150x faster (#10819)
  CHANGELOG.unreleased.md
  wandb/sdk/artifacts/_models/storage.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_instance_cache.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/artifacts/storage_handlers/wb_local_artifact_handler.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/artifacts/storage_policy.py
  wandb/sdk/data_types/base_types/wb_value.py
  wandb/sdk/lib/runid.py
Due: none

make it work first
  core/api/graphql/schemas/commit.hash.txt
  wandb/automations/__init__.py
  wandb/automations/_filters/run_metrics.py
  wandb/automations/_generated/enums.py
  wandb/automations/events.py
Due: none

fix str
  wandb/automations/_filters/run_metrics.py
Due: none

better api?
  wandb/automations/__init__.py
  wandb/automations/_filters/run_metrics.py
  wandb/automations/events.py
Due: none

chore(launch): sanitize job name and clean up additional resources (#10908)
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

z score on metric
  wandb/automations/_filters/run_metrics.py
  wandb/automations/events.py
Due: none

fix: test_save_relative_path_glob_files blooper on windows (#10922)
  tests/unit_tests/test_wandb_save.py
Due: none

fixing
  wandb/automations/_filters/run_metrics.py
Due: none

anonymous mode
  BREAKING.md
  CHANGELOG.unreleased.md
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_artifacts/test_wandb_run_artifacts.py
  tests/system_tests/test_core/test_wandb.py
  tests/unit_tests/test_lib/test_auth_prompt.py
  tests/unit_tests/test_wandb_login.py
  wandb/__init__.pyi
  wandb/__init__.template.pyi
  wandb/apis/internal.py
  wandb/cli/cli.py
  wandb/errors/term.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/auth/__init__.py
  wandb/sdk/lib/auth/anon.py
  wandb/sdk/lib/auth/prompt.py
  wandb/sdk/lib/deprecation.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_login.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto

refactor: remove anonymous mode support (#10909)
  BREAKING.md
  CHANGELOG.unreleased.md
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_artifacts/test_wandb_run_artifacts.py
  tests/system_tests/test_core/test_wandb.py
  tests/unit_tests/test_lib/test_auth_prompt.py
  tests/unit_tests/test_wandb_login.py
  wandb/__init__.pyi
  wandb/__init__.template.pyi
  wandb/apis/internal.py
  wandb/cli/cli.py
  wandb/errors/term.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/auth/__init__.py
  wandb/sdk/lib/auth/anon.py
  wandb/sdk/lib/auth/prompt.py
  wandb/sdk/lib/deprecation.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_login.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto

minor syntax stuff
  wandb/apis/public/runs.py
  wandb/sdk/data_types/object_3d.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: none

ruff
  wandb/__init__.pyi
Due: none

first pass
  core/api/graphql/schemas/commit.hash.txt
  tests/unit_tests/test_automations/_strategies.py
  tests/unit_tests/test_automations/test_run_events.py
  wandb/automations/__init__.py
  wandb/automations/_filters/run_metrics.py
  wandb/automations/_generated/enums.py
  wandb/automations/events.py
Due: none

docs(sdk): fix docstrings mintlify (#10930)
  wandb/__init__.pyi
  wandb/apis/public/runs.py
  wandb/sdk/data_types/object_3d.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: none

fix ci
  wandb/automations/events.py
Due: none

fix tests
  tests/system_tests/test_automations/conftest.py
Due: none

fix tests
  tests/unit_tests/test_automations/conftest.py
Due: none

fix test
  wandb/automations/_filters/run_metrics.py
Due: none

clean up tests
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix partition_reader typo
  core/internal/runhistoryreader/parquet/partition_reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add wandb parallel
  core/go.mod
  core/go.sum
  core/vendor/github.com/wandb/parallel/.gitignore
  core/vendor/github.com/wandb/parallel/.golangci.yaml
  core/vendor/github.com/wandb/parallel/CODE_OF_CONDUCT.md
  core/vendor/github.com/wandb/parallel/CONTRIBUTING.md
  core/vendor/github.com/wandb/parallel/LICENSE
  core/vendor/github.com/wandb/parallel/NOTICE
  core/vendor/github.com/wandb/parallel/README.md
  core/vendor/github.com/wandb/parallel/SECURITY.md
  core/vendor/github.com/wandb/parallel/collect.go
  core/vendor/github.com/wandb/parallel/errors.go
  core/vendor/github.com/wandb/parallel/group.go
  core/vendor/modules.txt
Due: none

add parition reader
  core/internal/runhistoryreader/parquet/parition_reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix deprecated usages
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move packages
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix possible seg faults
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/row_iterator.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add row iterator
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/files/empty.parquet
  core/tests/files/history.parquet
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update tests
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add parition reader tests
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

address formatting
  core/internal/runhistoryreader/parquet/iterator/iteratortest/parquet_builder.go
  core/internal/runhistoryreader/parquet/iterator/parquet_data_iterator.go
  core/internal/runhistoryreader/parquet/iterator/parquet_data_iterator_test.go
  core/internal/runhistoryreader/parquet/iterator/parquet_data_selector.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add tests for record iterator with missing columns
  core/internal/runhistoryreader/parquet/iterator/parquet_data_selector.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
