Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$

refactor(artifacts): rename cache modules
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/pytest_tests/unit_tests/test_artifacts/conftest.py
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  tests/pytest_tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/cli/cli.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_instance_cache.py
  wandb/sdk/artifacts/storage_handlers/azure_handler.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
  wandb/sdk/artifacts/storage_handlers/http_handler.py
  wandb/sdk/artifacts/storage_handlers/local_file_handler.py
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
  wandb/sdk/artifacts/storage_handlers/wb_artifact_handler.py
  wandb/sdk/artifacts/storage_handlers/wb_local_artifact_handler.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

refactor(artifacts): rename cache modules (#6734)
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/pytest_tests/unit_tests/test_artifacts/conftest.py
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  tests/pytest_tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/cli/cli.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_instance_cache.py
  wandb/sdk/artifacts/storage_handlers/azure_handler.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
  wandb/sdk/artifacts/storage_handlers/http_handler.py
  wandb/sdk/artifacts/storage_handlers/local_file_handler.py
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
  wandb/sdk/artifacts/storage_handlers/wb_artifact_handler.py
  wandb/sdk/artifacts/storage_handlers/wb_local_artifact_handler.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

skip test
  tests/pytest_tests/system_tests/test_core/test_wandb_run.py
Due: none

fix test
  tests/pytest_tests/system_tests/test_core/test_system_info.py
  tests/pytest_tests/system_tests/test_core/test_wandb_run.py
  wandb/sdk/internal/system/system_info.py
  wandb/sdk/wandb_init.py
Due: none

skip test
  tests/pytest_tests/unit_tests_old/test_core/test_file_upload.py
Due: none

Update core/pkg/server/handler.go
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update wandb/sdk/internal/system/system_info.py
  wandb/sdk/internal/system/system_info.py
Due: none

feat(core): add support for requirements and patch.diff (#6721)
  core/go.mod
  core/go.sum
  core/pkg/server/files.go
  core/pkg/server/git.go
  core/pkg/server/git_test.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
  core/pkg/service/wandb_internal.pb.go
  tests/pytest_tests/system_tests/test_core/test_file_upload.py
  tests/pytest_tests/system_tests/test_core/test_system_info.py
  tests/pytest_tests/system_tests/test_core/test_wandb_integration.py
  tests/pytest_tests/system_tests/test_core/test_wandb_run.py
  tests/pytest_tests/unit_tests_old/test_core/test_file_upload.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/system/system_info.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

chore(sdk): remove copilot from PR template (#6729)
  .github/pull_request_template.md
Due: none

chore(core): release wandb-core==0.17.0b5
  .bumpversion.core.cfg
  core/README.md
  core/internal/version/version.go
  core/setup.py
  core/wandb_core/__init__.py
  noxfile.py
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(core): release wandb-core==0.17.0b5
  core/README.md
Due: none

test(core): enable system tests of system monitor
  .circleci/config.yml
  tests/pytest_tests/system_tests/test_system_metrics/test_open_metrics.py
Due: none

feat(core): capture SLURM-related env vars in metadata (#6710)
  core/pkg/monitor/monitor.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test(core): enable system tests of system monitor (#6737)
  .circleci/config.yml
  tests/pytest_tests/system_tests/test_system_metrics/test_open_metrics.py
Due: none

fix: Handle ultralytics utils import refactor
  wandb/integration/ultralytics/bbox_utils.py
  wandb/integration/ultralytics/callback.py
  wandb/integration/yolov8/yolov8.py
Due: none

feat(artifacts): Add fsspec file handler to list of available storage handlers
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

feat(artifacts): Fix code checks
  wandb/sdk/artifacts/storage_handlers/fsspec_file_handler.py
Due: none

use available schemas, supported by fsspec
  wandb/sdk/artifacts/storage_handlers/fsspec_file_handler.py
Due: none

feat(artifacts): Add fsspec file handler
  wandb/sdk/artifacts/storage_handlers/fsspec_file_handler.py
Due: none

feat(artifacts): Add fsspec dependency
  pyproject.toml
Due: none

fix code check
  wandb/sdk/artifacts/storage_handlers/fsspec_file_handler.py
Due: none

fix get_artifact_file_cache import
  wandb/sdk/artifacts/storage_handlers/fsspec_file_handler.py
Due: none

revert to use only oss due to import issue with fsspec.registry.available_protocols()
  wandb/sdk/artifacts/storage_handlers/fsspec_file_handler.py
Due: none

add build from partial test
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove debug print and unnecessary field in partial test metadata
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add handleuseartifact test
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add tests for user provided source info
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

handle use artifact tests for disabling job, and sender side useArtifact test
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/server/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add notebook path handling tests
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

more util tests
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Get default entity before checking template vars
  wandb/cli/cli.py
  wandb/sdk/launch/utils.py
Due: none

fix(launch): Get default entity before checking template vars (#6745)
  wandb/cli/cli.py
  wandb/sdk/launch/utils.py
Due: none

remove run creation for artifact downloads if not using nexus core
  wandb/sdk/artifacts/artifact.py
Due: none

update mock server tests
  tests/functional_tests/t0_main/jobs/job_repo_end_to_end.yea
  tests/functional_tests/t0_main/keras/keras_subclassed_test_tf_2_6.yea
Due: none

chore(launch): improve error message when job cannot be loaded (#6731)
  tests/pytest_tests/unit_tests_old/test_launch/test_launch_jobs.py
  wandb/sdk/launch/_project_spec.py
Due: none

debug
  .github/workflows/release-core.yml
Due: none

clean up
  .github/workflows/release-core.yml
Due: none
