Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

address reviewer comments
  core/pkg/monitor/openmetrics.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): move console tests to functional
  landfill/functional_tests/console/t1_tqdm_wrap.yea
  landfill/functional_tests/console/t2_tqdm_nested_wrap.yea
  landfill/functional_tests/console/t3_emoji_wrap.yea
  landfill/functional_tests/console/t4_fork_wrap.py
  landfill/functional_tests/console/t4_fork_wrap.yea
  landfill/functional_tests/console/t5_tqdm_post_finish.py
  landfill/functional_tests/console/t5_tqdm_post_finish.yea
  landfill/functional_tests/console/test_emoji.py
  landfill/functional_tests/console/test_tqdm.py
  landfill/functional_tests/console/test_tqdm_nested.py
  tests/system_tests/test_core/test_console.py
  tests/system_tests/test_functional/console/test_console.py
Due: none

chore: add error message cache to reduce sentry traffic in nvidia_gpu_stats (#8302)
  nvidia_gpu_stats/Cargo.lock
  nvidia_gpu_stats/Cargo.toml
  nvidia_gpu_stats/src/main.rs
Due: none

fix context manager usage
  tests/system_tests/test_functional/test_tensorboard/test_tf_summary.py
Due: none

chore(sdk): delete obsolete commented code
  wandb/sdk/wandb_run.py
Due: none

[𝘀𝗽𝗿] initial version
  core/internal/runconsolelogs/linefile.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: detect notebook name in VS Code
  wandb/jupyter.py
Due: none

fix: detect notebook name in VS Code
  CHANGELOG.md
Due: none

fix(sdk): respect offline mode when sending telemetry
  core/cmd/wandb-core/main.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): report file Close() error for output.log (#8310)
  core/internal/runconsolelogs/linefile.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: detect notebook name in VS Code (#8311)
  CHANGELOG.md
  wandb/jupyter.py
Due: none

[𝘀𝗽𝗿] initial version
  tests/system_tests/test_functional/test_tensorboard/test_torch_tb.py
  wandb/integration/tensorboard/log.py
Due: none

fix test
  tests/system_tests/test_functional/test_tensorboard/test_torch_tb.py
Due: none

chore(sdk): update readme for wandb-core v0.18.0 release (#8295)
  core/README.md
Due: none

add base url to settings
  core/cmd/wandb-core/main.go
  experimental/client-csharp/src/Wandb/Internal/Manager.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
  experimental/client-csharp/src/Wandb/Settings.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(artifacts): add sdk support for artifact tags (#8196)
  CHANGELOG.md
  core/api/graphql/mutation_create_artifact.graphql
  core/api/graphql/query_input_fields.graphql
  core/internal/gql/gql_gen.go
  core/internal/gqlmock/matchers.go
  core/pkg/artifacts/saver.go
  core/pkg/server/sender_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/__init__.pyi
  wandb/__init__.template.pyi
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/interface/interface.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

run init settings
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Settings.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
Due: none

wip
  core/internal/settings/settings.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update comment
  core/internal/settings/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  pyproject.toml
Due: none

update comment
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): don't let pytest execute yea test files (#8315)
  pyproject.toml
Due: none

add missing settings
  experimental/client-csharp/src/Wandb/Settings.cs
Due: none

minor change to message type return value
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
Due: none

[𝘀𝗽𝗿] initial version
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): surface error for JWT authentication in 0.18.0 (#8316)
  core/internal/settings/settings.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): change TB metric naming in legacy service
  tests/system_tests/test_functional/test_tensorboard/test_torch_tb.py
  wandb/integration/tensorboard/log.py
Due: none

[𝘀𝗽𝗿] initial version
  core/internal/tensorboard/tfeventconverter_test.go
  core/internal/tensorboard/tfeventconverterhistograms.go
  tests/system_tests/test_functional/test_tensorboard/test_torch_tb.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): re-enable test_compat_tensorboard test (#8308)
  tests/system_tests/test_functional/test_tensorboard/test_tf_summary.py
Due: none

chore(sdk): move console tests to functional (#8309)
  landfill/functional_tests/console/t1_tqdm_wrap.yea
  landfill/functional_tests/console/t2_tqdm_nested_wrap.yea
  landfill/functional_tests/console/t3_emoji_wrap.yea
  landfill/functional_tests/console/t4_fork_wrap.py
  landfill/functional_tests/console/t4_fork_wrap.yea
  landfill/functional_tests/console/t5_tqdm_post_finish.py
  landfill/functional_tests/console/t5_tqdm_post_finish.yea
  landfill/functional_tests/console/test_emoji.py
  landfill/functional_tests/console/test_tqdm.py
  landfill/functional_tests/console/test_tqdm_nested.py
  tests/system_tests/test_core/test_console.py
  tests/system_tests/test_functional/console/test_console.py
Due: none

rudimentary recv
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Internal/TcpClient.cs
  experimental/client-csharp/src/Wandb/Run.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
Due: none

add project to settings and clean up the latter
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
  experimental/client-csharp/src/Wandb/Settings.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
Due: none

add project to settings and clean up the latter
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
  experimental/client-csharp/src/Wandb/Settings.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
Due: none

finish run.init
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Internal/TcpClient.cs
  experimental/client-csharp/src/Wandb/Run.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
Due: none

add log and partial finish
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
  experimental/client-csharp/src/Wandb/Settings.cs
Due: none

restore main
  core/cmd/wandb-core/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

random stuff
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
  experimental/client-csharp/src/Wandb/Settings.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
Due: none

add basic config
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
Due: none

add config file
  experimental/client-csharp/src/Wandb/Config.cs
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
