Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

feat(sdk): record PCI bus ID and NUMA node for NVIDIA GPUs in run metadata
  CHANGELOG.unreleased.md
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/gpu_nvidia.rs
  xpu/src/wandb_internal.rs
Due: go-generate-proto

add a leet chart for proc.memory.oomKills
  core/internal/leet/systemmetrics.go
  core/internal/leet/systemmetrics_test.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): report TCP retransmits in network system metrics
  CHANGELOG.unreleased.md
  core/internal/monitor/system.go
Due: go-wire, go-unit-tests, go-build

chore: add PR link to changelog entry
  CHANGELOG.unreleased.md
Due: none

wrap the cpu.stat fixture lines for golines
  core/internal/monitor/cgroup_test.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): report OOM kills in the run's cgroup
  CHANGELOG.unreleased.md
  core/internal/monitor/cgroup.go
  core/internal/monitor/cgroup_test.go
  core/internal/monitor/system.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): show core warnings for offline runs
  tests/system_tests/test_core/test_run_messages_full.py
  wandb/sdk/wandb_run.py
Due: none

docs: add offline warning fix to changelog
  CHANGELOG.unreleased.md
Due: none

test(sdk): use mode-independent run warning
  tests/system_tests/test_core/test_run_messages_full.py
Due: none

fix(sdk): stop counting loopback and enslaved interfaces in network system metrics (#13000)
  CHANGELOG.unreleased.md
  core/internal/monitor/system.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): report CPU throttling for runs under a cgroup CPU quota (#13001)
  CHANGELOG.unreleased.md
  core/internal/leet/systemmetrics.go
  core/internal/leet/systemmetrics_test.go
  core/internal/monitor/cgroup.go
  core/internal/monitor/cgroup_test.go
  core/internal/monitor/system.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): report OOM kills in the run's cgroup (#13002)
  CHANGELOG.unreleased.md
  core/internal/leet/systemmetrics.go
  core/internal/leet/systemmetrics_test.go
  core/internal/monitor/cgroup.go
  core/internal/monitor/cgroup_test.go
  core/internal/monitor/system.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): report TCP retransmits in network system metrics (#13003)
  CHANGELOG.unreleased.md
  core/internal/leet/systemmetrics.go
  core/internal/leet/systemmetrics_test.go
  core/internal/monitor/system.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): report the CPU and memory used by wandb's own processes (#13004)
  CHANGELOG.unreleased.md
  core/internal/leet/systemmetrics.go
  core/internal/leet/systemmetrics_test.go
  core/internal/monitor/system.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): record PCI bus ID and NUMA node for NVIDIA GPUs in run metadata (#13005)
  CHANGELOG.unreleased.md
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/gpu_nvidia.rs
  xpu/src/wandb_internal.rs
Due: go-generate-proto

feat(sdk): put wandb's own CPU and memory metrics behind x_stats_self_usage
  CHANGELOG.unreleased.md
  core/internal/monitor/monitor.go
  core/internal/monitor/system.go
  core/internal/settings/settings.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

fix(sdk): keep the image name when recording the Kubernetes image ID
  tests/unit_tests/test_util.py
  wandb/util.py
Due: none

Add a changelog entry for the Kubernetes image ID fix
  CHANGELOG.unreleased.md
Due: none

chore(sdk): drop EvalTable CES max rows from 100k to 10k for now (#13033)
  wandb/sdk/data_types/eval_table/_writer_ces.py
Due: none

chore(sdk): depend on `cwevals==0.0.1b1` for CES `EvalTable` (#13028)
  pyproject.toml
  tests/unit_tests/test_eval_table_ces.py
  wandb/sdk/data_types/eval_table/_media_ces.py
  wandb/sdk/data_types/eval_table/_writer_ces.py
Due: none

test(sweeps): table-drive the optuna study and objective tests
  tests/unit_tests/test_optuna_scheduler.py
Due: none

test(sweeps): say why the exhaustion tests build their own sampler
  tests/unit_tests/test_optuna_scheduler.py
Due: none

feat(sweeps): host an optimizer for a sweep scheduler session
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/client.py
  wandb/sdk/sweeps/scheduler/ipc.py
Due: none

feat(sweeps): Ax optimizer for the sweep scheduler
  tests/unit_tests/test_ax_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/ax.py
Due: none

feat(sweeps): Optuna optimizer for the sweep scheduler
  tests/unit_tests/test_optuna_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/optuna.py
Due: none

test(sweeps): answer the multi-objective contract for optuna
  tests/unit_tests/test_optuna_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/optuna.py
Due: none

style(sweeps): wrap doc lines over 80 columns
  tests/unit_tests/test_sweep_scheduler.py
Due: none

test(sweeps): table the next-task IPC request over its result
  .github/CODEOWNERS
  core/pkg/server/connection.go
  core/pkg/server/connection_scheduler_test.go
  core/pkg/server/server.go
  docs/sdk/wandb-core.md
  tests/unit_tests/test_sweep_scheduler_ipc.py
Due: go-wire, go-unit-tests, go-build

test(sweeps): drop an exhaustion case the acceptance suite already covers
  tests/unit_tests/test_optuna_scheduler.py
Due: none

test(sweeps): table-drive the Ax generation-failure and objective cases
  tests/unit_tests/test_ax_scheduler.py
Due: none

feat(sweeps): read a sweep's objectives from metric or metrics
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/optimizer.py
Due: none

feat(sweeps): serve scheduler sessions over the client socket
  core/pkg/server/connection.go
  core/pkg/server/connection_scheduler_test.go
  core/pkg/server/server.go
  tests/unit_tests/test_sweep_scheduler_ipc.py
  wandb/sdk/lib/service/service_connection.py
Due: go-wire, go-unit-tests, go-build

refactor(sweeps): drop the optuna hyperband mapping the sweep schema forbids
  tests/unit_tests/test_optuna_scheduler.py
  wandb/sdk/sweeps/scheduler/optuna.py
Due: none

feat(sweeps): optimize a multi-objective sweep with Ax
  tests/unit_tests/test_ax_scheduler.py
  tests/unit_tests/test_sweep_scheduler.py
  wandb/sdk/sweeps/scheduler/ax.py
Due: none

test(sweeps): cover the task exchange's untested failure arms
  wandb/sdk/sweeps/scheduler/client.py
Due: none

add PR number to CHANGELOG
  CHANGELOG.unreleased.md
Due: none
