Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

wandb_setup.py
  wandb/sdk/wandb_setup.py
Due: none

fix(artifacts): update docs and emit warning in Artifact.used_by() for maximum limit
  CHANGELOG.unreleased.md
  wandb/sdk/artifacts/artifact.py
Due: none

wandb_sweep
  wandb/sdk/wandb_sweep.py
Due: none

chore: fix security issue in hashbrown crate (#9025)
  experimental/rust-sdk/examples/basic/Cargo.lock
Due: none

wip: update python code to call wandb_core to et feature value
  wandb/sdk/data_types/base_types/media.py
  wandb/sdk/data_types/base_types/wb_value.py
  wandb/sdk/data_types/image.py
  wandb/sdk/data_types/utils.py
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/wandb_run.py
Due: none

wip: update initial go code changes to support query server features
  core/internal/server/features.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/internal/stream/stream.go
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip fix server feature name used for client ids
  wandb/sdk/data_types/base_types/wb_value.py
Due: none

wip add python system tests
  tests/system_tests/test_artifacts/test_data_types.py
  wandb/sdk/data_types/base_types/wb_value.py
  wandb/sdk/data_types/image.py
  wandb/sdk/data_types/utils.py
  wandb/sdk/wandb_run.py
Due: none

wip go tests and protobuf update to map
  core/internal/gql/v8/gql_gen.go
  core/internal/server/features.go
  core/internal/server/features_test.go
  core/internal/stream/handler_test.go
  core/internal/stream/stream.go
  core/pkg/artifacts/saver_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip protobuf changes for server features
  core/api/graphql/query_feature_flags.graphql
  core/internal/gql/v6/gql_gen.go
  core/internal/gql/v7/gql_gen.go
  core/internal/server/features.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip rebase with mainline
  core/internal/gql/v9/gql_gen.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/sdk/data_types/base_types/wb_value.py
  wandb/sdk/wandb_run.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add multi wandbs perf test
  experimental/perf/scripts/process_sar_helper.py
  experimental/perf/scripts/run_load_tests.py
  experimental/perf/scripts/test_case_helper.py
Due: none

chore: use WANDB_DEBUG instead of WANDB_CORE_DEBUG
  wandb/env.py
Due: none

chore: use WANDB_DEBUG instead of WANDB_CORE_DEBUG (#9045)
  wandb/env.py
Due: none

video.py and wandb_run.py
  wandb/sdk/data_types/video.py
  wandb/sdk/wandb_run.py
Due: none

ruff check on video.py
  wandb/sdk/data_types/video.py
Due: none

Added exclude comments to apis that we do not want to show
  wandb/__init__.pyi
Due: none

chore(sdk): code generation for automations api
  .gitattributes
  .github/CODEOWNERS
  pyproject.toml
  requirements_dev.txt
  tools/pydantic_codegen/__init__.py
  tools/pydantic_codegen/base.py
  tools/pydantic_codegen/codegen-automations.toml
  tools/pydantic_codegen/generate-graphql-python.sh
  tools/pydantic_codegen/plugin.py
  tools/pydantic_codegen/queries-automations.graphql
  wandb/sdk/automations/__init__.py
  wandb/sdk/automations/_generated/__init__.py
  wandb/sdk/automations/_generated/base.py
  wandb/sdk/automations/_generated/create_filter_trigger.py
  wandb/sdk/automations/_generated/delete_trigger.py
  wandb/sdk/automations/_generated/enums.py
  wandb/sdk/automations/_generated/fragments.py
  wandb/sdk/automations/_generated/input_types.py
  wandb/sdk/automations/_generated/operations.py
  wandb/sdk/automations/_generated/slack_integrations_for_team.py
  wandb/sdk/automations/_generated/slack_integrations_for_user.py
  wandb/sdk/automations/_generated/triggers_in_user_org_entity.py
  wandb/sdk/automations/_generated/triggers_in_user_teams.py
Due: go-generate-graphql

feat(sdk): automations api
  tests/system_tests/test_automations/test_automations_api.py
  wandb/__init__.py
  wandb/apis/public/api.py
  wandb/apis/public/projects.py
  wandb/sdk/__init__.py
  wandb/sdk/automations/__init__.py
  wandb/sdk/automations/actions.py
Due: none

feat(sdk): automations api - public types/interfaces for scopes, events/filters, actions, and automations
  tests/unit_tests/test_automations/__init__.py
  tests/unit_tests/test_automations/_strategies.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_automations.py
  tests/unit_tests/test_automations/test_events.py
  tests/unit_tests/test_automations/test_filters.py
  wandb/sdk/automations/__init__.py
  wandb/sdk/automations/_base.py
  wandb/sdk/automations/_filters/__init__.py
  wandb/sdk/automations/_filters/base.py
  wandb/sdk/automations/_filters/comparison.py
  wandb/sdk/automations/_filters/evaluation.py
  wandb/sdk/automations/_filters/filter.py
  wandb/sdk/automations/_filters/funcs.py
  wandb/sdk/automations/_filters/logic.py
  wandb/sdk/automations/_utils.py
  wandb/sdk/automations/actions.py
  wandb/sdk/automations/automations.py
  wandb/sdk/automations/events.py
  wandb/sdk/automations/scopes.py
Due: none

move request body logic into helper function
  core/internal/filetransfer/file_transfer_azure.go
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

cleanup
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  wandb/sdk/data_types/histogram.py
Due: none

Readed Image and Audio
  wandb/__init__.pyi
Due: none

fix nearby line as well
  wandb/sdk/data_types/histogram.py
Due: none

chore: fix mypy finding in histogram.py (#9049)
  wandb/sdk/data_types/histogram.py
Due: none

fix: truncate dynamic text lines to terminal width (#9040)
  tests/unit_tests/test_term.py
  wandb/errors/term.py
Due: none

chore: more info in filestream upload stats (#9041)
  core/internal/filestream/filestreamimpl.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Use wandb.setup() to reduce overhead in parallel processing
  experimental/perf/scripts/test_case_helper.py
Due: none

Fixed missing return value of validate_service_wait in wandb_settings.py
  wandb/sdk/wandb_settings.py
Due: none

increase the metrics count
  experimental/perf/scripts/run_load_tests.py
Due: none

enable parallel testing for scale_steps and scale_metrics
  experimental/perf/scripts/run_load_tests.py
  experimental/perf/scripts/test_case_helper.py
Due: none

fix precommit issue
  experimental/perf/scripts/test_case_helper.py
Due: none

fixes for precommit
  experimental/perf/scripts/test_case_helper.py
Due: none

deal with nulls
  wandb/sdk/wandb_metadata.py
  wandb/sdk/wandb_run.py
Due: none

deal with nulls
  tests/unit_tests/test_library_public.py
Due: none
