Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$

add missing stuff
  core/scripts/run-core.sh
  core/scripts/setup-core-path.sh
  tests/pytest_tests/system_tests/test_sdk_core/test_core.py
Due: none

mypy
  wandb/sdk/launch/_launch.py
  wandb/sdk/launch/agent/config.py
Due: none

making pydantic launch dep instead of core dep
  pyproject.toml
  requirements.txt
  wandb/sdk/launch/_launch.py
  wandb/sdk/launch/agent/__init__.py
  wandb/sdk/launch/agent/config.py
Due: none

wip
  wandb/sdk/launch/agent/config.py
Due: none

wip
  tests/pytest_tests/unit_tests/test_launch/test_agent/test_config.py
Due: none

lol
  tests/pytest_tests/unit_tests/test_launch/test_agent/test_config.py
Due: none

add a test
  core/internal/clients/retry_policy.go
  core/pkg/server/sender.go
  tests/pytest_tests/system_tests/test_core/test_offline_sync.py
  wandb/sdk/wandb_sync.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

and a bunch of todos
  wandb/sdk/wandb_sync.py
Due: none

clean up
  core/internal/clients/retry_policy.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add mark-synced
  tests/pytest_tests/system_tests/test_core/test_offline_sync.py
  wandb/__init__.py
  wandb/cli/cli.py
  wandb/sdk/wandb_sync.py
Due: none

add mark-synced
  wandb/cli/cli.py
Due: none

add unit tests for sync.go
  core/pkg/server/sender.go
  core/pkg/server/sync.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update core/pkg/server/handler.go
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update wandb/cli/cli.py
  wandb/cli/cli.py
Due: none

clean up and add check for wandb-core in cli beta
  wandb/cli/cli.py
  wandb/sdk/wandb_sync.py
Due: none

update go version in circle
  .circleci/config.yml
Due: none

mypy
  wandb/sdk/wandb_sync.py
Due: none

skip test in service
  tests/pytest_tests/system_tests/test_core/test_offline_sync.py
Due: none

feat(core): add `wandb beta sync` feature to upload runs to W&B (#6620)
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
  core/pkg/server/sync.go
  core/pkg/server/writer.go
  core/pkg/service/wandb_internal.pb.go
  mypy.ini
  tests/pytest_tests/system_tests/test_core/test_offline_sync.py
  wandb/__init__.py
  wandb/cli/cli.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/__init__.py
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/service/service_base.py
  wandb/sdk/service/service_sock.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_manager.py
  wandb/sdk/wandb_sync.py
  wandb/sync/sync.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

bump version and update readme
  .bumpversion.core.cfg
  core/README.md
  core/internal/version/version.go
  core/setup.py
  core/wandb_core/__init__.py
  noxfile.py
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

debug arm mac build
  core/setup.py
Due: none

replace logger with no-op logger
  core/pkg/filestream/filestream_test.go
  core/pkg/filestream/loop_transmit_test.go
  core/pkg/server/handler_test.go
  core/pkg/server/sender_test.go
  core/pkg/server/store_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

diable sentry in testing
  tox.ini
Due: none

disable sentry for no-op logger
  core/pkg/observability/logging.go
  core/pkg/observability/sentry.go
  core/pkg/server/logging.go
  tox.ini
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update typing
  core/pkg/observability/logging.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

avoid conversion when capture function is not configured
  core/pkg/observability/logging.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

minor code re-org
  core/pkg/observability/logging.go
  core/pkg/observability/sentry.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test args to tags conversion function
  core/pkg/observability/logging_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix corrner case when it ends with incomplete tags
  core/pkg/observability/logging.go
  core/pkg/observability/logging_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add more tests
  core/pkg/observability/logging.go
  core/pkg/observability/logging_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update comments
  core/pkg/observability/logging_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test
  tests/pytest_tests/unit_tests/test_reports.py
  wandb/apis/reports/__init__.py
  wandb/apis/reports2/__init__.py
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
Due: none

test
  tests/pytest_tests/unit_tests/test_reports.py
Due: none

make arm mac build work
  core/setup.py
Due: none

test
  wandb/apis/reports2/interface.py
Due: none

test
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
Due: none

fix ticks in readme
  core/README.md
Due: none
