Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

improve how we skip launch tests on python 3.8
  noxfile.py
Due: none

feat(sdk): allow setting run state in Run.create() (#9853)
  wandb/apis/public/runs.py
Due: none

wandb setup docstring
  wandb/sdk/wandb_setup.py
Due: none

chore: update the wandb_setup.py docstring (#9916)
  wandb/sdk/wandb_setup.py
Due: none

save
  agent_k8s/deployment.yaml
  wandb/sdk/launch/agent/agent.py
Due: none

starter k8s definitions, agent deploys hello world server
  agent_k8s/deployment.yaml
  agent_k8s/hello-world-configmap.yaml
  agent_k8s/hello-world-deployment.yaml
  agent_k8s/hello-world-service.yaml
  agent_k8s/secret.yaml
  agent_k8s/service.yaml
  agent_k8s/volume.yaml
  wandb/sdk/launch/agent/agent.py
Due: none

fiddling with pubsub, needs more work
  tools/local_wandb_server.py
Due: none

format wandb_settings docstring
  wandb/sdk/wandb_settings.py
Due: none

runmetadata
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  core/internal/stream/stream.go
  core/internal/stream/streamrun.go
  tests/system_tests/test_core/test_wandb_init.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add tests and clean up
  core/internal/settings/settings.go
  core/pkg/monitor/cwmetadata.go
  core/pkg/monitor/cwmetadata_test.go
  core/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor: use runupserter, delete old Sender code (#9804)
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  core/internal/stream/stream.go
  core/internal/stream/streamrun.go
  tests/system_tests/test_core/test_wandb_init.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  core/pkg/monitor/cwmetadata_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix conflict
  core/internal/stream/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  core/pkg/monitor/cwmetadata.go
  core/pkg/monitor/cwmetadata_test.go
  core/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: capture metadata on coreweave compute env (#9894)
  core/api/graphql/query_organization_coreweave_organization_id.graphql
  core/api/graphql/schemas/commit.hash.txt
  core/internal/gql/gql_gen.go
  core/internal/settings/settings.go
  core/internal/stream/stream.go
  core/pkg/monitor/cwmetadata.go
  core/pkg/monitor/cwmetadata_test.go
  core/pkg/monitor/monitor.go
  core/pkg/monitor/monitor_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: remove ununsed IsAvailable method from sysmon assets
  core/pkg/monitor/dcgm_exporter.go
  core/pkg/monitor/openmetrics.go
  core/pkg/monitor/openmetrics_test.go
  core/pkg/monitor/tpu.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: remove unused IsAvailable methods from sysmon assets (#9927)
  core/pkg/monitor/dcgm_exporter.go
  core/pkg/monitor/openmetrics.go
  core/pkg/monitor/openmetrics_test.go
  core/pkg/monitor/tpu.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: capture Nvidia GPU UUIDs in metadata
  gpu_stats/src/gpu_nvidia.rs
Due: none

update gpu_stats version
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
Due: none

Feedback
  wandb/apis/public/files.py
  wandb/apis/public/query_generator.py
  wandb/apis/public/reports.py
  wandb/apis/public/sweeps.py
Due: none

chore: capture Nvidia GPU UUIDs in metadata (#9929)
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/src/gpu_nvidia.rs
Due: none

More feedback
  wandb/apis/public/reports.py
  wandb/apis/public/runs.py
Due: none

feat(sdk): add support for creating custom Vega charts via API
  tests/unit_tests/test_launch/test_internal_api.py
  wandb/apis/internal.py
  wandb/apis/public/api.py
  wandb/sdk/internal/internal_api.py
Due: none

style(sdk): fix formatting issues in custom chart methods
  wandb/apis/public/api.py
  wandb/sdk/internal/internal_api.py
Due: none

chore: ignore mypy errors for new mypy==1.16.0
  wandb/automations/_filters/expressions.py
  wandb/automations/_filters/operators.py
  wandb/automations/_filters/run_metrics.py
  wandb/sdk/data_types/image.py
  wandb/sdk/launch/_project_spec.py
Due: none

fix(mypy): remove unnecessary type: ignore comments and fix type incompatibility
  wandb/automations/_filters/operators.py
  wandb/sdk/launch/_project_spec.py
Due: none

chore: ignore mypy errors for new mypy==1.16.0 (#9932)
  wandb/automations/_filters/expressions.py
  wandb/automations/_filters/operators.py
  wandb/automations/_filters/run_metrics.py
  wandb/sdk/data_types/image.py
  wandb/sdk/launch/_project_spec.py
Due: none

chore: update breaking md
  BREAKING.md
Due: none

chore: add additional deprecated logic in the breaking doc (#9930)
  BREAKING.md
Due: none

fix(mypy): restore meaningful type: ignore[override] comment
  wandb/automations/_filters/operators.py
Due: none

return early upon error in link artifact
  wandb/sdk/wandb_run.py
Due: none

fix(artifacts): allow artifact.add_dir to overwrite
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: none

fix(mypy): remove unused type: ignore[override] comment
  wandb/automations/_filters/operators.py
Due: none

fix(artifacts): allow artifact.add_dir to overwrite (#9907)
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: none

bubble up errors from public api using normalize exceptions
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
Due: none

ruff_ruf100
  hatch_build.py
  pyproject.toml
  tests/conftest.py
  tests/system_tests/backend_fixtures.py
  tests/system_tests/test_core/test_console.py
  tests/system_tests/test_core/test_resume.py
  tests/system_tests/test_functional/asyncio_compat_run/pass_if_cancelled.py
  tests/system_tests/test_functional/console/test_console.py
  tests/system_tests/test_functional/console_capture/patching_exception.py
  tests/system_tests/test_functional/console_capture/uncapturing.py
  tests/system_tests/test_functional/interrupt/pass_if_interrupted.py
  tests/system_tests/test_notebooks/conftest.py
  tests/system_tests/test_notebooks/test_notebooks.py
  tests/unit_tests/test_cli.py
  tests/unit_tests/test_pydantic_v1_compat.py
  tests/unit_tests/test_system_metrics/test_open_metrics.py
  tests/unit_tests/test_util.py
  tools/graphql_codegen/plugin.py
  wandb/agents/pyagent.py
  wandb/analytics/sentry.py
  wandb/apis/public/api.py
  wandb/integration/langchain/wandb_tracer.py
  wandb/integration/metaflow/metaflow.py
  wandb/integration/tensorboard/__init__.py
  wandb/integration/tensorflow/__init__.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/system/assets/disk.py
  wandb/sdk/launch/_launch.py
  wandb/sdk/launch/agent/config.py
  wandb/sdk/launch/registry/azure_container_registry.py
  wandb/sdk/launch/registry/elastic_container_registry.py
  wandb/sdk/launch/registry/google_artifact_registry.py
  wandb/sdk/launch/runner/kubernetes_monitor.py
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/runner/vertex_runner.py
  wandb/sdk/lib/json_util.py
  wandb/sdk/lib/retry.py
  wandb/sync/__init__.py
Due: none

wandb setup check
  wandb/sdk/wandb_setup.py
Due: none

update tests to expect CommError
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/system_tests/test_automations/test_automations_api.py
Due: none
