Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

chore: improve test_metaflow.py runtimes (#10200)
  tests/system_tests/test_functional/metaflow/flow_decoboth.py
  tests/system_tests/test_functional/metaflow/flow_decoclass.py
  tests/system_tests/test_functional/metaflow/flow_decostep.py
  tests/system_tests/test_functional/metaflow/flow_foreach.py
  tests/system_tests/test_functional/metaflow/flow_pytorch.py
  tests/system_tests/test_functional/metaflow/test_metaflow.py
  tests/system_tests/test_functional/metaflow/wine.csv
Due: none

remove unneeded nesting
  tests/unit_tests/test_public_api.py
Due: none

docs(sdk): adds "shared" mode to wandb.init() (#10195)
  wandb/__init__.pyi
  wandb/__init__.template.pyi
  wandb/sdk/wandb_init.py
Due: none

tensorboard exit handling
  core/internal/runupserter/runupdatework.go
  core/internal/runwork/sentinel.go
  core/internal/runwork/work.go
  core/internal/runwork/workrecord.go
  core/internal/stream/handler.go
  core/internal/stream/recordparser.go
  core/internal/stream/runexitwork.go
  core/internal/stream/sender.go
  core/internal/stream/stream.go
  core/internal/tensorboard/tbwork.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor: rethink where TensorBoard lives (#10039)
  core/internal/runupserter/runupdatework.go
  core/internal/runwork/sentinel.go
  core/internal/runwork/work.go
  core/internal/runwork/workrecord.go
  core/internal/stream/handler.go
  core/internal/stream/recordparser.go
  core/internal/stream/runexitwork.go
  core/internal/stream/sender.go
  core/internal/stream/stream.go
  core/internal/tensorboard/tbwork.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

no sentinel
  core/internal/runupserter/runupdatework.go
  core/internal/runwork/sentinel.go
  core/internal/runwork/work.go
  core/internal/runwork/workrecord.go
  core/internal/stream/sender.go
  core/internal/tensorboard/tbwork.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

work torecord
  core/internal/runupserter/runupdatework.go
  core/internal/runwork/work.go
  core/internal/runwork/workrecord.go
  core/internal/stream/writer.go
  core/internal/tensorboard/tbwork.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

sync writer
  core/internal/stream/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

transaction log seek
  core/internal/stream/store.go
  core/internal/stream/store_test.go
  core/pkg/leveldb/record.go
  core/pkg/leveldb/record_internal_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

maybe saved work
  core/internal/runwork/work.go
  core/internal/stream/flowcontrol.go
  core/internal/stream/flowcontrolbuffer.go
  core/internal/stream/flowcontrolbuffer_test.go
  core/internal/stream/store.go
  core/internal/stream/stream.go
  core/internal/stream/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

metaflow test artifact hashes
  tests/system_tests/test_functional/metaflow/test_metaflow.py
Due: none

no universal wheel
  .github/workflows/release-sdk.yml
  hatch_build.py
  noxfile.py
Due: none

chore: do not build universal wheel (#10203)
  .github/workflows/release-sdk.yml
  hatch_build.py
  noxfile.py
Due: none

fix(sdk): deprecate wandb.beta.workflows
  CHANGELOG.unreleased.md
  core/pkg/service_go_proto/wandb_telemetry.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/beta/workflows.py
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.pyi
  wandb/proto/v6/wandb_telemetry_pb2.py
  wandb/proto/v6/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_deprecated.py
  wandb/proto/wandb_telemetry.proto
Due: go-generate-proto

feat(sdk): add --replace-tags option to wandb sync command (#10140)
  wandb/cli/cli.py
  wandb/sync/sync.py
Due: none

chore(launch): add format key to input schema
  tests/unit_tests/test_launch/test_inputs/test_internal.py
  wandb/sdk/launch/inputs/schema.py
Due: none

codeowners
  .github/CODEOWNERS
Due: none

no plum in metaflow
  requirements_dev.txt
  wandb/integration/metaflow/metaflow.py
Due: none

refactor: no plum-dispatch in metaflow integration (#10202)
  requirements_dev.txt
  wandb/integration/metaflow/metaflow.py
Due: none

chore: add wandb/sdk-team to CODEOWNERS for all directories (#10208)
  .github/CODEOWNERS
Due: none

feat: tui
  core/cmd/peek/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: improve error message when using `wandb.Api` with an invalid API key. (#10099)
  tests/conftest.py
  tests/system_tests/backend_fixtures.py
  tests/system_tests/test_automations/conftest.py
  tests/system_tests/test_core/test_public_api.py
  tests/system_tests/test_registries/test_registry.py
  tests/unit_tests/test_public_api.py
  tests/unit_tests/test_reports.py
  tests/unit_tests/test_wandb_login.py
  wandb/apis/public/api.py
  wandb/sdk/wandb_login.py
Due: none

metric test determinism
  tests/system_tests/test_core/test_metric_full.py
Due: none

chore: fix non-determinism in test_metric_full.py (#10209)
  tests/system_tests/test_core/test_metric_full.py
Due: none

add pagination
  core/cmd/peek/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

metaflow pandas
  wandb/integration/metaflow/data_pandas.py
  wandb/integration/metaflow/errors.py
  wandb/integration/metaflow/metaflow.py
Due: none

chore(launch): Add services argument to job create CLI
  wandb/cli/cli.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/launch/create_job.py
Due: none

remove duplicate testing
  tests/unit_tests/test_cli.py
Due: none

PR Comments
  tests/unit_tests/test_cli.py
  tests/unit_tests/test_launch/test_builder/test_build.py
  tests/unit_tests/test_launch/test_cli/test_job_create.py
  wandb/cli/cli.py
Due: none

add tests for job create CLI with services argument
  tests/unit_tests/test_cli.py
Due: none

fix test errors, fix mypy errors
  tests/unit_tests/test_cli.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/launch/create_job.py
  wandb/sdk/wandb_run.py
Due: none

fix tests
  tests/unit_tests/test_cli.py
Due: none

refactor: move Metaflow integration Pandas support to its own file (#10210)
  wandb/integration/metaflow/data_pandas.py
  wandb/integration/metaflow/errors.py
  wandb/integration/metaflow/metaflow.py
Due: none

lint
  tests/unit_tests/test_launch/test_builder/test_build.py
Due: none

metaflow pytorch
  wandb/integration/metaflow/data_pytorch.py
  wandb/integration/metaflow/metaflow.py
Due: none

metaflow sklearn
  wandb/integration/metaflow/data_sklearn.py
  wandb/integration/metaflow/metaflow.py
Due: none

typeguard to typeis
  wandb/integration/metaflow/data_pandas.py
Due: none

pr comments
  tests/unit_tests/test_launch/test_builder/test_build.py
Due: none

chore(launch): add service argument to launch job create CLI (#10194)
  tests/unit_tests/test_launch/test_builder/test_build.py
  tests/unit_tests/test_launch/test_cli/test_job_create.py
  wandb/cli/cli.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/launch/create_job.py
  wandb/sdk/wandb_run.py
Due: none
