Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

addressed review comment, refactored scripts to write test result and metrics as json
  experimental/perf/README.md
  experimental/perf/scripts/process_sar_helper.sh
  experimental/perf/scripts/push_perf_results_helper.py
  experimental/perf/scripts/run_load_tests.sh
  experimental/perf/scripts/test_case_helper.sh
  experimental/perf/scripts/testfiles/bench_run_log.py
  experimental/perf/scripts/testfiles/helper.py
Due: none

linting
  experimental/perf/scripts/process_sar_helper.sh
  experimental/perf/scripts/push_perf_results_helper.py
  experimental/perf/scripts/run_load_tests.sh
  experimental/perf/scripts/test_case_helper.sh
  experimental/perf/scripts/testfiles/bench_run_log.py
  experimental/perf/scripts/testfiles/helper.py
Due: none

chore: clean up system monitor
  core/internal/filestream/updatestats.go
  core/pkg/monitor/buffer.go
  core/pkg/monitor/cpu.go
  core/pkg/monitor/disk.go
  core/pkg/monitor/gpu.go
  core/pkg/monitor/gpu_amd.go
  core/pkg/monitor/gpu_amd_test.go
  core/pkg/monitor/memory.go
  core/pkg/monitor/monitor.go
  core/pkg/monitor/network.go
  core/pkg/monitor/noop_darwin.go
  core/pkg/monitor/noop_freebsd.go
  core/pkg/monitor/noop_linux.go
  core/pkg/monitor/noop_windows.go
  core/pkg/monitor/openmetrics.go
  core/pkg/monitor/openmetrics_test.go
  core/pkg/monitor/slurm.go
  core/pkg/monitor/tpu.go
  core/pkg/monitor/tpu_test.go
  core/pkg/monitor/trainium.go
  core/pkg/monitor/trainium_test.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: fix mypy 1.13-related linting
  wandb/errors/links.py
  wandb/sdk/internal/settings_static.py
Due: none

chore: fix mypy 1.13-related linting (#8928)
  wandb/errors/links.py
  wandb/sdk/internal/settings_static.py
Due: none

fix test
  core/internal/filestream/updatestats.go
  core/pkg/monitor/gpu.go
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/src/main.rs
  tests/system_tests/test_system_metrics/test_system_monitor.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update README
  experimental/perf/README.md
Due: none

fix test
  core/pkg/monitor/monitor.go
  core/pkg/monitor/tpu_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix test
  core/pkg/monitor/tpu_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix conflict
  core/pkg/monitor/tpu_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  core/pkg/monitor/tpu_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  core/pkg/monitor/trainium_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add label for namespacing console
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/settings/settings.go
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: setting to control saving wandb files and metadata
  wandb/sdk/wandb_settings.py
Due: none

rename cmds
  cmd/ctrlc/root/api/create/create.go
  cmd/ctrlc/root/api/create/environment/environment.go
  cmd/ctrlc/root/api/create/relationship/relationship.go
  cmd/ctrlc/root/api/create/release/release.go
  cmd/ctrlc/root/api/create/releasechannel/release-channel.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix console craziness
  core/internal/filestream/updatelogs.go
  core/internal/runconsolelogs/filestreamwriter.go
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/runconsolelogs/runlogschangemodel.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: setting to control saving wandb files and metadata
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/pkg/monitor/monitor.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: setting to control saving wandb files and metadata
  core/pkg/monitor/monitor.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.pyi
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

visual delim
  core/internal/filestream/updatelogs.go
  core/internal/runconsolelogs/filestreamwriter.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use /l:<label>
  core/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add a test
  tests/system_tests/test_core/test_file_upload.py
Due: none

feat: labels to group system metrics and console logs by (#8663)
  core/internal/runconsolelogs/filestreamwriter.go
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/runconsolelogs/runlogschangemodel.go
  core/internal/settings/settings.go
  core/internal/stream/sender.go
  core/pkg/monitor/monitor.go
  core/pkg/monitor/tpu_test.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update go deps
  go.mod
  go.sum
Due: none

fix: Delete release channel
  cmd/ctrlc/root/api/delete/delete.go
  cmd/ctrlc/root/api/delete/releasechannel/release-channel.go
  internal/api/client.gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix environment output
  internal/api/client.gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

correct required
  cmd/ctrlc/root/api/create/release/release.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Fix compatibility with MoviePy 2.0 by resolving imports dynamically
  wandb/sdk/data_types/video.py
Due: none

chore: setting to control saving wandb files and metadata (#8929)
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_core/test_file_upload.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

linted code
  wandb/sdk/data_types/video.py
Due: none

fix mypy-report test
  wandb/sdk/data_types/video.py
Due: none

fix failing tests
  wandb/sdk/data_types/video.py
Due: none

fix tests
  wandb/sdk/data_types/video.py
Due: none

fix code
  wandb/sdk/data_types/video.py
Due: none

make minimal changes to make tests pass
  wandb/sdk/data_types/video.py
Due: none

linted
  wandb/sdk/data_types/video.py
Due: none

removed the read json function, fixed a help description
  experimental/perf/scripts/process_sar_helper.sh
  experimental/perf/scripts/push_perf_results_helper.py
Due: none

chore: add finish without exit
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/wandb_run.py
Due: none

clean up azure clients map struct
  core/internal/filetransfer/file_transfer_azure.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(sdk): automations api - public types/interfaces for scopes, events/filters, actions, and automations
  tests/unit_tests/test_automations/_strategies.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_actions.py
  tests/unit_tests/test_automations/test_automations.py
  tests/unit_tests/test_automations/test_events.py
  tools/graphql_codegen/automations/queries.graphql
  wandb/sdk/__init__.py
  wandb/sdk/automations/__init__.py
  wandb/sdk/automations/_generated/__init__.py
  wandb/sdk/automations/_generated/base.py
  wandb/sdk/automations/_generated/create_filter_trigger.py
  wandb/sdk/automations/_generated/create_generic_webhook_integration.py
  wandb/sdk/automations/_generated/delete_trigger.py
  wandb/sdk/automations/_generated/enums.py
  wandb/sdk/automations/_generated/fragments.py
  wandb/sdk/automations/_generated/generic_webhook_integrations_by_entity.py
  wandb/sdk/automations/_generated/get_triggers.py
  wandb/sdk/automations/_generated/get_triggers_by_entity.py
  wandb/sdk/automations/_generated/input_types.py
  wandb/sdk/automations/_generated/integrations_by_entity.py
  wandb/sdk/automations/_generated/operations.py
  wandb/sdk/automations/_generated/slack_integrations_by_entity.py
  wandb/sdk/automations/_generated/typing_compat.py
  wandb/sdk/automations/_generated/update_filter_trigger.py
  wandb/sdk/automations/_utils.py
  wandb/sdk/automations/_validators.py
  wandb/sdk/automations/actions.py
  wandb/sdk/automations/automations.py
  wandb/sdk/automations/events.py
  wandb/sdk/automations/filters/_expressions.py
  wandb/sdk/automations/filters/_operators.py
  wandb/sdk/automations/scopes.py
Due: go-generate-graphql
