Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=24

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

move ack, handle build case in k8s
  wandb/sdk/launch/agent2/controllers/k8s.py
  wandb/sdk/launch/agent2/controllers/local_container.py
Due: none

Add alternate condition to test that can produce two possible errors
  core/internal/filetransfer/file_transfer_default_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(launch): improve validation of registry uris in agent config (#7295)
  tests/pytest_tests/unit_tests/test_launch/test_agent/test_config.py
  wandb/sdk/launch/agent/config.py
  wandb/sdk/launch/utils.py
Due: none

Simplify return block
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update changelog
  CHANGELOG.md
Due: none

fix(core): use package that support nan/inf json serialization (only for history/summary) (#7164)
  core/go.mod
  core/go.sum
  core/internal/corelib/summarylib.go
  tests/pytest_tests/system_tests/test_core/test_wandb_run.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  .bumpversion.core.cfg
  .github/workflows/release-core.yml
  .gitignore
  core/.gitignore
  core/MANIFEST.in
  core/Makefile
  tools/wini/wini.py
  wandb_core/.gitignore
  wandb_core/MANIFEST.in
  wandb_core/README.md
  wandb_core/pyproject.toml
  wandb_core/setup.py
  wandb_core/wandb_core/__init__.py
Due: none

[𝘀𝗽𝗿] changes to main this commit is based on
  .bumpversion.core.cfg
  .github/workflows/release-core.yml
  .gitignore
  core/.gitignore
  core/MANIFEST.in
  core/Makefile
  tools/wini/wini.py
  wandb_core/.gitignore
  wandb_core/MANIFEST.in
  wandb_core/README.md
  wandb_core/pyproject.toml
  wandb_core/setup.py
  wandb_core/wandb_core/__init__.py
Due: none

Add test for receiving nil,nil responses from retryablehttp.Client
  core/internal/api/api.go
  core/internal/api/send_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

ini commit
  wandb/sdk/launch/agent2/controllers/base.py
Due: none

wip
  wandb/sdk/launch/agent2/controllers/k8s.py
  wandb/sdk/launch/agent2/controllers/local_container.py
Due: none

item -> item_id
  wandb/sdk/launch/agent2/controllers/base.py
Due: none

Write to debug log if no response was received
  core/internal/api/logging.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

undo version symlink
  .bumpversion.core.cfg
  wandb_core/wandb_core/__init__.py
  wandb_core/wandb_core/version.py
  wandb_core_noop/wandb_core/__init__.py
  wandb_core_noop/wandb_core/version.py
Due: none

rename directory to wandb_core_pkg to avoid conflicts
  .bumpversion.core.cfg
  tools/wini/wini.py
  wandb_core_pkg/.gitignore
  wandb_core_pkg/MANIFEST.in
  wandb_core_pkg/README.md
  wandb_core_pkg/pyproject.toml
  wandb_core_pkg/setup.py
  wandb_core_pkg/wandb_core/__init__.py
Due: none

[𝘀𝗽𝗿] changes introduced through rebase
  .bumpversion.core.cfg
  tools/wini/wini.py
  wandb_core_pkg/.gitignore
  wandb_core_pkg/MANIFEST.in
  wandb_core_pkg/README.md
  wandb_core_pkg/pyproject.toml
  wandb_core_pkg/setup.py
  wandb_core_pkg/wandb_core/__init__.py
Due: none

more fixes
  wandb/sdk/launch/agent2/controllers/base.py
  wandb/sdk/launch/agent2/controllers/k8s.py
  wandb/sdk/launch/agent2/controllers/local_container.py
  wandb/sdk/launch/agent2/controllers/local_process.py
Due: none

fix missed rename
  .github/workflows/release-core.yml
Due: none

[𝘀𝗽𝗿] changes introduced through rebase
  .github/workflows/release-core.yml
Due: none

fix another missed rename
  tools/wini/wini.py
Due: none

[𝘀𝗽𝗿] changes introduced through rebase
  tools/wini/wini.py
Due: none

fix another rename
  tools/wini/wini.py
Due: none

install Python deps to build noop wheel
  .github/workflows/release-core.yml
Due: none

adding back the required flag for wandb-core
  .circleci/config.yml
  core/README.md
  wandb/env.py
  wandb/sdk/service/service.py
  wandb/sdk/wandb_require.py
Due: none

use exiting setting + pipe it through
  .circleci/config.yml
  core/pkg/service/wandb_settings.pb.go
  tox.ini
  wandb/env.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_require.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

add dev version for core
  .bumpversion.core.cfg
  core/README.md
  core/internal/version/version.go
  core/pyproject.toml
  core/wandb_core/__init__.py
  noxfile.py
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

split core error reporting
  wandb/env.py
  wandb/sdk/service/service.py
  wandb/util.py
Due: none

set up base class for managers
  wandb/sdk/launch/agent2/controllers/base.py
  wandb/sdk/launch/agent2/controllers/k8s.py
  wandb/sdk/launch/agent2/controllers/local_container.py
  wandb/sdk/launch/agent2/controllers/local_process.py
Due: none

add discoverability label constructor, todos for queue_id
  wandb/sdk/launch/agent2/controllers/base.py
  wandb/sdk/launch/agent2/jobset.py
Due: none

Use random file names in incremental add
  tests/standalone_tests/large_artifact_benchmark.py
Due: none

Explicitly log that no response or error came back
  core/internal/api/logging.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): check for nil http client responses (#7272)
  CHANGELOG.md
  core/internal/api/api.go
  core/internal/api/logging.go
  core/internal/api/send.go
  core/internal/api/send_test.go
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(launch): Add Job type, fix typing issues, and have k8s manager use queue driver (#7297)
  wandb/sdk/launch/agent2/agent.py
  wandb/sdk/launch/agent2/controller.py
  wandb/sdk/launch/agent2/controllers/k8s.py
  wandb/sdk/launch/agent2/controllers/local_container.py
  wandb/sdk/launch/agent2/controllers/util.py
  wandb/sdk/launch/agent2/jobset.py
  wandb/sdk/launch/queue_driver/abstract.py
  wandb/sdk/launch/queue_driver/passthrough.py
  wandb/sdk/launch/queue_driver/standard_queue_driver.py
Due: none

wip
  wandb/sdk/launch/agent2/controllers/local_container.py
Due: none

comments
  wandb/sdk/launch/agent2/controllers/base.py
  wandb/sdk/launch/agent2/controllers/local_process.py
Due: none

[𝘀𝗽𝗿] initial version
  .github/workflows/release-core.yml
  core/setup.py
  core/wandb_core/__init__.py
Due: none

update wini
  .github/workflows/release-core.yml
  core/wandb_core/__init__.py
  tools/wini/print.py
  tools/wini/subprocess.py
  tools/wini/wini.py
Due: none

fix requirements install in GH action
  .github/workflows/release-core.yml
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$
