Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

runsync no args summary
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta_sync.py
Due: none

feat: wandb beta sync with no arguments uses wandb_dir (#11119)
  tests/system_tests/test_core/test_offline_sync_beta.py
  wandb/cli/beta_sync.py
Due: none

runsync term functions
  tests/conftest.py
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/unit_tests/test_term.py
  wandb/cli/beta_sync.py
  wandb/errors/term.py
Due: none

refactor: use term* functions in wandb beta sync (#11124)
  tests/conftest.py
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/unit_tests/test_term.py
  wandb/cli/beta_sync.py
  wandb/errors/term.py
Due: none

chore(artifacts): use wandb_setup.singleton().settings for headers
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/sdk/artifacts/storage_policies/_factories.py
Due: none

chore(artifacts): add extra http headers from env vars
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/_factories.py
Due: none

chore(artifacts): add extra http headers from env vars (#11042)
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/_factories.py
Due: none

feat: add download_history_export on api.run
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/reader.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/system_tests/test_api/test_public_api_history.py
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update changelog
  CHANGELOG.unreleased.md
Due: none

chore(artifacts): use list_blobs DNM by claude code
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
Due: none

add requre_complete_history parameter to fail before trying to download incomplete data
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use http.request.do
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/reader.go
  core/internal/wbapi/readrunhistoryhandler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

document protobufs
  core/internal/runhistoryreader/reader.go
  wandb/apis/public/runs.py
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use retryable http client
  core/internal/runhistoryreader/parquet/downloads/downloader.go
  core/internal/runhistoryreader/parquet/remote/httpfile.go
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/runs.py
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

cleanup
  wandb/apis/public/runs.py
Due: none

fix tests
  core/internal/runhistoryreader/parquet/downloader.go
  core/internal/runhistoryreader/parquet/downloads/downloader.go
  core/internal/runhistoryreader/parquet/remote/httpfile.go
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
  core/internal/runhistoryreader/reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): combine redundant Run(s) vs LightRun(s) GQL queries
  tools/graphql_codegen/api/runs.graphql
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/get_light_run.py
  wandb/apis/_generated/get_light_runs.py
  wandb/apis/_generated/get_run.py
  wandb/apis/_generated/get_runs.py
  wandb/apis/_generated/operations.py
  wandb/apis/public/runs.py
Due: go-generate-graphql

drop obsolete commented code
  tools/graphql_codegen/api/runs.graphql
Due: go-generate-graphql

chore(artifacts): remove deprecated/obsolete `wandb.beta.workflows` module (#11141)
  BREAKING.md
  CHANGELOG.unreleased.md
  pyproject.toml
  tests/unit_tests/test_model_workflows.py
  wandb/beta/workflows.py
Due: none

add error types to api error responses
  core/internal/wbapi/readrunhistoryhandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/runs.py
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

google auth requirement
  requirements_dev.txt
Due: none

chore: skip google-auth==2.46.0 in CI (#11148)
  requirements_dev.txt
Due: none

runsync resumed run test
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: none

add dataclass documentation
  wandb/apis/public/runs.py
Due: none

chore: update test_offline_sync_beta.py::test_syncs_resumed_run (#11144)
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: none

use default slog file in api requests
  core/internal/wbapi/readrunhistoryhandler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

absorb Job-related changes to API
  tools/graphql_codegen/api/jobs.graphql
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/artifact_of_type.py
  wandb/apis/_generated/enums.py
  wandb/apis/_generated/operations.py
  wandb/apis/public/api.py
Due: go-generate-graphql

fix(sdk): fix/add type hints in wandb.apis.public.history
  wandb/apis/public/history.py
Due: none

fix(sdk): fix/add type hints in wandb.apis.public.jobs
  wandb/apis/public/jobs.py
Due: none

wandb dir watcher
  core/internal/leet/messages.go
  core/internal/leet/pagedlist.go
  core/internal/leet/watchermanager.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacedirwatcher.go
  core/internal/leet/workspacemetrics.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

revert google auth constraint
  requirements_dev.txt
Due: none

chore: revert google-auth constraint in CI (#11151)
  requirements_dev.txt
Due: none

fix graphite reorder
  tools/graphql_codegen/api/reports.graphql
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/fragments.py
  wandb/apis/_generated/operations.py
  wandb/apis/_generated/project_views.py
  wandb/apis/public/reports.py
Due: go-generate-graphql

fix type hints
  wandb/apis/public/history.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
