Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$

lint
  client/src/wandb_internal.rs
Due: none

hacks
  wandb/sdk/wandb_stream_table.py
Due: none

move functions to printer
  client/src/binder.rs
  client/src/printer.rs
  client/src/wandb_internal.rs
Due: none

update proto
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

gen proto
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

do partial history in log instead of history for now
  client/src/binder.rs
  client/src/run.rs
  client/src/wandb_internal.rs
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  client/src/run.rs
  client/src/wandb_internal.rs
Due: none

add recordmatch
  nexus/internal/nexustest/recordmatch.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

format
  nexus/internal/nexustest/recordmatch.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix benchmark
  nexus/pkg/gowandb/run.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add stream
  nexus/cmd/benchmark/main.go
  nexus/pkg/gowandb/manager.go
  nexus/pkg/gowandb/session.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

add proto
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

update proto
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

wired the header
  client/src/binder.rs
  client/src/connection.rs
  client/src/lib.rs
  client/src/printer.rs
  client/src/run.rs
  client/src/session.rs
  client/src/wandb_internal.rs
Due: none

lint
  client/src/printer.rs
  client/src/wandb_internal.rs
Due: none

update
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/sender.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

wire up footer
  client/Cargo.lock
  client/Cargo.toml
  client/src/binder.rs
  client/src/connection.rs
  client/src/printer.rs
  client/src/run.rs
  client/src/session.rs
  client/src/wandb_internal.rs
Due: none

lint
  client/src/binder.rs
  client/src/wandb_internal.rs
Due: none

lint
  client/Cargo.toml
  client/src/wandb_internal.rs
Due: none

stub for sampled history stuff
  client/src/wandb_internal.rs
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

stub for sampled history stuff
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/handler.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update proto
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

add streamdata
  nexus/pkg/server/streamdata.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add stream
  nexus/pkg/gowandb/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

udpate
  nexus/pkg/gowandb/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/streamdata.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add sampled history
  client/src/binder.rs
  client/src/printer.rs
  client/src/run.rs
  nexus/pkg/server/handler.go
  nexus/pkg/server/history.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add summary
  client/src/printer.rs
  client/src/run.rs
Due: none
