Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$

found a few missing awaits in gcp registry code
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_vertex.py
  wandb/sdk/launch/registry/google_artifact_registry.py
  wandb/sdk/launch/runner/vertex_runner.py
Due: none

job builder done
  nexus/pkg/launch/job_builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

skip formatting generated rust code
  client/build.rs
Due: none

skip formatting generated rust code
  client/.rustfmt.toml
Due: none

skip formatting generated rust code
  .pre-commit-config.yaml
  client/src/wandb_internal.rs
Due: none

skip formatting generated rust code
  .pre-commit-config.yaml
  client/Cargo.lock
  client/Cargo.toml
  client/src/wandb_internal.rs
Due: none

skip formatting generated rust code
  .pre-commit-config.yaml
  client/.rustfmt.toml
  client/Cargo.lock
  client/Cargo.toml
  client/src/wandb_internal.rs
Due: none

use clippy?
  .pre-commit-config.yaml
Due: none

use clippy?
  client/src/run.rs
  client/src/wandb_internal.rs
Due: none

use clippy?
  client/src/run.rs
Due: none

organize printer
  client/src/binder.rs
  client/src/printer.rs
Due: none

allow logging ints, floats, and strings
  client/src/binder.rs
  client/src/run.rs
  client/src/session.rs
Due: none

fix conflict
  client/src/printer.rs
Due: none

add builder
  nexus/pkg/artifacts/builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/artifacts/builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(artifacts): add progress bar for upload
  tests/pytest_tests/system_tests/test_artifacts/test_misc2.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/sender.py
  wandb/sdk/lib/printer.py
  wandb/sdk/wandb_run.py
Due: none

change icon
  wandb/sdk/lib/printer.py
Due: none

hackweek
  nexus/internal/uploader/uploader_default.go
  nexus/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove logging
  nexus/internal/uploader/upload_manager.go
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/cmd/benchmark/main.go
  nexus/pkg/gowandb/opts/runopts/runopts.go
  nexus/pkg/gowandb/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

up
  nexus/pkg/gowandb/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

form
  nexus/pkg/gowandb/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix formatting bloopers
  client/src/binder.rs
  client/src/printer.rs
Due: none

Add serde fix macos build
  client/Cargo.lock
  client/Cargo.toml
  client/build.rs
  client/src/run.rs
Due: none

fix formatting bloopers
  client/Cargo.toml
  client/src/printer.rs
Due: none

add todos
  client/src/printer.rs
Due: none

put the pyproject file back in
  client/pyproject.toml
Due: none

fix manifest digest
  nexus/internal/clients/retry_policy.go
  nexus/pkg/artifacts/builder.go
  nexus/pkg/artifacts/manifest.go
  nexus/pkg/filestream/loop_process.go
  nexus/pkg/server/sender.go
  nexus/pkg/utils/hash.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/internal/clients/retry_policy.go
  nexus/pkg/artifacts/builder.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/gowandb/stream.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

test
  wandb/apis/importers/logs.py
  wandb/apis/importers/wandb.py
Due: none

format
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
