Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

chore(artifacts): fix mypy
  wandb/sdk/lib/hashutil.py
Due: none

fix observability import
  core/internal/filetransfer/file_transfer_s3.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix utils
  core/internal/gqlprobe/probe_utils.go
  core/pkg/artifacts/linker.go
  core/pkg/artifacts/saver.go
  core/pkg/artifacts/utils.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): Add falsifying example
  tests/unit_tests/test_lib/test_hashutil.py
Due: none

test(artifacts): Increase default hypothesis deadline
  tests/unit_tests/conftest.py
Due: none

test(artifacts): cleanup test_hashutil
  tests/unit_tests/test_lib/test_hashutil.py
Due: none

use aws environment vars to set up config if set
  core/internal/filetransfer/file_transfer_s3.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add comment
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix import in test
  core/pkg/artifacts/saver_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(artifacts): fix OSError from Artifact.add_file on mounted filesystems (#8473)
  CHANGELOG.md
  tests/unit_tests/conftest.py
  tests/unit_tests/test_lib/test_hashutil.py
  wandb/sdk/lib/hashutil.py
Due: none

popytka nomer dva
  core/pkg/server/handler.go
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add new query and wireup the message
  core/api/graphql/query_tail_history.graphql
  core/internal/gql/gql_gen.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add api to retrieve last logged history line in experimental c# client
  core/pkg/service_go_proto/wandb_internal.pb.go
  experimental/client-csharp/examples/Basic/Program.cs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

make sure summary is updated
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
Due: none

remove changes
  core/api/graphql/query_tail_history.graphql
  core/internal/gql/gql_gen.go
  core/internal/tensorboard/tbproto/histogram.pb.go
  core/internal/tensorboard/tbproto/tensor.pb.go
  core/internal/tensorboard/tbproto/tfevent.pb.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove changed files
  core/internal/tensorboard/tbproto/histogram.pb.go
  core/internal/tensorboard/tbproto/tensor.pb.go
  core/internal/tensorboard/tbproto/tfevent.pb.go
Due: none

fix(artifacts): ensure finished runs await all artifacts logged in that run
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  wandb/sdk/wandb_run.py
Due: none

fix(artifacts): linting
  wandb/sdk/wandb_run.py
Due: none

use Newtonsoft for deserialization
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Run.cs
  experimental/client-csharp/src/Wandb/Wandb.csproj
Due: none

nit
  experimental/client-csharp/src/Wandb/Run.cs
Due: none

tpu chip metadata
  core/pkg/monitor/tpu.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/pkg/monitor/tpu.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

probe
  core/pkg/monitor/tpu.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  hatch_build.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: build macos wheel for older os versions
  .github/workflows/release-sdk.yml
Due: none

migrate sentry-sdk dependency from min version from 1.0.0 to 2.0.0
  pyproject.toml
  wandb/analytics/sentry.py
Due: none

chore: build macos wheel for older os versions
  apple_stats/Package.swift
Due: none

update changelog
  CHANGELOG.md
Due: none

fix type hits failing CI
  wandb/analytics/sentry.py
Due: none

debug
  .github/workflows/release-sdk.yml
Due: none

chore: use metadata attribute for distribution
  wandb/util.py
Due: none

chore: use metadata attribute for distribution (#8489)
  wandb/util.py
Due: none

Only run the necessary query when getting run input/output artifacts
  wandb/apis/public/artifacts.py
Due: none

Add Literal typecheck annotation for `mode`
  wandb/apis/public/artifacts.py
Due: none

ci magic
  .bumpversion.go.cfg
  .github/workflows/release-sdk.yml
Due: none

ci magic
  .github/workflows/release-sdk.yml
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
