Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

app_url setting
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tests/unit_tests/test_lib/test_auth_host_url.py
  tests/unit_tests/test_lib/test_auth_prompt.py
  tests/unit_tests/test_wandb_settings.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/wbauth/host_url.py
  wandb/sdk/lib/wbauth/prompt.py
  wandb/sdk/wandb_login.py
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_setup.py
  wandb/util.py
Due: go-generate-proto

chore(sdk): update server_image_tag to current EOL server v0.63.0
  .circleci/config.yml
Due: none

refactor: create app_url setting (#11109)
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tests/unit_tests/test_lib/test_auth_host_url.py
  tests/unit_tests/test_lib/test_auth_prompt.py
  tests/unit_tests/test_wandb_settings.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/wbauth/host_url.py
  wandb/sdk/lib/wbauth/prompt.py
  wandb/sdk/wandb_login.py
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_setup.py
  wandb/util.py
Due: go-generate-proto

transactionlog reset print
  core/internal/transactionlog/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor: log ResetLastRead at debug level instead of info (#11110)
  core/internal/transactionlog/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add tests
  tests/assets/notebooks/api_run_display.ipynb
  tests/system_tests/test_notebooks/test_notebooks.py
  wandb/apis/public/runs.py
Due: none

fix failing tests
  wandb/apis/public/runs.py
  wandb/jupyter.py
  wandb/sdk/lib/ipython.py
  wandb/sdk/wandb_run.py
Due: none

update changelog
  CHANGELOG.unreleased.md
Due: none

address comments
  CHANGELOG.unreleased.md
  tests/system_tests/test_notebooks/test_notebooks.py
  wandb/sdk/lib/ipython.py
  wandb/sdk/wandb_run.py
Due: none

fix: do not try to display runs as iframe for vscode notebooks
  wandb/apis/public/runs.py
  wandb/jupyter.py
Due: none

chore(sdk): update server_image_tag to current EOL server v0.63.0 (#11115)
  .circleci/config.yml
Due: none

run url printing
  CHANGELOG.unreleased.md
  core/internal/runbranch/state.go
  core/internal/runbranch/state_test.go
  core/internal/settings/settings.go
  core/internal/stream/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: print a valid URL at the end of a run (#11113)
  CHANGELOG.unreleased.md
  core/internal/runbranch/state.go
  core/internal/runbranch/state_test.go
  core/internal/settings/settings.go
  core/internal/stream/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

runsync logs directory
  core/internal/runsync/logging.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(artifacts): drop introspection for orgEntity field on past-EOL servers
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/sdk/artifacts/_gqlutils.py
Due: none

refactor: put beta sync logs into wandb/logs/ (#11108)
  core/internal/runsync/logging.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

leet transactionlog
  core/internal/leet/livestore.go
  core/internal/leet/livestore_test.go
  core/internal/leet/reader.go
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog_test.go
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/livereader_test.go
  core/pkg/leveldb/record.go
  core/pkg/leveldb/record_internal_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove obsolete test/mock
  tests/system_tests/test_artifacts/test_gqlutils.py
Due: none

remove commented code
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/sdk/artifacts/_gqlutils.py
Due: none

refactor: use transactionlog in leet (#11103)
  core/internal/leet/livestore.go
  core/internal/leet/livestore_test.go
  core/internal/leet/reader.go
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog_test.go
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/livereader_test.go
  core/pkg/leveldb/record.go
  core/pkg/leveldb/record_internal_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

runsync live
  CHANGELOG.unreleased.md
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/wire_gen.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/system_tests/test_functional/sync/test_sync.py
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: wandb beta sync --live (#11079)
  CHANGELOG.unreleased.md
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/wire_gen.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/system_tests/test_functional/sync/test_sync.py
  wandb/cli/beta.py
  wandb/cli/beta_sync.py
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

simplify gql parsing/validation logic
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
Due: none

remove obsolete check for artifact tags support in tests
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

fix artifact system tests
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

fix artifact unit tests
  tests/unit_tests/test_artifacts/test_saved_model.py
Due: none

fix(artifacts): remove omit_artifact_fields helper only needed for past-EOL servers
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

fix registry system tests
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
Due: none

cleanup
  wandb/sdk/artifacts/artifact.py
Due: none

fix(artifacts): drop `omit_artifact_fields` introspection helper only needed on past-EOL servers (#11116)
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tests/unit_tests/test_artifacts/test_saved_model.py
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

fix(artifacts): remove supports_enable_tracking_var helper only needed for past-EOL servers
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: none

cleanup
  wandb/sdk/artifacts/artifact_file_cache.py
Due: none

fix(artifacts): drop `supports_enable_tracking_var()` introspection helper only needed on past-EOL servers (#11117)
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: none

fix(artifacts): drop AddAliasesInput introspection query only needed on past-EOL servers
  wandb/sdk/artifacts/artifact.py
Due: none

fix(artifacts): drop `AddAliasesInput` introspection query only needed on past-EOL servers (#11118)
  wandb/sdk/artifacts/artifact.py
Due: none

printer severity
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamstate.go
  core/internal/filestream/filestreamstate_test.go
  core/internal/filestream/updatehistory.go
  core/internal/observability/printer.go
  core/internal/observability/printer_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncoperation.go
  core/internal/stream/handler.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: observability.Printer severity levels (#11121)
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamstate.go
  core/internal/filestream/filestreamstate_test.go
  core/internal/filestream/updatehistory.go
  core/internal/observability/printer.go
  core/internal/observability/printer_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncoperation.go
  core/internal/stream/handler.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  wandb/proto/v3/wandb_sync_pb2.py
  wandb/proto/v3/wandb_sync_pb2.pyi
  wandb/proto/v4/wandb_sync_pb2.py
  wandb/proto/v4/wandb_sync_pb2.pyi
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/wandb_sync.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

docs(sdk): automations metric docstrings (#11086)
  wandb/apis/public/runs.py
  wandb/automations/_filters/run_metrics.py
  wandb/automations/events.py
Due: none

fix(artifacts): drop introspection for `orgEntity` field on past-EOL servers (#11120)
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_artifacts/test_gqlutils.py
  wandb/sdk/artifacts/_gqlutils.py
Due: none

regenerate code + cleanup
  tests/system_tests/test_core/test_public_api.py
  tests/unit_tests/test_public_api/test_public_api.py
  tools/graphql_codegen/api/api.toml
  tools/graphql_codegen/api/projects.graphql
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/create_project.py
  wandb/apis/_generated/fragments.py
  wandb/apis/_generated/get_projects.py
  wandb/apis/_generated/input_types.py
  wandb/apis/_generated/operations.py
  wandb/apis/attrs.py
  wandb/apis/public/api.py
  wandb/apis/public/projects.py
Due: go-generate-graphql
