Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)

wip
  core/internal/runbranching/branch.go
  core/internal/runbranching/runresume.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

remove unused function & rebase
  core/internal/runsummary/runsummary.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

[𝘀𝗽𝗿] changes introduced through rebase
  wandb/util.py
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  wandb/util.py
Due: go-mod-tidy

fix go lint
  core/internal/runconfig/runconfig.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

clone slice properly
  core/internal/runconfig/runconfig.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(sdk): Improve `util.py::merge_dicts()` (#7961)
  wandb/util.py
Due: go-mod-tidy

refactor(core): Replace `pathtree.Tree()` by alternatives
  core/internal/pathtree/pathtree.go
  core/internal/runconfig/runconfig.go
  core/internal/runconfig/runconfig_test.go
  core/internal/runhistory/runhistory.go
  core/internal/runhistory/runhistory_test.go
  core/internal/runresume/resume_test.go
  core/internal/runresume/runresume.go
  core/internal/runsummary/runsummary.go
  core/internal/runsummary/runsummary_test.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/wandb_config.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Return a result instead of using parent's chan
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Return early when checking through errors
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Check for duplicate and out-of-bounds part numbers
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Extract getContentType
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): Enable the Go race detector in all CI tests
  core/hatch.py
  hatch_build.py
  noxfile.py
  tox.ini
Due: go-mod-tidy

fix(core): Don't send heartbeat if data is available
  core/internal/filestream/transmitloop.go
  core/internal/filestream/transmitloop_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): Define FileStreamRequest, delete CollectorState
  core/internal/filestream/collectloop.go
  core/internal/filestream/collectloop_test.go
  core/internal/filestream/collectorstate.go
  core/internal/filestream/collectorstate_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
  core/internal/filestream/transmitloop.go
  core/internal/filestream/transmitloop_test.go
  core/internal/filestream/update.go
  core/internal/filestream/updateexit.go
  core/internal/filestream/updatefilesuploaded.go
  core/internal/filestream/updatehistory.go
  core/internal/filestream/updatelogs.go
  core/internal/filestream/updatepreempting.go
  core/internal/filestream/updatestats.go
  core/internal/filestream/updatesummary.go
  core/internal/filestreamtest/filestreamtest.go
  core/internal/sparselist/sparselist.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(core): Fix race condition in `runconsolelogs`
  CHANGELOG.md
  core/internal/filestreamtest/filestreamtest.go
  core/internal/runconsolelogs/debouncedwriter.go
  core/internal/runconsolelogs/debouncedwriter_test.go
  core/internal/runconsolelogs/filestreamwriter.go
  core/internal/runconsolelogs/outputfilewriter.go
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/runconsolelogs/runlogschangemodel.go
  core/internal/terminalemulator/lines.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(core): Add `@override` to method to silence lint
  hatch_build.py
  pyproject.toml
Due: go-mod-tidy

feat(sdk): enable uploading ranges of files in core (#7660)
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/tasks.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(artifacts): remove directory-only restriction on `path_prefix` (#7721)
  CHANGELOG.md
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: go-mod-tidy

refactor(core): Move some error message properties to tags
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): Add URL to filestream error message
  core/internal/filestream/filestreamimpl.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(artifacts): update changelog with link artifact change (#7941)
  CHANGELOG.md
Due: go-mod-tidy

docs(sdk): update add_reference() docstring (#7935)
  wandb/sdk/artifacts/artifact.py
Due: go-mod-tidy

refactor(core): Better error message in pathtree.go (#7915)
  core/internal/pathtree/pathtree.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(artifacts): Move LinkArtifact to Mailbox and convert Record to Request (#6941)
  core/pkg/artifacts/linker.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/service/wandb_internal.pb.go
  core/vendor/google.golang.org/protobuf/types/known/emptypb/empty.pb.go
  core/vendor/modules.txt
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/sender.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(core): use correct headers for service account (#7898)
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): Update bench.md (#7936)
  tools/bench/bench.md
Due: go-mod-tidy

refactor(core): stdlib json in artifacts / launch code, plus cleanup
  core/pkg/artifacts/builder.go
  core/pkg/artifacts/builder_test.go
  core/pkg/artifacts/manifest.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/utils/files.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(sdk): Clean up file upload stats footer
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

chore(artifacts): record the http.Response on filetransfer.Task uploads and downloads (#7920)
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/tasks.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): Use stdlib json in tests and experimental code (#7931)
  core/internal/data_types/data_types_test.go
  core/internal/gqlmock/gqlmock.go
  core/internal/gqlmock/remarshall.go
  core/pkg/monitor/gpu_amd_test.go
  core/pkg/observability/logging_test.go
  experimental/client-go/pkg/gowandb/run.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): Clean up `pathtree`
  core/internal/pathtree/pathtree.go
  core/internal/pathtree/pathtree_test.go
  core/internal/runconfig/runconfig.go
  core/internal/runhistory/runhistory.go
  core/internal/runresume/runresume.go
  core/internal/runsummary/runsummary.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(artifacts): add utils.ComputeHexMD5 for hashing bytes (#7918)
  core/pkg/utils/hash.go
  core/pkg/utils/hash_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): clean up SystemMonitor::Monitor (#7909)
  core/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(sdk): Remove os._exit() from Run.finish(), and clean up (#7921)
  CHANGELOG.md
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

fix(artifacts): Fix OSError on `Artifact.download(skip_cache=True)` when encountering different filesystems (#7835)
  CHANGELOG.md
  requirements_test.txt
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: go-mod-tidy

fix(artifacts): update incremental manifest instead of creating (#7939)
  CHANGELOG.md
  core/api/graphql/mutation_update_artifact_manifest.graphql
  core/internal/gql/gql_gen.go
  core/pkg/artifacts/saver.go
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): bump go version and add automation (#7906)
  .bumpversion.go.cfg
  .circleci/config.yml
  CONTRIBUTING.md
  core/go.mod
  experimental/client-go/go.mod
  noxfile.py
  tools/get-go-version.py
Due: go-mod-tidy
