Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

chore: evergreen macos 10 release issues
  .github/workflows/release-sdk.yml
Due: none

chore: (timeboxed) artifacts nits/cleanup
  wandb/_iterutils.py
  wandb/_pydantic/__init__.py
  wandb/_pydantic/utils.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_download_logger.py
  wandb/sdk/artifacts/artifact_state.py
  wandb/sdk/artifacts/artifact_ttl.py
  wandb/sdk/artifacts/exceptions.py
  wandb/sdk/artifacts/staging.py
  wandb/sdk/artifacts/storage_layout.py
  wandb/sdk/wandb_run.py
Due: none

chore: minor tweaks
  wandb/sdk/data_types/table.py
Due: none

chore: check if incr before accessing data member
  wandb/sdk/data_types/table.py
Due: none

chore: remove decorator on some fns
  wandb/sdk/data_types/table.py
Due: none

clean up typing
  cmd/ctrlc/root/apply/apply.go
  cmd/ctrlc/root/root.go
  cmd/ctrlc/root/sync/aws/common/regions.go
  cmd/ctrlc/root/sync/aws/eks/eks.go
  cmd/ctrlc/root/sync/aws/rds/rds.go
  cmd/ctrlc/root/sync/azure/aks/aks.go
  cmd/ctrlc/root/sync/azure/azure.go
  cmd/ctrlc/root/sync/github/github.go
  cmd/ctrlc/root/sync/github/pullrequests.go
  cmd/ctrlc/root/sync/google/cloudsql/cloudsql.go
  cmd/ctrlc/root/sync/google/gke/gke.go
  internal/api/client.gen.go
  internal/api/resource_provider.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: custom go.mod@1.22 for building core for MacOS 10
  .github/workflows/release-sdk.yml
  core/go.mod.1.22
Due: none

clean up
  cmd/ctrlc/root/apply/apply.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: custom go.mod@1.22 for building core for MacOS 10
  core/go.mod.1.22
Due: none

chore: custom go.mod@1.22 for building core for MacOS 10 (#9824)
  .github/workflows/release-sdk.yml
  core/go.mod.1.22
Due: none

Hide internal Settings Class methods
  wandb/sdk/wandb_settings.py
Due: none

comment updates
  core/internal/paths/paths.go
  core/internal/runmetric/runconfigmetrics.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Added code to custom chart
  wandb/plot/custom_chart.py
  wandb/sdk/wandb_setup.py
Due: none

More feedback.
  wandb/__init__.pyi
  wandb/sdk/wandb_login.py
  wandb/sdk/wandb_run.py
Due: none

Fixed rendering
  wandb/sdk/wandb_login.py
Due: none

stubs
  wandb/__init__.pyi
Due: none

Basic descriptions
  wandb/sdk/wandb_settings.py
Due: none

chore: unpin uv
  .circleci/config.yml
Due: none

chore: unpin uv (#9826)
  .circleci/config.yml
Due: none

chore: bump go version 1.24.2 -> 1.24.3
  .bumpversion.go.cfg
  .circleci/config.yml
  CONTRIBUTING.md
  core/go.mod
  core/go.sum
  core/vendor/cloud.google.com/go/internal/.repo-metadata-full.json
  core/vendor/dario.cat/mergo/FUNDING.json
  core/vendor/dario.cat/mergo/README.md
  core/vendor/dario.cat/mergo/SECURITY.md
  core/vendor/github.com/cncf/xds/go/xds/type/matcher/v3/matcher.pb.go
  core/vendor/github.com/cncf/xds/go/xds/type/matcher/v3/matcher.pb.validate.go
  core/vendor/github.com/vektah/gqlparser/v2/formatter/formatter.go
  core/vendor/github.com/vektah/gqlparser/v2/gqlerror/error.go
  core/vendor/github.com/vektah/gqlparser/v2/parser/parser.go
  core/vendor/golang.org/x/crypto/ssh/mlkem.go
  core/vendor/golang.org/x/sys/cpu/cpu.go
  core/vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  core/vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  core/vendor/golang.org/x/sys/windows/security_windows.go
  core/vendor/golang.org/x/sys/windows/syscall_windows.go
  core/vendor/golang.org/x/sys/windows/types_windows.go
  core/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  core/vendor/golang.org/x/tools/go/packages/golist.go
  core/vendor/golang.org/x/tools/go/packages/packages.go
  core/vendor/golang.org/x/tools/go/types/typeutil/callee.go
  core/vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  core/vendor/golang.org/x/tools/internal/stdlib/deps.go
  core/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  core/vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  core/vendor/modules.txt
Due: none

fix: stop creating throwaway runs when linking an artifact
  tests/system_tests/backend_fixtures.py
  tests/system_tests/test_registries/test_link_artifact_to_org_registry.py
  tools/graphql_codegen/utils/utils_queries.graphql
  wandb/sdk/internal/_generated/__init__.py
  wandb/sdk/internal/_generated/fetch_org_entity_from_organization.py
  wandb/sdk/internal/_generated/operations.py
Due: go-generate-graphql

fix: stop creating throwaway runs when linking an artifact
  tests/system_tests/test_registries/test_link_registry.py
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/utils/utils_queries.graphql
  wandb/automations/_generated/enums.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/link_artifact.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/internal/_generated/__init__.py
  wandb/sdk/internal/_generated/fetch_org_entity_from_organization.py
  wandb/sdk/internal/_generated/operations.py
Due: go-generate-graphql

fix: stop creating throwaway runs when linking an artifact
  CHANGELOG.unreleased.md
  tests/system_tests/backend_fixtures.py
  tests/system_tests/test_registries/test_link_artifact_to_org_registry.py
  tests/system_tests/test_registries/test_link_registry.py
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/utils/utils_queries.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/link_artifact.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/internal/_generated/__init__.py
  wandb/sdk/internal/_generated/fetch_org_entity_from_organization.py
  wandb/sdk/internal/_generated/operations.py
  wandb/sdk/wandb_run.py
Due: go-generate-graphql

add resource provider config options
  cmd/ctrlc/root/apply/apply.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: bump go version 1.24.2 -> 1.24.3 (#9827)
  .bumpversion.go.cfg
  .circleci/config.yml
  CONTRIBUTING.md
  core/go.mod
  core/go.sum
  core/vendor/cloud.google.com/go/internal/.repo-metadata-full.json
  core/vendor/dario.cat/mergo/FUNDING.json
  core/vendor/dario.cat/mergo/README.md
  core/vendor/dario.cat/mergo/SECURITY.md
  core/vendor/github.com/cncf/xds/go/xds/type/matcher/v3/matcher.pb.go
  core/vendor/github.com/cncf/xds/go/xds/type/matcher/v3/matcher.pb.validate.go
  core/vendor/github.com/vektah/gqlparser/v2/formatter/formatter.go
  core/vendor/github.com/vektah/gqlparser/v2/gqlerror/error.go
  core/vendor/github.com/vektah/gqlparser/v2/parser/parser.go
  core/vendor/golang.org/x/crypto/ssh/mlkem.go
  core/vendor/golang.org/x/sys/cpu/cpu.go
  core/vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  core/vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  core/vendor/golang.org/x/sys/windows/security_windows.go
  core/vendor/golang.org/x/sys/windows/syscall_windows.go
  core/vendor/golang.org/x/sys/windows/types_windows.go
  core/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  core/vendor/golang.org/x/tools/go/packages/golist.go
  core/vendor/golang.org/x/tools/go/packages/packages.go
  core/vendor/golang.org/x/tools/go/types/typeutil/callee.go
  core/vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  core/vendor/golang.org/x/tools/internal/stdlib/deps.go
  core/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  core/vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  core/vendor/modules.txt
Due: none

chore: Store a list of previous increment artifact URLs to handle out of order artifact increment processing
  tests/system_tests/test_artifacts/test_data_types.py
  wandb/sdk/data_types/table.py
  wandb/sdk/data_types/table_decorators.py
  wandb/sdk/data_types/utils.py
Due: none

Update generate-docodile-documentation.yml
  .github/workflows/generate-docodile-documentation.yml
Due: none

chore: Make sure incremental table art type is sys generated
  wandb/sdk/data_types/table.py
  wandb/sdk/data_types/table_decorators.py
  wandb/sdk/data_types/utils.py
Due: none

docs(sdk): update generate-docodile-documentation.yml (#9831)
  .github/workflows/generate-docodile-documentation.yml
Due: none

chore: codecheck and unit test fixes
  tests/unit_tests/test_tables.py
  wandb/sdk/data_types/table.py
  wandb/sdk/data_types/table_decorators.py
Due: none

chore: codecheck
  wandb/sdk/data_types/table_decorators.py
Due: none

fix: restore bool check method but rename for brevity/clarity
  tests/unit_tests/test_internal_api.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registry.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/internal/internal_api.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
