Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

add gitignore file
  experimental/client-csharp/.gitignore
Due: none

rename readme
  experimental/client-csharp/README.md
Due: none

fix(sdk): don't shut down twice (#8318)
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(sdk): support up to 512 bins in TB histograms in core (#8319)
  core/internal/tensorboard/tfeventconverter_test.go
  core/internal/tensorboard/tfeventconverterhistograms.go
  tests/system_tests/test_functional/test_tensorboard/test_torch_tb.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: improve apple gpu stats monitor
  core/pkg/monitor/gpu_amd.go
  core/pkg/monitor/gpu_amd_test.go
  core/pkg/monitor/gpu_apple.go
  core/pkg/monitor/gpu_apple_test.go
  core/pkg/monitor/gpu_nvidia.go
  core/pkg/monitor/noop.go
  core/pkg/monitor/noop_linux.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

only build for arm64 macs
  apple_stats/hatch.py
  hatch_build.py
Due: none

rm debug
  apple_stats/hatch.py
Due: none

build quieryMapNumber on darwin only
  core/pkg/monitor/querymap.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

do it another way
  core/pkg/monitor/querymap.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): respect offline mode when sending telemetry (#8312)
  core/cmd/wandb-core/main.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: improve apple gpu stats monitor (#8323)
  apple_stats/hatch.py
  core/pkg/monitor/gpu_amd.go
  core/pkg/monitor/gpu_amd_test.go
  core/pkg/monitor/gpu_apple.go
  core/pkg/monitor/gpu_apple_test.go
  core/pkg/monitor/gpu_nvidia.go
  core/pkg/monitor/noop.go
  core/pkg/monitor/noop_linux.go
  core/pkg/monitor/querymap.go
  hatch_build.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

build for win
  core/pkg/monitor/gpu_nvidia.go
  core/pkg/monitor/noop.go
  core/pkg/monitor/noop_darwin.go
  hatch_build.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

skip if console is off
  core/internal/runconsolelogs/outputfilewriter.go
  core/internal/runconsolelogs/runconsolelogs.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): avoid uploading console file in off mode
  core/internal/runconsolelogs/outputfilewriter.go
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/settings/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

restore unchanged file
  core/internal/runconsolelogs/outputfilewriter.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

address review comments
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/settings/settings.go
  core/pkg/server/sender.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

run in ci
  .circleci/config.yml
Due: none

chore: turn release note step to draft for now
  .github/workflows/release-sdk.yml
Due: none

chore: turn release note step to draft for now (#8324)
  .github/workflows/release-sdk.yml
Due: none

fix(sdk): avoid uploading console file in off mode (#8321)
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/settings/settings.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: split noop definitions per platform in system monitor
  core/pkg/monitor/noop_darwin.go
  core/pkg/monitor/noop_linux.go
  core/pkg/monitor/noop_windows.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  tests/system_tests/test_functional/test_tensorboard/test_keras_tb_callback.py
Due: none

chore: split noop definitions per platform in system monitor (#8325)
  core/pkg/monitor/noop_darwin.go
  core/pkg/monitor/noop_linux.go
  core/pkg/monitor/noop_windows.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

.exe
  nvidia_gpu_stats/hatch.py
Due: none

chore: add GPUNvidia to noop_windows.go in system monitor
  core/pkg/monitor/noop_windows.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add GPUNvidia to noop_windows.go in system monitor
  core/pkg/monitor/noop_linux.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add GPUNvidia to noop_windows.go in system monitor (#8327)
  core/pkg/monitor/noop_windows.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  wandb/sdk/launch/_project_spec.py
  wandb/sdk/wandb_run.py
Due: none

wip
  wandb/sdk/wandb_run.py
Due: none

fix: remove platform arch check in apple_stats/hatch.py
  apple_stats/hatch.py
Due: none

fix: remove platform arch check in apple_stats/hatch.py (#8328)
  apple_stats/hatch.py
Due: none

feat: enable wandb-core by default
  tests/conftest.py
  wandb/__init__.py
  wandb/cli/cli.py
  wandb/sdk/service/service.py
  wandb/sdk/wandb_run.py
Due: none

update usage of WANDB__REQUIRE_CORE
  .github/workflows/release-sdk.yml
  CHANGELOG.md
  tools/bench/bench.py
  wandb/sdk/wandb_run.py
Due: none

remove require(core)
  core/README.md
  wandb/sdk/wandb_require.py
Due: none

[𝘀𝗽𝗿] initial version
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
