Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

add e2e test
  core/internal/leet/tui_test.go
Due: go-wire, go-unit-tests, go-build

Update tests/unit_tests/test_launch/test_runner/test_local_container.py
  tests/unit_tests/test_launch/test_runner/test_local_container.py
Due: none

add windows test
  tests/unit_tests/test_launch/test_runner/test_local_container.py
Due: none

fix(launch): fallback to sh when bash is unavailable in local container runner (#11315)
  tests/unit_tests/test_launch/test_runner/test_local_container.py
  wandb/sdk/launch/runner/local_container.py
Due: none

fix(sdk): use entity-scoped code-saving policy instead of viewer default
  wandb/apis/internal.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_setup.py
Due: none

add filters/order info to ArtifactCollections docstring
  wandb/apis/public/artifacts.py
Due: none

feat(artifacts): add `project.collections()` to allow fetching collections in a project
  core/api/graphql/schemas/commit.hash.txt
  core/internal/gql/gql_gen.go
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/input_types.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/projects.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/enums.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/enums.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collections.py
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

add system test for project.collections
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

changelog
  CHANGELOG.unreleased.md
Due: none

add tests
  core/internal/leet/tui_test.go
  core/internal/leet/workspace_keyhandling_test.go
Due: go-wire, go-unit-tests, go-build

add tests
  core/internal/leet/tui_test.go
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

improve coverage
  core/internal/leet/tui_test.go
Due: go-wire, go-unit-tests, go-build

nit
  core/internal/leet/styles.go
Due: go-wire, go-unit-tests, go-build

wire leet reload
  core/internal/leet/keybindings.go
  core/internal/leet/model.go
  core/internal/leet/run.go
  core/internal/leet/runhandlers.go
Due: go-wire, go-unit-tests, go-build

wire leet reload
  core/internal/leet/run_update_test.go
Due: go-wire, go-unit-tests, go-build

improve docs
  core/internal/leet/keybindings.go
  core/internal/leet/model.go
Due: go-wire, go-unit-tests, go-build

improve docs
  core/internal/leet/model.go
Due: go-wire, go-unit-tests, go-build

nits
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

feat(leet): multi-run workspace (#11299)
  core/cmd/wandb-core/main.go
  core/go.mod
  core/internal/leet/heartbeat.go
  core/internal/leet/help.go
  core/internal/leet/keybindings.go
  core/internal/leet/messages.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/run.go
  core/internal/leet/run_update_test.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runoverviewsidebarnav.go
  core/internal/leet/styles.go
  core/internal/leet/testhelpers.go
  core/internal/leet/tui_test.go
  core/internal/leet/workspace.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspace_test.go
  core/internal/leet/workspacedirwatcher.go
  core/internal/leet/workspacedirwatcher_test.go
  core/internal/leet/workspacehandlers.go
  wandb/cli/beta.py
  wandb/cli/beta_leet.py
Due: go-wire, go-unit-tests, go-build

chore(leet): changelog entry for multi-run workspace experience
  CHANGELOG.unreleased.md
Due: none

chore(leet): changelog entry for multi-run workspace experience (#11325)
  CHANGELOG.unreleased.md
Due: none

feat(leet): spherical cow in an AI bubble in a vacuum
  core/internal/leet/styles.go
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

feat(leet): config editor
  core/internal/leet/configeditor.go
  core/internal/leet/configeditorfields.go
  core/internal/leet/styles.go
Due: go-wire, go-unit-tests, go-build

feat(leet): config editor
  wandb/cli/beta.py
  wandb/cli/beta_leet.py
Due: none

feat(leet): config editor
  core/cmd/wandb-core/main.go
Due: go-wire, go-unit-tests, go-build

build(launch): update egg fragment syntax to use direct URL
  tools/launch_release/build/Dockerfile
Due: none

sentry capture ratelimit
  core/internal/observability/captureratelimiter.go
  core/internal/observability/captureratelimiter_test.go
  core/internal/observability/logging.go
  core/internal/sentry_ext/cache.go
  core/internal/sentry_ext/client.go
  core/internal/sentry_ext/client_test.go
Due: go-wire, go-unit-tests, go-build

refactor: move Sentry capture rate-limiting to CoreLogger (#11329)
  core/internal/observability/captureratelimiter.go
  core/internal/observability/captureratelimiter_test.go
  core/internal/observability/logging.go
  core/internal/sentry_ext/cache.go
  core/internal/sentry_ext/client.go
  core/internal/sentry_ext/client_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): skip list length constraints in pydantic v1 validation
  core/api/graphql/schemas/commit.hash.txt
  tests/unit_tests/test_pydantic_v1_compat.py
  wandb/_pydantic/v1_compat.py
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/input_types.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/enums.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/enums.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
Due: none

fix(sdk): skip list length constraints in pydantic v1 validation (#11330)
  core/api/graphql/schemas/commit.hash.txt
  tests/unit_tests/test_pydantic_v1_compat.py
  wandb/_pydantic/v1_compat.py
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/input_types.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/enums.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/enums.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
Due: none

add tests
  CHANGELOG.unreleased.md
  core/internal/leet/configeditor.go
  core/internal/leet/configeditor_test.go
  core/internal/leet/configeditorfields.go
Due: go-wire, go-unit-tests, go-build

tests + docs
  core/internal/leet/configeditor.go
  core/internal/leet/configeditorfields.go
  core/internal/leet/help.go
Due: go-wire, go-unit-tests, go-build

logging sentry cleanup
  core/internal/observability/logging.go
Due: go-wire, go-unit-tests, go-build

refactor: simplify sentry handling in logging.go (#11331)
  core/internal/observability/logging.go
Due: go-wire, go-unit-tests, go-build

feat: add api.Files.download_all function
  wandb/apis/public/files.py
Due: none

update changelog
  CHANGELOG.unreleased.md
Due: none

add tests
  tests/system_tests/test_core/test_public_api.py
Due: none

test(sdk): add unit tests for entity-scoped code-saving policy
  tests/unit_tests/test_wandb_setup.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
