Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$

chore: fix telemetry
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_telemetry.proto
Due: go-generate-proto

pass make proto go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

feat(integrations): Diffusers autologger (#6561)
  nexus/pkg/service/wandb_telemetry.pb.go
  tests/functional_tests/t0_main/diffusers/t1_sdxl_generation.py
  tests/functional_tests/t0_main/diffusers/t1_sdxl_generation.yea
  tests/functional_tests/t0_main/diffusers/t2_pixart_alpha_generation.py
  tests/functional_tests/t0_main/diffusers/t2_pixart_alpha_generation.yea
  tests/functional_tests/t0_main/diffusers/t3_sd_batched_generation.py
  tests/functional_tests/t0_main/diffusers/t3_sd_batched_generation.yea
  tests/functional_tests/t0_main/diffusers/t4_audioldm2_generation.py
  tests/functional_tests/t0_main/diffusers/t4_audioldm2_generation.yea
  tests/functional_tests/t0_main/diffusers/t5_animatediff_generation.py
  tests/functional_tests/t0_main/diffusers/t5_animatediff_generation.yea
  wandb/integration/diffusers/__init__.py
  wandb/integration/diffusers/autologger.py
  wandb/integration/diffusers/pipeline_resolver.py
  wandb/integration/diffusers/resolvers/__init__.py
  wandb/integration/diffusers/resolvers/multimodal.py
  wandb/integration/diffusers/resolvers/sdxl.py
  wandb/integration/diffusers/resolvers/utils.py
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_telemetry.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

generate finish
  .gitignore
  nexus/pkg/server/sender.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/__init__.py
  wandb/cli/cli.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/__init__.py
  wandb/sdk/wandb_sync.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): make old settings more robust
  wandb/old/settings.py
Due: none

Changed the sampling rate
  wandb/sdk/internal/system/assets/network.py
Due: none

add tests
  tests/pytest_tests/system_tests/test_core/test_wandb_settings_old.py
  tests/pytest_tests/unit_tests/test_wandb_settings_old.py
Due: none

fix old pythons
  tests/pytest_tests/unit_tests/test_wandb_settings_old.py
Due: none

Update .vscode/settings.json
  .vscode/settings.json
Due: none

feat(sdk): Adding parameter to image to specify file type jpg, png, bmp, gif (#6280)
  tests/pytest_tests/unit_tests/test_dtypes.py
  wandb/sdk/data_types/image.py
Due: none

test
  tests/pytest_tests/unit_tests/test_reports.py
  wandb/apis/reports2/__init__.py
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
Due: none

test
  tests/pytest_tests/unit_tests/test_reports.py
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
Due: none

test
  wandb/apis/reports2/interface.py
Due: none

test
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
Due: none

test
  wandb/apis/reports2/internal.py
Due: none

test
  requirements.txt
Due: none

fix(sdk): make old settings more robust (#6654)
  tests/pytest_tests/system_tests/test_core/test_wandb_settings_old.py
  tests/pytest_tests/unit_tests/test_wandb_settings_old.py
  wandb/old/settings.py
Due: none

remove urlparse use
  wandb/sdk/launch/builder/build.py
Due: none

remove unused import
  wandb/sdk/launch/builder/build.py
Due: none

fix(sdk): handle tags when resuming a run
  tests/pytest_tests/system_tests/conftest.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/wandb_init.py
Due: none

update gql query in nexus
  nexus/api/graphql/query_run_resume_status.graphql
Due: go-generate-graphql

update gql query in nexus
  nexus/internal/gql/gql_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wire in nexus
  nexus/pkg/server/resume.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  wandb/sdk/internal/sender.py
Due: none

add tests
  tests/pytest_tests/system_tests/test_core/test_resume.py
Due: none

add sync function
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/wandb_sync.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): handle tags when resuming a run (#6660)
  nexus/api/graphql/query_run_resume_status.graphql
  nexus/internal/gql/gql_gen.go
  nexus/pkg/server/resume.go
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/system_tests/test_core/test_resume.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/wandb_init.py
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test(sdk): fix a couple tests broken on win
  tests/functional_tests/t0_main/mp/17-service-crash.yea
  tests/pytest_tests/unit_tests/test_wandb_settings_old.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

bump version to 0.16.1
  .bumpversion.wandb.cfg
  wandb/__init__.py
Due: none

skip unsupported tests on win
  tests/functional_tests/t0_main/mp/20-1-process-pool-executor.yea
Due: none

mark annoying flaky redir tests as xfail
  tests/pytest_tests/unit_tests/test_lib/test_redir.py
Due: none

test(sdk): fix a couple tests broken on win (#6662)
  tests/functional_tests/t0_main/mp/17-service-crash.yea
  tests/functional_tests/t0_main/mp/20-1-process-pool-executor.yea
  tests/pytest_tests/unit_tests/test_lib/test_redir.py
  tests/pytest_tests/unit_tests/test_wandb_settings_old.py
Due: none

add sync service to keep reader more general
  nexus/pkg/server/sender.go
  nexus/pkg/server/sync.go
  wandb/cli/cli.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test
  wandb/apis/reports2/__init__.py
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
  wandb/apis/reports2/metrics.py
Due: none

test
  wandb/apis/reports2/__init__.py
  wandb/apis/reports2/interface.py
  wandb/apis/reports2/internal.py
Due: none

add all arguments
  nexus/pkg/server/sender.go
  nexus/pkg/server/sync.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/cli/cli.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_sync.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
