Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

feat(sdk): verify federated identity logins in wandb.login()
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_public_api.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
  wandb/__init__.pyi
  wandb/apis/public/api.py
  wandb/sdk/wandb_login.py
Due: none

chore(sdk): handle Authenticate API requests in wandb-core
  core/api/graphql/query_viewer.graphql
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
  core/internal/gql/gql_gen.go
  core/internal/wbapi/authhandler.go
  core/internal/wbapi/authhandler_test.go
  core/internal/wbapi/runfileshandler_test.go
  core/internal/wbapi/wbapi.go
  core/internal/wbapi/wbapi_test.go
  core/pkg/server/connection.go
  core/pkg/server/connection_authenticate_test.go
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

clean up
  tests/system_tests/test_core/test_public_api.py
Due: none

refactor(sdk): resolve the session identity through wandb-core
  tests/unit_tests/test_lib/test_auth.py
  tests/unit_tests/test_lib/test_identity.py
  wandb/apis/public/service_api.py
  wandb/sdk/lib/identity.py
  wandb/sdk/lib/server.py
  wandb/sdk/lib/wbauth/auth.py
  wandb/sdk/wandb_setup.py
Due: none

use our loads
  wandb/sdk/lib/identity.py
Due: none

clean up
  core/internal/wbapi/authhandler.go
  core/internal/wbapi/wbapi.go
Due: go-wire, go-unit-tests, go-build

clean up
  wandb/sdk/lib/identity.py
Due: none

chore(sdk): handle Authenticate API requests in wandb-core (#12292)
  core/api/graphql/query_viewer.graphql
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
  core/internal/gql/gql_gen.go
  core/internal/wbapi/authhandler.go
  core/internal/wbapi/authhandler_test.go
  core/internal/wbapi/runfileshandler_test.go
  core/internal/wbapi/wbapi.go
  core/internal/wbapi/wbapi_test.go
  core/pkg/server/connection.go
  core/pkg/server/connection_authenticate_test.go
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

refactor(sdk): resolve the session identity through wandb-core (#12293)
  tests/unit_tests/test_lib/test_auth.py
  tests/unit_tests/test_lib/test_identity.py
  wandb/apis/public/service_api.py
  wandb/sdk/lib/identity.py
  wandb/sdk/lib/server.py
  wandb/sdk/lib/wbauth/auth.py
  wandb/sdk/wandb_setup.py
Due: none

revert some changes that assert run exists when resume=never; fix tests
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): verify federated identity logins in wandb.login() (#12294)
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_public_api.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
  wandb/__init__.pyi
  wandb/apis/public/api.py
  wandb/sdk/wandb_login.py
Due: none

chore(sdk): add federated identity regression tests
  tests/unit_tests/conftest.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
Due: none

chore(sdk): add federated identity regression tests (#12295)
  tests/unit_tests/conftest.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
Due: none

run.sync_dir
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/system_tests/test_core/test_wandb_clean_full.py
  tests/system_tests/test_core/test_wandb_settings.py
  tests/system_tests/test_functional/sync/test_sync.py
  tests/unit_tests/test_wandb_init.py
  wandb/sdk/wandb_run.py
Due: none

add symbol to tests that check the set of symbols
  tests/unit_tests/test_library_public.py
  tests/unit_tests/test_wandb_run.py
Due: none

feat: add run.sync_dir (#12319)
  CHANGELOG.unreleased.md
  tests/system_tests/test_core/test_offline_sync_beta.py
  tests/system_tests/test_core/test_wandb_clean_full.py
  tests/system_tests/test_core/test_wandb_settings.py
  tests/system_tests/test_functional/sync/test_sync.py
  tests/unit_tests/test_library_public.py
  tests/unit_tests/test_wandb_init.py
  tests/unit_tests/test_wandb_run.py
  wandb/sdk/wandb_run.py
Due: none

refactor(sdk): drop the hard requests dependency in normalize_exceptions
  tests/unit_tests/test_normalize.py
  wandb/apis/normalize.py
Due: none

refactor(sdk): use stdlib HTTP for the CORS check in wandb verify
  tests/unit_tests/test_wandb_verify.py
  wandb/sdk/verify/verify.py
Due: none

refactor(sdk): use stdlib HTTP for the identity token exchange
  tests/unit_tests/test_lib/test_credentials.py
  wandb/sdk/lib/credentials.py
Due: none

fix adv reg flags
  tests/unit_tests/test_public_api/test_registries_ordered_versions.py
Due: none

chore(sdk): remove unused Auth.as_requests_auth
  tests/unit_tests/test_lib/test_auth.py
  tests/unit_tests/test_lib/test_credentials.py
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/sdk/lib/wbauth/auth.py
Due: none

chore: remove unused Auth.as_requests_auth
  tests/unit_tests/test_lib/test_auth.py
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/sdk/lib/wbauth/auth.py
Due: none

use errors.AsType instead of errors.As
  core/internal/runupserter/runupdateerror.go
  core/internal/runupserter/runupdatework.go
  core/internal/wbapi/graphqlhandler.go
  experimental/go-sdk/internal/execbin/execbin.go
Due: go-wire, go-unit-tests, go-build

chore: remove unused Auth.as_requests_auth (#12321)
  tests/unit_tests/test_lib/test_auth.py
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/sdk/lib/wbauth/auth.py
Due: none

fix(sdk): fix resume tests when "never" specified and run exists
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

fix resume=never test case
  core/internal/runupserter/runupserter_test.go
Due: go-wire, go-unit-tests, go-build

remove unused code
  tests/system_tests/test_launch/test_launch_sweep.py
  wandb/apis/internal.py
  wandb/sdk/internal/internal_api.py
Due: none

remove dead code from internal_api
  tests/system_tests/test_launch/conftest.py
  tests/system_tests/test_launch/test_job.py
  tests/system_tests/test_launch/test_launch_add.py
  tests/system_tests/test_launch/test_launch_sweep.py
  tests/system_tests/test_launch/test_launch_sweep_cli.py
  tests/unit_tests/test_launch/test_internal_api.py
  wandb/apis/internal.py
  wandb/sdk/internal/internal_api.py
Due: none

update changelog
  CHANGELOG.unreleased.md
Due: none

chore: remove InternalApi graphql calls from public api (#12307)
  CHANGELOG.unreleased.md
  core/api/graphql/mutation_create_custom_chart.graphql
  core/api/graphql/mutation_run_queue.graphql
  core/internal/gql/gql_gen.go
  core/internal/wbapi/customcharthandler.go
  core/internal/wbapi/customcharthandler_test.go
  core/internal/wbapi/runqueuehandler.go
  core/internal/wbapi/runqueuehandler_test.go
  core/internal/wbapi/wbapi.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/system_tests/test_launch/conftest.py
  tests/system_tests/test_launch/test_job.py
  tests/system_tests/test_launch/test_launch_add.py
  tests/system_tests/test_launch/test_launch_sweep.py
  tests/system_tests/test_launch/test_launch_sweep_cli.py
  tests/unit_tests/test_launch/test_internal_api.py
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/apis/internal.py
  wandb/apis/public/api.py
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  wandb/sdk/internal/internal_api.py
  xpu/src/wandb_internal.rs
Due: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, go-build

split error into error log and error metric
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/observability/logging.go
Due: go-wire, go-unit-tests, go-build

changes based on restack
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/observability/logging.go
  core/internal/observability/logging_test.go
  core/internal/observabilitytest/logging.go
  core/internal/runsync/logging.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runwork/runwork_test.go
  core/internal/stream/stream.go
  core/internal/stream/streamlogger.go
  core/internal/tensorboard/tfeventconverter_test.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

update based on feedback, fix federated identity, and names
  core/internal/analytics/opentelemetryproxy.go
  core/internal/monitor/cwmetadata.go
  core/internal/monitor/trainium.go
Due: go-wire, go-unit-tests, go-build

fix errors
  core/internal/analytics/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

update documentation, and consume disable analytics
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/observability/logging.go
Due: go-wire, go-unit-tests, go-build

add timeout to shutdown on connection close, and ratelimit errors captures for otel as well
  core/internal/analytics/opentelemetryproxy.go
  core/internal/observability/captureratelimiter.go
  core/internal/observability/logging.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

update usage to include api key
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/stream/streamlogger.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

pass args as attributes on otel log for exception
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/observability/logging.go
Due: go-wire, go-unit-tests, go-build

update based on restack
  core/internal/observability/logging.go
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/stream/streamlogger.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

update logging.go to pass the caller when when error/fatal occurs
  core/internal/observability/logging.go
  core/internal/observability/logging_test.go
Due: go-wire, go-unit-tests, go-build
