Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)

test
  wandb/apis/reports/v2/interface.py
Due: go-mod-tidy

test
  wandb/apis/reports/v2/interface.py
  wandb/apis/reports/v2/internal.py
Due: go-mod-tidy

test
  wandb/apis/workspaces/internal.py
Due: go-mod-tidy

test
  wandb/apis/workspaces/interface.py
Due: go-mod-tidy

test
  wandb/apis/workspaces/expr.py
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  core/go.mod
  core/go.sum
  core/internal/waiting/waiting.go
  core/internal/waitingtest/fakestopwatch.go
  core/internal/watcher/filemodtoken.go
  core/internal/watcher/filewatcher.go
  core/internal/watcher/impl.go
  core/internal/watcher/treewatcher.go
  core/internal/watcher/watcher.go
  core/internal/watcher/watcher_test.go
  core/internal/watchertest/watchertest.go
  core/pkg/server/tb.go
  core/vendor/github.com/radovskyb/watcher/.travis.yml
  core/vendor/github.com/radovskyb/watcher/LICENSE
  core/vendor/github.com/radovskyb/watcher/README.md
  core/vendor/github.com/radovskyb/watcher/ishidden.go
  core/vendor/github.com/radovskyb/watcher/ishidden_windows.go
  core/vendor/github.com/radovskyb/watcher/samefile.go
  core/vendor/github.com/radovskyb/watcher/samefile_windows.go
  core/vendor/github.com/radovskyb/watcher/watcher.go
  core/vendor/modules.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix lint, update docs
  core/internal/watcher/filewatcher.go
  core/internal/watcher/treewatcher.go
  core/internal/watcher/watcher.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

delete unused code, properly cancel in treewatcher
  core/internal/watcher/impl.go
  core/internal/watcher/treewatcher.go
  core/internal/watcher/watcher.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Update default order in api runs
  wandb/apis/public/api.py
Due: go-mod-tidy

impl.go => watcherimpl.go
  core/internal/watcher/watcherimpl.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix fe be expr parsing
  wandb/apis/workspaces/expr.py
Due: go-mod-tidy

expose Ordering
  wandb/apis/workspaces/__init__.py
Due: go-mod-tidy

add scatterplot fix
  wandb/apis/reports/v2/interface.py
Due: go-mod-tidy

propagate through settings and update unit tests
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/unit_tests/test_library_public.py
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-mod-tidy

update proto
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-mod-tidy, go-build

generate code
  wandb/sdk/internal/settings_static.py
  wandb/sdk/lib/_settings_toposort_generated.py
Due: go-mod-tidy

lint
  wandb/sdk/internal/sender.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

fix(artifacts): fix path parsing when aliases contain backslashes
  wandb/apis/public/api.py
Due: go-mod-tidy

consolidate filewatcher into treewatcher
  core/internal/watcher/filewatcher.go
  core/internal/watcher/treewatcher.go
  core/internal/watcher/watcher.go
  core/internal/watcher/watcher_test.go
  core/internal/watcher/watcherimpl.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(launch): Support Azure repo URI format in Launch (#7664)
  CHANGELOG.md
  wandb/sdk/launch/utils.py
Due: go-mod-tidy

changelog
  CHANGELOG.md
Due: go-mod-tidy

feat(artifacts): add save() method on ArtifactCollection to allow persisting changes (#7528)
  CHANGELOG.md
  core/pkg/service/wandb_telemetry.pb.go
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/apis/public/artifacts.py
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_deprecated.py
  wandb/proto/wandb_telemetry.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-mod-tidy, go-build

address reviewer comments
  client/client.go
  client/cmd/client/main.go
  client/go.mod
  client/hatch.py
  client/pkg/session/session.go
  core/cmd/wandb-core/main.go
  core/hatch.py
  core/pkg/observability/sentry.go
  core/pkg/observability/util.go
  wandb/lib/lib.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

test(artifacts): Ensure that used artifacts from API.run() retain the project that created, not used, them
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: go-mod-tidy

address reviewer comments
  wandb/lib/lib.py
Due: go-mod-tidy

fix for aliases with colons
  wandb/apis/public/api.py
Due: go-mod-tidy

tests
  tests/pytest_tests/system_tests/test_artifacts/test_data_types.py
  tests/pytest_tests/unit_tests/test_wandb_log.py
Due: go-mod-tidy

rewrite tests
  core/internal/watcher/treewatcher.go
  core/internal/watcher/watcher_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix[sdk]: add --tags override for wandb sync
  wandb/cli/cli.py
  wandb/sync/sync.py
Due: go-mod-tidy

fix[sdk]: add --tags override for wandb sync
  wandb/sync/sync.py
Due: go-mod-tidy

chore: autoformat
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: go-mod-tidy

make test more robust
  core/internal/watcher/watcher_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/go.mod
  core/go.sum
  core/internal/waiting/waiting.go
  core/internal/waitingtest/fakestopwatch.go
  core/internal/watcher/filemodtoken.go
  core/internal/watcher/impl.go
  core/internal/watcher/treewatcher.go
  core/internal/watcher/watcher.go
  core/internal/watcher/watcher_test.go
  core/internal/watcher/watcherimpl.go
  core/internal/watchertest/watchertest.go
  core/pkg/server/tb.go
  core/vendor/github.com/radovskyb/watcher/.travis.yml
  core/vendor/github.com/radovskyb/watcher/LICENSE
  core/vendor/github.com/radovskyb/watcher/README.md
  core/vendor/github.com/radovskyb/watcher/ishidden.go
  core/vendor/github.com/radovskyb/watcher/ishidden_windows.go
  core/vendor/github.com/radovskyb/watcher/samefile.go
  core/vendor/github.com/radovskyb/watcher/samefile_windows.go
  core/vendor/github.com/radovskyb/watcher/watcher.go
  core/vendor/modules.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Update client/cmd/client/main.go
  client/cmd/client/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

remove unused function again
  core/internal/watcher/watcher.go
  core/internal/watcher/watcherimpl.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build
