Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-mod-tidy:
  name: go-mod-tidy
  entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
  pass_filenames: false
  language: script
  description: Runs `go mod tidy -v`, requires golang

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

document return value
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

revert back to exclusivity for first_step
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

remove periods
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

use get
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

lint
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

refactor
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

lint
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

updated requirements_dev to install polars
  requirements_dev.txt
Due: go-mod-tidy

test added
  tests/pytest_tests/system_tests/test_core/test_public_api.py
Due: go-mod-tidy

clean up Handle() slightly
  core/internal/paths/paths.go
  core/internal/tensorboard/tensorboard.go
  core/internal/tensorboard/tfeventstream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix unit test
  tests/pytest_tests/system_tests/test_core/test_public_api.py
Due: go-mod-tidy

add ruff format
  tests/pytest_tests/system_tests/test_core/test_public_api.py
Due: go-mod-tidy

feat(sdk): Rewind (#7711)
  CHANGELOG.md
  core/pkg/service/wandb_settings.pb.go
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/unit_tests/test_library_public.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/settings_static.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-mod-tidy, go-build

fix typo
  CHANGELOG.md
Due: go-mod-tidy

fix test
  core/internal/tensorboard/tensorboard.go
  core/internal/tensorboard/tfeventstream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/paths/paths.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/upload_batcher.go
  core/internal/runfiles/uploader.go
  core/internal/tensorboard/tensorboard.go
  core/internal/tensorboard/tensorboard_test.go
  core/internal/tensorboard/tfeventfiles.go
  core/internal/tensorboard/tfeventreader.go
  core/internal/tensorboard/tfeventreader_test.go
  core/internal/tensorboard/tfeventstream.go
  core/pkg/server/handler.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

update changelog
  CHANGELOG.md
Due: go-mod-tidy

chore(sdk): fix typo in CHANGELOG.md (#7751)
  CHANGELOG.md
Due: go-mod-tidy

add a test for connection reset by peer
  core/internal/api/logging.go
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/system_tests/test_core/test_file_stream.py
  wandb/testing/relay.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

add a test for connection reset by peer
  core/internal/api/logging.go
  core/internal/api/send.go
  wandb/testing/relay.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

update max retry setting for fs
  wandb/sdk/wandb_settings.py
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  core/pkg/server/stream_init.go
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): add support of protobuf v5
  wandb/proto/v5/wandb_base_pb2.py
  wandb/proto/v5/wandb_base_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.pyi
Due: go-mod-tidy

chore(sdk): add support of protobuf v5
  noxfile.py
  pyproject.toml
  wandb/proto/wandb_base_pb2.py
  wandb/proto/wandb_internal_pb2.py
  wandb/proto/wandb_server_pb2.py
  wandb/proto/wandb_settings_pb2.py
  wandb/proto/wandb_telemetry_pb2.py
Due: go-mod-tidy

chore(sdk): add support of protobuf v5 (#7755)
  noxfile.py
  pyproject.toml
  wandb/proto/v5/wandb_base_pb2.py
  wandb/proto/v5/wandb_base_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_base_pb2.py
  wandb/proto/wandb_internal_pb2.py
  wandb/proto/wandb_server_pb2.py
  wandb/proto/wandb_settings_pb2.py
  wandb/proto/wandb_telemetry_pb2.py
Due: go-mod-tidy

add tests and docstrings
  tests/pytest_tests/unit_tests/test_lib/test_credentials.py
  tests/pytest_tests/unit_tests/test_wandb_login.py
  tests/pytest_tests/unit_tests/test_wandb_settings.py
  wandb/sdk/lib/credentials.py
Due: go-mod-tidy

format
  tests/pytest_tests/unit_tests/test_lib/test_credentials.py
  tests/pytest_tests/unit_tests/test_wandb_login.py
  tests/pytest_tests/unit_tests/test_wandb_settings.py
  wandb/sdk/lib/credentials.py
Due: go-mod-tidy

fixed test
  tests/pytest_tests/system_tests/test_core/test_public_api.py
Due: go-mod-tidy

added ruff modifications
  tests/pytest_tests/system_tests/test_core/test_public_api.py
Due: go-mod-tidy

fix tests
  tests/pytest_tests/unit_tests/test_wandb_login.py
  tests/pytest_tests/unit_tests/test_wandb_settings.py
Due: go-mod-tidy

format
  tests/pytest_tests/unit_tests/test_wandb_login.py
Due: go-mod-tidy

test
  CHANGELOG.md
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/update.go
  core/internal/filestream/updatehistory.go
  core/pkg/server/handler.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix comment
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): Move `_client_id` logic to handler from filestream
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/update.go
  core/internal/filestream/updatehistory.go
  core/pkg/server/handler.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

support partitions
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_aws.py
  wandb/sdk/launch/environment/aws_environment.py
  wandb/sdk/launch/runner/sagemaker_runner.py
  wandb/sdk/launch/utils.py
Due: go-mod-tidy

ordering, test
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_aws.py
  wandb/sdk/launch/utils.py
Due: go-mod-tidy

more test
  tests/pytest_tests/unit_tests/test_launch/test_environment/test_aws.py
Due: go-mod-tidy

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)
