Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$

test
  .circleci/config.yml
Due: none

test
  tox.ini
Due: none

add storage policies for artifact upload
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/artifact.py
Due: none

lint
  wandb/sdk/artifacts/artifact.py
Due: none

update docstrings
  wandb/sdk/artifacts/artifact.py
Due: none

feat(sdk): W&B to W&B Importer (#6897)
  .circleci/config.yml
  pyproject.toml
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/system_tests/test_importers/test_mlflow/__init__.py
  tests/pytest_tests/system_tests/test_importers/test_mlflow/conftest.py
  tests/pytest_tests/system_tests/test_importers/test_mlflow/test_import_mlflow.py
  tests/pytest_tests/system_tests/test_importers/test_wandb/__init__.py
  tests/pytest_tests/system_tests/test_importers/test_wandb/conftest.py
  tests/pytest_tests/system_tests/test_importers/test_wandb/test_wandb.py
  tests/pytest_tests/unit_tests/test_importers/test_wandb_utils.py
  tox.ini
  wandb/apis/importers/__init__.py
  wandb/apis/importers/base.py
  wandb/apis/importers/internals/internal.py
  wandb/apis/importers/internals/protocols.py
  wandb/apis/importers/internals/util.py
  wandb/apis/importers/mlflow.py
  wandb/apis/importers/validation.py
  wandb/apis/importers/wandb.py
  wandb/apis/public/files.py
  wandb/util.py
Due: none

chore(sdk): Update MLFlow Importer to match new importer pattern (#6920)
  .circleci/config.yml
  tests/pytest_tests/system_tests/test_importers/test_mlflow/conftest.py
  tests/pytest_tests/system_tests/test_importers/test_mlflow/test_import_mlflow.py
  tests/pytest_tests/unit_tests/test_importers/test_mlflow_utils.py
  tox.ini
  wandb/apis/importers/mlflow.py
  wandb/cli/cli.py
Due: none

Add Unreleased section to changelog
  CHANGELOG.md
Due: none

bump version to 0.16.4
  .bumpversion.wandb.cfg
  wandb/__init__.py
Due: none

Update PR template
  .github/pull_request_template.md
Due: none

Clean up changelog
  CHANGELOG.md
Due: none

add changelog
  CHANGELOG.md
Due: none

Fix some formatting
  .github/release.yml
  CHANGELOG.md
Due: none

Include W&B importer addition in changelog
  CHANGELOG.md
Due: none

bump version 0.16.4 -> 0.16.5.dev1
  .bumpversion.wandb.cfg
  wandb/__init__.py
Due: none

increase wait time before posting to slack
  .github/workflows/release-core.yml
Due: none

chore(sdk): bump to dev version (0.16.5.dev1) (#7099)
  .bumpversion.wandb.cfg
  .github/pull_request_template.md
  .github/release.yml
  .github/workflows/release-core.yml
  CHANGELOG.md
  wandb/__init__.py
Due: none

adding proto, sender, handler changes
  core/pkg/launch/job_builder.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update pkg versions
  client/Cargo.lock
  client/Cargo.toml
Due: none

chore(core): fix security issue in mio (#7100)
  client/Cargo.lock
  client/Cargo.toml
Due: none

update clasification
  tests/pytest_tests/system_tests/test_core/test_cli_full.py
Due: none

do schema extraction after filtering
  core/pkg/launch/job_builder.go
  core/pkg/launch/parameters.go
  core/pkg/launch/parameters_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save config file schema to metadata
  core/pkg/launch/job_builder.go
  core/pkg/launch/parameters.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove debug print and change variable case
  core/pkg/launch/job_builder.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

skip cache via manifest entry;
  core/pkg/service/wandb_internal.pb.go
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/interface/interface.py
  wandb/sdk/internal/sender.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

lint
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

Create Settings Go class
  core/internal/settings/settings.go
  core/pkg/server/connection.go
  core/pkg/server/stream.go
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Generate protos
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

fix test failures
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/interface/interface.py
Due: none

ruff lint
  wandb/sdk/interface/interface.py
Due: none

enable sweep tests
  core/pkg/server/sender.go
  core/pkg/utils/utils.go
  tests/pytest_tests/system_tests/test_core/test_wandb_integration.py
  tests/pytest_tests/system_tests/test_sweep/test_wandb_sweep.py
  wandb/testing/relay.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

format
  wandb/testing/relay.py
Due: none

restore tests
  tests/pytest_tests/system_tests/test_core/test_wandb_integration.py
  tests/pytest_tests/system_tests/test_sweep/test_wandb_sweep.py
  wandb/testing/relay.py
Due: none

remove test changes
  tests/pytest_tests/system_tests/test_core/test_cli_full.py
  tests/pytest_tests/system_tests/test_core/test_footer.py
  tests/pytest_tests/system_tests/test_core/test_sender.py
  tests/pytest_tests/system_tests/test_core/test_wandb_run.py
  tests/pytest_tests/unit_tests_old/test_core/test_wandb.py
Due: none
