Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

update commit hash to production commit
  core/api/graphql/schemas/commit.hash.txt
Due: none

add server flag stub for test
  tests/unit_tests/test_public_api/test_public_api.py
Due: none

chore(artifacts): add support for xxhash artifact digest
  tests/system_tests/test_artifacts/test_artifact_cli.py
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_storage.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_digest_algorithm.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
  wandb/sdk/artifacts/storage_handlers/local_file_handler.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

uncomment relevant test
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: none

update xxh64 -> xxh128
  tests/unit_tests/test_artifacts/test_storage.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_digest_algorithm.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
Due: none

check type in entry.digest_algorithm
  wandb/sdk/artifacts/artifact_manifest_entry.py
Due: none

fix another digest_algorithm input type
  wandb/sdk/internal/internal_api.py
Due: none

address comments
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/_internal_artifact.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
Due: none

emove digest alg from manifest entry,add to manifest on instantiation
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/unit_tests/test_artifacts/test_storage.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_digest_algorithm.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

default jobs to md5 to match go, fix run association, fix check_digest_obj_path calls
  tests/system_tests/test_artifacts/test_artifact_cli.py
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_storage.py
  wandb/apis/public/runs.py
  wandb/sdk/artifacts/_internal_artifact.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/launch/create_job.py
Due: none

add more xxhash digest tests
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
Due: none

clean up comment
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

add digest alg to manifest entry
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/unit_tests/test_artifacts/test_storage.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

add helpers for determining digest algorithm/calculating digest
  wandb/sdk/artifacts/artifact.py
Due: none

some cleanup, more updated digests, default to md5 for jobs (same as in go)
  core/pkg/artifacts/saver.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_references_gcs.py
  tests/unit_tests/test_artifacts/test_storage.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  tests/unit_tests/test_data_types.py
Due: go-wire, go-unit-tests, go-build

remove digest algorithm from manifest entries, pass digest alg on artifact
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  wandb/sdk/interface/interface.py
Due: go-wire, go-unit-tests, go-build

pass in empty string for multipart md5
  core/pkg/artifacts/saver.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: go-wire, go-unit-tests, go-build

reformat & fix complexity of save()
  core/pkg/artifacts/file_cache.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  core/pkg/artifacts/saver.go
Due: go-wire, go-unit-tests, go-build

clean up hashContentsWithMD5 & fix test
  core/pkg/artifacts/manifest.go
  tests/unit_tests/test_data_types.py
Due: go-wire, go-unit-tests, go-build

add digestAlgorithm to artifact + manifest entry protos + add server flag
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto

handle alg on extra field + edits tests
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: go-wire, go-unit-tests, go-build

add helper to rehash manifest with md5 + tests
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
Due: go-wire, go-unit-tests, go-build

add xxh3 library, fix caching on upload, add/fix tests
  core/go.mod
  core/go.sum
  core/internal/hashencode/hash.go
  core/pkg/artifacts/file_cache.go
  core/pkg/artifacts/file_cache_test.go
  core/pkg/artifacts/saver.go
  core/vendor/github.com/zeebo/xxh3/.gitignore
  core/vendor/github.com/zeebo/xxh3/LICENSE
  core/vendor/github.com/zeebo/xxh3/Makefile
  core/vendor/github.com/zeebo/xxh3/README.md
  core/vendor/github.com/zeebo/xxh3/_compat.c
  core/vendor/github.com/zeebo/xxh3/accum_generic.go
  core/vendor/github.com/zeebo/xxh3/accum_stubs_amd64.go
  core/vendor/github.com/zeebo/xxh3/accum_stubs_arm64.go
  core/vendor/github.com/zeebo/xxh3/accum_stubs_other.go
  core/vendor/github.com/zeebo/xxh3/accum_vector_avx512_amd64.s
  core/vendor/github.com/zeebo/xxh3/accum_vector_avx_amd64.s
  core/vendor/github.com/zeebo/xxh3/accum_vector_neon_arm64.s
  core/vendor/github.com/zeebo/xxh3/accum_vector_sse_amd64.s
  core/vendor/github.com/zeebo/xxh3/consts.go
  core/vendor/github.com/zeebo/xxh3/hash128.go
  core/vendor/github.com/zeebo/xxh3/hash128_seed.go
  core/vendor/github.com/zeebo/xxh3/hash64.go
  core/vendor/github.com/zeebo/xxh3/hash64_seed.go
  core/vendor/github.com/zeebo/xxh3/hasher.go
  core/vendor/github.com/zeebo/xxh3/hasher128.go
  core/vendor/github.com/zeebo/xxh3/utils.go
  core/vendor/modules.txt
  tests/system_tests/test_artifacts/test_digest_algorithm_e2e.py
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/system_tests/test_artifacts/test_wandb_run_artifacts.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: go-wire, go-unit-tests, go-build

default to xxh128 and add support in saver
  core/api/graphql/mutation_create_artifact_files.graphql
  core/api/graphql/query_artifact_digest_algorithm.graphql
  core/internal/gql/gql_gen.go
  core/internal/stream/sender.go
  core/pkg/artifacts/saver.go
  core/pkg/artifacts/saver_test.go
  tests/system_tests/test_artifacts/test_digest_algorithm_e2e.py
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

address comments
  core/internal/hashencode/hash.go
  core/internal/hashencode/hashencode_test.go
  core/internal/stream/sender.go
  core/pkg/artifacts/file_cache.go
  core/pkg/artifacts/file_cache_test.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  core/pkg/artifacts/saver.go
Due: go-wire, go-unit-tests, go-build

add back test for draft artifacts
  core/internal/hashencode/hashencode_test.go
  core/pkg/artifacts/file_cache.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  core/pkg/artifacts/saver.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: go-wire, go-unit-tests, go-build

clean up comments & helpers
  core/api/graphql/mutation_create_artifact_files.graphql
  core/internal/gql/gql_gen.go
  core/internal/hashencode/hash.go
  core/pkg/artifacts/file_cache.go
  core/pkg/artifacts/saver.go
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

remove extra md5 fallback on createArtifact failure
  core/pkg/artifacts/saver.go
Due: go-wire, go-unit-tests, go-build

run log step
  BREAKING.md
  CHANGELOG.unreleased.md
  wandb/__init__.pyi
  wandb/sdk/wandb_run.py
Due: none

limit fields accepted by order, address comments
  tests/system_tests/test_registries/test_registry.py
  tests/unit_tests/test_registries/test_utils.py
  wandb/apis/public/registries/_utils.py
  wandb/apis/public/registries/registries_search.py
Due: none

chore(artifacts): check statsig flag for xxhash availability on entity
  core/api/graphql/query_xxhash_digests_enabled.graphql
  core/api/graphql/schemas/commit.hash.txt
  core/internal/gql/gql_gen.go
  core/pkg/artifacts/saver.go
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

chore(artifacts): use MD5 for legacy offline artifact uploads
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
  wandb/sdk/artifacts/artifact_saver.py
Due: none

fix(artifacts): fix `new_file` behavior for offline artifact uploads (#12437)
  CHANGELOG.unreleased.md
  wandb/sdk/artifacts/artifact.py
Due: none

feat(sdk): make sender own the auto-step, summary._step, HistoryRecord.Step
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/leveldbhistorysource_test.go
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  tests/system_tests/test_core/test_resume_auto.py
  tests/unit_tests/test_sender.py
  wandb/sdk/internal/sender.py
Due: go-wire, go-unit-tests, go-build

fix: gofmt
  core/internal/leet/leveldbhistorysource.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): support resume in offline mode (partial)
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  tests/system_tests/test_core/test_resume.py
  tests/system_tests/test_core/test_resume_auto.py
  tests/unit_tests/test_interface_run_record.py
  tests/unit_tests/test_legacy_sync.py
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_init.py
  wandb/sync/sync.py
  xpu/src/wandb_internal.rs
Due: go-generate-proto, go-wire, go-unit-tests, go-build

fix: test case for offline resume step handling; plus format/lint fixes
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  tests/unit_tests/test_interface_run_record.py
  wandb/sdk/wandb_init.py
Due: go-wire, go-unit-tests, go-build

nolint explanation
  core/internal/runbranch/state.go
Due: go-wire, go-unit-tests, go-build

fix: add RunMode to RunParams and complete round-trip; don't overwrite define_metric aggregations in summary; more tests
  core/internal/leet/leveldbhistorysource.go
  core/internal/runbranch/state.go
  core/internal/runupserter/runupserter.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build
