Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

feat: add ability to finish runs without marking them as finished in experimental c# client
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add ability to finish runs without marking them as finished in experimental c# client
  core/pkg/server/sender.go
  experimental/client-csharp/README.md
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: update go 1.22.8
  .github/workflows/release-sdk.yml
Due: none

nit
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

chore: add doc-strings
  core/pkg/server/sender.go
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

nit
  core/pkg/service_go_proto/wandb_internal.pb.go
Due: none

nit
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.pyi
Due: none

feat: add ability to finish runs without marking them as finished in experimental c# client (#8544)
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  experimental/client-csharp/README.md
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Run.cs
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

proto
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
Due: none

fix: logging video does not respect fps argument.
  CHANGELOG.md
  tests/unit_tests/test_data_types.py
  wandb/sdk/data_types/video.py
Due: none

fix failing test, due to video format not being maintained
  tests/unit_tests/test_data_types.py
  wandb/sdk/data_types/video.py
Due: none

wire up grpc on the go side
  core/api/proto/generate-proto.sh
  core/pkg/monitor/gpu.go
  core/pkg/monitor/gpu_amd_test.go
  core/pkg/monitor/monitor.go
  core/pkg/service_go_proto/wandb_internal_grpc.pb.go
  gpu_stats/src/main.rs
  hatch_build.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

do no re-encode the video unless the fps is different than current fps.
  wandb/sdk/data_types/video.py
Due: none

add in non-registry artifact
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/apis/public/api.py
Due: none

edit tests
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/apis/public/api.py
Due: none

ruff
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

made things shorter
  core/pkg/artifacts/linker.go
  core/pkg/artifacts/utils.go
  core/pkg/server/registry_artifact_test.go
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix proto
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

raise error in legacy python
  wandb/sdk/internal/internal_api.py
Due: none

update doc string, and add a warning when a Video will be re-encoded.
  wandb/sdk/data_types/video.py
Due: none

feat(sdk): define WandbOperation (#8526)
  core/internal/api/api.go
  core/internal/api/logging.go
  core/internal/api/send.go
  core/internal/wboperation/wboperation.go
  core/internal/wboperation/wboperation_test.go
  core/pkg/server/handler.go
  core/pkg/server/stream.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

apple stats wired in
  core/pkg/monitor/gpu.go
  core/pkg/monitor/monitor.go
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/src/gpu_apple.rs
  gpu_stats/src/gpu_apple_sources.rs
  gpu_stats/src/gpu_nvidia.rs
  gpu_stats/src/main.rs
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  core/pkg/monitor/gpu.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor tests to be cleaner
  tests/unit_tests/test_analytics/sentry_relay.py
  tests/unit_tests/test_analytics/test_sentry.py
Due: none

update protofiles
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.pyi
Due: none

address review comments
  core/internal/settings/settings.go
  core/pkg/server/sender.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: replace spb.Settings with settings.Settings in Sender
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: replace usage of settings proto in Sender
  core/internal/settings/settings.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove unused tests
  landfill/functional_tests/debug/sentry_third_party.py
  landfill/functional_tests/debug/t4_sentry_tags.py
  landfill/functional_tests/debug/t5_sentry_third_party.yea
  landfill/functional_tests/debug/t6_sentry_third_party_no_wandb_error_reporting.yea
  landfill/functional_tests/debug/t7_sentry_session.py
  landfill/functional_tests/debug/t8_sentry_session_no_finish.py
Due: none

pre-commit format
  tests/unit_tests/test_analytics/sentry_relay.py
  tests/unit_tests/test_analytics/test_sentry.py
Due: none

chore: replace usage of settings proto in Sender (#8546)
  core/internal/settings/settings.go
  core/pkg/server/sender.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: don't upload wandb files if run failed to init
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove console changes
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

minor rephrasing
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up term error
  wandb/sdk/internal/internal_api.py
Due: none

fix: don't upload wandb files if run failed to init (#8542)
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wire it up
  core/pkg/monitor/gpu.go
  core/pkg/monitor/monitor.go
  gpu_stats/src/gpu_apple.rs
  gpu_stats/src/main.rs
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
