Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=24

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

update settings on upsert run
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

minor clean up
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_monitor.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

wip
  tests/pytest_tests/system_tests/test_launch/test_launch_kubernetes.py
Due: none

wip
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

it works, but is missing the types
  core/pkg/artifacts/saver.go
  core/pkg/launch/job_builder.go
  core/pkg/utils/utils.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use github.com/segmentio/encoding/json as everywhere else
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add deliever and wire it up
  core/pkg/launch/job_builder.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/lib/type_info.py
  wandb/sdk/service/streams.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test
  .circleci/config.yml
  tests/pytest_tests/unit_tests/test_reports/test_reports.py
Due: none

docs(sdk): Artifact docstrings PR draft
  wandb/sdk/artifacts/artifact.py
Due: none

fix(launch): recognize deleted k8s jobs as failed (#6824)
  tests/pytest_tests/system_tests/test_launch/test_launch_kubernetes.py
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_monitor.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

uname -i to uname -m
  wandb/sdk/launch/builder/build.py
Due: none

save progress
  core/pkg/monitor/monitor.go
  core/pkg/monitor/trainium.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save progress
  core/pkg/monitor/trainium.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(core): generate data type info in core
  core/internal/data_types/data_types.go
  core/pkg/server/sender.go
  wandb/sdk/data_types/_dtypes.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add tests
  core/internal/data_types/data_types_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save work
  wandb/sdk/lib/immutable_container.py
  wandb/sdk/wandb_config.py
Due: none

handle corner cases
  core/internal/data_types/data_types.go
  core/internal/data_types/data_types_test.go
  core/pkg/server/sender.go
  nex.py
  wandb/sdk/internal/job_builder.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

handle corner cases
  nex.py
Due: none

test
  wandb/integration/kedro/hooks.py
Due: none

minor refactor
  core/internal/data_types/data_types.go
  core/internal/data_types/data_types_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add tests
  tests/pytest_tests/unit_tests/test_wandb_config.py
Due: none

implement
  wandb/sdk/wandb_config.py
Due: none

docs(sdk): Update sweep docstrings
  wandb/cli/cli.py
  wandb/sdk/wandb_sweep.py
  wandb/wandb_agent.py
Due: none

rm
  wandb/sdk/wandb_config.py
Due: none

docs(sdk): Updated agent cli text
  wandb/cli/cli.py
Due: none

partial fix list recursion
  core/internal/data_types/data_types.go
  core/internal/data_types/data_types_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test
  tests/pytest_tests/unit_tests/test_reports/test_reports.py
  wandb/apis/reports2/expr_parsing.py
  wandb/apis/reports2/interface.py
Due: none

remove nex.py
  nex.py
Due: none

clean up
  core/internal/data_types/data_types.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  core/internal/data_types/data_types_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

rm accidental commit
  wandb/sdk/internal/job_builder.py
Due: none

rm accidental commit
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

comment flaky watcher tests
  core/internal/watcher/watcher_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(core): generate data type info in core (#6827)
  core/internal/data_types/data_types.go
  core/internal/data_types/data_types_test.go
  core/internal/watcher/watcher_test.go
  wandb/sdk/data_types/_dtypes.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refine
  wandb/sdk/wandb_config.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$
