Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$

build(sdk): switch to build for releases and update changelog for 0.15.10
  CHANGELOG.md
  Makefile
  pyproject.toml
Due: none

build(sdk): switch to build for releases and update changelog for 0.15.10 (#6241)
  CHANGELOG.md
  Makefile
  pyproject.toml
Due: none

ci(sdk): fix automated reference docs generation upon a release
  .github/workflows/generate-docodile-documentation.yml
Due: none

ci(sdk): fix automated reference docs generation upon a release (#6242)
  .github/workflows/generate-docodile-documentation.yml
Due: none

jobset fix
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

fixing error message for bad crd creation
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

isort
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

add type annotations for new timestamp helper
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

make Asset.Probe return type interface{}
  nexus/pkg/monitor/cpu.go
  nexus/pkg/monitor/disk.go
  nexus/pkg/monitor/gpu_nvidia.go
  nexus/pkg/monitor/memory.go
  nexus/pkg/monitor/monitor.go
  nexus/pkg/monitor/network.go
  nexus/pkg/monitor/noop.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

getting rid of unused wait_job_launch function
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

add more metadata
  nexus/pkg/server/handler.go
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove run start from link model
  wandb/sdk/wandb_run.py
Due: none

fixing date handling with dateutil
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

include preempted in states that we should stop on
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

init info changes
  nexus/pkg/monitor/info.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wiring wip
  nexus/pkg/monitor/info.go
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add functional tests for model apis
  tests/functional_tests/t0_main/artifacts/run-link-model.py
  tests/functional_tests/t0_main/artifacts/run-link-model.yea
  tests/functional_tests/t0_main/artifacts/run-log-model.py
  tests/functional_tests/t0_main/artifacts/run-log-model.yea
  wandb/sdk/wandb_run.py
Due: none

return correct name
  nexus/pkg/monitor/info.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix exception log for filestream
  wandb/sdk/internal/file_stream.py
Due: none

minor clean up
  nexus/pkg/monitor/info.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

more minor changes
  nexus/pkg/monitor/info.go
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add missing proto
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
Due: none

nexus side works
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

user side works
  wandb/sdk/wandb_run.py
Due: none

lint
  wandb/sdk/wandb_run.py
Due: none

cleant
  nexus/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): Fix logger when logging filestream exception (#6246)
  wandb/sdk/internal/file_stream.py
Due: none

quarter agent status updates and prints
  wandb/sdk/launch/agent/agent.py
Due: none

break out condition inspection into a helper add tests for that helper
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

move to handler and rm system info
  nexus/pkg/monitor/info.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/util.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

mypy
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

fixed a bug that I really wish mypy had caught
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

modifying crd test to cover more code
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

minor clean up
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(launch): use watch api to monitor launched CRDs (#6226)
  tests/pytest_tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

make -d and -q require -p
  wandb/cli/cli.py
  wandb/sdk/launch/utils.py
Due: none

Make message more clear
  wandb/cli/cli.py
Due: none

add program_abspath setting
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/handler.go
  nexus/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
