Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

security(sdk): keep your API key out of the process list when running docker commands
  CHANGELOG.unreleased.md
  tests/unit_tests/test_cli.py
  wandb/cli/cli.py
Due: none

fix(artifacts): download the file again when a different file of the same size is in the way
  CHANGELOG.unreleased.md
  tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/artifact_file_cache.py
Due: none

pr comments
  CHANGELOG.unreleased.md
  wandb/apis/public/registries/registry.py
Due: none

regenerate artifacts fragments
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
Due: none

simplify handler tests; improved comment and naming
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

feat(sdk): make sender own the auto-step, summary._step, HistoryRecord.Step
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/leveldbhistorysource_test.go
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  tests/system_tests/test_core/test_resume_auto.py
  tests/unit_tests/test_sender.py
  wandb/sdk/internal/sender.py
Due: go-wire, go-unit-tests, go-build

clarify comments and improve naming
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  tests/unit_tests/test_sender.py
  wandb/sdk/internal/sender.py
Due: go-wire, go-unit-tests, go-build

feat(sdk): support resume in offline mode (partial)
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  tests/system_tests/test_core/test_resume.py
  tests/system_tests/test_core/test_resume_auto.py
  tests/unit_tests/test_interface_run_record.py
  tests/unit_tests/test_legacy_sync.py
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_init.py
  wandb/sync/sync.py
  xpu/src/wandb_internal.rs
Due: go-generate-proto, go-wire, go-unit-tests, go-build

remove dead code; fix minor bugs; clean up
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/leveldbhistorysource_test.go
  core/internal/leet/liveread_test.go
  core/internal/leet/media_test.go
  core/internal/runupserter/runupserter.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
Due: go-wire, go-unit-tests, go-build

improved names for variables and functions
  core/internal/leet/leveldbhistorysource.go
Due: go-wire, go-unit-tests, go-build

fix: remove extraneous parameter to SendManager
  tests/unit_tests/test_sender.py
Due: none

fix: remove cursor instrumentation
  core/internal/runupserter/runupserter.go
  core/internal/stream/sender.go
Due: go-wire, go-unit-tests, go-build

fix: test case for offline resume step handling; plus format/lint fixes
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
  tests/unit_tests/test_interface_run_record.py
  wandb/sdk/wandb_init.py
Due: go-wire, go-unit-tests, go-build

fix: gofmt
  core/internal/leet/leveldbhistorysource.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

lint
  core/internal/runbranch/state.go
Due: go-wire, go-unit-tests, go-build

nolint explanation
  core/internal/runbranch/state.go
Due: go-wire, go-unit-tests, go-build

fix: add RunMode to RunParams and complete round-trip; don't overwrite define_metric aggregations in summary; more tests
  core/internal/leet/leveldbhistorysource.go
  core/internal/runbranch/state.go
  core/internal/runupserter/runupserter.go
  core/internal/stream/sender.go
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build

format
  wandb/__init__.pyi
Due: none

fix new failing tests due to checking resume status
  core/internal/runhandle/runhandle_test.go
Due: go-wire, go-unit-tests, go-build

move offline/resume validation from settings to wandb.init()
  core/internal/runbranch/state.go
  tests/unit_tests/test_wandb_init.py
  tests/unit_tests/test_wandb_settings.py
  wandb/sdk/wandb_settings.py
Due: go-wire, go-unit-tests, go-build

store resume mode in online mode; fix validation bug
  core/internal/runbranch/state.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/internal/stream/sender_test.go
  tests/unit_tests/test_interface_run_record.py
  tests/unit_tests/test_legacy_sync.py
  tests/unit_tests/test_wandb_settings.py
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_settings.py
Due: go-wire, go-unit-tests, go-build

fix comment
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

add credit to changelog message
  CHANGELOG.unreleased.md
Due: none

add offline/resume settings validation to wandb.init()
  wandb/sdk/wandb_init.py
Due: none

simplify estimating resume starting step logic and add test coverage
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

clean up comments and naming
  core/internal/runbranch/resume.go
Due: go-wire, go-unit-tests, go-build

format
  tests/unit_tests/test_wandb_init.py
  wandb/sdk/wandb_init.py
Due: none

forgot to commit
  wandb/__init__.pyi
Due: none

fix resume test
  core/internal/runupserter/runupserter_test.go
Due: go-wire, go-unit-tests, go-build

remove "synthetic" summary response
  core/internal/stream/handler.go
Due: go-wire, go-unit-tests, go-build

update changelog
  CHANGELOG.unreleased.md
Due: none

save resume mode in the RunRecord when initializing it from RunParms
  core/internal/runbranch/state.go
Due: go-wire, go-unit-tests, go-build

For offline resume only support "must"/"never"
  tests/system_tests/test_core/test_resume.py
  tests/system_tests/test_core/test_resume_auto.py
  tests/unit_tests/test_interface_run_record.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Due: none

switch resume_mode type from string to boolean; more flexible/lenient handling of resume setting for better user experience and handling of edge cases
  CHANGELOG.unreleased.md
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runbranch/state.go
  core/internal/runbranch/state_test.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/internal/stream/sender_test.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  tests/system_tests/test_core/test_resume.py
  tests/unit_tests/test_interface_run_record.py
  tests/unit_tests/test_legacy_sync.py
  tests/unit_tests/test_wandb_init.py
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
  wandb/sync/sync.py
  xpu/src/wandb_internal.rs
Due: go-generate-proto, go-wire, go-unit-tests, go-build

formatting
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

simplify handlePartialHistorySync
  core/internal/stream/handler.go
Due: go-wire, go-unit-tests, go-build

fix: don't reuse run IDs in notebook tests'
  tests/system_tests/test_notebooks/conftest.py
  tests/system_tests/test_notebooks/test_notebooks.py
Due: none

extract error messages into helper methods, simplifying caller
  core/internal/runbranch/resume.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): fix resume tests when "never" specified and run exists
  core/internal/runupserter/runupserter.go
Due: go-wire, go-unit-tests, go-build

revert some changes that assert run exists when resume=never; fix tests
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build
