Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)

[𝘀𝗽𝗿] initial version
  core/internal/filestream/collectorstate.go
  core/internal/filestream/collectorstate_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestream_test.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/transmitchunk.go
  core/internal/filestream/update.go
  core/internal/filestream/updateexit.go
  core/internal/filestream/updatefilesuploaded.go
  core/internal/filestream/updatehistory.go
  core/internal/filestream/updatelogs.go
  core/internal/filestream/updatepreempting.go
  core/internal/filestream/updatestats.go
  core/internal/filestream/updatesummary.go
  core/internal/filestreamtest/filestreamtest.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/uploader.go
  core/internal/runresume/runresume.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): Move filestream from pkg/ to internal/ (#7680)
  core/internal/filestream/collectorstate.go
  core/internal/filestream/collectorstate_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestream_test.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/transmitchunk.go
  core/internal/filestream/update.go
  core/internal/filestream/updateexit.go
  core/internal/filestream/updatefilesuploaded.go
  core/internal/filestream/updatehistory.go
  core/internal/filestream/updatelogs.go
  core/internal/filestream/updatepreempting.go
  core/internal/filestream/updatestats.go
  core/internal/filestream/updatesummary.go
  core/internal/filestreamtest/filestreamtest.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/uploader.go
  core/internal/runresume/runresume.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

wip
  client/cmd/client/main.go
  core/pkg/filestream/filestreamimpl.go
  wandb/lib/lib.py
  wandb/sdk/wandb_init.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

wip
  client/cmd/client/main.go
  wandb/sdk/wandb_init.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

split launcher and session
  client/cmd/client/main.go
  client/internal/launcher/launcher.go
  client/pkg/session/session.go
  wandb/lib/lib.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

finish refactor
  client/cmd/client/main.go
  wandb/lib/lib.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

finish refactor
  client/cmd/binding/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

finish refactor
  client/cmd/client/main.go
  client/hatch.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Add model_type as a configurable argument
  wandb/integration/openai/fine_tuning.py
Due: go-mod-tidy

Updating argument names
  wandb/integration/openai/fine_tuning.py
Due: go-mod-tidy

feat(integrations): allow users to add model_artifact_name and model_artifact_type in the OpenAI Fine-Tuning integration (#7644)
  wandb/integration/openai/fine_tuning.py
Due: go-mod-tidy

Add description
  wandb/integration/openai/fine_tuning.py
Due: go-mod-tidy

"."
  wandb/integration/openai/fine_tuning.py
Due: go-mod-tidy

Add param description
  wandb/integration/openai/fine_tuning.py
Due: go-mod-tidy

fix(launch): Sweep runs no longer appear to be resumed when they are not
  core/api/graphql/query_run_resume_status.graphql
  core/internal/gql/gql_gen.go
  core/internal/runresume/runresume.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(sdk): Update default order in api runs #7675
  CHANGELOG.md
Due: go-mod-tidy

Update CHANGELOG.md
  CHANGELOG.md
Due: go-mod-tidy

Use buffered channels and background workers to manage the upload work queue
  CHANGELOG.md
  core/internal/filetransfer/file_transfer_manager.go
  core/pkg/artifacts/saver.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

remove empty line
  CHANGELOG.md
Due: go-mod-tidy

Fix tests and add test case
  core/internal/runresume/resume_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(sdk): Update default order in api runs (#7675)
  CHANGELOG.md
  wandb/apis/public/api.py
Due: go-mod-tidy

Add system test
  tests/pytest_tests/system_tests/test_sweep/test_wandb_agent_full.py
Due: go-mod-tidy

workaround issue with forking
  tools/bench/bench.py
Due: go-mod-tidy

changelog
  CHANGELOG.md
Due: go-mod-tidy

fix(sdk): pass data by value when sending on filestream
  core/internal/filestream/filestreamimpl.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/filetransfer/tasks.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(sdk): pass data by value when sending on filestream (#7685)
  core/internal/filestream/filestreamimpl.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/filetransfer/tasks.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(sdk): send server_info request before starting defer state machine
  .github/workflows/rust.yml
  wandb/sdk/service/streams.py
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

fix(sdk): send server_info request before starting defer state machine (#7686)
  .github/workflows/rust.yml
  wandb/sdk/service/streams.py
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

Fix core test
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: go-mod-tidy

add pyclient base
  experimental/client-py/hatch.toml
  experimental/client-py/hatch_build.py
  experimental/client-py/pyproject.toml
  experimental/client-py/wandb/__init__.py
  experimental/client-py/wandb/service.py
  experimental/client-py/wandb/sock_client.py
Due: go-mod-tidy

format
  experimental/client-py/hatch_build.py
  experimental/client-py/wandb/__init__.py
Due: go-mod-tidy

add back apple stats
  experimental/client-py/hatch_build.py
Due: go-mod-tidy

perf(artifacts): pipeline the artifact file uploader (#7586)
  CHANGELOG.md
  core/internal/filetransfer/file_transfer_manager.go
  core/pkg/artifacts/saver.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Fix other flaky test
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: go-mod-tidy

start service
  experimental/client-py/wandb/__init__.py
  experimental/client-py/wandb/service.py
Due: go-mod-tidy

update
  experimental/client-py/wandb/__init__.py
  experimental/client-py/wandb/service.py
Due: go-mod-tidy

updat
  experimental/client-py/wandb/service.py
Due: go-mod-tidy

update
  experimental/client-py/wandb/service.py
Due: go-mod-tidy

service
  experimental/client-py/wandb/service.py
Due: go-mod-tidy
