Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$

wip
  wandb/apis/public/api.py
Due: none

add telemetry for user modified summary
  client/src/wandb_internal.rs
  core/pkg/service/wandb_telemetry.pb.go
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

refactor(launch): cleanup the filtering of wandb.config for job inputs (#7152)
  core/internal/runconfig/runconfig.go
  core/internal/runconfig/runconfig_test.go
  core/pkg/launch/config.go
  core/pkg/launch/config_test.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/wandb_config.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix typos and rename stuff
  client/src/wandb_internal.rs
  core/pkg/service/wandb_telemetry.pb.go
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

fix typo
  wandb/sdk/wandb_run.py
Due: none

chore(sdk): disable flaky luanch test
  tests/pytest_tests/unit_tests_old/test_launch/test_launch.py
Due: none

chore(sdk): disable flaky luanch test (#7161)
  tests/pytest_tests/unit_tests_old/test_launch/test_launch.py
Due: none

removing filesaving
  core/pkg/launch/config_files.go
  core/pkg/launch/config_files_test.go
  core/pkg/server/handler.go
  wandb/sdk/interface/interface.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

tima comments
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

lint;
  client/src/wandb_internal.rs
Due: none

try fix mypy lint
  wandb/sdk/interface/interface.py
Due: none

revert lint fix
  wandb/sdk/interface/interface.py
Due: none

Add test for HexToB64
  core/pkg/utils/hash_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  wandb/sdk/internal/handler.py
Due: none

fix policy enum return type
  wandb/sdk/interface/interface.py
Due: none

return type fix
  wandb/sdk/interface/interface.py
Due: none

ruff
  wandb/sdk/interface/interface.py
Due: none

revert adding policy to manifest entry
  core/pkg/service/wandb_internal.pb.go
  tests/pytest_tests/unit_tests/test_artifacts/test_artifact_manifest_entry.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/interface/interface.py
  wandb/sdk/internal/sender.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

delete current code to clean up staging
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

delete staged files after upload even if caching is disabled
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/interface/interface.py
Due: none

revert rust change
  client/src/wandb_internal.rs
Due: none

delete staging files post upload only if we skipped caching
  wandb/sdk/artifacts/artifact_saver.py
Due: none

update changelog
  CHANGELOG.md
Due: none

remove formatting aliases
  wandb/apis/public/api.py
Due: none

remove angle brackets
  wandb/apis/public/api.py
Due: none

docs(launch): Fix rendering of create_run_queue arguments (#7159)
  wandb/apis/public/api.py
Due: none

correct changelog
  CHANGELOG.md
Due: none

chore(sdk): add telemetry to track usage of step in log and summary modification (#7160)
  client/src/wandb_internal.rs
  core/pkg/service/wandb_telemetry.pb.go
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

fix push with both resource args and template vars
  wandb/sdk/launch/utils.py
Due: none

fix(launch): Fix pushing to run queue when both resource args and template variables are provided (#7163)
  wandb/sdk/launch/utils.py
Due: none

consolidate records into 1 request
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/launch/wandb_config.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove some trailing comment lines
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

updating proto docstrings
  client/src/wandb_internal.rs
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

deliver -> publish
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
Due: none

remove post upload staging deletion
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

moving source to oneof
  client/src/wandb_internal.rs
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

ruff
  wandb/sdk/artifacts/artifact_saver.py
Due: none

store config files under input_types_files.<relpath> in metadata
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

docstringz
  core/pkg/launch/config_files.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Entrypoint now includes executable, fix path correction
  wandb/sdk/launch/_project_spec.py
  wandb/sdk/launch/create_job.py
  wandb/sdk/launch/utils.py
Due: none
