Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

unconditional retry policy wrapping
  core/internal/api/api.go
  core/internal/api/logging.go
Due: go-wire, go-unit-tests, go-build

refactor: make internal/api retry logging unconditional (#12306)
  core/internal/api/api.go
  core/internal/api/logging.go
Due: go-wire, go-unit-tests, go-build

add gql for creating custom charts in wandb-core
  core/api/graphql/mutation_create_custom_chart.graphql
  core/internal/gql/gql_gen.go
Due: go-generate-graphql, go-wire, go-unit-tests, go-build

create protos to handle Gql mutation in wandb-core
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto

update wandb-core with customcharthandler
  core/internal/wbapi/customcharthandler.go
  core/internal/wbapi/customcharthandler_test.go
  core/internal/wbapi/wbapi.go
  core/pkg/service_go_proto/wandb_api.pb.go
Due: go-wire, go-unit-tests, go-build

migrate api to use wandb-core for creatng custom charts
  tests/unit_tests/test_public_api/test_public_api.py
  tools/graphql_codegen/api/custom_charts.graphql
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/create_custom_chart.py
  wandb/apis/_generated/operations.py
  wandb/apis/public/api.py
Due: go-generate-graphql

add protos and graphql mutation in wandb-core for runqueue operations
  core/api/graphql/mutation_run_queue.graphql
  core/internal/gql/gql_gen.go
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, go-build

update protos with RunQueueOperations and add corresponding handler in wandb-core
  core/internal/wbapi/runqueuehandler.go
  core/internal/wbapi/runqueuehandler_test.go
  core/internal/wbapi/wbapi.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  xpu/src/wandb_internal.rs
Due: go-generate-proto, go-wire, go-unit-tests, go-build

migrate public api to call wandb-core with protos
  tests/unit_tests/test_public_api/test_public_api.py
  tools/graphql_codegen/api/run_queue.graphql
  wandb/apis/_generated/__init__.py
  wandb/apis/_generated/create_default_resource_config.py
  wandb/apis/_generated/create_run_queue.py
  wandb/apis/_generated/enums.py
  wandb/apis/_generated/operations.py
  wandb/apis/_generated/upsert_run_queue.py
  wandb/apis/public/api.py
Due: go-generate-graphql

fix formatting
  core/internal/wbapi/runqueuehandler.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-unit-tests, go-build

consolidate run queue operation responses into a single type
  core/internal/wbapi/runqueuehandler.go
  core/internal/wbapi/runqueuehandler_test.go
  core/pkg/service_go_proto/wandb_api.pb.go
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/apis/public/api.py
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-wire, go-unit-tests, go-build

change lowCardinalityAttributes from map to struct
  core/internal/analytics/opentelemetry_proxy.go
  core/internal/analytics/opentelemetry_proxy_test.go
Due: go-wire, go-unit-tests, go-build

fix failing unit tests
  core/internal/analytics/opentelemetry_proxy.go
  core/internal/analytics/opentelemetry_proxy_test.go
Due: go-wire, go-unit-tests, go-build

remove Start function, and initialize inline
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

change allowed attributes to bool map, and move documentation to interface
  core/internal/analytics/opentelemetry_proxy.go
  core/internal/analytics/opentelemetry_proxy_test.go
Due: go-wire, go-unit-tests, go-build

tighten up possible race conditions
  core/internal/analytics/opentelemetry_proxy.go
Due: go-wire, go-unit-tests, go-build

add noop telemetry proxy to support disabled analytics
  core/internal/analytics/opentelemetry_proxy.go
Due: go-wire, go-unit-tests, go-build

add tests
  core/go.mod
  core/internal/analytics/opentelemetry_proxy.go
  core/internal/analytics/opentelemetry_proxy_test.go
Due: go-wire, go-unit-tests, go-build

fix passing endpoint not working
  core/internal/analytics/opentelemetry_proxy.go
Due: go-wire, go-unit-tests, go-build

address comments, only call setup error handler once, code cleanup
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

remove insure tls code
  core/internal/analytics/opentelemetry_proxy.go
Due: go-wire, go-unit-tests, go-build

renaming cleanup
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

add api key header to httpclient when sending otel events
  core/internal/analytics/opentelemetry_proxy.go
  core/internal/analytics/opentelemetry_proxy_test.go
Due: go-wire, go-unit-tests, go-build

fix formatting
  core/internal/analytics/opentelemetry_proxy.go
Due: go-wire, go-unit-tests, go-build

fix lint error
  core/internal/analytics/opentelemetry_proxy.go
Due: go-wire, go-unit-tests, go-build

provide context to metric/log functions
  core/internal/analytics/opentelemetry_proxy.go
  core/internal/analytics/opentelemetry_proxy_test.go
Due: go-wire, go-unit-tests, go-build

include user provided headers and proxy settings
  core/internal/analytics/opentelemetry_proxy.go
  core/internal/analytics/opentelemetry_proxy_test.go
Due: go-wire, go-unit-tests, go-build

add error logging when failing to send telemetry events
  core/internal/analytics/opentelemetry_proxy.go
Due: go-wire, go-unit-tests, go-build

change structure of otelproxy and telemetryrecorder
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

refactor to have a hierarchy
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

fix capitialization
  core/internal/analytics/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

clean up code
  core/internal/analytics/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

add otlp test proxy
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/analyticstest/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

add caller function parameter to error
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

add sethighcardinality and setlowcardinality attributes on otel proxy class
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

change to use TelemetryRecorder as a pointer
  core/internal/analytics/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

fix documentation on errorOriginator
  core/internal/analytics/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

fix precommit
  tests/unit_tests/test_analytics/test_otlp_json.py
  wandb/analytics/_otlp_exporters.py
  wandb/analytics/_otlp_json.py
  wandb/analytics/opentelemetry_proxy.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
