Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

Update plugin.py
  tools/graphql_codegen/plugin.py
Due: none

feat: CI that checks for docs PR or Jira link on feature work
  .github/workflows/validate-docs-pr.yml
Due: none

Update plugin.py
  requirements_dev.txt
  tools/graphql_codegen/generate-graphql.sh
  tools/graphql_codegen/plugin.py
  wandb/sdk/automations/__init__.py
  wandb/sdk/automations/_generated/__init__.py
  wandb/sdk/automations/_generated/base.py
  wandb/sdk/automations/_generated/create_filter_trigger.py
  wandb/sdk/automations/_generated/create_generic_webhook_integration.py
  wandb/sdk/automations/_generated/delete_trigger.py
  wandb/sdk/automations/_generated/enums.py
  wandb/sdk/automations/_generated/fragments.py
  wandb/sdk/automations/_generated/generic_webhook_integrations_by_entity.py
  wandb/sdk/automations/_generated/get_triggers.py
  wandb/sdk/automations/_generated/get_triggers_by_entity.py
  wandb/sdk/automations/_generated/input_types.py
  wandb/sdk/automations/_generated/integrations_by_entity.py
  wandb/sdk/automations/_generated/operations.py
  wandb/sdk/automations/_generated/slack_integrations_by_entity.py
  wandb/sdk/automations/_generated/typing_compat.py
  wandb/sdk/automations/_generated/update_filter_trigger.py
Due: none

Update validate-docs-pr.yml
  .github/workflows/validate-docs-pr.yml
Due: none

chore(sdk): add Python-to-GraphQL code generation (#8901)
  .gitattributes
  CONTRIBUTING.md
  core/api/graphql/schemas/commit.hash.txt
  pyproject.toml
  requirements_dev.txt
  tools/graphql_codegen/README.md
  tools/graphql_codegen/__init__.py
  tools/graphql_codegen/automations/automations.toml
  tools/graphql_codegen/automations/queries.graphql
  tools/graphql_codegen/generate-graphql.sh
  tools/graphql_codegen/include/base.py
  tools/graphql_codegen/include/typing_compat.py
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
Due: go-generate-graphql

fix: handle correctly multiple types
  core/internal/runmetric/definedmetric.go
  tests/system_tests/test_core/test_metric_full.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: handle correctly multiple summary types in define_metric (#9288)
  core/internal/runmetric/definedmetric.go
  tests/system_tests/test_core/test_metric_full.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix address
  cmd/ctrlc/root/sync/tailscale/tailscale.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up tests
  tests/system_tests/test_core/test_cli_full.py
Due: none

chore: add additional --base-url option for wandb login to match the env variable WANDB_BASE_URL
  wandb/cli/cli.py
Due: none

update changelog
  CHANGELOG.unreleased.md
Due: none

chore: add additional --base-url option for wandb login to match the env variable WANDB_BASE_URL (#9323)
  CHANGELOG.unreleased.md
  wandb/cli/cli.py
Due: none

refactor: remove unneeded login code in cli.py
  wandb/cli/cli.py
Due: none

add tailscale oauth
  cmd/ctrlc/root/sync/tailscale/tailscale.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add scanner
  cmd/ctrlc/root/sync/tailscale/tailscale.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add tailscale check
  cmd/ctrlc/root/sync/tailscale/tailscale.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(sdk): add url method to wandb.Artifact (#8973)
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: none

chore(sdk): use pydantic for parts of artifacts
  pyproject.toml
  tools/graphql_codegen/artifacts/artifacts.toml
  tools/graphql_codegen/artifacts/queries.graphql
  tools/graphql_codegen/generate-graphql.sh
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/base.py
  wandb/sdk/artifacts/_generated/enums.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/typing_compat.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
Due: go-generate-graphql

chore: add BREAKING.md for breaking changes
  BREAKING.md
Due: none

chore: add BREAKING.md for breaking changes (#9322)
  BREAKING.md
Due: none

fix: Remove env expires at from cli
  cmd/ctrlc/root/api/create/environment/environment.go
  internal/api/client.gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update apikey.py to remove writing apikey during prompt_key function
  wandb/sdk/lib/apikey.py
  wandb/sdk/wandb_login.py
Due: none

remove prompt api key side effect and just return key.
  wandb/sdk/wandb_login.py
Due: none

fix: Add in system commands
  cmd/ctrlc/root/api/create/create.go
  cmd/ctrlc/root/api/create/system/system.go
  cmd/ctrlc/root/api/get/system/system.go
  cmd/ctrlc/root/api/update/system/system.go
  cmd/ctrlc/root/api/update/update.go
  internal/api/client.gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: Add metadata to environment create
  cmd/ctrlc/root/api/create/environment/environment.go
  internal/api/client.gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update _login method to remove the wlogin.login function
  tests/system_tests/test_notebooks/conftest.py
  tests/system_tests/test_notebooks/test_notebooks.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_login.py
Due: none

move setting the global anonymous setting to wandb_login code path
  wandb/sdk/lib/apikey.py
  wandb/sdk/wandb_login.py
Due: none

perf test forking
  tools/perf/scripts/bench_run_log.py
Due: none

fix: correctly handle run rewind settings fork_from and resume_from
  CHANGELOG.unreleased.md
  wandb/sdk/wandb_settings.py
Due: none

fix: correctly handle run rewind settings fork_from and resume_from (#9331)
  CHANGELOG.unreleased.md
  wandb/sdk/wandb_settings.py
Due: none

chore: add unit test for run rewind settings fork_from and resume_from
  tests/unit_tests/test_wandb_settings.py
Due: none

refactor: remove writing api key during user prompt function. (#9297)
  wandb/sdk/lib/apikey.py
  wandb/sdk/wandb_login.py
Due: none

update docstring for notebook_loader fixture
  tests/system_tests/test_notebooks/conftest.py
Due: none

chore: add unit test for run rewind settings fork_from and resume_from (#9332)
  tests/unit_tests/test_wandb_settings.py
Due: none
