Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

chore(sdk): add test to check behavior w/o server support
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

chore(sdk): autoformatting
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

move fix description to unreleased section
  CHANGELOG.md
Due: none

fix(sdk): Add `__iter__` to wandb `Config` (#8129)
  wandb/sdk/wandb_config.py
Due: none

chore(sdk): autoformatting
  wandb/sdk/wandb_config.py
Due: none

[𝘀𝗽𝗿] initial version
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/retry_policy.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  wandb/sdk/wandb_config.py
Due: none

chore(sdk): Fix lint caused by extra whitespace (#8161)
  wandb/sdk/wandb_config.py
Due: none

chore(sdk): more cleanup
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/wandb_run.py
Due: none

chore(sdk): revert to original verbatim warning
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/internal/internal_api.py
Due: none

[𝘀𝗽𝗿] initial version
  CHANGELOG.md
Due: none

add error prefixes back to file trasnfer and switch to
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/filetransfer/task_default.go
  core/internal/filetransfer/task_ref_art.go
  core/internal/filetransfer/tasks.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

small log change
  core/internal/filetransfer/file_transfer_manager.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(core): Don't retry HTTP 422 (#8160)
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/retry_policy.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Apply suggestions from code review
  core/internal/filetransfer/file_transfer_gcs.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): Update changelog for PR #8129 (#8162)
  CHANGELOG.md
Due: none

throw error and handle error instead of returning empty string, add comments and logs
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
Due: none

nit
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
Due: none

fix(sdk): do not attempt to update run telemetry in disabled mode
  wandb/sdk/wandb_run.py
Due: none

fix(sdk): do not attempt to update run telemetry in disabled mode (#8163)
  wandb/sdk/wandb_run.py
Due: none

chore(sdk): isolate patching/mocking of introspection endpoint via fixture
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

newshape -> shape
  wandb/sdk/data_types/video.py
Due: none

refactor(core): make `filetransfer.Task` an interface to support ref artifacts (#8147)
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/file_transfer_gcs.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/filetransfer/file_transfers.go
  core/internal/filetransfer/task_default.go
  core/internal/filetransfer/task_ref_art.go
  core/internal/filetransfer/tasks.go
  core/internal/filetransfertest/filetransfertest.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/saved_file.go
  core/pkg/artifacts/downloader.go
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add fork tests
  core/internal/runbranch/fork_test.go
  core/internal/runbranch/rewind_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update changes
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(core): add support for rewind
  core/api/graphql/mutation_rewind_run.graphql
  core/internal/gql/gql_gen.go
  core/internal/runbranch/rewind.go
  core/internal/runbranch/state.go
  core/pkg/server/sender.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add docs + add history back
  core/api/graphql/mutation_rewind_run.graphql
  core/api/graphql/query_run_resume_status.graphql
  core/internal/runbranch/processresponse.go
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(core): add fork_from and clean up resume_from
  core/internal/runbranch/fork.go
  core/internal/runbranch/rewind.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add docs
  core/api/graphql/mutation_rewind_run.graphql
  core/internal/runbranch/fork.go
  core/internal/runbranch/rewind.go
  core/pkg/server/sender.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hopefully more readable
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runbranch/rewind.go
  core/internal/runbranch/utils.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add rewind tests
  core/internal/runbranch/rewind.go
  core/internal/runbranch/rewind_test.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

address some review comment
  core/internal/runbranch/fork.go
  core/internal/runbranch/fork_test.go
  core/internal/runbranch/rewind.go
  core/internal/runbranch/rewind_test.go
  core/internal/runbranch/state.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move check
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update trivial tests
  core/internal/runbranch/rewind.go
  core/internal/runbranch/rewind_test.go
  core/internal/runbranch/state.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

debug
  core/api/graphql/mutation_run.graphql
  core/internal/gql/gql_gen.go
  core/pkg/server/sender.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save progress
  experimental/client-rust/src/launcher.rs
  experimental/client-rust/src/session.rs
Due: none

feat(core): add support for rewind and fork in core (#7998)
  core/api/graphql/mutation_rewind_run.graphql
  core/api/graphql/mutation_run.graphql
  core/api/graphql/query_run_resume_status.graphql
  core/internal/gql/gql_gen.go
  core/internal/runbranch/fork.go
  core/internal/runbranch/fork_test.go
  core/internal/runbranch/processresponse.go
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runbranch/rewind.go
  core/internal/runbranch/rewind_test.go
  core/internal/runbranch/state.go
  core/pkg/server/sender.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): verify that run_id and fork_from run id are different
  wandb/sdk/wandb_settings.py
Due: none

chore(sdk): clean up ci
  .circleci/config.yml
  tox.ini
Due: none

chore(sdk): clean up ci
  .circleci/config.yml
Due: none
