Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)

remove breakpoint()
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

fix(sdk): use backward-compatible return type annotations without future import
  wandb/apis/public/api.py
Due: go-mod-tidy

fix(sdk): revert use of ParamSpec hints
  wandb/apis/normalize.py
Due: go-mod-tidy

docs(sdk): fix incomplete/unfinished docstrings, other edits for consistency
  wandb/apis/public/api.py
Due: go-mod-tidy

chore(sdk): add missing return type hints
  wandb/apis/public/api.py
Due: go-mod-tidy

refactor to understand
  tests/pytest_tests/unit_tests/test_workspaces/test_workspaces.py
  wandb/apis/reports/v2/internal.py
  wandb/apis/workspaces/__init__.py
  wandb/apis/workspaces/interface.py
  wandb/apis/workspaces/interface_settings.py
  wandb/apis/workspaces/internal.py
  wandb/apis/workspaces/internal_types.py
Due: go-mod-tidy

fix(sdk): use backward-compatible return type annotations w/o future import
  wandb/apis/public/api.py
Due: go-mod-tidy

fix(sdk): linter error not caught locally
  wandb/apis/public/api.py
Due: go-mod-tidy

remove extraneous newline
  wandb/apis/public/api.py
Due: go-mod-tidy

Removed wrong language
  wandb/sdk/wandb_init.py
Due: go-mod-tidy

added test
  tests/pytest_tests/system_tests/test_api/test_public_api.py
Due: go-mod-tidy

wip
  core/internal/runsummary/runsummary.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

some more exploration
  wandb/apis/workspaces/interface.py
  wandb/apis/workspaces/internal_types.py
Due: go-mod-tidy

Gymnasium v1.0.0 support (#7709)
  wandb/integration/gym/__init__.py
Due: go-mod-tidy

improve version reporting
  experimental/client-go/bindings/py/wandb/__init__.py
  experimental/client-py/wandb/__init__.py
  tools/bench/bench.py
Due: go-mod-tidy

add image to benchmark
  tools/bench/_load_profiles.py
  tools/bench/bench.py
Due: go-mod-tidy

add images
  tools/bench/bench.py
Due: go-mod-tidy

fix(core): flush history record correctly in shared mode
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(core): flush history record correctly in shared mode
  CHANGELOG.md
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  .pre-commit-config.yaml
Due: go-mod-tidy

[𝘀𝗽𝗿] changes to main this commit is based on
  .pre-commit-config.yaml
Due: go-mod-tidy

[𝘀𝗽𝗿] changes to main this commit is based on
  .pre-commit-config.yaml
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-mod-tidy, go-build

add tfeventreader_test.go
  core/internal/tensorboard/maskedcrc32c.go
  core/internal/tensorboard/tfeventreader.go
  core/internal/tensorboard/tfeventreader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix proto format
  core/internal/tensorboard/tbproto/tfevent.proto
Due: go-generate-proto, go-mod-tidy

Fix retry in tests
  tests/pytest_tests/system_tests/test_core/test_sender.py
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: go-mod-tidy

fix(artifacts): fix path parsing when aliases contain forward slashes (#7676)
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/server/sender.go
  tests/pytest_tests/system_tests/test_launch/test_job.py
  tests/pytest_tests/unit_tests/test_job_builder.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/internal/sender.py
  wandb/sdk/launch/create_job.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(launch): overwrite partial job metadata instead of building a new job version (#7651)
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/server/sender.go
  tests/pytest_tests/system_tests/test_launch/test_job.py
  tests/pytest_tests/unit_tests/test_job_builder.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/internal/sender.py
  wandb/sdk/launch/create_job.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(launch): partial git jobs dont require codePath in metadata
  wandb/sdk/internal/job_builder.py
  wandb/sdk/launch/create_job.py
Due: go-mod-tidy

fix(launch): only mark job as partial in artifact version metadata
  wandb/apis/public/jobs.py
  wandb/sdk/launch/create_job.py
Due: go-mod-tidy

Remove deprecated tests
  tests/pytest_tests/system_tests/test_core/test_sender.py
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: go-mod-tidy

Update test_public_api.py
  tests/pytest_tests/system_tests/test_api/test_public_api.py
Due: go-mod-tidy

assert
  tests/pytest_tests/system_tests/test_api/test_public_api.py
Due: go-mod-tidy

ruff
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: go-mod-tidy

chore(core): drop recent duplicate errors when reporting to sentry
  core/pkg/observability/sentry.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

move sentry to internal and treat as an injectable dependency
  core/cmd/wandb-core/main.go
  core/pkg/observability/logging.go
  core/pkg/observability/sentry.go
  core/pkg/server/connection.go
  core/pkg/server/server.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

update linter
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/server/server.go
  core/pkg/server/stream.go
  core/scripts/update-dev-env.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build
