Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

Revert "chore: skip broken botocore for now (#8815)"
  requirements_dev.txt
Due: none

chore: use boto3 instead of botocore
  requirements_dev.txt
Due: none

chore: use boto3 instead of botocore (#8821)
  requirements_dev.txt
Due: none

fixes
  tests/system_tests/test_notebooks/test_notebooks.py
  tests/unit_tests/test_cli.py
  tests/unit_tests/test_job_builder.py
  tests/unit_tests/test_library_public.py
Due: none

fixes
  tests/unit_tests/test_job_builder.py
Due: none

update c# example
  experimental/client-csharp/src/Wandb/Settings.cs
Due: none

fixes
  tests/system_tests/test_artifacts/test_wandb_run_artifacts.py
Due: none

fixes
  wandb/apis/importers/internals/internal.py
  wandb/filesync/dir_watcher.py
Due: none

fix: do not capture host name if disable machine info setting is set
  core/internal/settings/settings.go
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update changelog
  CHANGELOG.md
Due: none

fix: prevent capturing hostname if disable machine info setting is set (#8822)
  core/internal/settings/settings.go
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix formatter
  CHANGELOG.md
Due: none

fix(sdk): create_and_run_agent visibility (#8621)
  CHANGELOG.md
  wandb/sdk/launch/__init__.py
Due: none

chore: remove tracelog from code
  core/pkg/service_go_proto/wandb_settings.pb.go
  landfill/functional_tests/debug/t1_tracelog_stdout.py
  landfill/functional_tests/debug/t2_tracelog_logger.py
  tools/tracelog-tool.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/interface/interface_queue.py
  wandb/sdk/interface/router.py
  wandb/sdk/interface/router_queue.py
  wandb/sdk/interface/router_relay.py
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/internal.py
  wandb/sdk/internal/internal_util.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/writer.py
  wandb/sdk/lib/sock_client.py
  wandb/sdk/lib/tracelog.py
  wandb/sdk/service/server.py
  wandb/sdk/service/server_sock.py
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_setup.py
Due: go-generate-proto

chore: improve code readability in tools/inspect_tool.py
  tools/inspect_tool.py
Due: none

fix line length
  tools/inspect_tool.py
Due: none

chore: remove tracelog from code (#8816)
  core/pkg/service_go_proto/wandb_settings.pb.go
  landfill/functional_tests/debug/t1_tracelog_stdout.py
  landfill/functional_tests/debug/t2_tracelog_logger.py
  tools/tracelog-tool.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/interface/interface_queue.py
  wandb/sdk/interface/router.py
  wandb/sdk/interface/router_queue.py
  wandb/sdk/interface/router_relay.py
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/internal.py
  wandb/sdk/internal/internal_util.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/writer.py
  wandb/sdk/lib/sock_client.py
  wandb/sdk/lib/tracelog.py
  wandb/sdk/service/server.py
  wandb/sdk/service/server_sock.py
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_setup.py
Due: go-generate-proto

chore: improve code readability in tools/inspect_tool.py (#8823)
  tools/inspect_tool.py
Due: none

chore: skip wandb.Image tests if no pillow installed
  requirements_test.txt
  tests/unit_tests/test_data_types.py
  tests/unit_tests/test_media/test_media_logging.py
  tests/unit_tests/test_media/test_wandb_image.py
Due: none

fix(artifacts): pass arguments explicitly from api._artifact() to Artifact._from_name() (#8803)
  CHANGELOG.md
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/apis/public/api.py
  wandb/sdk/artifacts/artifact.py
Due: none

fix(sdk): add setting to allow artifacts in offline mode by default
  CHANGELOG.md
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/unit_tests/test_wandb_settings.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/data_types/base_types/wb_value.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto

fix(sdk): ensure table artifact path keys are updated in offline mode (#8792)
  CHANGELOG.md
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/unit_tests/test_wandb_settings.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/data_types/base_types/wb_value.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto

Update error message to suggest the right command `wandb artifact cache cleanup --remove-temp`
  wandb/sdk/artifacts/artifact_file_cache.py
Due: none

[𝘀𝗽𝗿] initial version
  .github/workflows/release-sdk.yml
  CHANGELOG.md
  CHANGELOG.unreleased.md
  tools/changelog.py
Due: none

update instructions, merge more unreleased changes
  .github/workflows/release-sdk.yml
  CHANGELOG.unreleased.md
Due: none

chore: introduce CHANGELOG.unreleased.md (#8827)
  .github/workflows/release-sdk.yml
  CHANGELOG.md
  CHANGELOG.unreleased.md
  tools/changelog.py
Due: none

[𝘀𝗽𝗿] initial version
  CHANGELOG.md
Due: none

chore: remove section from CHANGELOG.md (#8829)
  CHANGELOG.md
Due: none

chore: wandb_backend_spy uploaded_files (#8785)
  tests/system_tests/test_core/test_file_upload.py
  tests/system_tests/wandb_backend_spy/spy.py
Due: none

sweep on k8s
  sweep_containers/Dockerfile
  sweep_containers/sweep_launcher.py
  sweep_containers/train.py
Due: none

chore: wandb_backend_spy in test_resume, test_system_info, test_wandb_save (#8787)
  tests/system_tests/test_core/test_resume.py
  tests/system_tests/test_core/test_system_info.py
  tests/system_tests/test_core/test_wandb_save.py
Due: none

chore: enforce gql commit hash
  core/api/graphql/generate-graphql.sh
  core/api/graphql/genqlient.yaml
  core/api/graphql/schemas/README.md
  core/api/graphql/schemas/commit.hash.txt
Due: none

chore: move handler to use settings.Settings
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
  core/internal/stream/stream.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: move handler to use settings.Settings (#8812)
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
  core/internal/stream/stream.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Initial commit
  LICENSE
Due: none

fix(artifacts): raise for invalid artifact names
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
Due: none

init cli
  LICENSE
  cmd/ctrlc/ctrlc.go
  cmd/ctrlc/root/agent/agent.go
  cmd/ctrlc/root/agent/run/run.go
  cmd/ctrlc/root/root.go
  go.mod
  go.sum
  internal/options/options.go
  internal/ptysession/manager.go
  internal/ptysession/manager_test.go
  internal/ptysession/ptysession.go
  internal/ptysession/shell.go
  internal/websocket/client.go
  pkg/agent/agent.go
  pkg/payloads/agent_connect_generated.go
  pkg/payloads/agent_heartbeat_generated.go
  pkg/payloads/session_create_generated.go
  pkg/payloads/session_delete_generated.go
  pkg/payloads/session_input_generated.go
  pkg/payloads/session_output_generated.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add width
  go.mod
  go.sum
  internal/ptysession/manager.go
  internal/ptysession/ptysession.go
  internal/websocket/client.go
  pkg/agent/agent.go
  pkg/payloads/session_create_generated.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use own socket
  cmd/ctrlc/root/agent/run/run.go
  internal/ptysession/manager.go
  internal/ptysession/manager_test.go
  internal/ptysession/ptysession.go
  internal/websocket/client.go
  internal/websocket/options.go
  pkg/agent/agent.go
  pkg/agent/options.go
  pkg/payloads/session_create_generated.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
