Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

update changelog
  CHANGELOG.unreleased.md
Due: none

WB-26051 fix resume setting to allow
  wandb/apis/importers/mlflow.py
Due: none

minor feedback
  wandb/sdk/wandb_init.py
Due: none

pre commit
  wandb/__init__.pyi
  wandb/sdk/wandb_init.py
Due: none

add unit tests
  core/internal/gitops/git.go
  core/internal/gitops/git_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

quick change to add in reference artifact support for path_uri
  tests/unit_tests/test_file/test_file_public_api.py
  wandb/apis/public/files.py
Due: none

docs(sdk): [lazydocs] add run api init template and update run docstrings (#9845)
  wandb/__init__.pyi
  wandb/sdk/wandb_run.py
Due: none

add system tests
  tests/system_tests/test_core/test_git.py
Due: none

Missing global
  wandb/sdk/wandb_init.py
Due: none

return before raises
  wandb/__init__.pyi
  wandb/sdk/wandb_init.py
Due: none

Add None to wandb_login
  wandb/sdk/wandb_login.py
Due: none

precommit
  wandb/__init__.pyi
Due: none

sweep return
  wandb/sdk/wandb_sweep.py
Due: none

pre commit
  wandb/__init__.pyi
Due: none

wip: make it exist
  core/api/graphql/query_run.graphql
  core/internal/gql/gql_gen.go
  core/internal/stream/apistream.go
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/apis/beta/api.py
  wandb/apis/beta/runs.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip: make it exist
  core/internal/stream/apistream.go
  wandb/sdk/interface/interface.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix failing tests
  tests/system_tests/test_core/test_git.py
Due: none

Add --replace-tags option to wandb sync
  wandb/cli/cli.py
  wandb/sync/sync.py
Due: none

docs(sdk): [lazydocs] Update API docstring formatting in wandb/wandb/sdk (#9221)
  wandb/__init__.pyi
  wandb/apis/public/api.py
  wandb/errors/errors.py
  wandb/plot/custom_chart.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_login.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
  wandb/sdk/wandb_setup.py
  wandb/sdk/wandb_sweep.py
Due: none

unused sock client method
  wandb/sdk/lib/sock_client.py
Due: none

refactor: remove unused SockClient.set_socket method (#10067)
  wandb/sdk/lib/sock_client.py
Due: none

Make sweep.name return displayName if present
  wandb/apis/public/sweeps.py
Due: none

feat: add support for in define_metric
  CHANGELOG.unreleased.md
  core/internal/runmetric/definedmetric.go
  core/internal/runsummary/metricsummary.go
  core/internal/runsummary/runsummary_test.go
  core/internal/runsummary/type.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  tests/system_tests/test_core/test_metric_full.py
  tests/unit_tests/test_wandb_define_metric.py
  wandb/__init__.pyi
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/wandb_metric.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add support for `first` summary option for `define_metric` (#10121)
  CHANGELOG.unreleased.md
  core/internal/runmetric/definedmetric.go
  core/internal/runsummary/metricsummary.go
  core/internal/runsummary/runsummary_test.go
  core/internal/runsummary/type.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  tests/system_tests/test_core/test_metric_full.py
  tests/unit_tests/test_wandb_define_metric.py
  wandb/__init__.pyi
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/wandb_metric.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: remove internal process check
  wandb/__init__.py
  wandb/sdk/internal/datastore.py
  wandb/sdk/wandb_init.py
  wandb/sync/sync.py
Due: none

chore: add env variable to enable CGO
  core/hatch.py
  hatch_build.py
Due: none

if else
  core/hatch.py
Due: none

add comment
  core/hatch.py
Due: none

chore(artifacts): compute hash of multipart in parallel
  CHANGELOG.unreleased.md
  core/internal/hashencode/hash.go
  core/pkg/artifacts/saver.go
  core/pkg/artifacts/saver_test.go
  wandb/sdk/lib/hashutil.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

initial draft of unit tests
  tests/system_tests/test_sweep/test_sweep_public_api.py
  tests/system_tests/test_sweep/test_wandb_sweep.py
  tests/unit_tests/test_launch/test_internal_api.py
  wandb/sdk/internal/internal_api.py
Due: none

add missing file
  core/internal/stream/streamer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: Enable parallel hash of entire file
  CHANGELOG.unreleased.md
  tests/unit_tests/test_lib/test_hashutil.py
  wandb/sdk/lib/hashutil.py
Due: none

lint
  tests/system_tests/test_sweep/test_sweep_public_api.py
  tests/unit_tests/test_launch/test_internal_api.py
Due: none

fix: api.history scans would retry failed requests in addition to the clients retries
  wandb/apis/public/history.py
Due: none

update unreleased changelog
  CHANGELOG.unreleased.md
Due: none

release note tweak
  CHANGELOG.unreleased.md
Due: none

hack: Disable progress bar for upload request body
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack: Disable http keep alive for upload
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add env variable to enable CGO (#10142)
  core/hatch.py
  hatch_build.py
Due: none
