Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

fix: rebased on removal of `HistoryValue`
  tests/unit_tests/test_history_value.py
  wandb/sdk/interface/history_value.py
Due: none

migrate python from kind to oneof
  tests/unit_tests/test_history_value.py
  wandb/sdk/interface/history_value.py
Due: none

feat(sdk): write the typed history value from Python
  tests/unit_tests/test_history_value.py
  wandb/sdk/interface/history_value.py
  wandb/sdk/interface/interface.py
Due: none

fix: unicode bug in typed history handling
  tests/unit_tests/test_history_value.py
  wandb/sdk/interface/history_value.py
Due: none

chore: rename oneof fields to remove _value suffix
  tests/unit_tests/test_history_value.py
  wandb/sdk/interface/history_value.py
Due: none

chore: reject typed-only x_history_value_encoding for now until we bump the log file format version
  tests/unit_tests/test_history_value.py
  tests/unit_tests/test_wandb_settings.py
  wandb/sdk/wandb_settings.py
Due: none

rename `typed` function to `make_typed_value` for clarity
  tests/unit_tests/test_history_value.py
Due: none

chore(sdk): write the typed history value from Python (#12833)
  tests/unit_tests/test_history_value.py
  tests/unit_tests/test_wandb_settings.py
  wandb/sdk/interface/history_value.py
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_settings.py
Due: none

style: sort imports in bokeh test
  tests/unit_tests/test_media/test_bokeh.py
Due: none

chore: support typed-only; default to json-only in Go
  core/internal/runhistory/runhistory.go
  core/internal/runhistory/runhistory_test.go
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

chore: clarifying comment, simplify style
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

chore: add test case for error in SetFromRecord when typed is set but not invalid
  core/internal/runhistory/runhistory_test.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): handler writes typed history alongside json if enabled
  core/internal/runhistory/runhistory.go
  core/internal/runhistory/runhistory_test.go
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

fix: rebased on removal of `HistoryValue`
  core/internal/runhistory/runhistory.go
  core/internal/runhistory/runhistory_test.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

chore: use MinInt64 instead of formula
  core/internal/runhistory/runhistory_test.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): handler writes typed history alongside json if enabled (#12967)
  core/internal/runhistory/runhistory.go
  core/internal/runhistory/runhistory_test.go
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

chore: add typed history tests for sender
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build

chore: add typed history tests for sender (#13096)
  core/internal/stream/sender_test.go
Due: go-wire, go-unit-tests, go-build

updating monitor.go with three functions to handle delaying system metrics
  core/internal/monitor/monitor.go
  core/internal/stream/handler.go
Due: go-wire, go-unit-tests, go-build

adding unit tests for server checking and holding logic
  core/internal/monitor/monitor_test.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

docs: add changelog entry for held system metrics
  CHANGELOG.unreleased.md
Due: none

fixing linter flagged issues in fucntion calling
  core/internal/monitor/monitor.go
  core/internal/stream/handler_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): sample system metrics while checking the server version
  CHANGELOG.unreleased.md
  core/internal/monitor/monitor.go
  core/internal/monitor/monitor_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): report any invalid config-defaults.yaml as a ConfigError
  tests/unit_tests/test_wandb_config.py
  wandb/sdk/lib/config_util.py
Due: none

docs: add changelog entry
  CHANGELOG.unreleased.md
Due: none

fix(sdk): sync runs as the writer recorded in the transaction log
  CHANGELOG.unreleased.md
  core/internal/runsync/runinfo.go
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/stream/stream.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-wire, go-unit-tests, go-build

chore: add PR link to changelog entry
  CHANGELOG.unreleased.md
Due: none

chore: look up local-testcontainer release images by wandb/core workflow run
  CONTRIBUTING.md
  noxfile.py
Due: none

test(artifacts): cover hosted, chained and failed wandb-artifact reference downloads
  tests/unit_tests/test_artifacts/test_storage.py
Due: none

fix(sdk): the public API never updates the session credentials
  wandb/apis/public/api.py
  wandb/sdk/lib/wbauth/authenticate.py
Due: none

refactor(sdk): read the writer ID from the run record
  core/internal/runsync/runinfo.go
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/runsync/runsyncer.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/runupserter/runupdatework.go
  core/internal/runupserter/runupserter.go
  core/internal/runupserter/runupserter_test.go
  core/internal/runupsertertest/runupsertertest.go
  core/internal/stream/recordparser.go
  core/internal/stream/wire_gen.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): reject trailing text in from_human_size
  tests/unit_tests/test_util.py
  wandb/util.py
Due: none

fix: keep wandb.Api() base_url overrides out of the global settings (#13125)
  CHANGELOG.unreleased.md
  tests/unit_tests/test_public_api/test_public_api.py
  wandb/apis/public/api.py
  wandb/sdk/lib/wbauth/authenticate.py
Due: none

feat(sdk): make CoreWeave Forge the default W&B server (#13077)
  CHANGELOG.unreleased.md
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/api/api.go
  core/internal/leet/run.go
  tests/unit_tests/test_cli.py
  tests/unit_tests/test_cli_leet.py
  tests/unit_tests/test_eval_table_ces.py
  tests/unit_tests/test_lib/test_auth_host_url.py
  tests/unit_tests/test_lib/test_auth_netrc.py
  tests/unit_tests/test_lib/test_auth_prompt.py
  tests/unit_tests/test_lib/test_urls.py
  tests/unit_tests/test_util.py
  tests/unit_tests/test_wandb_run.py
  tests/unit_tests/test_wandb_settings.py
  tests/unit_tests/test_wandb_verify.py
  wandb/__init__.pyi
  wandb/apis/public/api.py
  wandb/apis/public/runs.py
  wandb/apis/public/sweeps.py
  wandb/cli/cli.py
  wandb/cli/leet.py
  wandb/integration/openai/fine_tuning.py
  wandb/sdk/data_types/eval_table/_writer_ces.py
  wandb/sdk/lib/urls.py
  wandb/sdk/lib/wbauth/host_url.py
  wandb/sdk/lib/wbauth/prompt.py
  wandb/sdk/lib/wbauth/saas.py
  wandb/sdk/lib/wbauth/wbnetrc.py
  wandb/sdk/verify/verify.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_login.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
  wandb/util.py
Due: go-wire, go-unit-tests, go-build

fix(artifacts): fall back to list_blobs when get_blob is forbidden
  CHANGELOG.unreleased.md
  tests/unit_tests/test_artifacts/test_references_gcs.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
Due: none

fix(artifacts): try the folder listing when the exact-key probe is forbidden
  tests/unit_tests/test_artifacts/test_references_gcs.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
Due: none

test(artifacts): cover dest_path forwarding in the ETag handlers and tidy review nits
  CHANGELOG.unreleased.md
  tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/storage_handlers/wb_artifact_handler.py
Due: none

test(artifacts): pin where the list fallback differs from the get_blob path
  tests/unit_tests/test_artifacts/test_references_gcs.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
Due: none

chore: add typed history tests for offline sync
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: none
