Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

remove apiwork
  core/internal/publicapi/handler.go
  core/internal/publicapi/handler_test.go
  core/internal/publicapi/work/apiwork.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

address doc comments
  core/internal/publicapi/handler.go
  core/internal/publicapi/publicapi.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add buffered channel for limiting concurrency
  core/internal/publicapi/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update documentation for HandleRequest
  core/internal/publicapi/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add scanrunhistory protos and add work objects
  core/internal/publicapi/handler.go
  core/internal/publicapi/readrunhistoryhandler.go
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_api.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v3/wandb_api_pb2.py
  wandb/proto/v3/wandb_api_pb2.pyi
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update package name
  core/internal/apihandler/apihandler.go
  core/internal/publicapi/publicapi.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

rename _graphql_fragments.py -> _gqlutils.py
  tests/system_tests/test_artifacts/test_gqlutils.py
  tools/graphql_codegen/artifacts/misc.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_org_info_from_entity.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

refactor(artifacts): handle orgEntity resolution without InternalApi (#10551)
  tests/system_tests/test_artifacts/test_gqlutils.py
  tools/graphql_codegen/artifacts/misc.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_org_info_from_entity.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

refactor(artifacts): parse `ArtifactType` GQL data with generated types (#10610)
  wandb/apis/public/artifacts.py
Due: none

feat(registries): expose per_page keyword arg on registry search methods
  wandb/apis/public/api.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/registries/registry.py
Due: none

chore: log response body on 400 error from upload
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: log response body on 400 error from upload (#10648)
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(artifacts): parse tags/aliases with generated fragment types (#10612)
  tests/unit_tests/test_artifacts/test_saved_model.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/misc.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/create_artifact_collection_tag_assignments.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collection.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

runupserter wboperations fix
  core/internal/runupserter/runupserter.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: show rewind and resume errors when initializing a run (#10717)
  core/internal/runupserter/runupserter.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

progress indent cleanup
  wandb/sdk/lib/progress.py
Due: none

refactor: subtask error message indent logic in progress.py (#10718)
  wandb/sdk/lib/progress.py
Due: none

chore(artifacts): separate artifact collection fragments
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tests/unit_tests/test_artifacts/test_saved_model.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_membership_by_name.py
  wandb/sdk/artifacts/_generated/artifact_via_membership_by_name.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/link_artifact.py
  wandb/sdk/artifacts/_generated/move_artifact_collection.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collection.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/update_artifact_portfolio.py
  wandb/sdk/artifacts/_generated/update_artifact_sequence.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

minor incidental cleanup
  wandb/sdk/artifacts/artifact.py
Due: none

fix(artifacts): parse artifact aliases and versionIndex directly from membership fragment (#10640)
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tests/unit_tests/test_artifacts/test_saved_model.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_membership_by_name.py
  wandb/sdk/artifacts/_generated/artifact_via_membership_by_name.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/link_artifact.py
  wandb/sdk/artifacts/_generated/move_artifact_collection.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collection.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/update_artifact_portfolio.py
  wandb/sdk/artifacts/_generated/update_artifact_sequence.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

clean up and move relevant components and logic to run overview sidebar
  core/internal/leet/handlers.go
  core/internal/leet/metrics.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/runoverview.go
  core/internal/leet/runoverview_test.go
  core/internal/leet/system.go
  core/internal/leet/system_test.go
  core/internal/leet/testhelpers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix system metrics grid resizing
  core/internal/leet/metrics.go
  core/internal/leet/model_update_test.go
  core/internal/leet/styles.go
  core/internal/leet/system.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

major clean up
  core/internal/leet/handlers.go
  core/internal/leet/keybindings.go
  core/internal/leet/metrics.go
  core/internal/leet/metricsfilter.go
  core/internal/leet/model.go
  core/internal/leet/panelgrid.go
  core/internal/leet/runoverview.go
  core/internal/leet/styles.go
  core/internal/leet/system.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

inject config
  core/internal/leet/metrics.go
  core/internal/leet/metrics_test.go
  core/internal/leet/metricsfilter.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/model_update_test.go
  core/internal/leet/runoverview.go
  core/internal/leet/system.go
  core/internal/leet/system_test.go
  core/internal/leet/testhelpers.go
  core/internal/leet/tui_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

split out main metrics area code into an independent component
  core/internal/leet/metrics.go
  core/internal/leet/metricsfilter.go
  core/internal/leet/model_update_test.go
  core/internal/leet/testhelpers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

improved focus state management and test clean up
  core/internal/leet/metrics.go
  core/internal/leet/model_update_test.go
  core/internal/leet/runoverview_test.go
  core/internal/leet/system.go
  core/internal/leet/system_test.go
  core/internal/leet/testhelpers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

use require in tests
  core/cmd/wandb-core/main.go
  core/internal/leet/help.go
  core/internal/leet/metrics_test.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/reader.go
  core/internal/leet/runoverview.go
  core/internal/leet/runoverview_test.go
  core/internal/leet/styles.go
  core/internal/leet/system_test.go
  core/internal/leet/tui_test.go
  core/vendor/modules.txt
  wandb/cli/beta_leet.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

further clean up
  core/internal/leet/animation.go
  core/internal/leet/epochlinechart.go
  core/internal/leet/handlers.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/rightsidebar.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/systemmetricsgrid_test.go
  core/internal/leet/testhelpers.go
  core/internal/leet/timeserieslinechart.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

improve system chart coloration approach
  core/internal/leet/config.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/timeserieslinechart.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up panel grid logic
  core/internal/leet/animation_test.go
  core/internal/leet/epochlinechart.go
  core/internal/leet/handlers.go
  core/internal/leet/heartbeat_test.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/leftsidebar_test.go
  core/internal/leet/leftsidebarfilter.go
  core/internal/leet/metricsfilter.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/panelgrid.go
  core/internal/leet/panelgrid_test.go
  core/internal/leet/rightsidebar.go
  core/internal/leet/runoverview.go
  core/internal/leet/styles.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/systemmetricsgrid_test.go
  core/internal/leet/testhelpers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up animation logic
  core/internal/leet/animation.go
  core/internal/leet/handlers.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/rightsidebar.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

major clean up
  core/internal/leet/animation.go
  core/internal/leet/handlers.go
  core/internal/leet/heartbeat.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/leftsidebar_test.go
  core/internal/leet/messages.go
  core/internal/leet/metricsfilter.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/rightsidebar.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/systemmetricsgrid_test.go
  core/internal/leet/testhelpers.go
  core/internal/leet/watchermanager.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

split leftsidebar into subcomponents
  core/internal/leet/leftsidebar.go
  core/internal/leet/leftsidebarfilter.go
  core/internal/leet/leftsidebarnav.go
  core/internal/leet/runoverview.go
  core/internal/leet/styles.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/testhelpers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up right sidebar code
  core/internal/leet/rightsidebar.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

changelog
  CHANGELOG.unreleased.md
Due: none

hack: Add logging for api key loading logic
  wandb/apis/public/api.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/wandb_login.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: none

feat(sdk): add extra http header to artifact and run files
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/file_transfers.go
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): pass extra http headers from internal to public Api
  wandb/apis/public/api.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_login.py
Due: none
