Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

remove import
  nexus/cmd/examples/embed/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: make ci happy
  .vscode/settings.json
Due: none

feat(artifacts): Handle LinkArtifact calls made to Nexus Core (#6160)
  nexus/api/graphql/mutation_artifact_link.graphql
  nexus/internal/gql/gql_gen.go
  nexus/internal/nexustest/nexustest.go
  nexus/pkg/artifacts/artifacts.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/sender_test.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move tests to core and add --wandb-verbose option when running system tests
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
  tests/pytest_tests/system_tests/test_nexus/test_nexus.py
  wandb/testing/relay.py
Due: none

chore: attend to feedback
  wandb/integration/ultralytics/pose_utils.py
Due: none

chore: make ci happy
  wandb/integration/ultralytics/bbox_utils.py
  wandb/integration/ultralytics/classification_utils.py
Due: none

move init of filestream and uploader
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(artifacts): simplify artifact saver
  tests/pytest_tests/unit_tests_old/test_cli.py
  wandb/cli/cli.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/internal/internal_api.py
Due: none

refactor(artifacts): simplify artifact saver (#6190)
  tests/pytest_tests/unit_tests_old/test_cli.py
  wandb/cli/cli.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/internal/internal_api.py
Due: none

move definitions around to improve maintainability
  nexus/internal/uploader/upload_manager.go
  nexus/internal/uploader/uploader_default.go
  nexus/pkg/server/sender.go
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  nexus/internal/uploader/uploader_default.go
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add settings
  nexus/pkg/server/sender.go
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

make proto
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
Due: none

make proto
  nexus/pkg/service/wandb_settings.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

make proto
  nexus/pkg/gowandb/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix b64 padding
  wandb/apis/reports/report.py
Due: none

feat(artifacts): dnm - prototype for models api
  wandb/apis/models.py
Due: none

add doc strings
  wandb/apis/models.py
Due: none

lint
  wandb/apis/models.py
Due: none

remove comment
  wandb/apis/models.py
Due: none

wire up client config
  nexus/pkg/server/sender.go
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
  wandb/sdk/wandb_settings.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add a todo on headers
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: none

feat(nexus): fix retry logic for http clients and allow user customization (#6182)
  nexus/api/graphql/schemas/README.md
  nexus/internal/clients/clients.go
  nexus/internal/uploader/upload_manager.go
  nexus/internal/uploader/uploader_default.go
  nexus/pkg/filestream/filestream_test.go
  nexus/pkg/gowandb/settings.go
  nexus/pkg/server/clients.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/sender_test.go
  nexus/pkg/service/wandb_settings.pb.go
  tests/pytest_tests/system_tests/conftest.py
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
  wandb/testing/relay.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): use UpsertBucketRetryPolicy in all gql.UpsertBucket calls
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): use UpsertBucketRetryPolicy in all gql.UpsertBucket calls (#6207)
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  tests/release_tests/test_launch/conftest.py
Due: none

nit
  wandb/apis/models.py
Due: none

wip
  tests/release_tests/test_launch/conftest.py
  tests/release_tests/test_launch/utils.py
Due: none

tests
  tests/pytest_tests/system_tests/test_core/test_report_api.py
  wandb/apis/reports/report.py
Due: none

lint and format
  tests/pytest_tests/system_tests/test_core/test_report_api.py
Due: none

fix report id
  tests/pytest_tests/system_tests/test_core/test_report_api.py
  wandb/apis/reports/report.py
Due: none

fix single quote error
  tests/pytest_tests/system_tests/test_core/test_report_api.py
  wandb/apis/reports/report.py
Due: none

add encode/decode logic, fix test
  tests/pytest_tests/system_tests/test_core/test_report_api.py
  wandb/apis/reports/report.py
Due: none

wip
  .circleci/config.yml
Due: none

add transport with headers
  nexus/internal/clients/clients.go
  nexus/internal/clients/retry_policy.go
  nexus/pkg/server/sender.go
  wandb/sdk/wandb_settings.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

uprate
  nexus/cmd/benchmark/main.go
  nexus/pkg/gowandb/gowandb.go
  nexus/pkg/gowandb/initrun.go
  nexus/pkg/gowandb/manager.go
  nexus/pkg/gowandb/opts/runopts/runopts.go
  nexus/pkg/gowandb/opts/session/opts.go
  nexus/pkg/gowandb/opts/sessionopts/sessionopts.go
  nexus/pkg/gowandb/session.go
  nexus/pkg/gowandb/settings/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$
