Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

shutdown more carefully
  gpu_stats/src/gpu_nvidia_dcgm.rs
  gpu_stats/src/main.rs
Due: none

debug
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

a less polite drop
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

safe dcgm init
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

clean up
  gpu_stats/src/gpu_nvidia_dcgm.rs
Due: none

make it linux only
  gpu_stats/src/main.rs
Due: none

not formatted docs
  wandb/sdk/artifacts/artifact.py
Due: none

fix: don't iterate over None tags
  wandb/sdk/artifacts/artifact.py
Due: none

fix: mypy fixes and cleanup
  wandb/sdk/artifacts/artifact.py
Due: none

chore: cleanup
  tools/graphql_codegen/artifacts/artifacts.graphql
Due: go-generate-graphql

chore: set default more concisely
  wandb/sdk/data_types/table.py
Due: none

chore: poc
  wandb/sdk/data_types/table.py
  wandb/sdk/data_types/utils.py
Due: none

chore: poc
  wandb/sdk/data_types/table.py
Due: none

chore: tweak logic
  wandb/sdk/data_types/utils.py
Due: none

chore: remove debug
  wandb/sdk/data_types/table.py
Due: none

chore: fix unit test and typing complaints
  tests/unit_tests/test_tables.py
Due: none

chore(artifacts): Add unit test for multipart download failures
  CHANGELOG.unreleased.md
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: none

feat(artifacts): add multipart download to download large file in parallel
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/artifacts/storage_policy.py
Due: none

chore: working, but ugly
  wandb/sdk/data_types/table.py
  wandb/sdk/internal/internal_api.py
Due: none

chore: some light refactoring
  wandb/sdk/data_types/table.py
  wandb/sdk/internal/internal_api.py
Due: none

feat(artifacts): add multipart download to download large file in parallel (#9738)
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/artifacts/storage_policy.py
Due: none

fix: rebuild all generated fragment types
  CHANGELOG.unreleased.md
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/automations/_generated/fragments.py
  wandb/sdk/artifacts/_generated/fragments.py
Due: none

factor out a trait for ffi logic, add unit tests
  gpu_stats/src/gpu_nvidia_dcgm.rs
  gpu_stats/src/metrics.rs
Due: none

add unit tests
  gpu_stats/src/gpu_amd.rs
Due: none

chore(artifacts): fix flaky test for disk error
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: none

chore(artifacts): fix flaky test for disk error (#9796)
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: none

test: add regression test
  tests/unit_tests/test_pydantic_v1_compat.py
Due: none

fix: rebuild all generated fragment types (#9795)
  CHANGELOG.unreleased.md
  tests/unit_tests/test_pydantic_v1_compat.py
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/automations/_generated/fragments.py
  wandb/sdk/artifacts/_generated/fragments.py
Due: none

chore: docstrings
  tools/graphql_codegen/automations/automations_queries.graphql
  wandb/apis/public/api.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/create_automation.py
  wandb/automations/_generated/delete_automation.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/get_automations.py
  wandb/automations/_generated/get_automations_by_entity.py
  wandb/automations/_generated/operations.py
  wandb/automations/_generated/update_automation.py
  wandb/automations/integrations.py
Due: go-generate-graphql

feat(sdk): add methods to create, read, and delete automations (#8896)
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  tests/system_tests/test_automations/conftest.py
  tests/system_tests/test_automations/test_automations_api.py
  tools/graphql_codegen/automations/automations_queries.graphql
  wandb/apis/public/api.py
  wandb/apis/public/automations.py
  wandb/apis/public/integrations.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/create_automation.py
  wandb/automations/_generated/delete_automation.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/get_automations.py
  wandb/automations/_generated/get_automations_by_entity.py
  wandb/automations/_generated/operations.py
  wandb/automations/_generated/update_automation.py
  wandb/automations/integrations.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/internal/internal_api.py
Due: go-generate-proto, go-generate-graphql

add env var to enable/disable dcgm profiling
  core/cmd/wandb-core/main.go
  core/pkg/monitor/gpuresourcemanager.go
  core/pkg/monitor/monitor_test.go
  core/pkg/server/server.go
  core/pkg/service_go_proto/wandb_telemetry.pb.go
  gpu_stats/src/main.rs
  gpu_stats/src/wandb_internal.rs
  wandb/env.py
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_telemetry_pb2.py
  wandb/proto/v6/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/service/service.py
  wandb/sdk/wandb_init.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(sdk): add methods to edit automations (#9246)
  CHANGELOG.unreleased.md
  tests/system_tests/test_automations/test_automations_api.py
  wandb/apis/public/api.py
Due: none

runbranch refactor
  core/internal/runbranch/fork.go
  core/internal/runbranch/fork_test.go
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runbranch/rewind.go
  core/internal/runbranch/rewind_test.go
  core/internal/runbranch/state.go
  core/internal/runbranch/state_test.go
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor: rewrite RunParams and clean up fork/rewind/resume.go (#9791)
  core/internal/runbranch/fork.go
  core/internal/runbranch/fork_test.go
  core/internal/runbranch/resume.go
  core/internal/runbranch/resume_test.go
  core/internal/runbranch/rewind.go
  core/internal/runbranch/rewind_test.go
  core/internal/runbranch/state.go
  core/internal/runbranch/state_test.go
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: link artifact without runs
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/link_artifact.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
