Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

chore: fix wandb-core startup command in c# client (#10558)
  experimental/client-csharp/src/Wandb/Internal/Manager.cs
Due: none

fix(artifacts): bypass `InternalApi()` for artifacts GQL introspection queries (#10545)
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tools/graphql_codegen/artifacts/misc.graphql
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/type_info.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

word smithing: imperative tone
  wandb/sdk/wandb_run.py
Due: none

ruff
  wandb/__init__.pyi
Due: none

chore(launch): use job api when checking run status
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/agent/launch_api_provider.py
Due: none

chore: centralize api around provider
  wandb/sdk/launch/agent/agent.py
Due: none

handler race
  core/internal/stream/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: fix another race in handler_test.go (#10583)
  core/internal/stream/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

job builder files dir
  tests/unit_tests/test_job_builder.py
  tests/unit_tests/test_launch/test_create_job.py
  tests/unit_tests/test_launch/test_job.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/internal/sender.py
  wandb/sdk/launch/create_job.py
Due: none

job builder settings
  core/internal/stream/sender.go
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

files dir
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/runfiles/runfiles_test.go
  core/internal/settings/settings.go
  core/internal/tensorboard/emitter_test.go
  core/internal/tensorboard/tensorboard_test.go
  core/pkg/launch/job_builder_test.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

beta sync files
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/syncsettings.go
  tests/system_tests/test_core/test_offline_sync_beta.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: try making pre-run use agent api
  wandb/sdk/launch/agent/agent.py
Due: none

chore: go back to using _api
  wandb/sdk/launch/agent/agent.py
Due: none

cleanup: remove unnecessary comment about custom exceptions
  wandb/sdk/artifacts/artifact_manifest_entry.py
Due: none

feat(artifacts): optimize artifact re-verification with checksum caching (#10157)
  CHANGELOG.unreleased.md
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
Due: none

Update CHANGELOG.unreleased.md
  CHANGELOG.unreleased.md
Due: none

feat(sdk): implement lazy loading for API runs for performance improvement (#10034)
  CHANGELOG.unreleased.md
  wandb/apis/public/api.py
  wandb/apis/public/files.py
  wandb/apis/public/runs.py
Due: none

chore: handle no agent api key
  wandb/sdk/launch/_project_spec.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

chore: add some debug
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

cleanup
  CHANGELOG.unreleased.md
  tests/system_tests/test_registries/conftest.py
  tests/system_tests/test_registries/test_link_registry.py
  tests/system_tests/test_registries/test_registry.py
  tests/system_tests/test_registries/test_registry_members.py
  tools/graphql_codegen/artifacts/registry_members.graphql
  wandb/apis/public/registries/_members.py
  wandb/apis/public/registries/_utils.py
  wandb/apis/public/registries/registry.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/create_registry_members.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/update_registry_role.py
  wandb/sdk/artifacts/_generated/update_team_registry_role.py
  wandb/sdk/artifacts/_generated/update_user_registry_role.py
Due: go-generate-graphql

fix(launch): handle non-dicts when sanitizing k8s identifiers
  tests/unit_tests/test_launch/test_util.py
  wandb/sdk/launch/utils.py
Due: none

chore: pre-commit
  tests/unit_tests/test_launch/test_util.py
Due: none

fix(launch): handle non-dicts when sanitizing k8s identifiers (#10589)
  tests/unit_tests/test_launch/test_util.py
  wandb/sdk/launch/utils.py
Due: none

fix(launch): use job api to check run statuses
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/agent/launch_api_provider.py
Due: none

feat(artifacts): set storage region in manifest's storage policy config
  CHANGELOG.unreleased.md
  core/api/graphql/schemas/commit.hash.txt
  core/internal/gql/gql_gen.go
  core/internal/stream/sender.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  core/pkg/artifacts/saver.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/_factories.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/interface/interface.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(artifacts): set storage region in manifest's storage policy config (#10533)
  CHANGELOG.unreleased.md
  core/api/graphql/schemas/commit.hash.txt
  core/internal/gql/gql_gen.go
  core/internal/stream/sender.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  core/pkg/artifacts/saver.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/_factories.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/interface/interface.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: revert to agent_api for sweeps on launch
  tools/launch_release/build/Dockerfile
  wandb/sdk/launch/agent/agent.py
Due: none

chore: precommit and incorrect class member
  wandb/sdk/launch/agent/agent.py
Due: none

fix(launch): use job api to check run statuses (#10592)
  tools/launch_release/build/Dockerfile
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/agent/launch_api_provider.py
Due: none

fix(sdk): Api.artifact_exists and Api.artifact_collection_exists should raise on timeout errors
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/apis/public/api.py
  wandb/errors/errors.py
  wandb/sdk/data_types/bokeh.py
  wandb/util.py
Due: none

drop redundant test case
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

fix(artifacts): `Api.artifact_exists` and `Api.artifact_collection_exists` should raise on timeout errors (#10591)
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/apis/public/api.py
  wandb/errors/errors.py
  wandb/sdk/data_types/bokeh.py
  wandb/util.py
Due: none

chore(launch): sanitize config before adding env variables
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

remove colons
  wandb/sdk/data_types/image.py
Due: none

fix formatting and add context on normalization
  wandb/sdk/data_types/image.py
Due: none

chore: restore ref
  tools/launch_release/build/Dockerfile
Due: none

docs(sdk): add context to Image class on normalization (#10590)
  wandb/sdk/data_types/image.py
Due: none

transactionlog
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/stream/store.go
  core/internal/stream/store_test.go
  core/internal/stream/writer.go
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog.go
  core/internal/transactionlog/transactionlog_test.go
  core/internal/transactionlog/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor: internal/transactionlog (#10508)
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/stream/store.go
  core/internal/stream/store_test.go
  core/internal/stream/writer.go
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog.go
  core/internal/transactionlog/transactionlog_test.go
  core/internal/transactionlog/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
