Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

undo arrow
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_arrow.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_dict_compute.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/encode_dict_nocompute.go
  core/vendor/github.com/apache/arrow-go/v18/parquet/pqarrow/file_writer.go
Due: none

feat(automations): simplify creation of z-score metric automations (#10953)
  CHANGELOG.unreleased.md
  tests/unit_tests/test_automations/_strategies.py
  tests/unit_tests/test_automations/test_run_events.py
  wandb/automations/_filters/run_metrics.py
Due: none

terminput databricks test
  tests/system_tests/test_notebooks/test_notebooks.py
  tests/unit_tests/test_term.py
  tests/unit_tests/test_wandb_login.py
Due: none

refactor: move test for databricks terminput behavior (#10981)
  tests/system_tests/test_notebooks/test_notebooks.py
  tests/unit_tests/test_term.py
  tests/unit_tests/test_wandb_login.py
Due: none

docs(sdk): change runs API call to use new path structure
  wandb/apis/public/runs.py
Due: none

chore(artifacts): rename generated operations/gql vars for consistency and brevity
  tests/unit_tests/test_pydantic_v1_compat.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_files.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_file_urls.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_files.py
  wandb/sdk/artifacts/_generated/artifact_file_urls.py
  wandb/sdk/artifacts/_generated/artifact_version_files.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/get_artifact_file_urls.py
  wandb/sdk/artifacts/_generated/get_artifact_files.py
  wandb/sdk/artifacts/_generated/get_artifact_membership_file_urls.py
  wandb/sdk/artifacts/_generated/get_artifact_membership_files.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/run_input_artifacts.py
  wandb/sdk/artifacts/_generated/run_output_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

chore(artifacts): rename generated operations/gql vars for consistency and brevity (#10969)
  tests/unit_tests/test_pydantic_v1_compat.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_files.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_file_urls.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_files.py
  wandb/sdk/artifacts/_generated/artifact_file_urls.py
  wandb/sdk/artifacts/_generated/artifact_version_files.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/get_artifact_file_urls.py
  wandb/sdk/artifacts/_generated/get_artifact_files.py
  wandb/sdk/artifacts/_generated/get_artifact_membership_file_urls.py
  wandb/sdk/artifacts/_generated/get_artifact_membership_files.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/run_input_artifacts.py
  wandb/sdk/artifacts/_generated/run_output_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

chore(sdk): update DownloadTo parameter names
  CHANGELOG.unreleased.md
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/filetransfer/file_transfers.go
  core/internal/filetransfertest/filetransfertest.go
  core/pkg/artifacts/downloader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): remove DownloadTo from file transfer manager
  CHANGELOG.unreleased.md
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/filetransfer/file_transfers.go
  core/internal/filetransfertest/filetransfertest.go
  core/internal/stream/sender.go
  core/pkg/artifacts/downloader.go
  core/pkg/artifacts/downloader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(sdk): apply extra http headers to file upload/download requests
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/file_transfers.go
  core/internal/stream/stream_init.go
  core/pkg/artifacts/manifest.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): remove extra map copy for http headers
  CHANGELOG.unreleased.md
  core/internal/stream/stream_init.go
  core/pkg/artifacts/downloader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): add tests for getArtfiactManifest
  CHANGELOG.unreleased.md
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfertest/filetransfertest.go
  core/pkg/artifacts/downloader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): use default file transfer to download manifest json
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/filetransfer/file_transfers.go
  core/pkg/artifacts/downloader.go
  core/pkg/artifacts/manifest.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add http headers to run file and artifacts upload/download in go core (#10761)
  CHANGELOG.unreleased.md
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/file_transfers.go
  core/internal/stream/sender.go
  core/internal/stream/stream_init.go
  core/pkg/artifacts/downloader.go
  core/pkg/artifacts/downloader_test.go
  core/pkg/artifacts/manifest.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: drop redundant mouse wheel events in leet
  core/internal/leet/epochlinechart.go
  core/internal/leet/metricsgrid.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(leet): chart data inspection
  CHANGELOG.unreleased.md
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_overlay_test.go
  core/internal/leet/handlers.go
  core/internal/leet/keybindings.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/styles.go
  core/internal/leet/systemmetricsgrid_test.go
  core/internal/leet/testhelpers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

no verify wandb login key
  wandb/sdk/wandb_login.py
Due: none

feat(leet): chart data inspection (#10989)
  CHANGELOG.unreleased.md
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_overlay_test.go
  core/internal/leet/handlers.go
  core/internal/leet/keybindings.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/styles.go
  core/internal/leet/systemmetricsgrid_test.go
  core/internal/leet/testhelpers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

api key splitting
  tests/system_tests/backend_fixtures.py
  tests/unit_tests/test_lib/test_auth_validation.py
  wandb/sdk/lib/auth/validation.py
Due: none

refactor: use `split()` instead of `rsplit()` for API key prefixes (#11003)
  tests/system_tests/backend_fixtures.py
  tests/unit_tests/test_lib/test_auth_validation.py
  wandb/sdk/lib/auth/validation.py
Due: none

ci(dev): pass through dry-run, run details
  .github/workflows/release-sdk.yml
Due: none

chore: bump go version to 1.25.5
  .circleci/config.yml
  CONTRIBUTING.md
  core/go.mod
Due: none

fix: update slack job github actions to v2
  .github/workflows/release-sdk.yml
Due: none

fix: update slack job github actions to v2 (#11011)
  .github/workflows/release-sdk.yml
Due: none

chore: delete broken code in generate docodile docs action
  .github/workflows/generate-docodile-documentation.yml
Due: none

chore: delete broken code in generate docodile docs action (#11012)
  .github/workflows/generate-docodile-documentation.yml
Due: none

chore: fix typos in repo readme
  README.md
Due: none

chore: fix typos in repo readme (#11013)
  README.md
Due: none

feat: add query live data if requested history is not in exported parquet history
  core/api/graphql/query_parquethistory.graphql
  core/api/graphql/query_runhistory_backend.graphql
  core/api/graphql/query_runhistory_backend_keys.graphql
  core/internal/gql/gql_gen.go
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move livedata parsing into its own function
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add query live data if requested history is not in exported parquet history (#10863)
  core/api/graphql/query_parquethistory.graphql
  core/api/graphql/query_runhistory_backend.graphql
  core/api/graphql/query_runhistory_backend_keys.graphql
  core/internal/gql/gql_gen.go
  core/internal/runhistoryreader/livedata.go
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  wandb/cli/cli.py
  wandb/wandb_agent.py
Due: none

wip again
  wandb/cli/cli.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
