Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)

chore(core): do not send a message to sentry on out-of-order step logs (#7873)
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

lint
  core/pkg/monitor/memory.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(artifact) handle hierarchical namespace storage account directory stubs correctly
  wandb/sdk/artifacts/storage_handlers/azure_handler.py
Due: go-mod-tidy

fix(artifact) update the azure handler systems test to include metadata blob property
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts.py
Due: go-mod-tidy

test(sdk): new test infra for functional testing
  tests/pytest_tests/system_tests/test_functional/jax/01-log-bfloat16.py
  tests/pytest_tests/system_tests/test_functional/jax/test_jax.py
Due: go-mod-tidy

test(sdk): new test infra for functional testing
  noxfile.py
  tests/pytest_tests/system_tests/conftest.py
  tox.ini
Due: go-mod-tidy

end-to-end poc
  noxfile.py
  pyproject.toml
  tests/pytest_tests/system_tests/test_functional/jax/test_jax.py
Due: go-mod-tidy

minor refactor
  core/cmd/wandb-core/main.go
  core/internal/sentry/sentry.go
  core/internal/sentry_ext/cache.go
  core/internal/sentry_ext/client.go
  core/internal/sentry_ext/client_test.go
  core/internal/settings/settings.go
  core/internal/version/version.go
  core/pkg/server/connection.go
  core/pkg/server/server.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

add docstring and fix commented out test
  core/internal/sentry_ext/client.go
  core/internal/sentry_ext/client_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

add todos
  noxfile.py
Due: go-mod-tidy

set user
  core/cmd/wandb-core/main.go
  core/internal/sentry_ext/client.go
  hatch_build.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(artifacts): cleanup
  wandb/sdk/artifacts/artifact_file_cache.py
Due: go-mod-tidy

chore(artifacts): changelog
  CHANGELOG.md
Due: go-mod-tidy

chore(artifacts): reduce access to self._override_cache_path
  wandb/sdk/artifacts/artifact_file_cache.py
Due: go-mod-tidy

wip
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/credentials.py
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  core/internal/filestream/collectloop.go
  core/internal/filestream/collectloop_test.go
  core/internal/filestream/collectorstate.go
  core/internal/filestream/collectorstate_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
  core/internal/filestream/transmitloop.go
  core/internal/filestream/transmitloop_test.go
  core/internal/filestream/update.go
  core/internal/filestream/updateexit.go
  core/internal/filestream/updatefilesuploaded.go
  core/internal/filestream/updatehistory.go
  core/internal/filestream/updatelogs.go
  core/internal/filestream/updatepreempting.go
  core/internal/filestream/updatestats.go
  core/internal/filestream/updatesummary.go
  core/internal/filestreamtest/filestreamtest.go
  core/internal/sparselist/sparselist.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

remove TODO
  core/internal/filestream/filestreamrequest.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

remove unused variable
  core/internal/filestream/filestream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

wip
  CHANGELOG.md
  tests/pytest_tests/unit_tests/test_lib/test_credentials.py
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/credentials.py
Due: go-generate-proto, go-mod-tidy

drop unused import
  core/internal/filestream/collectloop_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

wip
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/sdk/lib/credentials.py
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-mod-tidy, go-build

wip
  wandb/sdk/lib/credentials.py
Due: go-mod-tidy

wip
  CHANGELOG.md
Due: go-mod-tidy

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/filestream/collectloop.go
  core/internal/filestream/collectloop_test.go
  core/internal/filestream/collectorstate.go
  core/internal/filestream/collectorstate_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
  core/internal/filestream/transmitloop.go
  core/internal/filestream/transmitloop_test.go
  core/internal/filestream/update.go
  core/internal/filestream/updateexit.go
  core/internal/filestream/updatefilesuploaded.go
  core/internal/filestream/updatehistory.go
  core/internal/filestream/updatelogs.go
  core/internal/filestream/updatepreempting.go
  core/internal/filestream/updatestats.go
  core/internal/filestream/updatesummary.go
  core/internal/filestreamtest/filestreamtest.go
  core/internal/sparselist/sparselist.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

perf(artifacts): negligible perf improvement + more readable if condition
  wandb/sdk/artifacts/artifact_file_cache.py
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

change tags
  core/internal/sentry_ext/client.go
  core/internal/sentry_ext/client_test.go
  core/pkg/observability/logging.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

change from dev/prod to development/production
  core/internal/version/version.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(artifacts): isolate helper to get sys umask for clarity and to aid mocking if needed
  wandb/sdk/artifacts/artifact_file_cache.py
Due: go-mod-tidy

add deployment
  core/internal/settings/settings.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): Remove unused variable `sender.wgFileTransfer`
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix empty string
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build
