Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

chore: minor perf improvements in leet
  core/internal/leet/livestore.go
  core/internal/leet/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

perf improv: pre-load data 10x faster
  core/internal/leet/config.go
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/handlers.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/leftsidebar_test.go
  core/internal/leet/messages.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/reader.go
  core/internal/leet/reader_test.go
  core/internal/leet/rightsidebar.go
  core/internal/leet/rightsidebar_test.go
  core/internal/leet/runoverview.go
  core/internal/leet/runoverview_test.go
  core/internal/leet/styles.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: perf improvements in leet (#10767)
  core/internal/leet/config.go
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/handlers.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/leftsidebar_test.go
  core/internal/leet/livestore.go
  core/internal/leet/messages.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/reader.go
  core/internal/leet/reader_test.go
  core/internal/leet/rightsidebar.go
  core/internal/leet/rightsidebar_test.go
  core/internal/leet/runoverview.go
  core/internal/leet/runoverview_test.go
  core/internal/leet/styles.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

docs: update repo readme (#10844)
  README.md
  assets/Product_Icons_dark_background/artifacts-dark.svg
  assets/Product_Icons_dark_background/automations-dark.svg
  assets/Product_Icons_dark_background/evaluations-dark.svg
  assets/Product_Icons_dark_background/experiments-dark.svg
  assets/Product_Icons_dark_background/model-registry-dark.svg
  assets/Product_Icons_dark_background/reports-dark.svg
  assets/Product_Icons_dark_background/sweeps-dark.svg
  assets/Product_Icons_dark_background/tables-dark.svg
  assets/Product_Icons_dark_background/traces-dark.svg
  assets/Product_Icons_light/artifacts-light.svg
  assets/Product_Icons_light/automations-light.svg
  assets/Product_Icons_light/evaluations-light.svg
  assets/Product_Icons_light/experiments-light.svg
  assets/Product_Icons_light/model-registry-light.svg
  assets/Product_Icons_light/report-light.svg
  assets/Product_Icons_light/reports-light.svg
  assets/Product_Icons_light/sweeps-light.svg
  assets/Product_Icons_light/tables-light.svg
  assets/Product_Icons_light/traces-light.svg
  assets/logo-dark.svg
  assets/logo-light.svg
  assets/logo.svg
  package_readme.md
Due: none

feat(automations): automations API support for run state triggering events
  CHANGELOG.unreleased.md
  tests/system_tests/test_automations/conftest.py
  tests/system_tests/test_automations/test_automations_api.py
  tests/unit_tests/test_automations/_strategies.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_run_events.py
  wandb/automations/__init__.py
  wandb/automations/_filters/run_states.py
  wandb/automations/_validators.py
  wandb/automations/actions.py
  wandb/automations/events.py
Due: none

refactor(artifacts): rename internal/generated automations types for consistency
  tests/system_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_automations.py
  tools/graphql_codegen/automations/automations.graphql
  wandb/_pydantic/pagination.py
  wandb/apis/public/automations.py
  wandb/apis/public/integrations.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/create_automation.py
  wandb/automations/_generated/create_generic_webhook_integration.py
  wandb/automations/_generated/delete_automation.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/generic_webhook_integrations_by_entity.py
  wandb/automations/_generated/get_automations.py
  wandb/automations/_generated/get_automations_by_entity.py
  wandb/automations/_generated/integrations_by_entity.py
  wandb/automations/_generated/operations.py
  wandb/automations/_generated/slack_integrations_by_entity.py
  wandb/automations/_generated/update_automation.py
  wandb/automations/_generated/webhook_integrations_by_entity.py
  wandb/automations/_utils.py
  wandb/automations/_validators.py
  wandb/automations/integrations.py
  wandb/automations/scopes.py
Due: go-generate-graphql

refactor(automations): consolidate redundant GQL queries for slack/webhook integrations
  tools/graphql_codegen/automations/automations.graphql
  wandb/apis/public/integrations.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/operations.py
  wandb/automations/_generated/slack_integrations_by_entity.py
  wandb/automations/_generated/webhook_integrations_by_entity.py
Due: go-generate-graphql

Pass api_key to login in wandb_init.py
  CHANGELOG.unreleased.md
  tests/unit_tests/test_wandb_init.py
  wandb/sdk/wandb_init.py
Due: none

chore(dev): allow registries/automations scopes in PR title check
  .github/workflows/check-pr-title.yml
Due: none

terminput test timeout
  tests/system_tests/test_functional/terminput/test_terminput.py
Due: none

chore: increase test_terminput timeout (#10849)
  tests/system_tests/test_functional/terminput/test_terminput.py
Due: none

chore: allow registries/automations scopes in PR title check (#10855)
  .github/workflows/check-pr-title.yml
Due: none

refactor(automations): rename/cleanup internal automation api types for consistency (#10850)
  tests/system_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_automations.py
  tools/graphql_codegen/automations/automations.graphql
  wandb/_pydantic/pagination.py
  wandb/apis/public/automations.py
  wandb/apis/public/integrations.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/create_automation.py
  wandb/automations/_generated/create_generic_webhook_integration.py
  wandb/automations/_generated/delete_automation.py
  wandb/automations/_generated/fragments.py
  wandb/automations/_generated/generic_webhook_integrations_by_entity.py
  wandb/automations/_generated/get_automations.py
  wandb/automations/_generated/get_automations_by_entity.py
  wandb/automations/_generated/integrations_by_entity.py
  wandb/automations/_generated/operations.py
  wandb/automations/_generated/slack_integrations_by_entity.py
  wandb/automations/_generated/update_automation.py
  wandb/automations/_generated/webhook_integrations_by_entity.py
  wandb/automations/_utils.py
  wandb/automations/_validators.py
  wandb/automations/integrations.py
  wandb/automations/scopes.py
Due: go-generate-graphql

fix: adaptive colors in leet
  core/internal/leet/epochlinechart.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/styles.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/timeserieslinechart.go
  core/internal/leet/timeserieslinechart_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: adaptive colors for light/dark mode support in leet (#10856)
  core/internal/leet/epochlinechart.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/styles.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/timeserieslinechart.go
  core/internal/leet/timeserieslinechart_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(launch): cleanup auxiliary resources on creation failure
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

chore: drop redundant mouse wheel events in leet
  core/internal/leet/epochlinechart.go
  core/internal/leet/metricsgrid.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(automations): support declarative filter syntax for run states
  tests/system_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_run_events.py
  wandb/automations/_filters/run_states.py
  wandb/automations/events.py
Due: none

restore class docstring w/ignore directive, fix typo
  wandb/apis/public/integrations.py
Due: none

add test
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

fix: exit loading screen upon loading any renderable data in leet
  core/internal/leet/handlers.go
  core/internal/leet/model.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update core/internal/leet/handlers.go
  core/internal/leet/handlers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: exit loading screen upon loading any renderable data in leet (#10858)
  core/internal/leet/handlers.go
  core/internal/leet/model.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(launch): cleanup auxiliary resources on creation failure (#10857)
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Due: none

chore: fix a typo in changelog
  CHANGELOG.md
Due: none

chore: fix a typo and format changelog (#10866)
  CHANGELOG.md
Due: none

absorb cleanup changes to reduce noise elsewhere
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/add_artifact_collection_tags.py
  wandb/sdk/artifacts/_generated/delete_artifact_collection_tags.py
  wandb/sdk/artifacts/_generated/delete_artifact_portfolio.py
  wandb/sdk/artifacts/_generated/delete_artifact_sequence.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/update_artifact_portfolio.py
  wandb/sdk/artifacts/_generated/update_artifact_sequence.py
  wandb/sdk/artifacts/_generated/update_artifact_sequence_type.py
Due: go-generate-graphql

fix(sdk): automatically enforce GQL field constraints in generated classes (#10600)
  tests/unit_tests/test_pydantic_v1_compat.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/_pydantic/utils.py
  wandb/_pydantic/v1_compat.py
  wandb/apis/public/artifacts.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/add_artifact_collection_tags.py
  wandb/sdk/artifacts/_generated/delete_artifact_collection_tags.py
  wandb/sdk/artifacts/_generated/delete_artifact_portfolio.py
  wandb/sdk/artifacts/_generated/delete_artifact_sequence.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/update_artifact_portfolio.py
  wandb/sdk/artifacts/_generated/update_artifact_sequence.py
  wandb/sdk/artifacts/_generated/update_artifact_sequence_type.py
Due: go-generate-graphql

feat(automations): explicit support for registry-scoped automations
  tests/system_tests/test_automations/conftest.py
  tests/system_tests/test_automations/test_automations_api.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_automations.py
  tests/unit_tests/test_automations/test_scopes.py
  tools/graphql_codegen/automations/automations.graphql
  wandb/automations/_filters/run_metrics.py
  wandb/automations/_generated/create_generic_webhook_integration.py
  wandb/automations/_generated/operations.py
  wandb/automations/_validators.py
  wandb/automations/events.py
  wandb/automations/scopes.py
Due: go-generate-graphql

feat(automations): explicit support for registry-scoped automations
  CHANGELOG.unreleased.md
  tests/system_tests/test_automations/conftest.py
  tests/system_tests/test_automations/test_automations_api.py
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_automations.py
  tests/unit_tests/test_automations/test_scopes.py
  tools/graphql_codegen/automations/automations.graphql
  wandb/automations/__init__.py
  wandb/automations/_generated/create_generic_webhook_integration.py
  wandb/automations/_generated/operations.py
  wandb/automations/_validators.py
  wandb/automations/events.py
  wandb/automations/scopes.py
  wandb/sdk/artifacts/_validators.py
Due: go-generate-graphql

refactor(automations): consolidate redundant GQL queries for slack/webhook integrations (#10851)
  tools/graphql_codegen/automations/automations.graphql
  wandb/apis/public/integrations.py
  wandb/automations/_generated/__init__.py
  wandb/automations/_generated/operations.py
  wandb/automations/_generated/slack_integrations_by_entity.py
  wandb/automations/_generated/webhook_integrations_by_entity.py
Due: go-generate-graphql

fix: handle deprecated mode parameter of PIL.Image.fromarray in wandb.Image
  core/internal/leet/styles.go
  wandb/sdk/data_types/helper_types/image_mask.py
  wandb/sdk/data_types/image.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: put _has_internet back into wandb.util
  wandb/util.py
Due: none

fix: put _has_internet back into wandb.util (#10874)
  wandb/util.py
Due: none

term isatty fix
  wandb/errors/term.py
Due: none

fix: more robust isatty check (#10876)
  wandb/errors/term.py
Due: none
