Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-build: any of: \.go$

upd
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

regenerate
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

add to make proto
  tox.ini
Due: none

fiddle(nexus): play around with nexus
  user/Cargo.lock
  user/Cargo.toml
  user/build.rs
  user/proto/wandb_base.proto
  user/proto/wandb_internal.proto
  user/proto/wandb_server.proto
  user/proto/wandb_settings.proto
  user/proto/wandb_telemetry.proto
  user/src/chatgpt.rs
  user/src/main.rs
  user/src/mod.rs
  user/src/wandb_settings.rs
Due: go-generate-proto

enable launch system tests
  .circleci/config.yml
Due: none

Fix boundary condition
  wandb/sdk/artifacts/artifacts_cache.py
Due: none

revert precommit change
  .pre-commit-config.yaml
Due: none

test(nexus): run all pytest system tests with nexus
  .circleci/config.yml
  tox.ini
Due: none

fix test deps
  tox.ini
Due: none

update
  tox.ini
Due: none

ignore launch tests in mac/win unit
  .circleci/config.yml
Due: none

make timeouts shorter
  tox.ini
Due: none

run tests in parallel
  tox.ini
Due: none

update
  .circleci/config.yml
  tox.ini
Due: none

remove aiplatform dep
  requirements_dev.txt
Due: none

remove nexus protocheck stuff for now
  .circleci/config.yml
  tox.ini
Due: none

add aiplatform to launch deps
  requirements_launch.txt
Due: none

chore(nexus): consolidate wandb/proto and nexus protobuf (#6156)
  nexus/api/proto/wandb_base.proto
  nexus/api/proto/wandb_internal.proto
  nexus/api/proto/wandb_server.proto
  nexus/api/proto/wandb_settings.proto
  nexus/api/proto/wandb_telemetry.proto
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/generate-proto.sh
  nexus/scripts/update-dev-env.sh
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

add link artifact method and mutation
  nexus/internal/gql/gql_gen.go
  nexus/pkg/artifacts/artifacts.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add todo
  nexus/pkg/artifacts/artifacts.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

link artifact response?
  nexus/pkg/artifacts/artifacts.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add link artifact mutation file
  nexus/api/graphql/mutation_artifact_link.graphql
Due: go-generate-graphql

Remove unused S3StoragePolicy
  wandb/sdk/artifacts/storage_policies/s3_bucket_policy.py
Due: none

remove more stuff releated to grpc
  .circleci/config.yml
  docs/dev/diagrams.md
  docs/dev/service-artifact.md
  docs/dev/wandb-service.md
  tests/functional_tests/t0_main/grpc/t1_simple.py
  tests/functional_tests/t0_main/grpc/t1_simple.yea
  tests/functional_tests/t0_main/grpc/t2_mp_log_image_sequence.py
  tests/functional_tests/t0_main/grpc/t2_mp_log_image_sequence.yea
  tests/functional_tests/t0_main/grpc/t3_use_artifact.py
  tests/functional_tests/t0_main/grpc/t3_use_artifact.yea
  tests/functional_tests/t0_main/grpc/t4_status.py
  tests/functional_tests/t0_main/grpc/t4_status.yea
  tox.ini
Due: none

fix proto files
  nexus/pkg/service/wandb_server.pb.go
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2_grpc.py
  wandb/proto/v3/wandb_server_pb2_grpc.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2_grpc.py
  wandb/proto/v4/wandb_server_pb2_grpc.pyi
  wandb/proto/wandb_server.proto
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

remove print
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): remove unused S3StoragePolicy (#6161)
  wandb/sdk/artifacts/storage_policies/s3_bucket_policy.py
Due: none

fix code cov check
  .codecov.yml
  .coveragerc
Due: none

fix now that we need shutdown after exit
  nexus/cmd/examples/embed/main.go
  nexus/pkg/gowandb/run.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix format
  nexus/pkg/gowandb/run.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove grpc test+fix script
  .gitattributes
  tests/standalone_tests/grpc_client.py
  tests/standalone_tests/grpc_server_test.sh
  tox.ini
  wandb/proto/v3/wandb_server_pb2_grpc.py
  wandb/proto/v3/wandb_server_pb2_grpc.pyi
  wandb/proto/v4/wandb_server_pb2_grpc.py
  wandb/proto/v4/wandb_server_pb2_grpc.pyi
  wandb/proto/wandb_internal_codegen.py
  wandb/proto/wandb_server_pb2_grpc.py
Due: none

lint
  wandb/proto/wandb_internal_codegen.py
Due: none

more conflicts fixes
  wandb/sdk/interface/interface_grpc.py
  wandb/sdk/service/streams.py
  wandb/sdk/wandb_run.py
Due: none

feat(artifacts): extend cache cleanup to allow specifying a target fraction (#6152)
  wandb/sdk/artifacts/artifacts_cache.py
Due: none

generate new proto in nexus
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

refactor(artifacts): remove explicit dependency on WandbStoragePolicy (#6140)
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifests/artifact_manifest_v1.py
  wandb/sdk/artifacts/storage_policies/__init__.py
  wandb/sdk/artifacts/storage_policies/register.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/artifacts/storage_policy.py
Due: none

chore(artifacts): consolidate LinkArtifact calls (#6138)
  tests/pytest_tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: none

add internal message request to nexus
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): remove legacy messages from proto
  nexus/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
  wandb/sdk/internal/handler.py
  wandb/sdk/internal/sender.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build
