Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=24

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

chore(launch): internal process support for launch config file parameters (#7102)
  core/pkg/launch/config.go
  core/pkg/launch/config_files.go
  core/pkg/launch/config_test.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
  core/pkg/launch/wandb_config.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/interface/interface.py
  wandb/sdk/interface/interface_shared.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(launch): skip git job create test (#7317)
  tests/pytest_tests/system_tests/test_launch/test_job.py
Due: none

fix(core): fix a minor bug when accessing a nil object
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(core): fix a minor bug when accessing a nil object (#7318)
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

unit tests base
  tests/pytest_tests/unit_tests/test_launch/test_controller/test_base.py
  tests/pytest_tests/unit_tests/test_launch/test_controller/test_k8s.py
  tests/pytest_tests/unit_tests/test_launch/test_controller/test_local_container.py
Due: none

change portfolio name so that the collection gets updated with a new type
  tests/functional_tests/t0_main/artifacts/public-link-model.py
  tests/functional_tests/t0_main/artifacts/public-link-model.yea
Due: none

add newline to yea file
  tests/functional_tests/t0_main/artifacts/public-link-model.yea
Due: none

nit
  tests/functional_tests/t0_main/artifacts/public-link-model.yea
Due: none

update apple stats
  wandb/bin/apple_gpu_stats
Due: none

update go version in CI
  .circleci/config.yml
Due: none

chore(sdk): replace the gpu apple binary with the new one (#7223)
  .circleci/config.yml
  apple_stats/Sources/main.swift
  core/pkg/monitor/gpu_apple.go
  wandb/bin/apple_gpu_stats
  wandb/sdk/internal/system/assets/gpu_apple.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(sdk): Build apple_gpu_stats in CI
  .github/workflows/release-sdk.yml
  tools/wini/wini.py
  wandb/.gitignore
  wandb/bin/apple_gpu_stats
Due: none

refactor(core): Extract FileStream interface for testability
  core/pkg/filestream/filestream.go
  core/pkg/filestream/filestream_test.go
  core/pkg/filestream/loop_feedback.go
  core/pkg/filestream/loop_process.go
  core/pkg/filestream/loop_transmit.go
  core/pkg/filestream/loop_transmit_test.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(core): Notify backend of successfully uploaded run files
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
  core/pkg/filestream/filestream.go
  core/pkg/filestream/loop_process.go
  core/pkg/filestreamtest/filestreamtest.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): implement a stricter check for amd gpu monitoring availability
  core/pkg/monitor/gpu_amd.go
  wandb/sdk/internal/system/assets/gpu_amd.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): fix link model test (#7320)
  tests/functional_tests/t0_main/artifacts/public-link-model.py
  tests/functional_tests/t0_main/artifacts/public-link-model.yea
Due: none

update changelog
  CHANGELOG.md
Due: none

chore(sdk): minor go code clean up
  core/internal/execbin/execbin.go
  core/internal/shared/shared.go
  core/pkg/artifacts/linker.go
  core/pkg/artifacts/saver.go
  core/pkg/filestream/loop_process.go
  core/pkg/launch/config.go
  core/pkg/launch/config_files.go
  core/pkg/monitor/cpu.go
  core/pkg/monitor/memory.go
  core/pkg/monitor/monitor.go
  core/pkg/observability/printer.go
  core/pkg/observability/util.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
  core/pkg/server/sync.go
  core/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Test logging an artifact with a 0-byte file
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts.py
  tests/pytest_tests/system_tests/test_launch/test_job.py
Due: none

Remove the Body of PUT requests for 0-length files
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Trying just bytes
  core/internal/filetransfer/file_transfer_default.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

cover all cases with require
  .bumpversion.core.cfg
  wandb/__init__.py
  wandb/sdk/service/service.py
  wandb/util.py
Due: none

add some unit tests
  tests/pytest_tests/unit_tests/test_util_wandb_core.py
  wandb/util.py
Due: none

remove databricks mock
  tests/pytest_tests/system_tests/test_notebooks/test_notebooks.py
Due: none

update the changelog
  CHANGELOG.md
Due: none

chore(sdk): minor go code clean up (#7323)
  core/internal/execbin/execbin.go
  core/internal/shared/shared.go
  core/pkg/artifacts/linker.go
  core/pkg/artifacts/saver.go
  core/pkg/filestream/loop_process.go
  core/pkg/launch/config.go
  core/pkg/launch/config_files.go
  core/pkg/monitor/cpu.go
  core/pkg/monitor/memory.go
  core/pkg/monitor/monitor.go
  core/pkg/observability/printer.go
  core/pkg/observability/util.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
  core/pkg/server/sync.go
  core/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(core): minor clean up of the history sampling code
  core/internal/sampler/priority_queue.go
  core/internal/sampler/reservoir_samper.go
  core/pkg/server/handler.go
  core/pkg/server/history.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): skip tensorboard test that fails on core
  tests/functional_tests/t0_main/mp/13-synctb-gradienttape.yea
Due: none

chore(sdk): skip tensorboard test that fails on core (#7330)
  tests/functional_tests/t0_main/mp/13-synctb-gradienttape.yea
Due: none

Start on creating a file cache in nexus
  core/go.mod
  core/go.sum
  core/pkg/artifacts/file_cache.go
  core/pkg/server/handler.go
  core/pkg/server/util.go
  core/pkg/utils/files.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update support message
  wandb/util.py
Due: none

chore(launch): pass file overrides from launch spec to container (#7166)
  tests/pytest_tests/system_tests/test_launch/test_launch_kubernetes.py
  tests/pytest_tests/system_tests/test_launch/test_launch_local_container.py
  tests/pytest_tests/system_tests/test_launch/test_launch_sagemaker.py
  tests/pytest_tests/system_tests/test_launch/test_launch_vertex.py
  tests/pytest_tests/unit_tests/test_launch/test_builder/test_build.py
  tests/pytest_tests/unit_tests_old/test_launch/test_launch.py
  wandb/sdk/launch/_project_spec.py
  wandb/sdk/launch/builder/build.py
Due: none

Add assistive instructions to S3 error
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
Due: none

fix(core): harden resume logic to better handle nil responses
  core/pkg/server/resume.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Fix typing in standard queue driver
  wandb/sdk/launch/queue_driver/standard_queue_driver.py
Due: none

Error handling
  wandb/sdk/launch/queue_driver/standard_queue_driver.py
Due: none

[𝘀𝗽𝗿] initial version
  wandb/sdk/wandb_run.py
Due: none

Fix typing in standard queue driver (#7334)
  wandb/sdk/launch/queue_driver/standard_queue_driver.py
Due: none

chore(sdk): Explain abs path folder structure in run.save() docs (#7335)
  wandb/sdk/wandb_run.py
Due: none

minor clean up
  core/internal/runresume/resume_test.go
  core/internal/runresume/runresume.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$
