Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

fix: update test_tune_with_callback to work with ray 2.51.0 (#10799)
  tests/system_tests/test_functional/raytune/tune_with_callback.py
Due: none

test more resilient
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

chore: clean up wandb.__init__.py
  tests/unit_tests/test_datastore.py
  wandb/__init__.py
  wandb/sdk/__init__.py
  wandb/sdk/internal/datastore.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_sync.py
  wandb/sync/sync.py
Due: none

chore: clean up wandb.__init__.py (#10798)
  tests/unit_tests/test_datastore.py
  wandb/__init__.py
  wandb/sdk/__init__.py
  wandb/sdk/internal/datastore.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_sync.py
  wandb/sync/sync.py
Due: none

chore: clean up sdk feature deprecation workflow
  .codecov.yml
  CONTRIBUTING.md
  noxfile.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/beta/workflows.py
  wandb/integration/keras/keras.py
  wandb/integration/langchain/wandb_tracer.py
  wandb/proto/wandb_deprecated.py
  wandb/proto/wandb_generate_deprecated.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/lib/deprecate.py
  wandb/sdk/lib/deprecation.py
  wandb/sdk/lib/disabled.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: none

don't extend the existing tests
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

format
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

chore: clean up sdk feature deprecation workflow (#10789)
  .codecov.yml
  CONTRIBUTING.md
  noxfile.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/beta/workflows.py
  wandb/integration/keras/keras.py
  wandb/integration/langchain/wandb_tracer.py
  wandb/proto/wandb_deprecated.py
  wandb/proto/wandb_generate_deprecated.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
  wandb/sdk/lib/deprecate.py
  wandb/sdk/lib/deprecation.py
  wandb/sdk/lib/disabled.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: none

wip
  wandb/cli/cli.py
Due: none

filestreamstate
  core/internal/filestream/collectloop.go
  core/internal/filestream/filestreamrequestreader.go
  core/internal/filestream/filestreamrequestreader_test.go
  core/internal/filestream/filestreamstate.go
  core/internal/filestream/filestreamstate_test.go
  core/internal/sparselist/sparselist.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: check wandb library import time on branch vs main in ci
  .circleci/config.yml
  noxfile.py
Due: none

refactor: completely replace FileStreamRequestReader (#10765)
  core/internal/filestream/collectloop.go
  core/internal/filestream/filestreamrequestreader.go
  core/internal/filestream/filestreamrequestreader_test.go
  core/internal/filestream/filestreamstate.go
  core/internal/filestream/filestreamstate_test.go
  core/internal/sparselist/sparselist.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove summary debouncing
  core/internal/filestream/collectloop.go
  core/internal/filestream/collectloop_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
  core/internal/filestream/filestreamstate.go
  core/internal/filestream/filestreamstate_test.go
  core/internal/filestream/updatesummary.go
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add the reason
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Due: none

refactor: process summary updates in FileStream without debouncing in Sender (#10778)
  core/internal/filestream/collectloop.go
  core/internal/filestream/collectloop_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
  core/internal/filestream/filestreamstate.go
  core/internal/filestream/filestreamstate_test.go
  core/internal/filestream/updatesummary.go
  core/internal/stream/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

delete debounce
  core/internal/debounce/debounce.go
  core/internal/debounce/debounce_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor: delete internal/debounce (#10780)
  core/internal/debounce/debounce.go
  core/internal/debounce/debounce_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix change log
  CHANGELOG.unreleased.md
Due: none

chore(sdk): enforce docstring width (W505), add interim per-file-ignores
  pyproject.toml
  wandb/_iterutils.py
Due: none

address pr comments
  wandb/_strutils.py
  wandb/apis/public/registries/_members.py
  wandb/apis/public/registries/registry.py
Due: none

Handle None metadata in InstalledDistribution yield
  wandb/util.py
Due: none

chore: check wandb library import time on branch vs main in ci (#10797)
  .circleci/config.yml
  noxfile.py
Due: none

feat(artifacts): support registry member and role management via SDK (#10542)
  CHANGELOG.unreleased.md
  tests/system_tests/test_registries/conftest.py
  tests/system_tests/test_registries/test_link_registry.py
  tests/system_tests/test_registries/test_registry.py
  tests/system_tests/test_registries/test_registry_members.py
  tools/graphql_codegen/artifacts/registry_members.graphql
  wandb/_strutils.py
  wandb/apis/public/registries/_members.py
  wandb/apis/public/registries/_utils.py
  wandb/apis/public/registries/registry.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/create_registry_members.py
  wandb/sdk/artifacts/_generated/delete_registry_members.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/registry_team_members.py
  wandb/sdk/artifacts/_generated/registry_user_members.py
  wandb/sdk/artifacts/_generated/update_team_registry_role.py
  wandb/sdk/artifacts/_generated/update_user_registry_role.py
Due: go-generate-graphql

fix(artifacts): reduce repeat instantiation of InternalApi in wandb.Api methods
  tests/system_tests/conftest.py
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_artifacts/test_gqlutils.py
  tests/system_tests/test_registries/conftest.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/old/settings.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/internal/internal_api.py
Due: none

changelog
  CHANGELOG.unreleased.md
  tests/system_tests/test_registries/test_registry.py
Due: none

cleanup
  wandb/apis/public/registries/registry.py
Due: none

feat(artifacts): expose Registry.id as read-only property (#10785)
  CHANGELOG.unreleased.md
  tests/system_tests/test_registries/test_registry.py
  wandb/apis/public/registries/registry.py
Due: none

chore: add sidebar animation to leet
  core/internal/leet/animation.go
  core/internal/leet/animation_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add metricsgrid component to leet to display metric charts
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/styles.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add left sidebar component to leet to display run metadata
  core/internal/leet/leftsidebar.go
  core/internal/leet/leftsidebar_test.go
  core/internal/leet/leftsidebarfilter.go
  core/internal/leet/leftsidebarnav.go
  core/internal/leet/messages.go
  core/internal/leet/metricsfilter.go
  core/internal/leet/styles.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add right sidebar component to leet for displaying system metrics
  core/internal/leet/messages.go
  core/internal/leet/rightsidebar.go
  core/internal/leet/rightsidebar_test.go
  core/internal/leet/styles.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add runoverview component to leet to process and store run metadata
  core/internal/leet/runoverview.go
  core/internal/leet/runoverview_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add system metrics grid component to leet
  core/internal/leet/config.go
  core/internal/leet/styles.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/systemmetricsgrid_test.go
  core/internal/leet/testhelpers.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: add metricsgridfilter to leet to filter metric charts
  core/internal/leet/metricsfilter.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/metricsgrid.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: wandb leet - Lightweight Experiment Exploration Tool
  CHANGELOG.unreleased.md
  core/go.mod
  core/go.sum
  core/internal/leet/handlers.go
  core/internal/leet/help.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/leftsidebarfilter.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/styles.go
  core/internal/leet/testhelpers.go
  core/internal/leet/tui_test.go
  core/vendor/github.com/aymanbagabas/go-udiff/LICENSE-BSD
  core/vendor/github.com/aymanbagabas/go-udiff/LICENSE-MIT
  core/vendor/github.com/aymanbagabas/go-udiff/README.md
  core/vendor/github.com/aymanbagabas/go-udiff/diff.go
  core/vendor/github.com/aymanbagabas/go-udiff/export.go
  core/vendor/github.com/aymanbagabas/go-udiff/lcs/common.go
  core/vendor/github.com/aymanbagabas/go-udiff/lcs/doc.go
  core/vendor/github.com/aymanbagabas/go-udiff/lcs/git.sh
  core/vendor/github.com/aymanbagabas/go-udiff/lcs/labels.go
  core/vendor/github.com/aymanbagabas/go-udiff/lcs/old.go
  core/vendor/github.com/aymanbagabas/go-udiff/lcs/sequence.go
  core/vendor/github.com/aymanbagabas/go-udiff/merge.go
  core/vendor/github.com/aymanbagabas/go-udiff/ndiff.go
  core/vendor/github.com/aymanbagabas/go-udiff/unified.go
  core/vendor/github.com/charmbracelet/colorprofile/.golangci-soft.yml
  core/vendor/github.com/charmbracelet/colorprofile/.golangci.yml
  core/vendor/github.com/charmbracelet/colorprofile/README.md
  core/vendor/github.com/charmbracelet/colorprofile/doc.go
  core/vendor/github.com/charmbracelet/colorprofile/env.go
  core/vendor/github.com/charmbracelet/colorprofile/profile.go
  core/vendor/github.com/charmbracelet/colorprofile/writer.go
  core/vendor/github.com/charmbracelet/x/exp/golden/LICENSE
  core/vendor/github.com/charmbracelet/x/exp/golden/golden.go
  core/vendor/github.com/charmbracelet/x/exp/teatest/LICENSE
  core/vendor/github.com/charmbracelet/x/exp/teatest/teatest.go
  core/vendor/modules.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

perf improv: pre-load data 10x faster
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_test.go
  core/internal/leet/handlers.go
  core/internal/leet/leftsidebar.go
  core/internal/leet/leftsidebar_test.go
  core/internal/leet/messages.go
  core/internal/leet/metricsfilter_test.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/model.go
  core/internal/leet/model_update_test.go
  core/internal/leet/reader.go
  core/internal/leet/reader_test.go
  core/internal/leet/runoverview.go
  core/internal/leet/runoverview_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: minor perf improvements in leet
  core/internal/leet/livestore.go
  core/internal/leet/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix: correct length on artifact.files (#10796)
  CHANGELOG.unreleased.md
  core/api/graphql/schemas/commit.hash.txt
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tools/graphql_codegen/artifacts/artifact_files.graphql
  wandb/_pydantic/pagination.py
  wandb/apis/public/artifacts.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/_generated/artifact_collection_membership_files.py
  wandb/sdk/artifacts/_generated/artifact_version_files.py
  wandb/sdk/artifacts/_generated/operations.py
Due: go-generate-proto, go-generate-graphql
