Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

test adding start date to import runs
  wandb/apis/importers/wandb.py
Due: none

update reports to use v2
  wandb/apis/importers/wandb.py
Due: none

chore(core): Add wbvalue.Chart type (#8179)
  core/internal/wbvalue/chart.go
  core/internal/wbvalue/chart_test.go
  core/internal/wbvalue/wbvalue.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(core): Add wbvalue.Table (#8180)
  core/internal/wbvalue/table.go
  core/internal/wbvalue/table_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix type check errors
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
Due: none

chore(core): temporarily disable artifact downloads with core
  wandb/sdk/artifacts/artifact.py
Due: none

chore(core): temporarily disable artifact downloads with core
  wandb/sdk/wandb_run.py
Due: none

chore(sdk): increase internal message polling interval
  wandb/sdk/wandb_run.py
Due: none

chore(sdk): increase internal message polling interval (#8187)
  wandb/sdk/wandb_run.py
Due: none

chore(core): temporarily disable artifact downloads with core (#8186)
  wandb/sdk/artifacts/artifact.py
Due: none

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/tensorboard/emitter.go
  core/internal/tensorboard/emitter_test.go
  core/internal/tensorboard/tbproto/tensor.pb.go
  core/internal/tensorboard/tbproto/tensor.proto
  core/internal/tensorboard/tensor.go
  core/internal/tensorboard/tensorboard.go
  core/internal/tensorboard/tfeventconverter.go
  core/internal/tensorboard/tfeventconverter_test.go
  core/internal/tensorboard/tfeventconverterprcurves.go
  core/internal/tensorboard/tfeventconverterscalars.go
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  tests/functional_tests/.yearc
Due: none

deprecate legacy keras callback
  core/pkg/service_go_proto/wandb_telemetry.pb.go
  wandb/integration/keras/keras.py
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_deprecated.py
  wandb/proto/wandb_telemetry.proto
Due: go-generate-proto

deprecate legacy keras callback
  wandb/integration/keras/keras.py
Due: none

chore(sdk): autoformatting
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/wandb_run.py
Due: none

feat(sdk): wip - add version tags to Artifact API
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/sdk/wandb_run.py
Due: none

refactor(sdk): pull out reused validation logic for aliases
  wandb/sdk/artifacts/_utils.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/wandb_run.py
Due: none

feat(sdk): add version tags to Artifact API
  wandb/sdk/artifacts/artifact.py
Due: none

chore(artifacts): artifact tags support
  core/pkg/service_go_proto/wandb_internal.pb.go
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/_utils.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/interface/interface.py
  wandb/sdk/wandb_run.py
Due: go-generate-proto

chore(artifacts): autoformatting
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

chore(artifacts): add temporary xfail
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

chore(artifacts): finish adding support for run.log_artifact with tags
  core/api/graphql/mutation_create_artifact.graphql
  core/internal/gql/gql_gen.go
  core/pkg/artifacts/saver.go
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/sdk/artifacts/artifact_saver.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): clean up test
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

test(artifacts): parameterize test cases, bugfix
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  wandb/sdk/artifacts/artifact.py
Due: none

test(artifacts): make tags kwarg backward-compatible in publish_artifact/communicate_artifact
  wandb/sdk/interface/interface.py
Due: none

test(artifacts): autoformatting
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

chore(artifacts): avoid code golf
  wandb/sdk/artifacts/_utils.py
Due: none

chore(artifacts): changelog
  CHANGELOG.md
Due: none

chore(sdk): address PR comments, cleanup
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/internal/internal_api.py
Due: none

Update core/pkg/artifacts/saver.go
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): cleanup
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

test(core): update TestSendArtifact
  core/pkg/server/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): revert to original verbatim warning
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/internal/internal_api.py
Due: none

chore(sdk): add test to check behavior w/o server support
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

chore(sdk): isolate patching/mocking of introspection endpoint via fixture
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

chore(sdk): autoformatting
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

chore(sdk): address PR comments
  wandb/sdk/artifacts/_utils.py
  wandb/sdk/wandb_run.py
Due: none

chore(sdk): cleanup imports
  wandb/sdk/artifacts/artifact.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
