Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)

add sentry.go
  core/internal/sentry/sentry.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

pass to new server
  core/cmd/wandb-core/main.go
  core/internal/sentry/sentry.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

tests
  tests/pytest_tests/system_tests/test_api/test_public_api_run_summary.py
Due: go-mod-tidy

fix(launch): only mark job as partial in artifact version metadata
  tests/pytest_tests/system_tests/test_launch/test_job.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/launch/create_job.py
Due: go-mod-tidy

pass to new server
  core/internal/sentry/sentry_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

pass to new server
  core/internal/sentry/sentry.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(launch): only mark job as partial in artifact version metadata (#7652)
  tests/pytest_tests/system_tests/test_launch/test_job.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/launch/create_job.py
Due: go-mod-tidy

Enable uploading arbitratry chunks of files with the DefaultFileTransfer
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/tasks.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Respect the path prefix in download
  core/pkg/artifacts/downloader.go
  wandb/sdk/artifacts/artifact.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

test RemoveBottomFrames
  core/internal/sentry/sentry.go
  core/internal/sentry/sentry_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

test RemoveBottomFrames
  core/internal/sentry/sentry_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

reintroduce wait loop
  tests/pytest_tests/system_tests/test_core/test_wandb_init.py
Due: go-mod-tidy

Remove the restriction of specifing whole subdirectories for path prefixes
  CHANGELOG.md
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
Due: go-mod-tidy

chore(sdk): Update CHANGELOG.md
  CHANGELOG.md
Due: go-mod-tidy

chore(sdk): placeholder for Artifact.unlink()
  wandb/sdk/artifacts/artifact.py
Due: go-mod-tidy

vendor lru
  core/vendor/github.com/hashicorp/golang-lru/2q.go
  core/vendor/github.com/hashicorp/golang-lru/LICENSE
  core/vendor/github.com/hashicorp/golang-lru/README.md
  core/vendor/github.com/hashicorp/golang-lru/arc.go
  core/vendor/github.com/hashicorp/golang-lru/doc.go
  core/vendor/github.com/hashicorp/golang-lru/lru.go
  core/vendor/github.com/hashicorp/golang-lru/simplelru/lru.go
  core/vendor/github.com/hashicorp/golang-lru/simplelru/lru_interface.go
  core/vendor/github.com/hashicorp/golang-lru/testing.go
Due: none

use lru instead of a map
  core/go.mod
  core/go.sum
  core/internal/sentry/sentry.go
  core/internal/sentry/sentry_test.go
  core/vendor/modules.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

use lru instead of a map
  core/cmd/wandb-core/main.go
  core/internal/sentry/sentry.go
  core/internal/sentry/sentry_test.go
  core/pkg/server/connection.go
  core/pkg/server/server.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

add a system test
  .github/workflows/check-pr-title.yml
  CONTRIBUTING.md
  tests/pytest_tests/system_tests/test_core/test_metric_full.py
  tests/pytest_tests/system_tests/test_functional/test_mode_shared.py
Due: go-mod-tidy

add a system test
  tests/pytest_tests/system_tests/test_core/test_metric_full.py
Due: go-mod-tidy

fix(core): flush history record correctly in shared mode (#7715)
  .github/workflows/check-pr-title.yml
  CHANGELOG.md
  CONTRIBUTING.md
  core/pkg/server/handler.go
  tests/pytest_tests/system_tests/test_core/test_metric_full.py
  tests/pytest_tests/system_tests/test_functional/test_mode_shared.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix lint
  core/internal/tensorboard/tfeventreader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

docs(artifacts): fix name argument docstring in `run.log_artifact`
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

[𝘀𝗽𝗿] changes to main this commit is based on
  .pre-commit-config.yaml
  core/internal/tensorboard/maskedcrc32c.go
  core/internal/tensorboard/tbproto/generate.go
  core/internal/tensorboard/tbproto/tfevent.pb.go
  core/internal/tensorboard/tbproto/tfevent.proto
  core/internal/tensorboard/tensorboard.go
  core/internal/tensorboard/tensorboard_test.go
  core/internal/tensorboard/tfeventfiles.go
  core/internal/tensorboard/tfeventfiles_test.go
  core/internal/tensorboard/tfeventreader.go
  core/internal/tensorboard/tfeventreader_test.go
  core/internal/tensorboard/tfeventstream.go
  core/pkg/server/handler.go
  core/pkg/server/stream.go
  core/pkg/server/tb.go
  core/pkg/service/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

docs(artifacts): fix name argument docstring in `run.log_artifact` (#7724)
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

update
  wandb/sdk/lib/_settings_toposort_generated.py
Due: go-mod-tidy

fix return type
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

chore(sdk): placeholder docstring for Artifact.unlink()
  wandb/sdk/artifacts/artifact.py
Due: go-mod-tidy

docs(sdk): complete/fix public docstrings and type hints
  wandb/apis/public/api.py
Due: go-mod-tidy

docs(sdk): context on ignored D102 lines for posterity
  wandb/apis/public/api.py
Due: go-mod-tidy

rm redundant lock
  core/internal/sentry/sentry.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(core): drop recent duplicated errors when reporting to sentry + sentry cleanup (#7719)
  core/cmd/wandb-core/main.go
  core/go.mod
  core/go.sum
  core/internal/sentry/sentry.go
  core/internal/sentry/sentry_test.go
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/observability/logging.go
  core/pkg/observability/sentry.go
  core/pkg/server/connection.go
  core/pkg/server/server.go
  core/pkg/server/stream.go
  core/scripts/update-dev-env.txt
  core/vendor/github.com/hashicorp/golang-lru/2q.go
  core/vendor/github.com/hashicorp/golang-lru/LICENSE
  core/vendor/github.com/hashicorp/golang-lru/README.md
  core/vendor/github.com/hashicorp/golang-lru/arc.go
  core/vendor/github.com/hashicorp/golang-lru/doc.go
  core/vendor/github.com/hashicorp/golang-lru/lru.go
  core/vendor/github.com/hashicorp/golang-lru/simplelru/lru.go
  core/vendor/github.com/hashicorp/golang-lru/simplelru/lru_interface.go
  core/vendor/github.com/hashicorp/golang-lru/testing.go
  core/vendor/modules.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

docs(sdk): autoformat
  wandb/apis/public/api.py
Due: go-mod-tidy

chore(sdk): use retryablehttp's default retry policy for file transfer (#7695)
  core/internal/filetransfer/file_transfer_retry_policy.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

add suggestions
  tests/pytest_tests/unit_tests/test_workspaces/test_workspaces.py
  wandb/apis/reports/v2/internal.py
  wandb/apis/workspaces/__init__.py
  wandb/apis/workspaces/expr.py
  wandb/apis/workspaces/interface.py
  wandb/apis/workspaces/internal.py
Due: go-mod-tidy

add suggestions
  wandb/apis/workspaces/internal.py
Due: go-mod-tidy

chore(launch): unhide the `--uri` option of `wandb launch`
  wandb/cli/cli.py
Due: go-mod-tidy

add missing init
  wandb/apis/workspaces/__init__.py
Due: go-mod-tidy
