Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$

fix(sdk): fix docstring in wandb_init (#7217)
  wandb/sdk/wandb_init.py
Due: none

upgrade deps
  core/go.mod
  core/go.sum
Due: none

update dependencies
  core/go.mod
  core/go.sum
Due: none

chore(core): upgrade all pkg to use the latest (#7218)
  core/go.mod
  core/go.sum
Due: none

remove nested
  wandb/sdk/interface/interface.py
Due: none

chore(core): minor clean up
  core/internal/runconfig/runconfig.go
  core/pkg/observability/printer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(core): minor clean up (#7219)
  core/internal/runconfig/runconfig.go
  core/pkg/observability/printer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(core): Inject GraphQL client into sender
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(core): Inject GraphQL client into sender
  core/pkg/server/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes introduced through rebase
  core/pkg/server/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

temporary copy apple stats
  MANIFEST.in
  wandb/sdk/internal/system/assets/gpu_apple.py
Due: none

remove deleted files from manifest
  MANIFEST.in
Due: none

[𝘀𝗽𝗿] initial version
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_retry_policy.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  core/setup.py
Due: none

Use errgroup; fix comment
  core/go.mod
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes introduced through rebase
  core/go.mod
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(core): symlink to resolved path rather than relative path (#7226)
  core/setup.py
Due: none

fix(core): Don't retry when trying to upload a directory
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_retry_policy.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(core): Inject GraphQL client into sender
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

extract polling period into constant
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes introduced through rebase
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(core): Support run.save(policy="live") in 'runfiles' package
  core/go.mod
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): make 'policy' choice option for artifact cli's put method (#7172)
  CHANGELOG.md
  wandb/cli/cli.py
  wandb/sdk/artifacts/artifact_saver.py
Due: none

adding back the required flag for wandb-core
  .circleci/config.yml
  core/README.md
  wandb/env.py
  wandb/sdk/service/service.py
  wandb/sdk/wandb_require.py
Due: none

chore(sdk): remove deleted files from manifest (#7224)
  MANIFEST.in
Due: none

[𝘀𝗽𝗿] initial version
  core/internal/settings/settings.go
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/settings/settings.go
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add test, fix bug
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] changes introduced through rebase
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

delete files.go
  core/pkg/server/files.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

hack to kill the stopping process
  wandb/sdk/wandb_run.py
Due: none

feat(core): add support for stop status
  core/api/graphql/query_run_stop_status.graphql
  core/internal/gql/gql_gen.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

address review comments
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

put back the logger message in case of an error
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(core): add support for stop status (#7232)
  core/api/graphql/query_run_stop_status.graphql
  core/internal/gql/gql_gen.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
