Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

fix typo
  core/internal/clients/proxy.go
  core/internal/stream/stream_init.go
Due: go-wire, go-unit-tests, go-build

test ordering of graphql headers
  core/internal/api/gql_client.go
  core/internal/stream/stream_init.go
  core/internal/wbapi/wbapi.go
Due: go-wire, go-unit-tests, go-build

tmp revert for ci testing
  core/internal/wbapi/wbapi.go
  tests/system_tests/test_api/test_service_api.py
Due: go-wire, go-unit-tests, go-build

more reverts for testing
  core/internal/stream/stream_init.go
Due: go-wire, go-unit-tests, go-build

more reverts for new test
  tests/system_tests/test_api/test_service_api.py
Due: none

revert revert of changes
  core/internal/stream/stream_init.go
  core/internal/wbapi/wbapi.go
Due: go-wire, go-unit-tests, go-build

Revert "test ordering of graphql headers"
  core/internal/api/gql_client.go
  core/internal/stream/stream_init.go
  core/internal/wbapi/wbapi.go
Due: go-wire, go-unit-tests, go-build

test adding test in its own file
  tests/system_tests/test_api/test_service_api.py
Due: none

test fix
  tests/conftest.py
Due: none

fix: do not crash wandb-core when failing to create a wbapi instance
  core/internal/wbapi/wbapi.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

fix: do not crash wandb-core when failing to create a wbapi instance (#11763)
  core/internal/wbapi/wbapi.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

fix: wbapi not ignoring offline mode setting (#11762)
  CHANGELOG.unreleased.md
  core/internal/api/gql_client.go
  core/internal/clients/proxy.go
  core/internal/clients/proxy_test.go
  core/internal/stream/stream_init.go
  core/internal/wbapi/wbapi.go
  core/pkg/server/connection.go
  tests/conftest.py
  tests/system_tests/test_api/test_service_api.py
Due: go-wire, go-unit-tests, go-build

chore: use x86_64-manylinux_2_28 in generate.sh
  requirements/generate.sh
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.9.linux.txt
Due: none

test(launch): mock default entity for launch CLI tests
  tests/system_tests/test_launch/test_launch_cli.py
Due: none

revert it all back
  noxfile.py
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_base_pb2.py
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_base_pb2.py
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_server_pb2.py
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_telemetry_pb2.py
  wandb/proto/v6/wandb_telemetry_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_base_pb2.py
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_server_pb2.py
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_sync_pb2.py
  wandb/proto/v7/wandb_telemetry_pb2.py
Due: none

chore: basic auth
  tests/unit_tests/test_internal_api.py
  wandb/sdk/internal/internal_api.py
Due: none

fix: accept any protobuf runtime in each supported major (#11770)
  noxfile.py
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_base_pb2.py
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_sync_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_base_pb2.py
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_server_pb2.py
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_sync_pb2.py
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_telemetry_pb2.py
  wandb/proto/v6/wandb_telemetry_pb2.pyi
  wandb/proto/v7/wandb_api_pb2.py
  wandb/proto/v7/wandb_base_pb2.py
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_server_pb2.py
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_sync_pb2.py
  wandb/proto/v7/wandb_telemetry_pb2.py
Due: none

more fiddling
  tests/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_internal_api.py
  tests/unit_tests/test_util.py
  wandb/sdk/internal/internal_api.py
  wandb/util.py
Due: none

feat: add new TPU runtime HBM and TensorCore idle metrics
  core/internal/leet/systemmetrics.go
  core/internal/leet/systemmetrics_test.go
  xpu/src/gpu_amd.rs
  xpu/src/gpu_apple.rs
  xpu/src/gpu_apple_sources.rs
  xpu/src/gpu_nvidia.rs
  xpu/src/gpu_nvidia_dcgm.rs
  xpu/src/main.rs
  xpu/src/tpu.monitoring.runtime.rs
  xpu/src/tpu_libtpu.rs
  xpu/src/wandb_internal.rs
Due: go-wire, go-unit-tests, go-build

make it dumber
  tests/unit_tests/test_data_types.py
  tests/unit_tests/test_internal_api.py
  tests/unit_tests/test_launch/conftest.py
  tests/unit_tests/test_media/test_media_logging.py
  tests/unit_tests/test_util.py
  wandb/sdk/internal/internal_api.py
  wandb/util.py
Due: none

make it dumber
  tests/unit_tests/conftest.py
  tests/unit_tests/test_launch/conftest.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
Due: none

base url in tests
  tests/conftest.py
  tests/system_tests/test_launch/test_launch_cli.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_data_types.py
  tests/unit_tests/test_launch/test_project/test_project.py
  tests/unit_tests/test_media/test_media_logging.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
Due: none

could not find the sdk names in libtpu 0.40.0
  core/internal/leet/systemmetrics_test.go
  xpu/src/tpu_libtpu.rs
Due: go-wire, go-unit-tests, go-build

chore: use invalid default base url in tests (#11775)
  tests/conftest.py
  tests/system_tests/test_launch/test_launch_cli.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_data_types.py
  tests/unit_tests/test_launch/test_project/test_project.py
  tests/unit_tests/test_media/test_media_logging.py
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_wandb_login.py
Due: none

stop fn
  CHANGELOG.unreleased.md
  tests/system_tests/test_functional/interrupt/pass_if_interrupted.py
  tests/system_tests/test_functional/interrupt/test_interrupt.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: none

feat: stop_fn setting (#11773)
  CHANGELOG.unreleased.md
  tests/system_tests/test_functional/interrupt/pass_if_interrupted.py
  tests/system_tests/test_functional/interrupt/test_interrupt.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: none

feat(leet): unify wasd/arrow navigation across panes (#11756)
  CHANGELOG.unreleased.md
  core/internal/leet/consolelogspane.go
  core/internal/leet/consolelogspane_test.go
  core/internal/leet/filter_test.go
  core/internal/leet/focusmanager.go
  core/internal/leet/heartbeat_lifecycle_test.go
  core/internal/leet/keybindings.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/metricsgrid_test.go
  core/internal/leet/nav.go
  core/internal/leet/navhelpers_test.go
  core/internal/leet/navtesthelpers_test.go
  core/internal/leet/pagedlist.go
  core/internal/leet/pagedlist_test.go
  core/internal/leet/panelgrid.go
  core/internal/leet/panelgrid_test.go
  core/internal/leet/run.go
  core/internal/leet/run_update_test.go
  core/internal/leet/runfocus.go
  core/internal/leet/runhandlers.go
  core/internal/leet/runhandlers_test.go
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/runoverviewsidebarnav.go
  core/internal/leet/symon.go
  core/internal/leet/symon_keyhandling_test.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/testhelpers.go
  core/internal/leet/workspace.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspace_runcolors_test.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

chore: reduce unit test times on windows and deflake tests
  .circleci/config.yml
  noxfile.py
  tests/unit_tests/test_data_types.py
  tests/unit_tests/test_media/test_media_logging.py
  wandb/sdk/data_types/image.py
Due: none

chore: force-push dev-bump branch in release workflow
  .github/workflows/release-sdk.yml
Due: none

chore: force-push dev-bump branch in release workflow (#11780)
  .github/workflows/release-sdk.yml
Due: none

use patch_max_cli_version
  tests/unit_tests/test_data_types.py
  tests/unit_tests/test_media/test_media_logging.py
Due: none

chore: speed up and stabilize Windows unit tests (#11779)
  .circleci/config.yml
  noxfile.py
  tests/unit_tests/test_data_types.py
  tests/unit_tests/test_media/test_media_logging.py
  wandb/sdk/data_types/image.py
Due: none

stop on fatal error
  CHANGELOG.unreleased.md
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/settings/settings.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_functional/interrupt/test_interrupt.py
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

feat: stop_on_fatal_error setting (#11774)
  CHANGELOG.unreleased.md
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/settings/settings.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  tests/system_tests/test_functional/interrupt/test_interrupt.py
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v7/wandb_settings_pb2.py
  wandb/proto/v7/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

chore(sandbox): update grpc mock in system tests
  tests/system_tests/test_sandbox/test_auth.py
Due: none

feat(sandbox): simplify import and verify secret override
  tests/system_tests/test_sandbox/test_auth.py
  tests/unit_tests/test_sandbox/test_sandbox_wrapper.py
  wandb/sandbox/__init__.py
Due: none

feat(sandbox): simplify auth and entity detection
  tests/system_tests/test_sandbox/test_auth.py
  tests/unit_tests/test_sandbox/test_sandbox_auth.py
  wandb/sandbox/_auth.py
Due: none

chore(sandbox): bump min cwsandbox version to 0.20.0
  pyproject.toml
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
  requirements/requirements_dev.txt
Due: none

chore(sandbox): add -a command
  tests/unit_tests/test_sandbox/test_cli_beta_sandbox.py
  wandb/cli/beta_sandbox.py
Due: none

feat(sandbox): add wandb sandbox package with auth and CLI
  .github/workflows/check-pr-title.yml
  noxfile.py
  pyproject.toml
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
  requirements/requirements_test.txt
  tests/system_tests/test_sandbox/__init__.py
  tests/system_tests/test_sandbox/test_auth.py
  tests/unit_tests/test_library_public.py
  tests/unit_tests/test_sandbox/__init__.py
  tests/unit_tests/test_sandbox/test_cli_beta_sandbox.py
  tests/unit_tests/test_sandbox/test_sandbox_auth.py
  tests/unit_tests/test_sandbox/test_sandbox_wrapper.py
  wandb/cli/beta.py
  wandb/cli/beta_sandbox.py
  wandb/sandbox/__init__.py
  wandb/sandbox/_auth.py
  wandb/sandbox/_secret.py
  wandb/sdk/artifacts/storage_handlers/gcs_handler.py
Due: none
