Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

add timeout of 3 minutes to writer.join
  wandb/sdk/artifacts/storage_policies/_multipart.py
Due: none

api files introspection
  tests/system_tests/test_core/test_public_api.py
  wandb/apis/public/files.py
Due: none

chore: enable gpu_stats tests in ci and clean up/update its build script and reqs
  .circleci/config.yml
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/hatch.py
Due: none

up min rust version
  gpu_stats/Cargo.toml
Due: none

use more self-hosted runners
  .circleci/config.yml
Due: none

fix build
  gpu_stats/Cargo.toml
  gpu_stats/src/gpu_nvidia.rs
Due: none

refactor: drop gql introspection in files.py (#11618)
  tests/system_tests/test_core/test_public_api.py
  wandb/apis/public/files.py
Due: none

api runs introspection
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_public_api/test_runs.py
  wandb/apis/public/files.py
  wandb/apis/public/runs.py
Due: none

fix more issues
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/src/gpu_apple.rs
  gpu_stats/src/gpu_apple_sources.rs
  gpu_stats/src/main.rs
  gpu_stats/src/monitors.rs
  gpu_stats/src/wandb_internal.rs
  gpu_stats/tools/build_proto.rs
Due: none

refactor: drop gql introspection in runs.py (#11619)
  tests/unit_tests/test_public_api/test_public_api.py
  tests/unit_tests/test_public_api/test_runs.py
  wandb/apis/public/files.py
  wandb/apis/public/runs.py
Due: none

chore(artifacts): use artifact id instead of birth artifact id for download url (#11407)
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v7/wandb_internal_pb2.py
  wandb/proto/v7/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: go-generate-proto

address comment
  tests/unit_tests/test_automations/conftest.py
  tests/unit_tests/test_automations/test_automations.py
  wandb/automations/_utils.py
Due: none

chore: enable gpu_stats tests in ci and clean up/update its build script and reqs (#11621)
  .circleci/config.yml
  gpu_stats/Cargo.lock
  gpu_stats/Cargo.toml
  gpu_stats/hatch.py
  gpu_stats/src/gpu_apple.rs
  gpu_stats/src/gpu_apple_sources.rs
  gpu_stats/src/gpu_nvidia.rs
  gpu_stats/src/main.rs
  gpu_stats/src/monitors.rs
  gpu_stats/src/wandb_internal.rs
  gpu_stats/tools/build_proto.rs
Due: none

fix: rust arrow reader not building for windows
  core/internal/runhistoryreader/parquet/ffi/openlib_unix.go
  core/internal/runhistoryreader/parquet/ffi/openlib_windows.go
  core/internal/runhistoryreader/parquet/ffi/rustarrowreader.go
Due: go-wire, go-unit-tests, go-build

update install toolchain
  .circleci/config.yml
Due: none

fix: rust arrow reader not building for windows (#11616)
  .circleci/config.yml
  core/internal/runhistoryreader/parquet/ffi/openlib_unix.go
  core/internal/runhistoryreader/parquet/ffi/openlib_windows.go
  core/internal/runhistoryreader/parquet/ffi/rustarrowreader.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): resolve run.config returning {} in lazy mode (v0.25.1 regression)
  tests/unit_tests/test_public_api/test_runs.py
  wandb/apis/public/runs.py
Due: none

restack
  tests/unit_tests/test_public_api/test_runs.py
Due: none

feat: add NVML GPM profiling metrics for Hopper+ GPUs to gpu_stats / system monitor
  gpu_stats/src/gpu_nvidia.rs
Due: none

borrow like a responsible adult
  gpu_stats/src/gpu_nvidia.rs
Due: none

fix: rust unit test panic for shared connections
  parquet-rust-wrapper/tests/common/mod.rs
Due: rust-unit-tests, rust-build

fix: rust unit test panic (#11623)
  parquet-rust-wrapper/tests/common/mod.rs
Due: rust-unit-tests, rust-build

fix(artifacts): reject absolute paths and relative traversal sequences in artifact paths
  tests/unit_tests/test_artifacts/test_artifact_manifest_entry.py
  tests/unit_tests/test_artifacts/test_validators.py
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_manifest.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
Due: none

[create-pull-request] automated change
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
  requirements/requirements_dev.3.9.darwin.txt
  requirements/requirements_dev.3.9.linux.txt
  requirements/requirements_dev.3.9.windows.txt
Due: none

feat(leet): media panel for image display
  core/internal/leet/config.go
  core/internal/leet/config_test.go
  core/internal/leet/focusmanager.go
  core/internal/leet/keybindings.go
  core/internal/leet/leveldbhistorysource.go
  core/internal/leet/media.go
  core/internal/leet/media_test.go
  core/internal/leet/mediapane.go
  core/internal/leet/messages.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/model.go
  core/internal/leet/run.go
  core/internal/leet/runfocus.go
  core/internal/leet/runhandlers.go
  core/internal/leet/systemmetricsgrid.go
  core/internal/leet/testhelpers.go
  core/internal/leet/workspace.go
  core/internal/leet/workspace_keyhandling_test.go
  core/internal/leet/workspacehandlers.go
Due: go-wire, go-unit-tests, go-build

chore(dev): assign codeowners for sweeps files to sweeps-launch-team
  .github/CODEOWNERS
Due: none

chore(sdk): update codeowners of various files to the sweeps-launch-team (#11629)
  .github/CODEOWNERS
Due: none

clean up
  core/internal/leet/consolelogspane.go
  core/internal/leet/consolelogspane_test.go
  core/internal/leet/mediapane.go
  core/internal/leet/metricsgrid.go
  core/internal/leet/run.go
  core/internal/leet/styles.go
  core/internal/leet/workspace.go
  core/internal/leet/workspacehandlers.go
  core/internal/leet/workspacesystemmetricspane.go
Due: go-wire, go-unit-tests, go-build

clean up
  core/internal/leet/mediapane.go
Due: go-wire, go-unit-tests, go-build

fix(leet): stable buckets for french freist plots aka bucketed heatmaps
  core/internal/leet/frenchfrieschart.go
  core/internal/leet/frenchfrieschart_test.go
  core/internal/leet/testhelpers.go
Due: go-wire, go-unit-tests, go-build

chore: update api and httplayers test and comment
  core/internal/api/api.go
  core/internal/api/api_test.go
  core/internal/httplayers/headers.go
  core/internal/httplayers/headers_test.go
Due: go-wire, go-unit-tests, go-build

fix: apply extra http headers for all requests
  CHANGELOG.unreleased.md
  core/internal/api/api.go
  core/internal/api/api_test.go
  core/internal/httplayers/headers.go
  core/internal/httplayers/headers_test.go
Due: go-wire, go-unit-tests, go-build

chore: simplify header copy logic in ExtraHeaders
  core/internal/httplayers/headers.go
  core/internal/httplayers/headers_test.go
Due: go-wire, go-unit-tests, go-build

fix: apply extra http headers for all requests (#11620)
  CHANGELOG.unreleased.md
  core/internal/api/api.go
  core/internal/api/api_test.go
  core/internal/httplayers/headers.go
  core/internal/httplayers/headers_test.go
Due: go-wire, go-unit-tests, go-build

add space after example
  wandb/cli/beta.py
Due: none

test removing
  wandb/cli/cli.py
Due: none

wrap
  wandb/cli/cli.py
Due: none
