Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

move helpers from main to leet pkg
  core/cmd/wandb-core/main.go
  core/internal/leet/reader.go
  core/internal/leet/reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  core/internal/leet/reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(artifacts): define common pydantic base model for artifacts classes
  wandb/_pydantic/__init__.py
  wandb/_pydantic/base.py
  wandb/sdk/artifacts/_models/__init__.py
  wandb/sdk/artifacts/_models/base_model.py
Due: none

chore(artifacts): define common artifacts pydantic base type (#10376)
  wandb/_pydantic/__init__.py
  wandb/_pydantic/base.py
  wandb/sdk/artifacts/_models/__init__.py
  wandb/sdk/artifacts/_models/base_model.py
Due: none

move helpers out of model
  core/internal/leet/metrics.go
  core/internal/leet/model.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: fix wandb-core startup command in c# client
  experimental/client-csharp/src/Wandb/Internal/Manager.cs
Due: none

refactor(artifacts): rename _graphql_fragments.py -> _gqlutils.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: none

uncomment out File from init
  wandb/apis/public/__init__.py
  wandb/apis/public/files.py
Due: none

refactor(artifacts): rename _graphql_fragments.py -> _gqlutils.py (#10559)
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: none

update Artifact.link() to reflect registry terminology
  wandb/sdk/artifacts/artifact.py
Due: none

monitor runhandle
  core/internal/monitor/cwmetadata.go
  core/internal/monitor/cwmetadata_test.go
  core/internal/monitor/monitor.go
  core/internal/stream/wire_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

derived settings
  core/internal/runconsolelogs/runconsolelogs.go
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/runfiles_test.go
  core/internal/runfiles/uploader.go
  core/internal/runfilestest/runfilestest.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/wire.go
  core/internal/runsync/wire_gen.go
  core/internal/settings/derived.go
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  core/internal/stream/sender.go
  core/internal/stream/stream.go
  core/internal/stream/streaminject.go
  core/internal/stream/wire_gen.go
  core/internal/tensorboard/emitter.go
  core/internal/tensorboard/emitter_test.go
  core/internal/tensorboard/tensorboard.go
  core/internal/tensorboard/tensorboard_test.go
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

docs(sdk): uncomment out File from init (#10560)
  wandb/apis/public/__init__.py
  wandb/apis/public/files.py
Due: none

hack: add headers in s3 storage policy
  hack/test_headers.py
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
  wandb/util.py
Due: none

sanitize final name
  tests/unit_tests/test_launch/test_util.py
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/utils.py
Due: none

add test case
  tests/unit_tests/test_launch/test_util.py
Due: none

ruff
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/utils.py
Due: none

chore(launch): sanitize macros for additional service configs
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/utils.py
Due: none

PR comments
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/utils.py
Due: none

lint
  wandb/sdk/launch/utils.py
Due: none

chore(launch): sanitize object names to comply with RFC 1123 (#10548)
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  tests/unit_tests/test_launch/test_util.py
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/utils.py
Due: none

fix tests
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  tests/unit_tests/test_artifacts/test_saved_model.py
  tests/unit_tests/test_artifacts/test_validators.py
  wandb/apis/public/api.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/wandb_run.py
Due: none

minor naming cleanup for consistency
  wandb/sdk/artifacts/artifact.py
Due: none

lint fix
  tests/unit_tests/test_artifacts/test_saved_model.py
Due: none

refactor(artifacts): better handling, typing, and testing for internal ArtifactPath class (#10402)
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  tests/unit_tests/test_artifacts/test_saved_model.py
  tests/unit_tests/test_artifacts/test_validators.py
  wandb/apis/public/api.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_validators.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/wandb_run.py
Due: none

fix bug causing failing test
  tools/graphql_codegen/artifacts/misc.graphql
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_org_entity_from_entity.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/type_info.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Due: go-generate-graphql

hack: reference artifact requests cannot be proxied directly
  hack/test_headers.py
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
Due: none

hack: change s3 proxy to handle s3 requests
  hack/cmd/ws3proxy/go.mod
  hack/cmd/ws3proxy/go.sum
  hack/cmd/ws3proxy/main.go
  hack/http-header-context.md
  hack/start_proxy.sh
  hack/test_headers.py
  wandb/sdk/artifacts/storage_handlers/s3_handler.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

also update golang image
  tools/launch_release/build/Dockerfile
Due: none

chore(launch): bump launch agent go version from 1.24.5 to 1.25.1
  tools/launch_release/build/Dockerfile
Due: none

chore(launch): bump launch agent go version from 1.24.5 to 1.25.1 (#10563)
  tools/launch_release/build/Dockerfile
Due: none

feat: add history reader stub
  core/internal/runhistory/reader/historyreader.go
  core/internal/runhistory/reader/historyreader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update documentation
  core/internal/runhistoryreader/reader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move to runhistoryreader package
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat: add history reader stub (#10536)
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: lint
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Due: none

feat(launch): for public queue agents, use the user api key for run status checks (#10412)
  tests/unit_tests/test_launch/test_agent/test_launch_api_provider.py
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/agent/launch_api_provider.py
  wandb/sdk/launch/runner/abstract.py
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/runner/local_container.py
  wandb/sdk/launch/runner/sagemaker_runner.py
  wandb/sdk/launch/runner/vertex_runner.py
Due: none

refactor: use runhandle in cwmetadata (#10541)
  core/internal/monitor/cwmetadata.go
  core/internal/monitor/cwmetadata_test.go
  core/internal/monitor/monitor.go
  core/internal/stream/wire_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
