Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)

Add test for ComputeHexMD5
  core/pkg/utils/hash_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Update changelog
  CHANGELOG.md
Due: go-mod-tidy

Add test for getChunkSize
  core/pkg/artifacts/saver.go
  core/pkg/artifacts/saver_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

add _file_stream_max_bytes setting
  core/internal/filestream/collectloop.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/update.go
  core/internal/filestream/updatestats.go
  core/internal/filestreamtest/filestreamtest.go
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/settings/settings.go
  core/pkg/server/stream_init.go
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix bug; isAtMaxSize != isFullRequest
  core/internal/filestream/filestreamrequest.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

add _file_stream_max_bytes to wandb_settings.py
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-mod-tidy

chore(core): Add `@override` to method to silence lint
  hatch_build.py
  pyproject.toml
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  core/hatch.py
Due: go-mod-tidy

feat(core): Limit filestream request size
  core/internal/filestream/collectloop.go
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
  core/internal/filestream/transmitloop_test.go
  core/internal/filestream/update.go
  core/internal/filestream/updatestats.go
  core/internal/filestreamtest/filestreamtest.go
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/settings/settings.go
  core/pkg/server/stream_init.go
  core/pkg/service/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/lib/_settings_toposort_generated.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): fix grammatical issues in contributing doc (#7890)
  CONTRIBUTING.md
Due: go-mod-tidy

Start with a partNumber of 0 instead of 1
  core/pkg/artifacts/saver.go
  core/pkg/artifacts/saver_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

use mingw 12.2 on chocolatey
  .circleci/config.yml
Due: go-mod-tidy

fix(core): use correct headers for service account
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

also install mingw in win job for legacy unit tests :(
  .circleci/config.yml
Due: go-mod-tidy

update comment
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): Enable CGO on Windows when race detection is on; ci win
  .circleci/config.yml
  core/hatch.py
  noxfile.py
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(artifacts): Fix OSError on `Artifact.download(skip_cache=True)` when encountering different filesystems (#7835)
  CHANGELOG.md
  requirements_test.txt
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
Due: go-mod-tidy

First pass
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

fix(core): use correct headers for service account (#7898)
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

[𝘀𝗽𝗿] changes to main this commit is based on
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Update tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: go-mod-tidy

Update wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact.py
Due: go-mod-tidy

refactor(core): Move some error message properties to tags
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/runfiles/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor(core): Add URL to filestream error message
  core/internal/filestream/filestreamimpl.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

dont return response
  core/pkg/artifacts/linker.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix error function call
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): bump version 0.17.4->0.17.5.dev1
  .bumpversion.wandb.cfg
  core/internal/version/version.go
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): bump version to dev 0.17.4->0.17.5.dev1 (#7904)
  .bumpversion.wandb.cfg
  CHANGELOG.md
  core/internal/version/version.go
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix error display
  core/pkg/server/handler.go
  wandb/sdk/wandb_run.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Update CHANGELOG.md
  CHANGELOG.md
Due: go-mod-tidy

Update core/pkg/artifacts/saver.go
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Update core/pkg/utils/hash.go
  core/pkg/utils/hash.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

remove print from sender py
  wandb/sdk/internal/sender.py
Due: go-mod-tidy

[𝘀𝗽𝗿] initial version
  core/internal/filestream/filestream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): bump go version and add automation
  .bumpversion.go.cfg
  .circleci/config.yml
  CONTRIBUTING.md
  core/go.mod
  experimental/client-go/go.mod
  noxfile.py
Due: go-mod-tidy

shovel the business logic into a standalone script
  noxfile.py
  tools/get-go-version.py
Due: go-mod-tidy

shovel the business logic into a standalone script
  noxfile.py
Due: go-mod-tidy

chore(sdk): bump go version and add automation (#7906)
  .bumpversion.go.cfg
  .circleci/config.yml
  CONTRIBUTING.md
  core/go.mod
  experimental/client-go/go.mod
  noxfile.py
  tools/get-go-version.py
Due: go-mod-tidy
