Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)

refactor(core): Upload more context with CaptureFatal (#7801)
  core/internal/filestream/filestream.go
  core/internal/filetransfer/file_transfer_manager.go
  core/pkg/artifacts/linker.go
  core/pkg/observability/logging.go
  core/pkg/server/handler.go
  core/pkg/server/responder.go
  core/pkg/server/sender.go
  core/pkg/server/stream_init.go
  core/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix local path
  core/internal/filetransfer/file_transfer_gcs.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

fix(sdk): jsonify enum.Enum's as e.name (#7795)
  tests/pytest_tests/unit_tests/test_util.py
  wandb/util.py
Due: go-mod-tidy

refactor(core): Upload more context with CaptureError
  core/internal/filestream/filestreamimpl.go
  core/internal/filestream/updatehistory.go
  core/internal/filestream/updatelogs.go
  core/internal/filestream/updatestats.go
  core/internal/filestream/updatesummary.go
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_manager.go
  core/internal/runfiles/uploader.go
  core/internal/tensorboard/tensorboard.go
  core/internal/tensorboard/tfeventconverter.go
  core/internal/tensorboard/tfeventreader.go
  core/internal/tensorboard/tfeventstream.go
  core/internal/watcher/impl.go
  core/pkg/monitor/monitor.go
  core/pkg/observability/logging.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/stream.go
  core/pkg/server/sync.go
  core/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

feat(launch): Add prior runs to a sweep created from the SDK or CLI
  wandb/cli/cli.py
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

is ugly, but apparently works
  core/internal/filestream/updatesummary.go
  core/internal/runsummary/runsummary.go
  core/internal/runsummary/runsummary_test.go
  core/internal/runsummary/tree.go
  core/pkg/server/handler.go
  core/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

comment out prints
  core/internal/filestream/updatesummary.go
  core/internal/runsummary/runsummary.go
  core/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Add unit test and help text
  tests/pytest_tests/unit_tests/test_launch/test_internal_api.py
  wandb/cli/cli.py
Due: go-mod-tidy

fmt
  tests/pytest_tests/unit_tests/test_launch/test_internal_api.py
Due: go-mod-tidy

changelog
  CHANGELOG.md
Due: go-mod-tidy

clean up, uncomment tests
  core/internal/runmetric/runmetric.go
  core/internal/runsummary/runsummary.go
  core/internal/runsummary/tree.go
  core/pkg/service/wandb_telemetry.pb.go
  tests/pytest_tests/system_tests/test_core/test_metric_full.py
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

clean up, uncomment tests
  tests/pytest_tests/system_tests/test_core/test_metric_full.py
Due: go-mod-tidy

update core readme
  core/README.md
Due: go-mod-tidy

fail tests that are yet broken
  tests/pytest_tests/system_tests/test_core/test_metric_full.py
Due: go-mod-tidy

add telemetry
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

clean up
  core/internal/runsummary/runsummary.go
  core/internal/runsummary/tree.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): update docstring in generated protobuf v5 stubs
  wandb/proto/v5/wandb_internal_pb2.pyi
Due: go-mod-tidy

chore(sdk): update docstring in generated protobuf v5 stubs (#7804)
  wandb/proto/v5/wandb_internal_pb2.pyi
Due: go-mod-tidy

feat(launch): Add prior runs when creating a sweep from the CLI (#7803)
  CHANGELOG.md
  tests/pytest_tests/unit_tests/test_launch/test_internal_api.py
  wandb/cli/cli.py
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

fix(launch): Correctly set job source in custom scheduler case (#7786)
  tests/pytest_tests/unit_tests/test_launch/test_project/test_project.py
  wandb/sdk/launch/_project_spec.py
Due: go-mod-tidy

wip
  core/pkg/service/wandb_settings.pb.go
  tests/pytest_tests/unit_tests/test_lib/test_credentials.py
  tests/pytest_tests/unit_tests/test_wandb_settings.py
  wandb/env.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/credentials.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-mod-tidy, go-build

format
  wandb/env.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/credentials.py
Due: go-mod-tidy

fix
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

format
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

Add existing runs to a new sweep from the SDK
  wandb/sdk/wandb_sweep.py
Due: go-mod-tidy

format
  wandb/env.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/credentials.py
  wandb/sdk/wandb_login.py
Due: go-mod-tidy

format
  wandb/env.py
  wandb/sdk/lib/credentials.py
Due: go-mod-tidy

Update gpu.py
  wandb/sdk/internal/system/assets/gpu.py
Due: go-mod-tidy

fix:public-api: Added test for update method
  tests/pytest_tests/system_tests/test_core/test_public_api.py
Due: go-mod-tidy

fix(sdk): fix issues with numpy 2.0 support
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/unit_tests/test_dtypes.py
  wandb/sdk/data_types/_dtypes.py
  wandb/sdk/data_types/object_3d.py
Due: go-mod-tidy

fix(sdk): fix issues with numpy 2.0 support
  CHANGELOG.md
  tests/pytest_tests/unit_tests/test_dtypes.py
Due: go-mod-tidy

fix(sdk): fix issues with numpy 2.0 support
  CHANGELOG.md
Due: go-mod-tidy

fix a missed test
  tests/pytest_tests/unit_tests/test_dtypes.py
Due: go-mod-tidy

skip test_sync_tensorboard until tb add np>=2 support
  tests/pytest_tests/system_tests/test_core/test_cli_full.py
Due: go-mod-tidy

fix(sdk): guard against unexpected pynvml errors when probing GPU info (#7815)
  wandb/sdk/internal/system/assets/gpu.py
Due: go-mod-tidy

fix(sdk): fix issues with numpy 2.0 support (#7816)
  CHANGELOG.md
  tests/pytest_tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/pytest_tests/system_tests/test_core/test_cli_full.py
  tests/pytest_tests/unit_tests/test_dtypes.py
  wandb/sdk/data_types/_dtypes.py
  wandb/sdk/data_types/object_3d.py
Due: go-mod-tidy

chore(sdk): bump version to 0.17.3.dev1
  .bumpversion.wandb.cfg
  core/internal/version/version.go
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(sdk): bump version to 0.17.3.dev1 (#7817)
  .bumpversion.wandb.cfg
  CHANGELOG.md
  core/internal/version/version.go
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

wip
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

rm extra telemetry. prob unnecessary
  core/pkg/server/sender.go
  core/pkg/service/wandb_telemetry.pb.go
  wandb/proto/v3/wandb_telemetry_pb2.py
  wandb/proto/v3/wandb_telemetry_pb2.pyi
  wandb/proto/v4/wandb_telemetry_pb2.py
  wandb/proto/v4/wandb_telemetry_pb2.pyi
  wandb/proto/v5/wandb_telemetry_pb2.py
  wandb/proto/v5/wandb_telemetry_pb2.pyi
  wandb/proto/wandb_telemetry.proto
  wandb/sdk/wandb_run.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build
