Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

dedicated session channels
  go.mod
  go.sum
  internal/ptysession/manager.go
  internal/ptysession/ptysession.go
  internal/websocket/client.go
  pkg/agent/agent.go
  pkg/payloads/session_input_generated.go
  pkg/payloads/session_output_generated.go
  pkg/payloads/session_resize_generated.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix buf issue
  internal/ptysession/ptysession.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add openapi client
  cmd/ctrlc/ctrlc.go
  cmd/ctrlc/root/agent/run/run.go
  go.mod
  go.sum
  internal/ctrlclient/client.gen.go
  internal/ctrlclient/ctrlclient.go
  openapi.client.yaml
  openapi.json
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix conflict
  gpu_stats/src/wandb_internal.rs
  wandb/proto/wandb_settings.proto
Due: go-generate-proto

fix conflict
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto

fix job builder tests
  tests/unit_tests/test_job_builder.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/wandb_settings.py
Due: none

fix more tests
  tests/unit_tests/test_launch/test_create_job.py
  tests/unit_tests/test_system_metrics/test_system_monitor.py
Due: none

fix more tests
  tests/unit_tests/test_system_metrics/test_system_monitor.py
  wandb/sdk/wandb_settings.py
Due: none

remove unused import
  tests/system_tests/test_core/test_wandb_integration.py
Due: none

wip
  core/internal/api/api.go
  core/internal/api/api_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api.go
  core/internal/gql/v2/gql_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api.go
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/gql/v2/gql_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api.go
  core/internal/api/api_test.go
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
  core/internal/api/send.go
  core/internal/settings/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/credentials.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

tidy
  CHANGELOG.md
  core/internal/api/credentials.go
  core/internal/api/send.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api_test.go
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix test
  core/internal/api/credentials_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api.go
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

tidy
  core/internal/api/api_test.go
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

pr feedback
  CHANGELOG.md
  core/internal/api/api.go
  core/internal/api/api_test.go
  core/internal/apitest/apitest.go
  core/internal/apitest/recordingserver.go
  core/internal/auth/credentials.go
  core/internal/auth/credentials_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api_test.go
  core/internal/api/credentials.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api_test.go
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api.go
  core/internal/api/credentials_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  CHANGELOG.md
Due: none

wip
  core/internal/api/credentials.go
  core/internal/api/credentials_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix more tests
  tests/unit_tests/test_wandb_run.py
  wandb/sdk/wandb_run.py
  wandb/sdk/wandb_settings.py
Due: none

chore: wandb_backend_spy was_ever_preempting (#8788)
  tests/system_tests/test_core/test_wandb_integration.py
  tests/system_tests/wandb_backend_spy/spy.py
Due: none

[𝘀𝗽𝗿] initial version
  tests/system_tests/test_notebooks/.gitignore
  tests/system_tests/test_notebooks/conftest.py
Due: none

fix more tests
  tests/unit_tests/test_sender.py
  tests/unit_tests/test_wandb_run.py
  wandb/sdk/wandb_init.py
Due: none

chore: work around jupyter parallelism bug in notebook tests (#8835)
  tests/system_tests/test_notebooks/.gitignore
  tests/system_tests/test_notebooks/conftest.py
Due: none

fix more tests
  tests/unit_tests/test_wandb_init.py
Due: none

[𝘀𝗽𝗿] initial version
  wandb/util.py
Due: none
