Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$
  go-generate-graphql: any of: \.graphql$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: core/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: core/pkg/service/
  go-build: any of: \.go$

chore: make ci happy
  tests/functional_tests/t0_main/diffusers/t1_sdxl_generation.py
  tests/functional_tests/t0_main/diffusers/t2_pixart_alpha_generation.py
  tests/functional_tests/t0_main/diffusers/t4_audioldm2_generation.py
Due: none

update: functional tests
  tests/functional_tests/t0_main/diffusers/t4_audioldm2_generation.yea
  tests/functional_tests/t0_main/diffusers/t5_animatediff_generation.yea
Due: none

Changes to docstrings
  wandb/data_types.py
Due: none

Spacing
  wandb/data_types.py
Due: none

save progress
  tests/pytest_tests/system_tests/benchmarks/bench.py
  tests/pytest_tests/system_tests/benchmarks/test_perf.py
Due: none

feat(sdk): make attach interplanetary
  core/pkg/service/wandb_internal.pb.go
  core/scripts/generate-proto.sh
  eval.py
  train.py
  wandb/__init__.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/__init__.py
  wandb/sdk/service/service_sock.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_manager.py
  wandb/sdk/wandb_require.py
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

lint
  eval.py
  wandb/sdk/wandb_manager.py
Due: none

add another dervide setting for now
  client/src/wandb_internal.rs
  core/pkg/filestream/filestream.go
  core/pkg/filestream/loop_process.go
  core/pkg/server/sender.go
  core/pkg/service/wandb_base.pb.go
  core/pkg/service/wandb_internal.pb.go
  core/pkg/service/wandb_server.pb.go
  core/pkg/service/wandb_settings.pb.go
  core/pkg/service/wandb_telemetry.pb.go
  train.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

make partial history work
  core/pkg/filestream/loop_process.go
  core/pkg/server/history.go
  core/pkg/server/sender.go
  train.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  core/pkg/service/wandb_base.pb.go
  core/pkg/service/wandb_internal.pb.go
  core/pkg/service/wandb_server.pb.go
  core/pkg/service/wandb_settings.pb.go
  core/pkg/service/wandb_telemetry.pb.go
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

check work with init
  eval.py
Due: none

try
  wandb/sdk/artifacts/artifact.py
Due: none

add warning message for the async with step
  wandb/sdk/wandb_run.py
Due: none

test
  wandb/apis/importers/internals/config.py
  wandb/apis/importers/wandb/wandb.py
Due: none

rm attach
  core/pkg/service/wandb_internal.pb.go
  eval.py
  train.py
  wandb/__init__.py
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
  wandb/sdk/__init__.py
  wandb/sdk/service/service_sock.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_manager.py
  wandb/sdk/wandb_require.py
Due: go-generate-proto, go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

codegen
  wandb/sdk/lib/_settings_toposort_generated.py
Due: none

lint
  client/src/wandb_internal.rs
Due: none

minor clean up
  core/pkg/filestream/filestream.go
  core/pkg/filestream/loop_process.go
  core/pkg/server/history.go
  core/pkg/server/sender.go
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

another minor clean up
  core/pkg/server/history.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update core/pkg/server/history.go
  core/pkg/server/history.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update: functional tests
  tests/functional_tests/t0_main/diffusers/t1_sdxl_generation.yea
  tests/functional_tests/t0_main/diffusers/t2_pixart_alpha_generation.yea
  tests/functional_tests/t0_main/diffusers/t3_sd_batched_generation.yea
  tests/functional_tests/t0_main/diffusers/t4_audioldm2_generation.yea
  tests/functional_tests/t0_main/diffusers/t5_animatediff_generation.yea
Due: none

chore: fix linting
  tests/functional_tests/t0_main/diffusers/t2_pixart_alpha_generation.py
Due: none

update: functional tests
  tests/functional_tests/t0_main/diffusers/t2_pixart_alpha_generation.yea
Due: none

update: functional tests
  tests/functional_tests/t0_main/diffusers/t1_sdxl_generation.yea
Due: none

update: functional tests
  tests/functional_tests/t0_main/diffusers/t3_sd_batched_generation.yea
Due: none

Fixed trailing whitespaces
  wandb/sdk/wandb_sweep.py
  wandb/wandb_agent.py
Due: none

Removed sweep code example test
  tests/functional_tests/t0_main/doctest/one-parameter-sweep.yea
Due: none

Removed old code check
  tests/functional_tests/t0_main/doctest/one-parameter-sweep-agent.yea
Due: none

Implement abstract queue driver and standard queue driver
  wandb/sdk/launch/agent2/job_set.py
  wandb/sdk/launch/queue_driver/abstract.py
  wandb/sdk/launch/queue_driver/standard_queue_driver.py
  wandb/sdk/launch/utils.py
Due: none

fix fail
  wandb/sdk/launch/queue_driver/standard_queue_driver.py
Due: none

pre commit
  wandb/cli/cli.py
  wandb/wandb_agent.py
Due: none

Fix abstract class
  wandb/sdk/launch/queue_driver/abstract.py
  wandb/sdk/launch/queue_driver/standard_queue_driver.py
Due: none

fiddle with scripts
  eval.py
  train.py
Due: none

Make queue driver async
  wandb/sdk/launch/agent2/job_set.py
  wandb/sdk/launch/queue_driver/abstract.py
  wandb/sdk/launch/queue_driver/standard_queue_driver.py
  wandb/sdk/launch/utils.py
Due: none

Update video.py: Fix fps bug
  wandb/sdk/data_types/video.py
Due: none

docs(sdk): Update sweep docstrings (#6830)
  tests/functional_tests/t0_main/doctest/one-parameter-sweep-agent.yea
  tests/functional_tests/t0_main/doctest/one-parameter-sweep.yea
  wandb/cli/cli.py
  wandb/sdk/wandb_sweep.py
  wandb/wandb_agent.py
Due: none

add clientId back in
  core/pkg/filestream/filestream.go
  core/pkg/filestream/loop_process.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
