Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-mod-tidy:
  name: go-mod-tidy
  entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
  pass_filenames: false
  language: script
  description: Runs `go mod tidy -v`, requires golang

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

fixed tests + docstring + ruff
  wandb/sdk/wandb_run.py
Due: go-mod-tidy

wip
  wandb/sdk/internal/internal_api.py
  wandb/util.py
Due: go-mod-tidy

call from import
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

pre-commit
  wandb/util.py
Due: go-mod-tidy

pre-commit otherfile...
  wandb/sdk/internal/internal_api.py
Due: go-mod-tidy

save progress
  client/cmd/client/main.go
  client/hatch.py
  client/internal/connection/connection.go
  client/internal/execbin/execbin.go
  client/internal/execbin/forkexec_linux.go
  client/internal/execbin/forkexec_notlinux.go
  client/internal/launcher/launcher.go
  client/pkg/client/session.go
  client/pkg/run/run.go
  client/pkg/session/session.go
  wandb/__init__.py
  wandb/lib/__init__.py
  wandb/lib/lib.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

add launcher logic
  client/internal/launcher/launcher.go
  client/pkg/session/session.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Warn when wandb is missing from requirements
  wandb/sdk/launch/_project_spec.py
  wandb/sdk/launch/create_job.py
Due: go-mod-tidy

add teardown
  client/cmd/client/main.go
  client/go.mod
  client/go.sum
  client/internal/connection/connection.go
  client/pkg/session/session.go
  wandb/__init__.py
  wandb/lib/lib.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

dummy commit
  CONTRIBUTING.md
Due: go-mod-tidy

format file
  core/internal/api/ratelimitheaders_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

clean up api
  .pre-commit-config.yaml
  client/cmd/client/main.go
  client/internal/launcher/launcher.go
  client/pkg/run/run.go
  client/pkg/session/session.go
  wandb/__init__.py
  wandb/lib/__init__.py
  wandb/lib/lib.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

clean up api
  client/cmd/client/main.go
  client/pkg/session/session.go
  wandb/lib/lib.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

clean up api
  wandb/lib/lib.py
Due: go-mod-tidy

chore(sdk): update ruff pre-commit to v0.4.4 and lint
  wandb/apis/public/artifacts.py
  wandb/cli/cli.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_handlers/local_file_handler.py
  wandb/sdk/artifacts/storage_handlers/tracking_handler.py
  wandb/sdk/data_types/video.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/system/system_info.py
  wandb/sdk/lib/apikey.py
  wandb/wandb_controller.py
Due: go-mod-tidy

doc string, better class name
  wandb/sdk/internal/internal_api.py
  wandb/util.py
Due: go-mod-tidy

return type
  wandb/apis/public/artifacts.py
Due: go-mod-tidy

changelog
  CHANGELOG.md
Due: go-mod-tidy

fix(sweeps): Interpret non-octal strings with leading zeros as strings and not integers in sweep configs (#7649)
  CHANGELOG.md
  wandb/sdk/internal/internal_api.py
  wandb/util.py
Due: go-mod-tidy

chore(artifacts): add updateArtifact mutation to wandb-core code gen
  core/api/graphql/mutation_update_artifact.graphql
  core/internal/gql/gql_gen.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

chore(artifacts): add updateArtifact mutation to wandb-core code gen (#7650)
  core/api/graphql/mutation_update_artifact.graphql
  core/internal/gql/gql_gen.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Add unit tests
  tests/pytest_tests/unit_tests/test_launch/test_create_job.py
  tests/pytest_tests/unit_tests/test_launch/test_project/test_project.py
Due: go-mod-tidy

few more mods to network traffic
  tests/pytest_tests/unit_tests/test_system_metrics/test_network_traffic.py
  wandb/sdk/internal/system/assets/network.py
Due: go-mod-tidy

Use buffered channels and background workers to manage the upload work queue
  core/internal/filetransfer/file_transfer_manager.go
  core/pkg/artifacts/saver.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Avoid division by 0
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

call it _WANDB_NG
  wandb/__init__.py
Due: go-mod-tidy

Rename fileSpecs->namedFileSpecs
  core/pkg/artifacts/saver.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Update changelog
  CHANGELOG.md
Due: go-mod-tidy

sweep it, sweep it, little star
  client/internal/execbin/execbin.go
  client/internal/execbin/forkexec_linux.go
  client/internal/execbin/forkexec_notlinux.go
  client/internal/launcher/launcher.go
  wandb/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

Add warning in build step
  tests/pytest_tests/unit_tests/test_launch/test_builder/test_build.py
  wandb/sdk/launch/builder/build.py
Due: go-mod-tidy

chore(launch): Warn when wandb is missing from requirements (#7653)
  tests/pytest_tests/unit_tests/test_launch/test_builder/test_build.py
  tests/pytest_tests/unit_tests/test_launch/test_create_job.py
  tests/pytest_tests/unit_tests/test_launch/test_project/test_project.py
  wandb/sdk/launch/_project_spec.py
  wandb/sdk/launch/builder/build.py
  wandb/sdk/launch/create_job.py
Due: go-mod-tidy

add some comments and error code to teardown
  client/cmd/client/main.go
  client/internal/connection/connection.go
  client/internal/launcher/launcher.go
  client/pkg/session/session.go
  wandb/lib/lib.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

refactor
  wandb/apis/public/artifacts.py
Due: go-mod-tidy

ramit test
  tests/pytest_tests/unit_tests/test_wandb_log.py
Due: go-mod-tidy

Send multipart request and use responses to upload large files
  core/api/graphql/mutation_complete_multipart_upload_artifact.graphql
  core/api/graphql/mutation_create_artifact_files.graphql
  core/internal/filetransfer/file_transfer_default.go
  core/internal/filetransfer/file_transfer_default_test.go
  core/internal/filetransfer/tasks.go
  core/internal/gql/gql_gen.go
  core/pkg/artifacts/saver.go
  core/pkg/utils/hash.go
Due: go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-mod-tidy, go-build

test
  wandb/apis/reports/v2/interface.py
  wandb/apis/reports/v2/internal.py
  wandb/apis/workspaces/__init__.py
  wandb/apis/workspaces/interface.py
  wandb/apis/workspaces/internal.py
Due: go-mod-tidy

adding trust flag in use_model
  wandb/beta/workflows.py
Due: go-mod-tidy

add compressed repr
  wandb/apis/reports/v2/interface.py
Due: go-mod-tidy

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(core/vendor/)
  go-generate-graphql: any of: \.graphql$, but not: ^(core/vendor/)
  go-fmt: any of: \.go$, but not: ^(core/vendor/)
  go-imports: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-unit-tests: any of: \.go$, but not: ^(core/vendor/)
  go-vet: any of: \.go$, but not: ^(core/vendor/)
  golangci-lint: any of: \.go$, but not: ^(core/vendor/)
  go-critic: any of: \.go$, but not: ^(core/vendor/)
  go-cyclo: any of: \.go$, but not: (core/pkg/service/|core/vendor/)
  go-mod-tidy: any file but: ^(core/vendor/)
  go-build: any of: \.go$, but not: ^(core/vendor/)
