Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

.pre-commit-config.yaml:

# Exclude:
#   * vendored code
#   * generated protobuf files
exclude: '^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$'

default_stages:
  - pre-push
default_install_hook_types: [pre-push, pre-commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.11"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [proto]
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^(wandb/|tests/|src/|.bumpversion.*.cfg)
      - id: end-of-file-fixer
        exclude: ^(wandb/|tests/|src/|.*_durations)
      - id: check-added-large-files
      - id: check-executables-have-shebangs
        exclude: ^(wandb/|tests/|landfill/)
      - id: check-symlinks
      - id: check-yaml
        exclude: ^(wandb/|tests/)
      - id: check-toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
        exclude: ^(wandb/__init__.py|tools/graphql_codegen/plugin\.py)$
      - id: forbid-submodules
      - id: check-shebang-scripts-are-executable
        exclude: ^(wandb/|tests/|landfill/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd core && golangci-lint run'
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-stubs
        name: generate-stubs
        entry: python3 tools/generate_stubs.py
        language: python
        pass_filenames: false
        always_run: true
        additional_dependencies: ["ruff", "astunparse>=1.6.3"]
        description: "Generates stubs for wandb module"
      - id: go-generate-proto
        name: go-generate-proto
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.proto$'
        args:
          - ./api/proto
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-generate-graphql
        name: go-generate-graphql
        entry: core/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.graphql$'
        args:
          - ./api/graphql
        pass_filenames: false
        language: script
        description: "Runs `go generate`, requires golang"
      - id: go-wire
        name: go-wire
        description: Regenerates https://github.com/google/wire files.
        entry: core/scripts/pre-commit-hooks/run-go-wire.sh
        files: '\.go$'
        pass_filenames: false
        language: script
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: core/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: script
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-unit-tests
        name: go-unit-tests
        entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: script
        description: "Runs `go test`"
        require_serial: true
      - id: rust-unit-tests
        name: rust-unit-tests
        entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo test`"
        require_serial: true
      - id: rust-build
        name: rust-build
        entry: core/scripts/pre-commit-hooks/run-rust-build.sh
        files: 'parquet-rust-wrapper/.*\.rs$'
        language: script
        description: "Runs `cargo build`"
        require_serial: true
      - id: go-build
        name: go-build
        entry: core/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: script
        description: "Runs `go build`, requires golang"

wbapi refactor
  core/internal/wbapi/wbapi.go
  core/internal/wbapi/wbapi_manager.go
  core/internal/wbapi/wbapimanager.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

fix(api): handle run.files() when API returns files=None
  wandb/apis/public/files.py
Due: none

refactor: clean up wbapi comments and naming (#11482)
  core/internal/wbapi/wbapi.go
  core/internal/wbapi/wbapi_manager.go
  core/internal/wbapi/wbapimanager.go
  core/pkg/server/connection.go
Due: go-wire, go-unit-tests, go-build

wbapi proto refactor
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/service_api.py
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

initial prototype
  wandb/__init__.py
  wandb/data_types.py
  wandb/sdk/data_types/_weave_eval.py
  wandb/sdk/data_types/table.py
  wandb/sdk/data_types/utils.py
Due: none

format
  wandb/sdk/data_types/_weave_eval.py
Due: none

proto and try to fix test
  core/pkg/service_go_proto/wandb_internal.pb.go
  core/pkg/service_go_proto/wandb_system_monitor_grpc.pb.go
  gpu_stats/src/wandb_internal.rs
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_base_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_server_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_sync_pb2.pyi
  wandb/proto/v6/wandb_telemetry_pb2.pyi
Due: none

monkeypatch artifact attributes
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: none

try to fix test again
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: none

monkeypath is_draft too
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: none

fix hex hash
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: none

support compare page
  wandb/sdk/data_types/_weave_eval.py
Due: none

fallback url doesnt need filename - digest is enough
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
Due: none

upload performance improvements
  wandb/sdk/data_types/_weave_eval.py
  wandb/sdk/data_types/table.py
Due: none

format
  wandb/sdk/data_types/table.py
Due: none

refactor: wandb_api.proto (#11484)
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_api.pb.go
  wandb/apis/public/service_api.py
  wandb/proto/v4/wandb_api_pb2.py
  wandb/proto/v4/wandb_api_pb2.pyi
  wandb/proto/v5/wandb_api_pb2.py
  wandb/proto/v5/wandb_api_pb2.pyi
  wandb/proto/v6/wandb_api_pb2.py
  wandb/proto/v6/wandb_api_pb2.pyi
  wandb/proto/wandb_api.proto
  wandb/sdk/lib/service/service_connection.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

unused serverfeaturerequest
  core/internal/stream/handler.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-wire, go-unit-tests, go-build

refactor: remove unused ServerFeatureRequest and response protos (#11486)
  core/internal/stream/handler.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.py
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-wire, go-unit-tests, go-build

update changelog
  CHANGELOG.unreleased.md
Due: none

fix: missing logic for calculating diff from fork point on different branch
  core/internal/gitops/git.go
  core/internal/stream/handler.go
Due: go-wire, go-unit-tests, go-build

add unit tests
  core/internal/gitops/git.go
  core/internal/gitops/git_test.go
Due: go-wire, go-unit-tests, go-build

add setting to enable inferring fork point from upstream branches
  core/internal/gitops/git.go
  core/internal/settings/settings.go
  core/internal/stream/handler.go
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_settings.py
Due: go-generate-proto, go-wire, go-unit-tests, go-build

fix failing tests
  tests/system_tests/test_core/test_git.py
Due: none

restack and update
  core/internal/gitops/git_test.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/sdk/wandb_settings.py
Due: go-wire, go-unit-tests, go-build

add system tests
  tests/system_tests/test_core/test_git.py
Due: none

update proto
  core/pkg/service_go_proto/wandb_internal.pb.go
  gpu_stats/src/wandb_internal.rs
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/v6/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

update from pr comments
  CHANGELOG.unreleased.md
  core/internal/gitops/git.go
  core/internal/gitops/git_test.go
  tests/system_tests/test_core/test_git.py
  wandb/sdk/wandb_settings.py
Due: go-wire, go-unit-tests, go-build

fix proto-go
  core/pkg/service_go_proto/wandb_api.pb.go
  core/pkg/service_go_proto/wandb_base.pb.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  core/pkg/service_go_proto/wandb_server.pb.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  core/pkg/service_go_proto/wandb_system_monitor.pb.go
  core/pkg/service_go_proto/wandb_system_monitor_grpc.pb.go
  core/pkg/service_go_proto/wandb_telemetry.pb.go
Due: none

rerun proto go
  core/pkg/service_go_proto/wandb_api.pb.go
  core/pkg/service_go_proto/wandb_base.pb.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  core/pkg/service_go_proto/wandb_server.pb.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  core/pkg/service_go_proto/wandb_sync.pb.go
  core/pkg/service_go_proto/wandb_system_monitor.pb.go
  core/pkg/service_go_proto/wandb_system_monitor_grpc.pb.go
  core/pkg/service_go_proto/wandb_telemetry.pb.go
Due: none

fix proto-go
  core/pkg/service_go_proto/wandb_system_monitor_grpc.pb.go
Due: none

runwork request
  core/internal/runwork/request.go
  core/internal/runwork/request_test.go
  core/internal/runworktest/requests.go
Due: go-wire, go-unit-tests, go-build

fix(launch): copy wandb executable into launch agent image (#11483)
  tools/launch_release/build/Dockerfile
Due: none

remove newline from changelog
  CHANGELOG.unreleased.md
Due: none

try system test
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: none

address further feedback
  CHANGELOG.unreleased.md
  core/cmd/wandb-core/main.go
  core/pkg/server/connection_test.go
  core/pkg/server/server.go
  wandb/cli/beta.py
  wandb/cli/beta_core.py
  wandb/sdk/lib/service/service_process.py
Due: go-wire, go-unit-tests, go-build

fix system test
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
Due: none

improve docs and edirect standard streams
  core/pkg/server/server_test.go
  wandb/cli/beta.py
  wandb/cli/beta_core.py
  wandb/sdk/lib/service/service_process.py
Due: go-wire, go-unit-tests, go-build

fix test
  tests/unit_tests/test_cli_beta_core.py
Due: none
