Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-fmt:
  name: go-fmt
  entry: core/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: core/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: core/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: core/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: core/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: core/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=21

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

use stable-baselines3 with gymnasium support
  requirements_dev.txt
Due: none

fix(launch): allow for repeated $ref usage in _replace_refs_and_allofs function (#8573)
  wandb/sdk/launch/inputs/internal.py
Due: none

Update requirements_dev.txt
  requirements_dev.txt
Due: none

Update test_tb_w_sb3.py
  tests/system_tests/test_functional/test_tensorboard/test_tb_w_sb3.py
Due: none

fix proto merge
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.py
Due: none

comments
  CHANGELOG.md
  core/pkg/artifacts/linker.go
  core/pkg/artifacts/utils.go
  wandb/sdk/internal/internal_api.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix test after changing error
  core/pkg/server/registry_artifact_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

make the errors a little better
  core/pkg/artifacts/linker.go
  wandb/sdk/internal/internal_api.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

make the error show up by casting to string
  wandb/sdk/internal/internal_api.py
Due: none

nit
  experimental/client-csharp/src/Wandb/Wandb.cs
Due: none

fix: wandb log data key writing to a different path when the key starts with a slash ('/')
  wandb/sdk/data_types/base_types/media.py
Due: none

update changelog
  CHANGELOG.md
Due: none

rename login->authenticate
  core/pkg/server/connection.go
  core/pkg/service_go_proto/wandb_server.pb.go
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Internal/TcpClient.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/wandb_server.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

make vars constant, nil check on isTruncated
  core/internal/filetransfer/file_transfer_s3.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add docs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Internal/TcpClient.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
  wandb/proto/wandb_server.proto
Due: go-generate-proto

add docs
  core/pkg/service_go_proto/wandb_server.pb.go
Due: none

add tests to ensure that media is stored in the run directory path
  tests/system_tests/test_artifacts/conftest.py
  tests/system_tests/test_artifacts/test_data_types.py
Due: none

add errors
  core/pkg/server/connection.go
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix error path
  core/pkg/server/connection.go
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix error path
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: skip import for py3.12 as it is not supported
  requirements_dev.txt
Due: none

clean up
  core/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add tags to expected wandb message
  tests/unit_tests/test_analytics/test_sentry.py
Due: none

clean up
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
Due: none

try this instead
  requirements_dev.txt
Due: none

chore: skip installing latest gymnasium as it breaks sb3 (#8579)
  requirements_dev.txt
Due: none

feat: verify login credentials in experimental c# client (#8570)
  core/pkg/server/connection.go
  core/pkg/server/handler.go
  core/pkg/service_go_proto/wandb_server.pb.go
  experimental/client-csharp/examples/Basic/Program.cs
  experimental/client-csharp/src/Wandb/.editorconfig
  experimental/client-csharp/src/Wandb/Internal/SocketInterface.cs
  experimental/client-csharp/src/Wandb/Internal/TcpClient.cs
  experimental/client-csharp/src/Wandb/Wandb.cs
  wandb/proto/v3/wandb_server_pb2.py
  wandb/proto/v3/wandb_server_pb2.pyi
  wandb/proto/v4/wandb_server_pb2.py
  wandb/proto/v4/wandb_server_pb2.pyi
  wandb/proto/v5/wandb_server_pb2.py
  wandb/proto/v5/wandb_server_pb2.pyi
  wandb/proto/wandb_server.proto
Due: go-generate-proto, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): pass in run GQL id when editing run
  core/internal/runbranch/resume.go
  core/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove uneeded field
  tests/unit_tests/test_analytics/sentry_relay.py
Due: none

feat(sdk): track async tasks using WandbOperation (#8530)
  core/internal/filestream/filestream.go
  core/internal/filestream/filestreamimpl.go
  core/internal/filetransfer/file_transfer_default.go
  core/internal/runfiles/runfiles.go
  core/internal/runfiles/saved_file.go
  core/internal/runfiles/uploader.go
  core/pkg/artifacts/saver.go
  core/pkg/server/handler.go
  core/pkg/server/sender.go
  core/pkg/server/sender_test.go
  core/pkg/server/stream.go
  core/pkg/server/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

[𝘀𝗽𝗿] initial version
  nvidia_gpu_stats/hatch.py
Due: none

[𝘀𝗽𝗿] initial version
  core/pkg/server/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update error message with expected and received crc32 values for tensorboard events
  core/internal/tensorboard/tfeventreader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
