Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-wire, go-unit-tests, rust-unit-tests, rust-build, go-build

go-generate-proto:
  name: go-generate-proto
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/proto
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-generate-graphql:
  name: go-generate-graphql
  entry: core/scripts/pre-commit-hooks/run-go-generate.sh
  args:
  - ./api/graphql
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

go-wire:
  name: go-wire
  description: Regenerates https://github.com/google/wire files.
  entry: core/scripts/pre-commit-hooks/run-go-wire.sh
  pass_filenames: false
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: core/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

rust-unit-tests:
  name: rust-unit-tests
  entry: core/scripts/pre-commit-hooks/run-rust-unit-tests.sh
  language: script
  description: Runs `cargo test`
  require_serial: true

rust-build:
  name: rust-build
  entry: core/scripts/pre-commit-hooks/run-rust-build.sh
  language: script
  description: Runs `cargo build`
  require_serial: true

go-build:
  name: go-build
  entry: core/scripts/pre-commit-hooks/run-go-build.sh
  language: script
  description: Runs `go build`, requires golang

ci: collect coverage from macOS and Windows unit tests too
  .circleci/config.yml
  .github/workflows/datadog-coverage.yml
Due: none

ci: simplify the Datadog coverage relay
  .github/scripts/upload_coverage_to_datadog.py
  .github/workflows/datadog-coverage.yml
Due: none

Delete tests/unit_tests/test_interface_run_record.py
  tests/unit_tests/test_interface_run_record.py
Due: none

chore: remove proto v4 files that were accidentally added back in 6de56a3bd62fa472503fbef3213ca1cdd4790905
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
Due: none

Update wandb/proto/wandb_internal.proto
  wandb/proto/wandb_internal.proto
Due: go-generate-proto

chore: remove proto v4 files that were accidentally added back (#12614)
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
Due: none

lint
  tests/unit_tests/test_cli_leet.py
Due: none

feat(leet): send launch telemetry through the W&B OTel proxy
  core/.golangci.yml
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/leet/analytics.go
  tests/unit_tests/test_cli_leet.py
  wandb/cli/leet.py
Due: go-wire, go-unit-tests, go-build

remove "auto" from list of resume options that set `RunRecord.resume=True`
  wandb/sdk/interface/interface.py
Due: none

chore: regenerate stubs
  core/pkg/service_go_proto/wandb_internal.pb.go
  xpu/src/wandb_internal.rs
Due: none

feat(leet): send launch telemetry through the W&B OTel proxy (#12607)
  core/.golangci.yml
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/leet/analytics.go
  tests/unit_tests/test_cli_leet.py
  wandb/cli/leet.py
Due: go-wire, go-unit-tests, go-build

feat(leet): record session duration telemetry
  core/cmd/wandb-core/main.go
Due: go-wire, go-unit-tests, go-build

feat(leet): highlight pane/sidebar separator lines on mouseover
  core/internal/leet/dragresize.go
  core/internal/leet/dragresize_test.go
  core/internal/leet/inspector.go
  core/internal/leet/inspectorview.go
  core/internal/leet/model.go
  core/internal/leet/rightsidebar.go
  core/internal/leet/run.go
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/styles.go
  core/internal/leet/tui_test.go
  core/internal/leet/workspace.go
Due: go-wire, go-unit-tests, go-build

record duration as a hist
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/analyticstest/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

test(gitops): isolate temporary repos from hook environment
  core/internal/gitops/git_test.go
Due: go-wire, go-unit-tests, go-build

feat(leet): record session duration telemetry (#12608)
  core/cmd/wandb-core/main.go
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
  core/internal/analyticstest/opentelemetryproxy.go
Due: go-wire, go-unit-tests, go-build

fix(leet): cue separators only during active drags
  core/internal/leet/dragresize.go
  core/internal/leet/dragresize_test.go
  core/internal/leet/inspector.go
  core/internal/leet/model.go
  core/internal/leet/rightsidebar.go
  core/internal/leet/runoverviewsidebar.go
  core/internal/leet/styles.go
  core/internal/leet/tui_test.go
Due: go-wire, go-unit-tests, go-build

test(gitops): remove package-wide setup
  core/internal/gitops/git_test.go
Due: go-wire, go-unit-tests, go-build

chore: remove auth from wandb-core for publishing opentelemetry
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

chore(sdk): shadow macOS tests in GitHub Actions
  .github/workflows/macos-unit-tests.yml
Due: none

chore(sdk): remove unused Homebrew tap
  .github/workflows/macos-unit-tests.yml
Due: none

fix(sdk): stop retrying payment required errors
  core/internal/clients/retry_policy.go
  core/internal/clients/retry_policy_test.go
Due: go-wire, go-unit-tests, go-build

fix(sdk): make tb_watcher respect settings.symlink
  wandb/sdk/internal/tb_watcher.py
Due: none

fix(sdk): defer temporary directories until first use
  CHANGELOG.unreleased.md
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/data_types/_private.py
Due: none

fix(sdk): serialize symbolic torch graph dimensions
  CHANGELOG.unreleased.md
  tests/unit_tests/test_torch.py
  wandb/integration/torch/wandb_torch.py
Due: none

fix(artifacts): bound HTTP GET requests
  tests/unit_tests/test_artifacts/test_wandb_artifacts.py
  wandb/sdk/artifacts/storage_policies/_factories.py
Due: none

[create-pull-request] automated change
  requirements/requirements_dev.3.10.darwin.txt
  requirements/requirements_dev.3.10.linux.txt
  requirements/requirements_dev.3.10.windows.txt
  requirements/requirements_dev.3.13.darwin.txt
  requirements/requirements_dev.3.13.linux.txt
  requirements/requirements_dev.3.13.windows.txt
Due: none

chore: remove auth from wandb-core for publishing opentelemetry (#12504)
  core/internal/analytics/opentelemetryproxy.go
  core/internal/analytics/opentelemetryproxy_test.go
Due: go-wire, go-unit-tests, go-build

chore: add back opentelemetry publishing in python
  pyproject.toml
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/cli/cli.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/wandb_init.py
Due: none

fix pre-commit failures
  wandb/cli/cli.py
  wandb/sdk/internal/sender.py
  wandb/sdk/wandb_init.py
Due: none

fix test failures
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/cli/cli.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/wandb_init.py
Due: none

update artifacts telemetry recorder
  wandb/analytics/__init__.py
  wandb/analytics/opentelemetry/__init__.py
  wandb/sdk/artifacts/artifact.py
Due: none

chore: add back opentelemetry publishing in python (#12505)
  pyproject.toml
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/__init__.py
  wandb/analytics/opentelemetry/__init__.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/cli/cli.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/internal/sender.py
  wandb/sdk/wandb_init.py
Due: none

restack
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
Due: none

remove un-needed error captures
  wandb/filesync/upload_job.py
  wandb/sdk/internal/file_stream.py
Due: none

chore: add back telemetry calls that could happen for excetions before auth was set
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/__init__.py
  wandb/analytics/opentelemetry/__init__.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/cli/beta.py
  wandb/cli/beta_core.py
  wandb/cli/cli.py
  wandb/cli/leet.py
  wandb/filesync/upload_job.py
  wandb/sdk/internal/file_stream.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/service/service_process.py
  wandb/sdk/wandb_init.py
Due: none

fix pre-commit failures
  wandb/sdk/internal/internal_api.py
Due: none

update artfacts code
  wandb/sdk/artifacts/artifact.py
Due: none

chore: add back telemetry calls that could happen for excetions before auth was set (#12506)
  tests/unit_tests/test_lib/test_telemetry.py
  wandb/analytics/__init__.py
  wandb/analytics/opentelemetry/__init__.py
  wandb/analytics/opentelemetry/opentelemetry_proxy.py
  wandb/cli/beta.py
  wandb/cli/beta_core.py
  wandb/cli/cli.py
  wandb/cli/leet.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/internal/internal_api.py
  wandb/sdk/lib/service/service_process.py
  wandb/sdk/wandb_init.py
Due: none

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-wire: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-unit-tests: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  rust-build: any of: parquet-rust-wrapper/.*\.rs$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/)|\.pb\.go$|_pb2\.pyi?$
