Repository wandb/wandb: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Path conditions:
  go-generate-proto: any of: \.proto$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-generate-graphql: any of: \.graphql$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-fmt: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-imports: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-unit-tests: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  go-vet: any of: \.go$ and not (nvidia_gpu_stats*) and not (^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$)
  golangci-lint: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-critic: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-cyclo: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$
  go-build: any of: \.go$, but not: ^(wandb/vendor|core/vendor/|nvidia_gpu_stats/vendor/)|\.pb\.go$|_pb2\.pyi?$

wip add check for offline
  wandb/sdk/wandb_run.py
Due: none

wip fix artifacts tests
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
Due: none

fix: replace env variables with settings for service headers (#7999)
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add audio test cases
  experimental/perf/Dockerfile
  experimental/perf/scripts/bench_run_log.py
  experimental/perf/scripts/run_load_tests.py
  experimental/perf/scripts/setup_helper.py
  experimental/perf/scripts/test_case_helper.py
Due: none

rs proto
  gpu_stats/src/wandb_internal.rs
Due: none

incorporated feedback
  wandb/__init__.template.pyi
  wandb/sdk/data_types/helper_types/bounding_boxes_2d.py
  wandb/sdk/data_types/helper_types/image_mask.py
  wandb/sdk/data_types/image.py
  wandb/sdk/data_types/video.py
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_run.py
Due: none

[𝘀𝗽𝗿] initial version
  core/internal/clients/retry_policy.go
  core/internal/clients/retry_policy_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/retry_policy.go
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip test fixing tests
  tests/system_tests/test_artifacts/test_wandb_artifacts_api.py
  tests/system_tests/test_core/test_data_types_full.py
  wandb/sdk/wandb_run.py
Due: none

rename to RetryMostFailures
  core/internal/clients/retry_policy.go
  core/internal/clients/retry_policy_test.go
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: combine filestream and graphql retry policies (#9079)
  core/internal/clients/retry_policy.go
  core/internal/clients/retry_policy_test.go
  core/internal/filestream/filestream.go
  core/internal/filestream/retry_policy.go
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fixing nits
  experimental/perf/scripts/bench_run_log.py
  experimental/perf/scripts/process_sar_helper.py
  experimental/perf/scripts/run_load_tests.py
  experimental/perf/scripts/setup_helper.py
  experimental/perf/scripts/test_case_helper.py
Due: none

precommit fixes
  experimental/perf/scripts/bench_run_log.py
  experimental/perf/scripts/process_sar_helper.py
  experimental/perf/scripts/run_load_tests.py
  experimental/perf/scripts/setup_helper.py
  experimental/perf/scripts/test_case_helper.py
Due: none

fix comments
  experimental/perf/scripts/run_load_tests.py
Due: none

fix(core): avoid retrying on deleted run
  core/internal/clients/retry_policy.go
  core/internal/clients/retry_policy_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore: remove job artifact tests
  landfill/functional_tests/jobs/job_artifact_creation.py
  landfill/functional_tests/jobs/job_artifact_creation.yea
  landfill/functional_tests/jobs/job_artifact_creation_disabled.py
  landfill/functional_tests/jobs/job_artifact_creation_disabled.yea
  landfill/functional_tests/jobs/job_container_creation.py
  landfill/functional_tests/jobs/job_container_creation.yea
  landfill/functional_tests/jobs/job_repo_creation.py
  landfill/functional_tests/jobs/job_repo_creation.yea
  landfill/functional_tests/jobs/job_repo_end_to_end.py
  landfill/functional_tests/jobs/job_repo_end_to_end.yea
Due: none

Update run_load_tests.py
  experimental/perf/scripts/run_load_tests.py
Due: none

fix comment
  experimental/perf/scripts/setup_helper.py
Due: none

chore: add an option to profile wandb-core
  core/cmd/wandb-core/main.go
  wandb/env.py
  wandb/sdk/service/service.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/artifact.py
Due: none

Use is_artifact_registry_project
  wandb/sdk/artifacts/artifact.py
Due: none

Create internal helper methods and ensure every part of the url is not None
  wandb/sdk/artifacts/artifact.py
Due: none

Format changes
  wandb/sdk/artifacts/artifact.py
Due: none

Add self._client is None condition
  wandb/sdk/artifacts/artifact.py
Due: none

Format update
  wandb/sdk/artifacts/artifact.py
Due: none

add protobuf and graphql updated query and schema
  core/api/graphql/query_feature_flags.graphql
  core/internal/gql/gql_gen.go
  core/pkg/service_go_proto/wandb_internal.pb.go
  wandb/proto/v3/wandb_internal_pb2.py
  wandb/proto/v3/wandb_internal_pb2.pyi
  wandb/proto/v4/wandb_internal_pb2.py
  wandb/proto/v4/wandb_internal_pb2.pyi
  wandb/proto/v5/wandb_internal_pb2.py
  wandb/proto/v5/wandb_internal_pb2.pyi
  wandb/proto/wandb_internal.proto
Due: go-generate-proto, go-generate-graphql, go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add server features file for providing server capabilities and features
  core/internal/server/features.go
  core/internal/server/features_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

provide ability to get server features and capabilities via protobuf message
  core/internal/stream/handler.go
  core/internal/stream/handler_test.go
  core/internal/stream/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Use self.entity and self.project instead of self._entity and self._project
  wandb/sdk/artifacts/artifact.py
Due: none

checkpoint
  wandb/sdk/wandb_metadata.py
Due: none

dnm: debug some networking stuff
  .github/workflows/release-sdk.yml
  core/internal/api/transport.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

disable musllinux
  .github/workflows/release-sdk.yml
Due: none

add 1M step test case
  experimental/perf/scripts/run_load_tests.py
Due: none

add more test cases
  experimental/perf/scripts/run_load_tests.py
Due: none

chore: remove job artifact tests (#9082)
  landfill/functional_tests/jobs/job_artifact_creation.py
  landfill/functional_tests/jobs/job_artifact_creation.yea
  landfill/functional_tests/jobs/job_artifact_creation_disabled.py
  landfill/functional_tests/jobs/job_artifact_creation_disabled.yea
  landfill/functional_tests/jobs/job_container_creation.py
  landfill/functional_tests/jobs/job_container_creation.yea
  landfill/functional_tests/jobs/job_repo_creation.py
  landfill/functional_tests/jobs/job_repo_creation.yea
  landfill/functional_tests/jobs/job_repo_end_to_end.py
  landfill/functional_tests/jobs/job_repo_end_to_end.yea
Due: none

wip
  core/internal/api/api.go
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/gql/v2/gql_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/stream/stream_init.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

wip
  core/internal/api/api.go
  core/internal/api/api_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
